Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Clean up
  pmlc/conversion/tile_to_pxa/tests/gather.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Tests passing
  networks/scitile/pd_solve/gradtest.py
  plaidml2/edsl/ffi.cc
  tile/lang/ast/jacobian.cc
Due: clang-format, cpplint, yapf

Alphabetize
  plaidml2/edsl/__init__.py
Due: yapf

Fix subproject usage of OpenVINO
  CMakeLists.txt
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Fix bin dir
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Add zlib
  ci/pipeline.yml
  environment.yml
Due: none

Fix tests
  CMakeLists.txt
  ci/pipeline.yml
  cmake/pml_cc_test.cmake
  cmake/pml_lit_test.cmake
  plaidml/bridge/openvino/tests/functional/CMakeLists.txt
  plaidml/edsl/tests/CMakeLists.txt
  pmlc/CMakeLists.txt
Due: none

Drop zlib
  environment.yml
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Disable NGRAPH_ONNX_IMPORT_ENABLE
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Fixes
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

check-test
  ci/pipeline.yml
Due: none

Configure caching
  ci/pipeline.yml
Due: none

Additional cleanup & test
  networks/scitile/pd_solve/gradtest.py
  tile/lang/ast/jacobian.cc
Due: clang-format, cpplint, yapf

WIP: Pre-allocate kernels
  pmlc/conversion/comp_to_llvm/comp_to_ocl.cc
  pmlc/conversion/gpu_to_comp/gpu_to_comp.cc
  pmlc/dialect/comp/ir/dialect.cc
  pmlc/dialect/comp/ir/ops.td
  pmlc/rt/opencl/opencl_invocation.cc
  pmlc/rt/opencl/opencl_invocation.h
  pmlc/rt/opencl/opencl_wrappers.cc
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/tests/dotf.mlir
Due: clang-format, cpplint

Remove broken cache
  ci/pipeline.yml
Due: none

Introduce eDSL/Tile layer op (#1544)
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/ast/eval.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/inline_layers.mlir
  pmlc/dialect/tile/tests/roundtrip.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/CMakeLists.txt
  pmlc/dialect/tile/transforms/inline_layers.cc
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/passes.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fix subproject usage of OpenVINO (#1550)
  CMakeLists.txt
  ci/pipeline.yml
  cmake/pml_cc_test.cmake
  cmake/pml_lit_test.cmake
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/tests/functional/CMakeLists.txt
  plaidml/edsl/tests/CMakeLists.txt
  pmlc/CMakeLists.txt
Due: none

Add abi cmake defs
  pmlc/dialect/CMakeLists.txt
  pmlc/dialect/abi/CMakeLists.txt
  pmlc/dialect/abi/ir/CMakeLists.txt
  pmlc/dialect/abi/transforms/CMakeLists.txt
Due: none

Tweak LLVM deps
  pmlc/dialect/abi/ir/BUILD
  pmlc/dialect/abi/ir/dialect.h
  pmlc/dialect/abi/transforms/pass_detail.h
Due: clang-format, cpplint

Add ABI dialect
  pmlc/BUILD
  pmlc/all_dialects.cc
  pmlc/dialect/CMakeLists.txt
  pmlc/dialect/abi/BUILD
  pmlc/dialect/abi/CMakeLists.txt
  pmlc/dialect/abi/ir/BUILD
  pmlc/dialect/abi/ir/CMakeLists.txt
  pmlc/dialect/abi/ir/dialect.cc
  pmlc/dialect/abi/ir/dialect.h
  pmlc/dialect/abi/ir/ops.td
Due: clang-format, cpplint

Update CMakeLists.txt
  pmlc/dialect/abi/ir/CMakeLists.txt
Due: none

Add support for building benchmark_app
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/benchmark_app/CMakeLists.txt
Due: none

Rename ops, add example
  pmlc/dialect/abi/ir/BUILD
  pmlc/dialect/abi/ir/CMakeLists.txt
  pmlc/dialect/abi/ir/example.mlir
  pmlc/dialect/abi/ir/loop_op.cc
  pmlc/dialect/abi/ir/ops.td
Due: clang-format, cpplint

Trying to make mergable
  .bazelignore
Due: none

Trying to make mergable
  .gitignore
Due: none

Add support for building benchmark_app (#1554)
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/benchmark_app/CMakeLists.txt
Due: none

Add abi to pmlc CMakeLists.txt
  pmlc/CMakeLists.txt
Due: none

Disable attempt to run example.mlir
  pmlc/dialect/abi/lit.local.cfg
Due: none

WIP: the target layout is specified by the user in the form of an affine map and the layout is explicitly changed to the one speified by the user
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
Due: clang-format, cpplint

Integrate layer op into OpenVINO
  plaidml/bridge/openvino/plaidml_builder.cpp
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/plugin/plaidml_executable_network.hpp
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/dialect/tile/ir/util.cc
  pmlc/dialect/tile/ir/util.h
Due: clang-format, cpplint

Adding support for assignment contractions
  networks/scitile/pd_solve/gradtest.py
  tile/lang/ast/jacobian.cc
Due: clang-format, cpplint, yapf

Add attributes to layer op
  plaidml/bridge/openvino/CPPLINT.cfg
  plaidml/bridge/openvino/plaidml_builder.cpp
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/plugin/plaidml_executable_network.hpp
  plaidml/bridge/openvino/plugin/plaidml_infer_request.cpp
  plaidml/bridge/openvino/plugin/plaidml_plugin.cpp
  plaidml/bridge/openvino/plugin/plaidml_plugin.hpp
  plaidml/edsl/edsl.h
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
Due: clang-format, cpplint

Finish off kernel realization
  pmlc/conversion/comp_to_llvm/comp_to_ocl.cc
  pmlc/conversion/comp_to_llvm/comp_to_vulkan.cc
  pmlc/conversion/comp_to_llvm/passes.h
  pmlc/conversion/comp_to_llvm/tests/comp_to_ocl.mlir
  pmlc/conversion/gpu_to_comp/tests/gpu_to_comp.mlir
  pmlc/dialect/comp/ir/dialect.cc
  pmlc/dialect/comp/ir/ops.td
  pmlc/dialect/comp/tests/invalid.mlir
  pmlc/dialect/comp/tests/recalculate_event_deps.mlir
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.h
  pmlc/rt/vulkan/wrappers.cc
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Fixing bugs
  plaidml/bridge/openvino/CPPLINT.cfg
  plaidml/bridge/openvino/plaidml_builder.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Cleanup crfut
  plaidml/bridge/openvino/plaidml_builder.cpp
Due: clang-format, cpplint

Integrate layer op into OpenVINO (#1556)
  plaidml/bridge/openvino/CPPLINT.cfg
  plaidml/bridge/openvino/plaidml_builder.cpp
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/plugin/plaidml_executable_network.hpp
  plaidml/bridge/openvino/plugin/plaidml_infer_request.cpp
  plaidml/bridge/openvino/plugin/plaidml_plugin.cpp
  plaidml/bridge/openvino/plugin/plaidml_plugin.hpp
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/util.cc
  pmlc/dialect/tile/ir/util.h
Due: clang-format, cpplint

Add smoke subset of OV func tests
  plaidml/bridge/openvino/tests/functional/CMakeLists.txt
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: clang-format, cpplint

Sync latest OV op changes
  plaidml/bridge/openvino/ops/embedding_bag_offsets_sum.cpp
  plaidml/bridge/openvino/ops/extract_image_patches.cpp
  plaidml/bridge/openvino/ops/gelu.cpp
  plaidml/bridge/openvino/ops/gru_cell.cpp
  plaidml/bridge/openvino/ops/hswish.cpp
  plaidml/bridge/openvino/ops/lstm_cell.cpp
  plaidml/bridge/openvino/ops/reorg_yolo.cpp
  plaidml/bridge/openvino/ops/reverse.cpp
  plaidml/bridge/openvino/ops/rnn_cell.cpp
  plaidml/bridge/openvino/ops/space_to_batch.cpp
  plaidml/bridge/openvino/plaidml_util.cpp
  plaidml/bridge/openvino/plaidml_util.hpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convolution_smoke.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/depth_to_space.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/embedding_bag_offsets_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/extract_image_patches.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/gru_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/minimum_maximum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reorg_yolo.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/rnn_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/space_to_batch.cpp
Due: clang-format, cpplint

Label (and add where needed) smoke tests
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/batch_norm.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/binary_convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/bucketize.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/concat.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convert.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convolution_smoke.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/depth_to_space_smoke.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/eltwise.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/embedding_bag_offsets_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/extract_image_patches.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/grn.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/group_convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/gru_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/lrn.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/minimum_maximum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/mvn.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/pooling_smoke.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reorg_yolo.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reverse.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/rnn_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/softmax.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/space_to_batch.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/space_to_depth.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/split.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/strided_slice.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/tile.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/transpose.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/variadic_split.cpp
Due: clang-format, cpplint

WIP: now layout conversion is working even if the target layout is of a different dimension as the source layout
  pmlc/dialect/pxa/transforms/layout_utils.cc
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

