Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Remove unused ngraph.BUILD file
  vendor/openvino/ngraph.BUILD
Due: buildifier

remove soft_fail
  ci/plan.yml
Due: none

Update OpenVINO Reference (#1404)
  BUILD
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_ops.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_plugin.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_plugin.hpp
  plaidml/bridge/openvino/testenv.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/eltwise.cpp
  vendor/openvino/ngraph.BUILD
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Fix plugins_xml rule for multiple systems
  BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/BUILD
Due: buildifier

Fix plugins_xml rule for multiple systems (#1405)
  BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/BUILD
Due: buildifier

Range padding (#1390)
  ci/plan.yml
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/pad_constraints.mlir
  pmlc/dialect/tile/tests/pad_ranges.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/pad_constraints.cc
  pmlc/dialect/tile/transforms/pad_ranges.cc
  pmlc/dialect/tile/transforms/padding.cc
  pmlc/dialect/tile/transforms/padding.h
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/passes.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/util/BUILD
  pmlc/util/ident.cc
  pmlc/util/ident.h
  pmlc/util/strides.cc
  pmlc/util/strides.h
Due: clang-format, cpplint

Pass device parameter through comp dialect
  pmlc/conversion/comp_to_llvm/comp_to_ocl.cc
  pmlc/conversion/comp_to_llvm/tests/comp_to_ocl.mlir
  pmlc/conversion/gpu_to_comp/gpu_to_comp.cc
  pmlc/conversion/gpu_to_comp/tests/gpu_to_comp.mlir
  pmlc/dialect/comp/ir/dialect.cc
  pmlc/dialect/comp/ir/ops.td
  pmlc/dialect/comp/ir/types.cc
  pmlc/dialect/comp/ir/types.h
  pmlc/dialect/comp/tests/invalid.mlir
  pmlc/dialect/comp/tests/roundtrip.mlir
  pmlc/rt/opencl/opencl_device.cc
  pmlc/rt/opencl/opencl_device.h
  pmlc/rt/opencl/opencl_invocation.cc
  pmlc/rt/opencl/opencl_invocation.h
  pmlc/rt/opencl/opencl_wrappers.cc
Due: clang-format, cpplint

Fix
  pmlc/conversion/gpu/enums.td
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.h
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

Remove extraneous TODO
  pmlc/rt/timed_executable.cc
Due: clang-format, cpplint

v1 porting
  networks/scitile/LAS/BUILD
  networks/scitile/LAS/cg_tests.py
  networks/scitile/LAS/conjgrad.py
  networks/scitile/LAS/solver_timings.py
  networks/scitile/LAS/test_data/10x10.npz
  networks/scitile/LAS/test_data/20x20.npz
Due: yapf

Removing large tests
  networks/scitile/LAS/cg_tests.py
  networks/scitile/LAS/solver_timings.py
Due: yapf

Add findLLVMCallOp
  pmlc/conversion/gpu/gpu_to_vulkan.cc
Due: clang-format, cpplint

add ci resnet50 infer test for pml-vk-gen
  ci/plan.yml
Due: none

lower perf threshold for resnet50
  ci/plan.yml
Due: none

ignore perf for now
  ci/plan.yml
Due: none

bigger :hammer:
  ci/plan.yml
Due: none

workload
  ci/plan.yml
Due: none

move perf_threshold to platform_override
  ci/analysis.py
  ci/plan.yml
Due: yapf

fix
  ci/analysis.py
  ci/plan.yml
  ci/util.py
Due: yapf

fix default
  ci/util.py
Due: yapf

move constant
  ci/analysis.py
  ci/util.py
Due: yapf

Remove runtime identifier from device type
  pmlc/conversion/comp_to_llvm/comp_to_ocl.cc
  pmlc/conversion/comp_to_llvm/tests/comp_to_ocl.mlir
  pmlc/conversion/gpu_to_comp/gpu_to_comp.cc
  pmlc/dialect/comp/ir/types.cc
  pmlc/dialect/comp/ir/types.h
  pmlc/dialect/comp/tests/invalid.mlir
  pmlc/dialect/comp/tests/roundtrip.mlir
Due: clang-format, cpplint

perf_threshold tweak
  ci/plan.yml
Due: none

Move JitExecutable to executable.cc to simplify CR
  pmlc/rt/executable.cc
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint

Move TimedExecutable logic back to JitExecutable
  pmlc/rt/BUILD
  pmlc/rt/executable.cc
  pmlc/rt/timed_executable.cc
  pmlc/rt/timed_executable.h
Due: clang-format, cpplint

add ci resnet50 infer test for pml-vk-gen (#1417)
  ci/analysis.py
  ci/plan.yml
  ci/util.py
Due: yapf

Remove entrypoint attribute
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/dialect/tile/builder.cc
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/tests/multi-kernel.mlir
  pmlc/target/intel_gen/tests/dotf.mlir
  pmlc/target/intel_gen/tests/e2e.mlir
  pmlc/target/intel_gen/tests/intermediate.mlir
Due: clang-format, cpplint

Disable a few OpenVINO warnings
  vendor/openvino/openvino.BUILD
Due: buildifier

Use rewriter to add device parameter in gpu->comp
  pmlc/conversion/gpu_to_comp/gpu_to_comp.cc
Due: clang-format, cpplint

[OpenCL] Add temporary sub-group size lowering
  pmlc/target/intel_gen_ocl_spirv/pass_detail.h
  pmlc/target/intel_gen_ocl_spirv/passes.h
  pmlc/target/intel_gen_ocl_spirv/passes.td
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/spirv_target.cc
  pmlc/target/intel_gen_ocl_spirv/sub_group_size.cc
  pmlc/target/intel_gen_ocl_spirv/tests/subgroup_size.mlir
Due: clang-format, cpplint

Replace custom target w/lambda in comp_to_ocl
  pmlc/conversion/comp_to_llvm/comp_to_ocl.cc
Due: clang-format, cpplint

Minor tweaks to simplify executable.cc review
  pmlc/rt/executable.cc
Due: clang-format, cpplint

Re-add accidentally-deleted comp_to_ocl tests
  pmlc/conversion/comp_to_llvm/tests/comp_to_ocl.mlir
Due: none

DeviceType tweak
  pmlc/dialect/comp/ir/types.h
Due: clang-format, cpplint

Minor types tweak
  pmlc/dialect/comp/ir/types.h
Due: clang-format, cpplint

Use final for invoke
  pmlc/rt/executable.cc
Due: clang-format, cpplint

Tweak vulkan_invocation comment
  pmlc/rt/vulkan/vulkan_invocation.h
Due: clang-format, cpplint

Move JitExecutable logic to jit_executable.cc
  pmlc/rt/executable.cc
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

