Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Expose interface of packing function arguments
  pmlc/rt/jit_executable.cc
  pmlc/util/BUILD
  pmlc/util/CMakeLists.txt
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

Clean up
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/interpolate.cpp
  pmlc/util/enums.td
Due: clang-format, cpplint

Adding a test file
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layouts.mlir
Due: none

Add support for f16 and f64 Add interpolation enums in edsl python api Clean up
  plaidml/bridge/openvino/ops/embedding_bag_packed_sum.cpp
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  plaidml/edsl/tests/edsl_test-skip.intel_gen_ocl_spirv.txt
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/ast_ops.cc
  pmlc/ast/builder.cc
  pmlc/conversion/comp_to_llvm/comp_to_vulkan.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.td
Due: clang-format, cpplint, yapf

Clean up
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Updating the tests
  pmlc/target/x86/tests/stub_conv_NCHW_3X3.mlir
  pmlc/target/x86/tests/stub_conv_NCHW_3X3_to_NHWC.mlir
Due: none

Adding a new test file that does data tiling
  pmlc/target/x86/tests/stub_conv_NCHW_3X3_to_NHWC16c.mlir
Due: none

Fix
  plaidml/bridge/openvino/ops/interpolate.cpp
  pmlc/ast/ast_ops.cc
Due: clang-format, cpplint

Clean up
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Fix
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Updating an MLIR file which now at least runs
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layouts.mlir
Due: none

rename bazelisk-darwin-amd64 to bazelisk (#1535)
  docs/usage/building.rst
Due: none

Bazel fixes
  plaidml/BUILD
  plaidml/bridge/openvino/ops/unary.cpp
  plaidml/core/ffi.cc
  plaidml/exec/tests/BUILD
  plaidml/plaidml_link.jsonnet
  pmlc/BUILD
  pmlc/ast/builder.cc
  pmlc/compiler/program.cc
  pmlc/rt/BUILD
  pmlc/rt/llvm/BUILD
  pmlc/target/BUILD
  pmlc/target/x86/BUILD
Due: clang-format, cpplint

Fix mac build
  plaidml/op/BUILD
Due: none

cruft
  plaidml/bridge/openvino/ops/unary.cpp
Due: clang-format, cpplint

Deal with the case about pointer to integer
  pmlc/util/util.cc
Due: clang-format, cpplint

Adding a fix to compute the sizes of the tensors correctly when there are modulos in the user layout map
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
Due: clang-format, cpplint

Expose API for packing function arguments (#1574)
  pmlc/rt/jit_executable.cc
  pmlc/util/BUILD
  pmlc/util/CMakeLists.txt
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

Changing the formatting a bit
  pmlc/target/x86/tests/stub_conv_NCHW_3X3_to_NHWC16c.mlir
Due: none

Update llvm-project
  bzl/workspace.bzl
  cmake/third_party/llvm-project.cmake
Due: buildifier

Update llvm-project (#1576)
  bzl/workspace.bzl
  cmake/third_party/llvm-project.cmake
Due: buildifier

fix code style.
  plaidml/bridge/openvino/ops/shuffle_channels.cpp
Due: clang-format, cpplint

add reverse_sequence op.
  plaidml/bridge/openvino/ops/reverse_sequence.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reverse_sequence.cpp
Due: clang-format, cpplint

add more test case.
  plaidml/bridge/openvino/ops/reverse_sequence.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reverse_sequence.cpp
Due: clang-format, cpplint

Add support for LOCAL_LLVM_DIR
  cmake/third_party/llvm-project.cmake
Due: none

Add PriorBoxOp and tests.
  plaidml/bridge/openvino/ops/prior_box.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/prior_box.cpp
Due: clang-format, cpplint

Update Openvino commit to support PriorBoxOp.
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Add support for LOCAL_LLVM_DIR (#1580)
  cmake/third_party/llvm-project.cmake
Due: none

Code refactor.
  plaidml/bridge/openvino/ops/prior_box.cpp
Due: clang-format, cpplint

Comp buffer transfer optimization
  pmlc/conversion/comp_to_llvm/comp_to_vulkan.cc
  pmlc/conversion/gpu_to_comp/BUILD
  pmlc/conversion/gpu_to_comp/enums.td
  pmlc/conversion/gpu_to_comp/gpu_to_comp.cc
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.h
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

Adding tuple pack/unpack ops + lowerings
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/stdx_to_llvm/tests/pack.mlir
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.h
  pmlc/dialect/stdx/ir/ops.td
Due: clang-format, cpplint

Adding tuple pack/unpack ops + lowerings (#1583)
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/stdx_to_llvm/tests/pack.mlir
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.h
  pmlc/dialect/stdx/ir/ops.td
Due: clang-format, cpplint

Generalized hoisting pass
  pmlc/transforms/BUILD
  pmlc/transforms/hoisting.cc
  pmlc/transforms/pass_detail.h
  pmlc/transforms/passes.h
  pmlc/transforms/passes.td
  pmlc/util/BUILD
  pmlc/util/loop_with_epilog.cc
  pmlc/util/loop_with_epilog.h
  pmlc/util/loop_with_epilog.td
Due: clang-format, cpplint

Testing
  pmlc/conversion/comp_to_llvm/comp_to_vulkan.cc
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.h
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

Fix unstable downstream build issues
  cmake/third_party/llvm-project.cmake
Due: none

Fix unstable downstream build issues (#1586)
  cmake/third_party/llvm-project.cmake
Due: none

Add tests for acosh, asinh, atanh
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Add acosh, asinh, atanh and tests to edsl
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint
