Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

lower SCF to standard on opencl targets
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

improvements from code review, also fix size_t vs long int type errors
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.td
Due: clang-format, cpplint

ssize_t is posix-only (!) so use int to make this work on windows
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

argsort implemented with selection sort
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

outer loop for multidimensional sort
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

restore registration of argsort intrinsic
  pmlc/ast/ast_ops.cc
Due: clang-format, cpplint

implement argsort edsl function, add some tests
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  pmlc/ast/ast_ops.cc
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/BUILD
  pmlc/dialect/tile/ir/base.td
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/ir/ops.td
Due: clang-format, cpplint, yapf

wrap argsort implementation in layer.box for control over evaluation level
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/conversion/tile_to_pxa/CMakeLists.txt
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

argsort initializes output index tensor
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

unwrap argsort layer on GPU pipelines
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

abandon parallel sorting over non-target dimension; sort everything serially
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

adjust intel_gen pipeline after upstream change to comp pass
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

update CMakeLists for new tile dialect enum type generation
  pmlc/dialect/tile/ir/CMakeLists.txt
Due: none

add lit test for conversion from tile.argsort to boxed scf implementation
  pmlc/conversion/tile_to_pxa/pass_detail.h
  pmlc/conversion/tile_to_pxa/passes.td
  pmlc/conversion/tile_to_pxa/tests/argsort.mlir
Due: clang-format, cpplint

generalize use of negative values on argsort axis parameter (like numpy)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

fix materializeOperands (all operands for argsort)
  pmlc/dialect/tile/ir/ops.cc
Due: clang-format, cpplint

Add main-function option for split-main pass
  pmlc/dialect/tile/tests/split_main.mlir
  pmlc/dialect/tile/transforms/passes.td
  pmlc/dialect/tile/transforms/split_main.cc
Due: clang-format, cpplint

Update llvm-project pointers
  bzl/workspace.bzl
  cmake/third_party/llvm-project.cmake
Due: buildifier

Add support for cross compilation (#1650)
  bzl/workspace.bzl
  cmake/pml_tblgen_library.cmake
  cmake/third_party/llvm-project.cmake
  plaidml/bridge/openvino/ops/embedding_segments_sum.cpp
  plaidml/bridge/openvino/ops/roi_align.cpp
Due: buildifier, clang-format, cpplint

Fix stdx dependency
  pmlc/dialect/tile/tests/split_main.mlir
  pmlc/dialect/tile/transforms/pass_detail.h
  pmlc/dialect/tile/transforms/passes.td
Due: clang-format, cpplint

add embedded lit tests for new edsl_test.cc cases
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Remove CHECK-LABEL
  pmlc/dialect/tile/tests/split_main.mlir
Due: none

argsort edsl function (#1517)
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  pmlc/ast/ast_ops.cc
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/conversion/tile_to_pxa/CMakeLists.txt
  pmlc/conversion/tile_to_pxa/pass_detail.h
  pmlc/conversion/tile_to_pxa/passes.td
  pmlc/conversion/tile_to_pxa/tests/argsort.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/BUILD
  pmlc/dialect/tile/ir/CMakeLists.txt
  pmlc/dialect/tile/ir/base.td
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/ir/ops.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint, yapf

Detect and handle timestamp counter wrapping
  pmlc/rt/level_zero/level_zero_invocation.cc
Due: clang-format, cpplint

Fix
  pmlc/rt/level_zero/level_zero_invocation.cc
  pmlc/rt/level_zero/level_zero_probe.cc
  pmlc/rt/level_zero/level_zero_utils.cc
Due: clang-format, cpplint

Update openvino git tag
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Add OpenVINO plugin RegionYolo Op (#1646)
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/ops/region_yolo.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/region_yolo.cpp
Due: clang-format, cpplint

fixes to hosting, reorder test and CR update (#1649)
  pmlc/dialect/pxa/tests/reorder_layouts.mlir
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  pmlc/transforms/hoisting.cc
Due: clang-format, cpplint

clean up macros
  pmlc/rt/level_zero/level_zero_utils.cc
Due: clang-format, cpplint

WIP: changing the affine maps of pxa loads to remove floordivs and mods
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  pmlc/dialect/pxa/transforms/reorder_layouts.h
Due: clang-format, cpplint

WIP: simplifying the pxa.load affine maps
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
Due: clang-format, cpplint

Fixes
  pmlc/dialect/tile/tests/split_main.mlir
  pmlc/dialect/tile/transforms/passes.td
  pmlc/dialect/tile/transforms/split_main.cc
Due: clang-format, cpplint

Fix split-main pass (#1651)
  pmlc/dialect/tile/tests/split_main.mlir
  pmlc/dialect/tile/transforms/pass_detail.h
  pmlc/dialect/tile/transforms/passes.td
  pmlc/dialect/tile/transforms/split_main.cc
Due: clang-format, cpplint

Update test case
  pmlc/conversion/tile_to_pxa/tests/for.mlir
Due: none

Fix *ReLUs and re-enable tests
  plaidml/bridge/openvino/ops/activations.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/op/lib/ops.cc
Due: clang-format, cpplint

a implementation of deformableconvolution which has some errors
  plaidml/bridge/openvino/ops/deformable_convolution.cpp
  plaidml/bridge/openvino/plaidml_ops.def
Due: clang-format, cpplint

Close LevelZero on Windows and Mac, rename pipeline options.
  CMakeLists.txt
  pmlc/rt/BUILD
  pmlc/target/intel_level_zero/pipeline.cc
  vendor/level_zero/Level_Zero.BUILD
Due: buildifier, clang-format, cpplint

OpenVino - more fp16 tests
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/cum_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/depth_to_space.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/eltwise.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/embedding_bag_offsets_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/embedding_bag_packed_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/embedding_segments_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/extract_image_patches.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/gru_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/interpolate.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reorg_yolo.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reverse_sequence.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/rnn_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/roi_align.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/roi_pooling.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/scatter_ND_update.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/scatter_elements_update.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/scatter_update.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/shuffle_channels.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/softmax.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/space_to_batch.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/space_to_depth.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/squared_difference.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/transpose.cpp
Due: clang-format, cpplint

Layer op
  docs/usage/edsl_ops.rst
  plaidml/edsl/edsl_docs.cc
  plaidml/edsl/edsl_docs.py
Due: clang-format, cpplint, yapf

Use darwin_x86_64 instead of darwin to check mac.
  pmlc/rt/BUILD
  vendor/level_zero/Level_Zero.BUILD
Due: buildifier
