Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

---
exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    lib/macos_x86_64/.*|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ['-i']
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Add is_const to shape.proto
  tile/base/shape.h
  tile/proto/shape.proto
Due: clang-format, cpplint

Ensure that DefaultCodec is always registered
  tile/codegen/test/schedule.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Fix for MSVC
  tile/stripe/stripe.h
Due: clang-format, cpplint

Initial work on opencl support, rebased
  bzl/workspace.bzl
  conda/ocl_exec.yml
  tile/codegen/autotile.cc
  tile/codegen/codegen.proto
  tile/codegen/thread_inner.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/lang/semtree.h
  tile/lang/simplifier.cc
  tile/lang/simplifier.h
  tile/lib/tests.cc
  tile/ocl_exec/BUILD
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/emitsem.h
  tile/ocl_exec/gpu.json.j2
  tile/ocl_exec/kern_info.cc
  tile/ocl_exec/kern_info.h
  tile/ocl_exec/ocl_exec.cc
  tile/ocl_exec/ocl_exec_test.py
Due: buildifier, clang-format, cpplint, yapf

Fixed cache to respect constraints
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/fuse.cc
  tile/ocl_exec/ocl_exec.cc
Due: clang-format, cpplint

Fixed tests
  tile/codegen/.cache.h.swp
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/test/.cache.cc.swp
  tile/codegen/test/.fuse.cc.swp
  tile/codegen/test/cache.cc
  tile/codegen/test/fuse.cc
Due: clang-format, cpplint

Attempt to ignore build issues for now
  tile/ocl_exec/BUILD
Due: none

Fixed constraint placement goo and removed accidentially added .swp files
  tile/codegen/.cache.h.swp
  tile/codegen/fuse.cc
  tile/codegen/test/.cache.cc.swp
  tile/codegen/test/.fuse.cc.swp
Due: clang-format, cpplint

Removed broken cache logic
  tile/codegen/cache.cc
Due: clang-format, cpplint

Attach quantization parameters to weights tensors
  base/util/zipfile.cc
  base/util/zipfile.h
  plaidml/__init__.py
  plaidml/plaidml.cc
  plaidml/plaidml.h
  tile/base/shape.h
  tile/codegen/placer.cc
  tile/codegen/test/fuse.cc
  tile/codegen/unroll.cc
  tile/lang/compose.cc
  tile/lang/compose.h
  tile/lang/gen_stripe.cc
  tile/lang/gen_stripe_test.cc
  tile/stripe/stripe.cc
  tile/util/tile_file.cc
Due: clang-format, cpplint, yapf

Allow multiple phases of optimization passes
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/driver.h
  tile/codegen/test/schedule.cc
Due: clang-format, cpplint

Caching improvements attempt #3
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/cache.cc
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/test/fuse.cc
  tile/codegen/tile.cc
  tile/math/polynomial.cc
  tile/math/polynomial.h
Due: clang-format, cpplint

Fix bug in PruneIndexes
  tile/codegen/tidy.cc
  tile/math/polynomial.cc
Due: clang-format, cpplint

Add single layer test
  tile/lib/tests.cc
Due: clang-format, cpplint

Generating possibly valid OpenCL
  tile/codegen/fuse.cc
  tile/codegen/thread_inner.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/emitsem.h
  tile/ocl_exec/gpu.json.j2
  tile/ocl_exec/ocl_exec.cc
Due: clang-format, cpplint

fix for plaidml bug #241: restrict function pid attr vals to legal identifiers
  plaidml/keras/backend_test.py
  tile/lang/tile.y
Due: yapf

Add layout to TensorShape
  plaidml/__init__.py
  plaidml/plaidml.cc
  plaidml/plaidml.h
  tile/base/shape.cc
  tile/base/shape.h
  tile/lang/gen_stripe.cc
  tile/lib/lib.cc
  tile/lib/tests.cc
  tile/proto/shape.proto
  tile/stripe/stripe.cc
Due: clang-format, cpplint, yapf

Fix issues discovered by ASAN
  tile/codegen/fuse.cc
  tile/codegen/partition.cc
  tile/codegen/unroll.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Add useful params for PMLSim
  tile/codegen/codegen.proto
Due: clang-format

GenerateStripe includes extra pre-optimization metrics
  plaidml/plaidml.cc
  tile/codegen/test/cache.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/jit.cc
  tile/codegen/test/schedule.cc
  tile/codegen/test/tile.cc
  tile/lang/gen_stripe.cc
  tile/lang/gen_stripe.h
  tile/lang/gen_stripe_test.cc
  tile/ocl_exec/ocl_exec.cc
Due: clang-format, cpplint

Fix for MSVC
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint
