Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Update README and move old release notes to release notes page
  README.md
  docs/index.rst
  docs/release-notes.rst
Due: none

More clarifications to README
  README.md
Due: none

Link to new install page not old one
  README.md
Due: none

Added a larger matmul test
  tile/lib/tests.cc
Due: clang-format, cpplint

Merge branch 'crest'
  tile/lib/tests.cc
Due: clang-format, cpplint

nan to inf
  plaidml/keras/backend_test.py
Due: yapf

Upgrade to protobuf-3.6.1.2
  bzl/protobuf.BUILD
  bzl/workspace.bzl
  plaidml/BUILD
Due: buildifier

Misc improvements
  tile/base/shape.h
  tile/codegen/alias.h
  tile/codegen/autotile.cc
  tile/codegen/cache.h
  tile/codegen/deps.h
  tile/codegen/localize.h
  tile/codegen/partition.cc
  tile/codegen/placer.h
  tile/codegen/scalarize.h
  tile/codegen/schedule.h
  tile/codegen/tags.h
  tile/codegen/thread_inner.h
  tile/codegen/tidy.cc
  tile/codegen/tile.cc
  tile/codegen/unroll.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Use tile/math/util.h
  tile/codegen/autotile.cc
  tile/codegen/math.h
  tile/codegen/partition.cc
  tile/codegen/schedule.cc
  tile/codegen/thread_inner.cc
  tile/codegen/tile.cc
  tile/lang/gen_contract.cc
  tile/lang/loop.cc
  tile/lang/out_plan.cc
  tile/lang/read_plan.cc
  tile/lang/tile_opt.cc
  tile/math/BUILD
  tile/math/util.h
Due: clang-format, cpplint

Add i128 type
  plaidml/__init__.py
  plaidml/plaidml.cc
  plaidml/plaidml.h
  tile/base/shape.h
  tile/codegen/alias.h
  tile/codegen/jit.cc
  tile/hal/cpu/emitllvm.cc
  tile/lang/type.cc
  tile/proto/shape.proto
  tile/proto/support.h
Due: clang-format, cpplint, yapf

Add acc_idxs to autotile
  tile/codegen/autotile.cc
  tile/codegen/codegen.proto
Due: clang-format, cpplint

Fix abs compiler issue
  tile/math/polynomial.cc
  tile/math/util.h
Due: clang-format, cpplint

Fix windows
  plaidml/__init__.py
  plaidml/plaidml.cc
  plaidml/plaidml.h
  tile/base/shape.h
  tile/codegen/jit.cc
  tile/hal/cpu/emitllvm.cc
  tile/lang/type.cc
  tile/proto/shape.proto
Due: clang-format, cpplint, yapf

Fix CachePass
  tile/codegen/cache.cc
  tile/codegen/cache.h
Due: clang-format, cpplint

Fix tests
  plaidml/keras/backend.py
  tile/codegen/test/fuse.cc
Due: clang-format, cpplint, yapf

Clarify scheduler cache entry names and fix shapes
  tile/codegen/schedule.cc
Due: clang-format, cpplint

Added limited documentation about stenciling
  tile/codegen/codegen.proto
Due: clang-format

don't spew LLVM IR output unless loglevel>=2
  tile/codegen/jit.cc
Due: clang-format, cpplint

Use views for hints to scheduler
  testing/gtest_main.cc
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/autotile.cc
  tile/codegen/autotile.h
  tile/codegen/codegen.proto
  tile/codegen/deps.cc
  tile/codegen/driver.cc
  tile/codegen/driver.h
  tile/codegen/localize.cc
  tile/codegen/partition.cc
  tile/codegen/partition.h
  tile/codegen/placer.cc
  tile/codegen/schedule.cc
  tile/codegen/tags.h
  tile/codegen/test/BUILD
  tile/codegen/test/fuse.cc
  tile/codegen/test/schedule.cc
  tile/codegen/tidy.cc
  tile/codegen/tidy.h
  tile/codegen/tile.cc
  tile/codegen/unroll.cc
  tile/codegen/unroll.h
  tile/codegen/vm.cc
  tile/exec/BUILD
  tile/exec/exec.cc
  tile/lang/gen_stripe.cc
  tile/runtime/BUILD
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

add support for explicit stripe "assign" intrinsic and agg_op
  tile/codegen/jit.cc
Due: clang-format, cpplint

Support for GPU codegen
  tile/base/shape.h
  tile/codegen/autotile.cc
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/thread_inner.cc
  tile/codegen/thread_inner.h
  tile/lang/BUILD
  tile/lang/gen_contract.cc
  tile/lang/loop.cc
  tile/lang/out_plan.cc
  tile/lang/read_plan.cc
  tile/lang/tile_opt.cc
  tile/math/BUILD
  tile/math/mutil.h
Due: clang-format, cpplint

don't generate duplicate (and thus renamed) malloc/free symbol imports
  tile/codegen/jit.cc
Due: clang-format, cpplint

Add sched debug info for mem-over
  tile/codegen/schedule.cc
Due: clang-format, cpplint

Plumb keras node names thru to tile/stripe
  plaidml/keras/backend.py
  plaidml/tile.py
Due: yapf

Fix codegen tests
  tile/codegen/test/fuse.cc
  tile/codegen/test/schedule.cc
Due: clang-format, cpplint

remove apache 2 notice
  README.md
Due: none

Better low-level descriptions regarding feature enablement
  docs/tile/about.rst
Due: none

first license obligation rule added
  bzl/boost.BUILD
  plaidml/BUILD
  plaidml/setup.cfg
Due: buildifier

more licenses * llvm
  plaidml/BUILD
  vendor/llvm/llvm.BUILD
Due: buildifier

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

