Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Switch OpenVINO bridge to newer nGraph-based API (#1088)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/clamp.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/relu.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_ops.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.hpp
  plaidml/bridge/openvino/tests/functional/plaidml/single_layer_tests/activation_tests.cpp
Due: clang-format, cpplint

fix reshape operand checking
  plaidml/edsl/tests/edsl_test.cc
  pmlc/dialect/tile/ir/ops.cc
Due: clang-format, cpplint

Convolution fluent API initialization fix
  plaidml/op/op.h
Due: clang-format, cpplint

Fixes
  plaidml/edsl/tests/edsl_test.cc
  pmlc/dialect/tile/ir/ops.cc
Due: clang-format, cpplint

minor fix
  plaidml/op/op.h
Due: clang-format, cpplint

EDSL Fluent API: convolution default parameters fix (#1091)
  plaidml/op/op.h
Due: clang-format, cpplint

Fix ReshapeOp operand checking for scalars (#1090)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/dialect/tile/ir/ops.cc
Due: clang-format, cpplint

Add openmp to the unix conda environment
  conda/unix.yml
Due: none

Add openmp to the unix conda environment (#1094)
  conda/unix.yml
Due: none

added first attempt to split LIBXSMM into dispatch and exec
  pmlc/rt/xsmm.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

attempt to fix checks
  pmlc/target/x86/tests/xsmm_lowering.mlir
Due: none

fixed unit tests, hoisted stack allocation to the beginning of GemmOp, still no CSE/hoisting
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

2nd version, which avoids alloca, but still it's not hoisted... not sure why CSE fails
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/rt/xsmm.cc
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

added LICM pass to x86
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

more aggressive LICM
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Update OpenVINO ReLU testing to shared_tests
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/main.cpp
  vendor/openvino/ngraph.BUILD
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Get OpenVINO from GitHub
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/activation.cpp
  vendor/openvino/ngraph.BUILD
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

switched to AffineLoopInvariantCodeMotion Pass and now the libxsmm dispatch is hoisted
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Switch to gtest_main
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/main.cpp
Due: clang-format, cpplint

Backport OpenVINO Tests (#1097)
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/activation.cpp
  vendor/openvino/ngraph.BUILD
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Enable many more OpenVINO tests
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/add.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/concat.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convolution.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/cum_sum.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/eltwise.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/extract_image_patches.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/fake_quantize.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/group_convolution.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/group_convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/lrn.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/multiply.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/mvn.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/pooling.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/reshape.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/select.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/softmax.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/space_to_batch.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/split.cpp
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Mark known-failing test manual
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: none

Enable many more OpenVINO tests (#1098)
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/add.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/concat.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convolution.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/cum_sum.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/eltwise.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/extract_image_patches.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/fake_quantize.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/group_convolution.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/group_convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/lrn.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/multiply.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/mvn.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/pooling.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/reshape.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/select.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/softmax.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/space_to_batch.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/split.cpp
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Support OV constants
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
Due: clang-format, cpplint

Load data for Constants
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
Due: clang-format, cpplint

Add OpenVINO Multiply
  plaidml/bridge/openvino/src/plaidml_plugin/ops/multiply.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/multiply.cpp
Due: clang-format, cpplint

Update OpenVINO
  vendor/openvino/workspace.bzl
Due: buildifier

Clean unneeded code
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
Due: clang-format, cpplint

updated to latest libxsmm
  bzl/workspace.bzl
Due: buildifier

Add failing XSMM test case
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Update workspace to new OpenVINO
  vendor/openvino/workspace.bzl
Due: buildifier

updated to latest libxsmm (#1100)
  bzl/workspace.bzl
Due: buildifier

Add OpenVINO Constant & Multiply (#1099)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/multiply.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/multiply.cpp
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Stack tracking
  plaidml/edsl/tests/edsl_test.cc
  pmlc/compiler/executable.cc
Due: clang-format, cpplint

Fusion pass initial implementation
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/transforms/fusion.cc
Due: clang-format, cpplint

Add softmax to OpenVINO plugin
  plaidml/bridge/openvino/src/plaidml_plugin/ops/softmax.cpp
Due: clang-format, cpplint

Add softmax to OpenVINO plugin (#1102)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/softmax.cpp
Due: clang-format, cpplint

Bug fix
  pmlc/dialect/pxa/transforms/fusion.cc
Due: clang-format, cpplint

Add the pass to lower TanhOp to a runtime call.
  ci/plan.yml
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Updated the version of plaidml/llvm-project repo commit to use.
  bzl/workspace.bzl
Due: buildifier
