Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Add support for use_default in tile dialect (#671)
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/ffi.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/interfaces.td
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/lowering.h
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
Due: clang-format, cpplint

Adding platforms to base2
  ci/plan.yml
Due: none

oplib wrapper for pool
  plaidml2/op/op.h
  plaidml2/op/op_test.cc
Due: clang-format, cpplint

adding -v to backend_test on base2
  ci/plan.yml
Due: none

oplib wrapper for image_resize
  plaidml2/op/op.h
  plaidml2/op/op_test.cc
Due: clang-format, cpplint

add tests and event logging for variance (#675)
  plaidml2/op/lib/ops.cc
  plaidml2/op/op_test.cc
Due: clang-format, cpplint

Fixed memory bug
  pmlc/dialect/stripe/ops.cc
Due: clang-format, cpplint

1sanz oplibwrappers5 (#676)
  plaidml2/op/op.h
  plaidml2/op/op_test.cc
Due: clang-format, cpplint

Renabled demo tiling pass, added a test. (#674)
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/tests/demo_vectorize.mlir
  pmlc/dialect/stripe/tile.cc
Due: clang-format, cpplint

[MLIR] Enable stripe-affine dialect round-trip tests
  pmlc/conversion/tests/stripe_affine_roundtrip/BUILD
  pmlc/conversion/tests/stripe_affine_roundtrip/core_ops.mlir
Due: none

Fix things
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/__init__.py
  plaidml2/edsl/edsl.h
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/exec/ffi.cc
  plaidml2/op/op_test.cc
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/dialect.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.td
  pmlc/dialect/tile/program.h
  pmlc/dialect/tile/tests/constant-fold.mlir
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
Due: clang-format, cpplint, yapf

Disable tests temoprarily
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
  plaidml2/op/op_test.cc
Due: clang-format, cpplint, yapf

Fix linker
  plaidml2/plaidml_link.jsonnet
Due: none

Plumb names
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
  plaidml2/edsl/ffi.cc
  plaidml2/op/op_test.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
Due: clang-format, cpplint, yapf

Cleanup
  plaidml2/core/ffi.cc
  plaidml2/core/internal.h
Due: clang-format, cpplint

add debug build
  bzl/bazel.rc
  ci/plan.yml
Due: none

Round-trip Stripe func ref attrs through transcode
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
Due: clang-format, cpplint

Remove spurious #user tag
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
Due: none

Use stripe.attrs instead of stripe.stripe_attrs
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
Due: clang-format, cpplint

Port event logging context to PlaidML2
  plaidml2/core/BUILD
  plaidml2/core/ffi.cc
  plaidml2/core/internal.h
  plaidml2/edsl/ffi.cc
  plaidml2/exec/ffi.cc
  tools/analysis/main.py
Due: clang-format, cpplint, yapf

Add @mlir//:mlir-opt
  vendor/mlir/mlir.BUILD
Due: buildifier

Add @mlir//:mlir-opt (#683)
  vendor/mlir/mlir.BUILD
Due: buildifier

Add support multicore support for the CPU jit.
  bzl/tbb.BUILD
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
  tile/targets/cpu/executable.cc
  tile/targets/cpu/executable.h
  tile/targets/cpu/llvm_cpu.jsonnet
Due: buildifier, clang-format, cpplint

fixes
  plaidml2/core/ffi.cc
  plaidml2/core/internal.h
  plaidml2/exec/ffi.cc
Due: clang-format, cpplint

atexit, remove factory
  plaidml2/core/ffi.cc
Due: clang-format, cpplint

fix
  plaidml2/core/ffi.cc
Due: clang-format, cpplint

Enable affine.poly test
  pmlc/conversion/tests/stripe_affine_roundtrip/affine_for.mlir
  pmlc/conversion/tests/stripe_affine_roundtrip/affine_poly.mlir
Due: none

[MLIR] Enable stripe-affine dialect round-trip test (#678)
  pmlc/conversion/tests/stripe_affine_roundtrip/BUILD
  pmlc/conversion/tests/stripe_affine_roundtrip/affine_for.mlir
  pmlc/conversion/tests/stripe_affine_roundtrip/affine_poly.mlir
  pmlc/conversion/tests/stripe_affine_roundtrip/core_ops.mlir
Due: none

Unique names
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
  plaidml2/op/lib/ops.cc
  plaidml2/op/op_test.cc
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint, yapf

Add testenv
  plaidml2/BUILD
  plaidml2/edsl/BUILD
  plaidml2/edsl/edsl_test.cc
  plaidml2/op/BUILD
  plaidml2/op/op_test.cc
  plaidml2/testenv.cc
Due: clang-format, cpplint

Fix constant folding in tile dialect
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.td
  pmlc/dialect/tile/tests/constant-fold.mlir
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
Due: clang-format, cpplint

Drop pmlc binary
  plaidml/BUILD
  plaidml/not_setup.cfg
  tile/pmlc/BUILD
Due: none

Plumb user-defined names into MLIR
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/dialect.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
Due: clang-format, cpplint

Refactor contraction op builder
  plaidml2/edsl/ffi.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/interfaces.td
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint

fixes
  plaidml2/core/ffi.cc
Due: clang-format, cpplint

Fix constant folding in tile dialect (#686)
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.td
  pmlc/dialect/tile/tests/constant-fold.mlir
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
Due: clang-format, cpplint

namespace, includes, formatting
  plaidml2/core/ffi.cc
Due: clang-format, cpplint

Plumb user-defined names into MLIR (#688)
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/dialect.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
Due: clang-format, cpplint

add debug builds to ci
  ci/buildkite.py
  ci/plan.yml
Due: yapf

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

