Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Fix bug in emitting non-unrolling load
  tile/ocl_exec/emitsem.cc
Due: clang-format, cpplint

remove subgroup size 32
  tile/targets/gpu/intel_gen9.jsonnet
Due: none

Added additional tests
  tile/lib/tests.cc
Due: clang-format, cpplint

Added tests for POC
  tile/lib/tests.cc
Due: clang-format, cpplint

Add more tests for 32x32
  tile/lib/lib.cc
  tile/lib/tests.cc
Due: clang-format, cpplint

Print attr vals when printing Stripe
  tile/stripe/impl.h
  tile/stripe/stripe.cc
Due: clang-format, cpplint

Make pmlc::LoadTile generally available
  tile/pmlc/pmlc.cc
  tile/pmlc/pmlc.h
Due: clang-format, cpplint

Clean header based on review
  tile/pmlc/pmlc.cc
  tile/pmlc/pmlc.h
Due: clang-format, cpplint

Update tests for printed attribute vals
  tile/codegen/test/fuse.cc
  tile/codegen/test/load_index.cc
Due: clang-format, cpplint

Track AliasMap parents; tag new SchedulePass block
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/codegen.proto
  tile/codegen/schedule.cc
Due: clang-format, cpplint

Remove subgroup barrier and double the performance on new NEO
  tile/hal/opencl/emitocl.cc
Due: clang-format, cpplint

Add additional tests
  tile/lib/lib.cc
  tile/lib/lib.h
  tile/lib/tests.cc
Due: clang-format, cpplint

Adding support for MLIR
  bzl/mlir.BUILD
  bzl/mlir.bzl
  bzl/workspace.bzl
  tile/plaid_ir/BUILD
  tile/plaid_ir/plaid_ir_test.cc
  vendor/llvm/llvm.BUILD
Due: buildifier, clang-format, cpplint

Use rules_jsonnet
  bzl/workspace.bzl
  plaidml/configs/experimental.json
  plaidml/configs/macos_experimental.json
  tile/pmlc/BUILD
  tile/pmlc/pmlc.cc
  tile/targets/BUILD
  tile/targets/cpu/BUILD
  tile/targets/gpu/BUILD
  tile/targets/gpu/intel_gen9_metal.jsonnet
  tile/targets/gpu/intel_gen9_opencl.jsonnet
  tools/gencfg/BUILD
  tools/gencfg/gencfg.cc
Due: buildifier, clang-format, cpplint

Extract stencil pass to its own file
  tile/codegen/stencil.cc
  tile/codegen/stencil.h
  tile/codegen/test/tile.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
Due: clang-format, cpplint

Extend pattern matcher
  tile/codegen/pattern.cc
  tile/codegen/pattern.h
  tile/codegen/test/pattern.cc
Due: clang-format, cpplint

Add a PatternPass
  tile/codegen/codegen.proto
  tile/codegen/pattern.cc
  tile/codegen/pattern.h
Due: clang-format, cpplint

jsonnet auto format
  tile/targets/cpu/cpu.jsonnet
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/intel_gen9_metal.jsonnet
Due: none

Added unit test for symbolic concat Added get_value_support for symbolic axis Added backend_test support for symbolic axis
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
  plaidml/op.py
Due: yapf

Enable concat to work with symbolic tensors
  plaidml/op.py
Due: yapf

Process large fully connected layer
  tile/codegen/codegen.proto
  tile/codegen/fc.cc
  tile/codegen/fc.h
  tile/ocl_exec/emitsem.cc
  tile/stripe/stripe.cc
  tile/targets/gpu/intel_gen9_opencl.jsonnet
Due: clang-format, cpplint

fix subgroup size in 16
  tile/targets/gpu/metal.jsonnet
Due: none

Increase program cache limit
  plaidml/keras/regression_test.py
  plaidml/plaidml.cc
Due: clang-format, cpplint, yapf

add metal config
  plaidml/configs/macos_experimental.json
  tile/targets/gpu/metal.jsonnet
Due: none
