Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Add unit test for K.any
  plaidml/keras/backend_test.py
Due: yapf

Implementation of K.any
  plaidml/keras/backend.py
  plaidml/op.py
Due: yapf

Adjust whitespace
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
  plaidml/op.py
Due: yapf

Fix EDSL Gradient of `default`
  tile/lang/ast/ast.h
  tile/lang/ast/gradient.cc
Due: clang-format, cpplint

Expand op library in EDSL
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/__init__.py
  plaidml2/op/lib/ops.cc
  plaidml2/op/op.h
Due: clang-format, cpplint, yapf

Added softplus
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
Due: yapf

Changing wx9100 to gfx900 in ci
  ci/plan.yml
Due: none

move wx9100 goldens to gfx900
  ci/golden/infer/imdb_lstm/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.json
  ci/golden/infer/imdb_lstm/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.npy
  ci/golden/infer/imdb_lstm/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.json
  ci/golden/infer/imdb_lstm/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.npy
  ci/golden/infer/imdb_lstm/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.json
  ci/golden/infer/imdb_lstm/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.npy
  ci/golden/infer/inception_v3/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.json
  ci/golden/infer/inception_v3/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.npy
  ci/golden/infer/inception_v3/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.json
  ci/golden/infer/inception_v3/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.npy
  ci/golden/infer/inception_v3/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.json
  ci/golden/infer/inception_v3/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.npy
  ci/golden/infer/mobilenet/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.json
  ci/golden/infer/mobilenet/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.npy
  ci/golden/infer/mobilenet/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.json
  ci/golden/infer/mobilenet/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.npy
  ci/golden/infer/mobilenet_v2/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet_v2/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.npy
  ci/golden/infer/resnet50/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.npy
  ci/golden/infer/resnet50/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.json
  ci/golden/infer/resnet50/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.npy
  ci/golden/infer/resnet50/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.json
  ci/golden/infer/resnet50/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.npy
  ci/golden/infer/vgg19/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.json
  ci/golden/infer/vgg19/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.npy
  ci/golden/infer/vgg19/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.json
  ci/golden/infer/vgg19/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.npy
  ci/golden/infer/vgg19/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.json
  ci/golden/infer/vgg19/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.npy
  ci/golden/infer/xception/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.json
  ci/golden/infer/xception/keras-plaid-ocl-gfx900/BATCH_SIZE=1/result.npy
  ci/golden/infer/xception/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.json
  ci/golden/infer/xception/keras-plaid-ocl-gfx900/BATCH_SIZE=16/result.npy
  ci/golden/infer/xception/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.json
  ci/golden/infer/xception/keras-plaid-ocl-gfx900/BATCH_SIZE=32/result.npy
Due: none

Implementation of K.logsumexp
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
Due: yapf

adding stripe-mtl for uhd630
  ci/plan.yml
Due: none

pull gv100gl xception test from pr builds
  ci/plan.yml
Due: none

Use vector type casts for ceiling and float
  tile/hal/metal/emit.cc
  tile/hal/opencl/emitocl.cc
Due: clang-format, cpplint

Do not checkin.
  plaidml/keras/backend_test.py
  tile/platform/stripejit/program.cc
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint, yapf

Build badge to track master only
  README.md
Due: none

Windows build tweaks
  ci/buildkite.py
  ci/util.py
  environment-windows.yml
Due: yapf

Added basic support for MLIR passes and transcoding
  pmlc/dialect/mir/BUILD
  pmlc/dialect/mir/mir_test.cc
  pmlc/dialect/mir/padding_pass.h
  tile/codegen/BUILD
  tile/codegen/codegen.proto
  tile/codegen/compile_pass.h
  tile/codegen/driver.cc
  tile/codegen/mlir_passes.cc
  tile/targets/gpu/amd.jsonnet
Due: clang-format, cpplint

Try a workaround for possible MLIR issue
  tile/codegen/mlir_passes.cc
Due: clang-format, cpplint

Added basic support for MLIR passes and transcoding (#399)
  pmlc/dialect/mir/BUILD
  pmlc/dialect/mir/mir_test.cc
  pmlc/dialect/mir/padding_pass.h
  tile/codegen/BUILD
  tile/codegen/codegen.proto
  tile/codegen/compile_pass.h
  tile/codegen/driver.cc
  tile/codegen/mlir_passes.cc
  tile/targets/gpu/amd.jsonnet
Due: clang-format, cpplint

Update VERSION
  VERSION
Due: none

Enable shared unary ops to parse numerics
  plaidml/tile.py
Due: yapf

WIP
  plaidml2/core/BUILD
  plaidml2/core/internal.h
  plaidml2/edsl/BUILD
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi_mlir.cc
  pmlc/dialect/hir/BUILD
  pmlc/dialect/hir/hir_test.cc
  pmlc/dialect/hir/ops.td
  pmlc/dialect/scalar/ops.td
  pmlc/dialect/scalar/scalar_test.cc
  tile/lang/ast/ast.h
Due: clang-format, cpplint

softfail for keras-plaid-mtl-uhd630
  ci/buildkite.py
  ci/pipeline.yml
  ci/plan.yml
Due: yapf

Remove histedit dependency
  vendor/llvm/llvm.bzl
Due: buildifier

Update VERSION (#401)
  VERSION
Due: none
