Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

And it works now, yeah
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/dialect.h
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/dialect.h
  pmlc/dialect/stripe/rewrites.cc
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/dialect.h
Due: clang-format, cpplint

Moving to the version TF picked
  bzl/workspace.bzl
Due: buildifier

Bug fixes and code review changes
  pmlc/conversion/tests/stripe_affine_roundtrip/affine_for.mlir
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/transforms.cc
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
Due: clang-format, cpplint

More CR fixes
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/analysis.h
  pmlc/dialect/stripe/demo_vectorize.cc
  pmlc/dialect/stripe/rewrites.cc
Due: clang-format, cpplint

Fixed nondeterminism in the test induced by map order: TODO, figure out a better solution here
  pmlc/dialect/stripe/tests/demo_vectorize.mlir
Due: none

Make some optimization passes, upgrade LLVM + MLIR (#701)
  bzl/workspace.bzl
  pmlc/conversion/tests/stripe_affine_roundtrip/affine_for.mlir
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/dialect.h
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/analysis.h
  pmlc/dialect/stripe/demo_vectorize.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/dialect.h
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/rewrites.cc
  pmlc/dialect/stripe/rewrites.h
  pmlc/dialect/stripe/tests/demo_vectorize.mlir
  pmlc/dialect/stripe/tile.cc
  pmlc/dialect/stripe/transforms.cc
  pmlc/dialect/stripe/transforms.h
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/dialect.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/mlir.patch
Due: buildifier, clang-format, cpplint

Improved backward slice
  pmlc/dialect/tile/builder.cc
  pmlc/util/slice.cc
  pmlc/util/slice.h
Due: clang-format, cpplint

Fix expr kind for DimOp
  plaidml2/edsl/ffi.cc
Due: clang-format, cpplint

Look before we leap
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

Cleanup
  pmlc/dialect/tile/dialect.cc
Due: clang-format, cpplint

Use DataType::INTX instead of IndexType
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
  plaidml2/op/op_test.cc
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/predicates.td
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.td
  pmlc/dialect/tile/tests/constant-fold.mlir
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
Due: clang-format, cpplint, yapf

Allow immediate scalar types for eltwise dialect (#700)
  plaidml2/edsl/edsl_test.cc
  pmlc/CPPLINT.cfg
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.cc
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.h
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.h
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/predicates.td
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/eltwise/types.h
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/types.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
  pmlc/pmlc-opt.cc
  pmlc/pmlc-translate.cc
  tile/base/shape.h
  tile/codegen/mlir_passes.cc
Due: clang-format, cpplint

Add TestPopulateTensorRefShape pass for testing
  pmlc/dialect/stripe/populate_tensor_ref_shape_analysis.cc
  pmlc/dialect/stripe/populate_tensor_ref_shape_analysis.h
  pmlc/dialect/stripe/tests/populate_tensor_ref_shape.mlir
Due: clang-format, cpplint

remove keras-plaid-mtl-uhd630-cat from base, add keras-stripe-mtl-uhd630-cat to infer
  ci/plan.yml
Due: none

Add support for printing and parsing the shape
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/dialect.h
  pmlc/dialect/stripe/populate_tensor_ref_shape_analysis.cc
  pmlc/dialect/stripe/tests/populate_tensor_ref_shape.mlir
Due: clang-format, cpplint

Wrote jigsaw pass, enabled additional canonicalization, better printing
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/demo_vectorize.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/jigsaw_pass.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/rewrites.cc
  pmlc/dialect/stripe/tests/demo_jigsaw.mlir
  pmlc/dialect/stripe/tests/demo_vectorize.mlir
Due: clang-format, cpplint

Address PR feedback
  pmlc/dialect/stripe/dialect.h
Due: clang-format, cpplint

Fixed a bunch of left over test code, fixed tests
  pmlc/dialect/stripe/jigsaw_pass.cc
  pmlc/dialect/stripe/tests/demo_vectorize.mlir
  pmlc/dialect/stripe/tests/jigsaw.mlir
Due: clang-format, cpplint

Fixed tests and canonicalizations
  pmlc/dialect/stripe/rewrites.cc
  pmlc/dialect/stripe/rewrites.h
  pmlc/dialect/stripe/tests/canonicalize.mlir
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
Due: clang-format, cpplint

Fixed a magic string
  pmlc/dialect/stripe/dialect.cc
Due: clang-format, cpplint

Wrote jigsaw pass, enabled additional canonicalization, better printing (#703)
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/demo_vectorize.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/jigsaw_pass.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/rewrites.cc
  pmlc/dialect/stripe/rewrites.h
  pmlc/dialect/stripe/tests/canonicalize.mlir
  pmlc/dialect/stripe/tests/demo_vectorize.mlir
  pmlc/dialect/stripe/tests/jigsaw.mlir
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
Due: clang-format, cpplint

Fix parsing of TensorRef type
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/tests/populate_tensor_ref_shape.mlir
Due: clang-format, cpplint

Remove NOLINT
  pmlc/dialect/stripe/dialect.h
Due: clang-format, cpplint

Remove 'addr' from lit test
  pmlc/dialect/stripe/tests/populate_tensor_ref_shape.mlir
Due: none

Revert TensorType/TensorRefType parsing refactoring.
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/types.cc
  pmlc/dialect/stripe/types.h
Due: clang-format, cpplint

[MLIR] PopulateTensorRefShape analysis (#692)
  pmlc/BUILD
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/dialect.h
  pmlc/dialect/stripe/populate_tensor_ref_shape_analysis.cc
  pmlc/dialect/stripe/populate_tensor_ref_shape_analysis.h
  pmlc/dialect/stripe/tests/populate_tensor_ref_shape.mlir
  pmlc/dialect/stripe/types.cc
  pmlc/dialect/stripe/types.h
Due: clang-format, cpplint

Extend model-based BN folding (#697)
  plaidbench/plaidbench/frontend_keras.py
Due: yapf

UW example code for toroidal shell moment about z surface integral
  networks/scitile/BUILD
  networks/scitile/uw_toroidal_shell.py
  plaidml2/bridge/keras/backend_test.py
Due: yapf

minor fix: remove unused lines of code
  networks/scitile/uw_toroidal_shell.py
Due: yapf

accidental change in backend_test reversed
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Revert " Allow immediate scalar types for eltwise dialect (#700)"
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/predicates.td
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/rewrites.cc
  pmlc/dialect/stripe/rewrites.h
  pmlc/dialect/stripe/tests/canonicalize.mlir
  pmlc/dialect/stripe/tests/jigsaw.mlir
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
Due: clang-format, cpplint

adding unit test
  networks/scitile/BUILD
  networks/scitile/uw_tests.py
  networks/scitile/uw_toroidal_shell.py
Due: yapf

environment var fix
  networks/scitile/uw_tests.py
  networks/scitile/uw_toroidal_shell.py
Due: yapf

Fix merge
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/rewrites.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.td
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
Due: clang-format, cpplint

Use F64 for bitless floats
  pmlc/dialect/eltwise/ops.td
Due: none

uw_tests tolerance for slightly varying answers on diff h/w
  networks/scitile/BUILD
  networks/scitile/uw_tests.py
Due: yapf

minor fix
  networks/scitile/uw_tests.py
Due: yapf

Ignore dbg test failing
  bzl/bazel.rc
  plaidml/keras/BUILD
Due: none

UW sample code
  networks/scitile/toroidal_example/README
  networks/scitile/toroidal_example/min_main.py
  networks/scitile/toroidal_example/min_parallel.py
Due: yapf

pure EDSL impl
  networks/scitile/BUILD
  networks/scitile/uw_tests.py
  networks/scitile/uw_toroidal_shell.py
Due: yapf
