Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Skip un-initializable devices
  tile/platform/local_machine/platform.cc
Due: clang-format, cpplint

Allow llvm to be added as a submodule
  WORKSPACE
  bzl/workspace.bzl
  tile/codegen/partition.cc
  vendor/llvm/llvm.BUILD
Due: buildifier, clang-format, cpplint

Nested location support
  tile/codegen/alias.cc
  tile/codegen/autotile.cc
  tile/codegen/codegen.proto
  tile/codegen/mem_rebase.cc
  tile/codegen/schedule.cc
  tile/codegen/test/cache.cc
  tile/codegen/test/dce.cc
  tile/codegen/test/deps.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/jit.cc
  tile/codegen/test/load_index.cc
  tile/codegen/test/placer.cc
  tile/codegen/test/schedule.cc
  tile/codegen/unroll.cc
  tile/lang/gen_stripe_test.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

Use REs for loc parsing
  tile/stripe/BUILD
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe_test.cc
Due: clang-format, cpplint

pmlc: Emit LLVM bitcode
  tile/codegen/BUILD
  tile/codegen/test/dce.cc
  tile/codegen/test/load_index.cc
  tile/cpu/BUILD
  tile/cpu/main.cc
  tile/ocl_exec/BUILD
  tile/pmlc/BUILD
  tile/pmlc/pmlc.cc
  tile/stripe/BUILD
  tile/targets/cpu/BUILD
  tile/targets/cpu/cpu.json.j2
  tile/targets/cpu/jit.cc
  tile/targets/cpu/jit.h
  tile/targets/cpu/test/BUILD
  tile/targets/cpu/test/jit.cc
  tile/targets/gpu/gpu.json.j2
Due: clang-format, cpplint

Update Boost.ASIO to use std::string_view on macOS
  bzl/boost.BUILD
Due: buildifier

Vectorization
  tile/hal/cpu/emitllvm.cc
  tile/hal/cpu/emitllvm.h
  tile/hal/metal/emit.cc
  tile/hal/opencl/cl_opt.cc
  tile/hal/opencl/emitocl.cc
  tile/hal/opencl/emitocl.h
  tile/lang/BUILD
  tile/lang/emitc.cc
  tile/lang/emitc.h
  tile/lang/exprtype.cc
  tile/lang/exprtype.h
  tile/lang/intrinsic.cc
  tile/lang/intrinsic.h
  tile/lang/sembuilder.h
  tile/lang/semprinter.cc
  tile/lang/semprinter.h
  tile/lang/semtree.cc
  tile/lang/semtree.h
  tile/lang/simplifier.cc
  tile/ocl_exec/BUILD
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/emitsem.h
  tile/ocl_exec/intrinsic.cc
  tile/ocl_exec/intrinsic.h
Due: clang-format, cpplint

Allow inputs to be provided to TileFile::Load()
  tile/util/BUILD
  tile/util/tile_file.cc
  tile/util/tile_file.h
Due: clang-format, cpplint

Add constraints to swap-ins/swap-outs
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/cache.cc
  tile/codegen/schedule.cc
Due: clang-format, cpplint

Revert to computing exterior_shape on the fly
  tile/codegen/cache.cc
  tile/codegen/codec.cc
  tile/codegen/cstr_reduction.cc
  tile/codegen/cstr_reduction.h
  tile/codegen/package.cc
  tile/codegen/schedule.cc
  tile/codegen/test/deps.cc
  tile/codegen/test/placer.cc
  tile/codegen/test/schedule.cc
  tile/codegen/tile.cc
  tile/lang/gen_stripe.cc
  tile/lang/gen_stripe_test.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
  tile/targets/cpu/test/jit.cc
Due: clang-format, cpplint

Cleanup setup.cfg
  bzl/plaidml.bzl
  plaidml/keras/setup.cfg
  plaidml/setup.cfg
Due: buildifier

Correctly uniquify unrolled refinements
  tile/codegen/unroll.cc
Due: clang-format, cpplint

Use a refinement map for block protos
  tile/codegen/test/deps.cc
  tile/codegen/test/placer.cc
  tile/codegen/test/schedule.cc
  tile/lang/gen_stripe_test.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.proto
  tile/targets/cpu/test/jit.cc
Due: clang-format, cpplint

Unaligned tile emit
  tile/codegen/autotile.cc
  tile/codegen/codegen.proto
  tile/codegen/test/BUILD
  tile/codegen/test/unaligned.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/ocl_exec/emitsem.cc
  tile/targets/gpu/gpu.json.j2
Due: clang-format, cpplint

Add elementwise testcase and pkg subblock tagging
  tile/codegen/codegen.proto
  tile/codegen/package.cc
  tile/lib/lib.cc
  tile/lib/lib.h
  tile/lib/tests.cc
Due: clang-format, cpplint

Fixed a bug in promoting if-branch while tiling
  tile/codegen/tile.cc
Due: clang-format, cpplint

Provide path for USE_STRIPE=1
  conda/pmlc.yml
  plaidml/BUILD
  plaidml/configs/experimental.json
  plaidml/configs/macos.json
  plaidml/configs/macos_experimental.json
  plaidml/enumerate.py
  plaidml/keras/BUILD
  plaidml/keras/not_setup.cfg
  plaidml/not_setup.cfg
  tile/codegen/BUILD
  tile/codegen/driver.cc
  tile/codegen/driver.h
  tile/hal/opencl/info.cc
  tile/ocl_exec/BUILD
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/make_config.py
  tile/ocl_exec/ocl_exec.cc
  tile/ocl_exec/ocl_exec_test.py
  tile/ocl_exec/stripe_gen.cc
  tile/ocl_exec/stripe_gen.h
  tile/platform/local_machine/BUILD
  tile/platform/local_machine/program.cc
  tile/pmlc/BUILD
  tile/proto/hal.proto
  tile/targets/cpu/BUILD
  tile/targets/cpu/configs.cc
  tile/targets/cpu/cpu.json.j2
  tile/targets/gpu/BUILD
  tile/targets/gpu/configs.cc
  tile/targets/gpu/gpu.yml
  tools/bin2h/BUILD
  tools/bin2h/bin2h.py
  tools/bin2h/build_defs.bzl
  tools/gencfg/BUILD
  tools/gencfg/build_defs.bzl
  tools/gencfg/gencfg.py
Due: buildifier, clang-format, cpplint, yapf

Enable concat to work with symbolic tensors
  plaidml/op.py
Due: yapf

Add SpatialDropout support in dropout
  plaidml/keras/backend.py
Due: yapf

Fix windows build
  .pre-commit-config.yaml
  bzl/conda.tpl.py
  tile/ocl_exec/BUILD
  tile/pmlc/BUILD
  tools/bin2h/build_defs.bzl
  tools/gencfg/build_defs.bzl
Due: buildifier

Added a new pass, padding, and made various fixes to correct related issues. Still disabled due to remaining issue with derivative correctness
  plaidml/keras/backend_test.py
  plaidml/settings.py
  tile/codegen/alias.cc
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/localize.cc
  tile/codegen/localize.h
  tile/codegen/pad.cc
  tile/codegen/pad.h
  tile/codegen/schedule.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/stripe_gen.cc
  tile/targets/gpu/gpu.json.j2
Due: clang-format, cpplint, yapf

Remove outdated skips from Keras backend_test
  plaidml/keras/backend_test.py
Due: yapf

Add tests based on PaddlePaddle ops
  tile/lib/lib.cc
  tile/lib/lib.h
  tile/lib/tests.cc
Due: clang-format, cpplint

Ocl cache
  tile/codegen/autotile.cc
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/reg_cache.cc
  tile/codegen/reg_cache.h
  tile/math/bignum.cc
  tile/math/bignum.h
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/emitsem.h
  tile/targets/gpu/gpu.json.j2
  tile/targets/gpu/gpu.yml
Due: clang-format, cpplint

Add microkernel code (currently turned off)
  plaidml/keras/backend_test.py
  tile/codegen/autotile.cc
  tile/codegen/codegen.proto
  tile/hal/cpu/emitllvm.cc
  tile/hal/cpu/emitllvm.h
  tile/hal/metal/emit.cc
  tile/hal/opencl/cl_opt.cc
  tile/hal/opencl/compiler.cc
  tile/hal/opencl/emitocl.cc
  tile/hal/opencl/emitocl.h
  tile/lang/emitc.cc
  tile/lang/emitc.h
  tile/lang/exprtype.cc
  tile/lang/exprtype.h
  tile/lang/sembuilder.h
  tile/lang/semprinter.cc
  tile/lang/semprinter.h
  tile/lang/semtree.cc
  tile/lang/semtree.h
  tile/lang/simplifier.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/emitsem.h
Due: clang-format, cpplint, yapf

Some minor perf improvements
  plaidml/settings.py
  tile/targets/gpu/gpu.json.j2
  tile/targets/gpu/gpu.yml
Due: yapf

Added extract_images_patches impl
  plaidml/keras/backend.py
Due: yapf

Experimental Tile eDSL for C++
  plaidml/BUILD
  plaidml/keras/BUILD
  plaidml/tile_cc.cc
  plaidml/tile_cc.h
  plaidml/tile_cc_test.cc
  tile/lang/BUILD
  tile/lang/ast.h
Due: clang-format, cpplint

Added unit test for symbolic concat Added get_value_support for symbolic axis Added backend_test support for symbolic axis
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
  plaidml/op.py
Due: yapf

Add proper type checking
  plaidml/tile_cc.cc
  plaidml/tile_cc.h
  plaidml/tile_cc_test.cc
  tile/lang/ast.h
  tile/lang/type.h
Due: clang-format, cpplint

Ocl cache load and store
  tile/codegen/codegen.proto
  tile/codegen/reg_cache.cc
  tile/ocl_exec/emitsem.cc
  tile/targets/gpu/gpu.json.j2
  tile/targets/gpu/gpu.yml
Due: clang-format, cpplint

Add multiple-of-32 flag for tiling
  tile/codegen/autotile.cc
  tile/codegen/codegen.proto
Due: clang-format, cpplint

Add Dropout test
  plaidml/keras/backend_test.py
Due: yapf

Handle arbitrary refinement orders in stenciling
  tile/codegen/codegen.proto
  tile/codegen/test/tile.cc
  tile/codegen/tile.cc
Due: clang-format, cpplint

Updates to tile_cc
  plaidml/BUILD
  plaidml/plaidml.cc
  tile/lang/BUILD
  tile/lang/ast.h
  tile/lang/compose.cc
  tile/lang/compose.h
  tile/lang/lang_test.cc
  tile/lang/tile_cc.cc
  tile/lang/tile_cc.h
  tile/lang/tile_cc_test.cc
  tile/util/BUILD
  tile/util/tile_file.cc
  tile/util/tile_file.h
Due: clang-format, cpplint

Use Tile eDSL for internal tests
  tile/codegen/test/schedule.cc
  tile/codegen/test/tile.cc
  tile/cpu/main.cc
  tile/lang/gen_stripe.cc
  tile/lang/gen_stripe.h
  tile/lang/gen_stripe_test.cc
  tile/lang/ops.h
  tile/lang/type.cc
  tile/lib/BUILD
  tile/lib/lib.cc
  tile/lib/lib.h
  tile/lib/tests.cc
  tile/lib/tests.h
  tile/ocl_exec/stripe_gen.cc
  tile/ocl_exec/stripe_gen.h
  tile/platform/local_machine/program.cc
  tile/pmlc/pmlc.cc
Due: clang-format, cpplint

Replace Tensor::operator[] with Tensor::dims()
  tile/lang/gen_stripe_test.cc
  tile/lang/tile_cc.cc
  tile/lang/tile_cc.h
  tile/lang/tile_cc_test.cc
  tile/lib/lib.cc
Due: clang-format, cpplint

Identify stenciled refs with tags
  tile/codegen/codegen.proto
  tile/codegen/test/tile.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Use std::set for tracking refinements
  tile/codegen/alias.cc
  tile/codegen/cache.cc
  tile/codegen/codec.cc
  tile/codegen/dce.cc
  tile/codegen/fuse.cc
  tile/codegen/localize.cc
  tile/codegen/mem_rebase.cc
  tile/codegen/package.cc
  tile/codegen/pad.cc
  tile/codegen/partition.cc
  tile/codegen/placer.cc
  tile/codegen/reg_cache.cc
  tile/codegen/scalarize.cc
  tile/codegen/schedule.cc
  tile/codegen/test/schedule.cc
  tile/codegen/tidy.cc
  tile/codegen/tile.cc
  tile/codegen/unroll.cc
  tile/lang/gen_stripe.cc
  tile/ocl_exec/emitsem.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint

Make Refinement::into immutable
  tile/codegen/alias.cc
  tile/codegen/cache.cc
  tile/codegen/codec.cc
  tile/codegen/dce.cc
  tile/codegen/deps.cc
  tile/codegen/driver.cc
  tile/codegen/emitc.cc
  tile/codegen/fuse.cc
  tile/codegen/localize.cc
  tile/codegen/pad.cc
  tile/codegen/partition.cc
  tile/codegen/placer.cc
  tile/codegen/reg_cache.cc
  tile/codegen/scalarize.cc
  tile/codegen/schedule.cc
  tile/codegen/tidy.cc
  tile/codegen/tile.cc
  tile/codegen/transpose.cc
  tile/codegen/unroll.cc
  tile/codegen/vm.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/stripe_gen.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

