Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Add golden
  ci/golden/infer/resnet50/keras-stripe-ocl-gfx803/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/keras-stripe-ocl-gfx803/BATCH_SIZE=1/result.npy
Due: none

Adjust plan
  ci/plan.yml
Due: none

Fix
  ci/golden/infer/xception/keras-stripe-ocl-neo/BATCH_SIZE=1/result.json
Due: none

removing slow passes - loc_program, loc_main and reorder_commented to check correctness
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/cm.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/nvidia.jsonnet
Due: none

loc_program and loc_main passes back in for cm comments removed
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/cm.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/nvidia.jsonnet
Due: none

skipping backendtest testRNN
  plaidml/keras/backend_test.py
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/cm.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/nvidia.jsonnet
Due: yapf

implement new special "init" which populates tensor according to its agg_op
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

Add support for Intel Vtune profiler in the LLVM CPU backend
  tile/targets/cpu/BUILD
  tile/targets/cpu/executable.cc
  vendor/llvm/llvm.BUILD
  vendor/llvm/llvm.bzl
Due: buildifier, clang-format, cpplint

Initial MLIR device semantics update
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/types.h
Due: clang-format, cpplint

removing slow passes (#540)
  plaidml/keras/backend_test.py
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/cm.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/nvidia.jsonnet
Due: yapf

WIP for lowering tile -> stripe
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/types.h
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
  vendor/mlir/mlir.bzl
Due: buildifier, clang-format, cpplint

Set attrs directly on ops
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/types.h
  pmlc/dialect/tile/lowering.cc
  vendor/mlir/mlir.bzl
Due: buildifier, clang-format, cpplint

Add support for Intel Vtune profiler in the LLVM CPU backend (#554)
  tile/targets/cpu/BUILD
  tile/targets/cpu/executable.cc
  vendor/llvm/llvm.BUILD
  vendor/llvm/llvm.bzl
Due: buildifier, clang-format, cpplint

use a less generic name for the new initialization special operation
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

WIP lowering tile -> stripe (#555)
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/types.h
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
  vendor/mlir/mlir.bzl
Due: buildifier, clang-format, cpplint

Rename USE_STRIPE to PLAIDML_USE_STRIPE
  ci/harness.py
  plaidbench/plaidbench/frontend_keras.py
  plaidml/keras/backend_test.py
  plaidml/keras/regression_test.py
  plaidml/settings.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/bridge/keras/regression_test.py
  tile/hal/cm/device_state.cc
  tile/platform/local_machine/program.cc
  tile/platform/stripejit/program.cc
Due: clang-format, cpplint, yapf

Default USE_STRIPE=1 for Intel GPU target
  base/util/env.cc
  base/util/env.h
  plaidml/configs/experimental.json
  plaidml/configs/macos_experimental.json
  tile/platform/local_machine/program.cc
  tile/proto/hal.proto
Due: clang-format, cpplint

Need to pull master for interface ops
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/analysis.h
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/types.h
Due: clang-format, cpplint

Maybe the tests work
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/types.h
  tile/codegen/mlir_passes.cc
  tile/targets/gpu/amd.jsonnet
Due: clang-format, cpplint

new special "init" populates a tensor according to its agg_op (#552)
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

move squeeze to op lib
  plaidml2/bridge/keras/__init__.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

Allow disabling of stripe
  ci/harness.py
Due: yapf

implementation of "scatter" and "gather" special operations
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

backend tests pass
  plaidml2/edsl/derivs.cc
  plaidml2/edsl/edsl.h
  pmlc/dialect/eltwise/ops.td
  tile/lang/ast/ast_ops.cc
  tile/lang/builtins.cc
  tile/lang/gen_contract.cc
  tile/lang/gen_stripe.cc
  tile/lang/type.cc
  tile/ocl_exec/emitsem.cc
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/nvidia.jsonnet
Due: clang-format, cpplint

Rename USE_STRIPE to PLAIDML_USE_STRIPE and enable it by default for Intel GPU targets (#556)
  base/util/env.cc
  base/util/env.h
  ci/harness.py
  plaidbench/plaidbench/frontend_keras.py
  plaidml/configs/experimental.json
  plaidml/configs/macos_experimental.json
  plaidml/keras/backend_test.py
  plaidml/keras/regression_test.py
  plaidml/settings.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/bridge/keras/regression_test.py
  tile/hal/cm/device_state.cc
  tile/platform/local_machine/program.cc
  tile/platform/stripejit/program.cc
  tile/proto/hal.proto
Due: clang-format, cpplint, yapf

Fixed a typo
  tile/lang/ast/ast_ops.cc
Due: clang-format, cpplint

implementation of "scatter" and "gather" special operations (#558)
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

Add initial implementation of AggregationBlockOutputInitializationPass
  tile/codegen/aggrinit.cc
  tile/codegen/aggrinit.h
  tile/codegen/codegen.proto
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

Mostly disable things
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/nvidia.jsonnet
Due: none

fix backend tests
  plaidml2/bridge/keras/__init__.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

better conditional
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint

add is_int to tensordim
  plaidml2/edsl/edsl.h
Due: clang-format, cpplint

planner
  ci/planner.py
Due: yapf

turn training off in nightly
  ci/plan.yml
Due: none

turn off training in nightly
  ci/plan.yml
Due: none

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

