Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Change tests.
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/non_max_suppression.cpp
Due: clang-format, cpplint

Update tests.
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/non_max_suppression.cpp
Due: clang-format, cpplint

ArgMax return the index of the last max value. Use ArgSort to get the first max value index now.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
Due: clang-format, cpplint

Some fixes.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
Due: clang-format, cpplint

Change wrapper, close iou mask.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
Due: clang-format, cpplint

Put all -1 to the end of tensor in any case.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
Due: clang-format, cpplint

Remove batch and class loop.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
Due: clang-format, cpplint

Replace some slice with gather.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/non_max_suppression.cpp
Due: clang-format, cpplint

Use scatter to remove selected box as some boxes may have same score.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
Due: clang-format, cpplint

Use mask to replace slice for IOU.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
Due: clang-format, cpplint

De-vectorize op in Math dialect in vectorize pass
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Rename.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
Due: clang-format, cpplint

Use TensorDim as shape.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
Due: clang-format, cpplint

Move to oplib.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
  plaidml/core/core.h
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint

Draft on skipping math dialect ops vectorization
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Add constant verifier.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
  plaidml/op/lib/ops.cc
Due: clang-format, cpplint

Modify scatter in tile->pxa
  pmlc/conversion/tile_to_pxa/tests/scatter.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/uses.cc
Due: clang-format, cpplint

Fix pxa->affine
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
Due: clang-format, cpplint

Add NonMaxSuppression (#1736)
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/non_max_suppression.cpp
  plaidml/core/core.h
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint

Use atomic_rmw
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
Due: clang-format, cpplint

Fix bug
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
Due: clang-format, cpplint

Add scatter case for pxa->affine
  pmlc/conversion/pxa_to_affine/tests/scatter.mlir
Due: none

Fix bugs
  pmlc/dialect/pxa/analysis/uses.cc
Due: clang-format, cpplint

Refactored implementation to use constants for brgemm offset table.
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_brgemm_offs_call.mlir
  pmlc/target/x86/tests/xsmm_call_3x3.mlir
  pmlc/target/x86/tests/xsmm_lowering_3x3.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Removing offset based brgemm alloc and dealloc ops
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/target/x86/tests/xsmm_brgemm_offs_call.mlir
  pmlc/target/x86/tests/xsmm_call_3x3.mlir
  pmlc/target/x86/tests/xsmm_lowering_3x3.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

offset-based batch reduce gemm implementation (#1716)
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/rt/xsmm.cc
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_brgemm_offs_call.mlir
  pmlc/target/x86/tests/xsmm_call_3x3.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/tests/xsmm_lowering_3x3.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

add Conv2dFinder to Tile dialect
  pmlc/dialect/tile/tests/conv2d_finder.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/conv2d_finder.cc
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/passes.td
Due: clang-format, cpplint

Cleaning
  networks/scitile/LAS/BUILD
  networks/scitile/LAS/cg_tests.py
  networks/scitile/LAS/solver_timings.py
  networks/scitile/LAS/test_data/10x10.npz
  networks/scitile/LAS/test_data/20x20.npz
Due: yapf

Special case for AtomicRMWKind::assign for pxa.store lowering
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
Due: clang-format, cpplint

update tests and code cleanup
  pmlc/dialect/tile/tests/conv2d_finder.mlir
  pmlc/dialect/tile/transforms/conv2d_finder.cc
Due: clang-format, cpplint

move Conv2dFinder to analysis
  pmlc/dialect/tile/analysis/BUILD
  pmlc/dialect/tile/analysis/conv2d_finder.h
  pmlc/dialect/tile/tests/conv2d_finder.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/passes.td
  pmlc/dialect/tile/transforms/test_conv2d_finder.cc
Due: clang-format, cpplint

Skip the OpenCL cases for pxa.store addf
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
Due: none

Skip cases on spirv
  plaidml/edsl/tests/edsl_test-skip.intel_gen_ocl_spirv.txt
Due: none

add CMake support
  pmlc/dialect/tile/CMakeLists.txt
  pmlc/dialect/tile/analysis/CMakeLists.txt
  pmlc/dialect/tile/analysis/conv2d_finder.h
  pmlc/dialect/tile/transforms/CMakeLists.txt
  pmlc/dialect/tile/transforms/test_conv2d_finder.cc
Due: clang-format, cpplint

fix cmake bug
  pmlc/dialect/tile/transforms/CMakeLists.txt
Due: none

fix dbg build error
  pmlc/dialect/tile/analysis/conv2d_finder.h
Due: clang-format, cpplint

PXA store transformation (#1739)
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  plaidml/edsl/tests/edsl_test-skip.intel_gen_ocl_spirv.txt
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/pxa_to_affine/tests/scatter.mlir
  pmlc/conversion/tile_to_pxa/tests/scatter.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/uses.cc
Due: clang-format, cpplint

Add python support to cmake
  CMakeLists.txt
  cmake/pml_installed_test.cmake
  cmake/pml_macros.cmake
  cmake/pml_python.cmake
  environment.yml
  plaidml/CMakeLists.txt
  plaidml/bridge/CMakeLists.txt
  plaidml/bridge/keras/CMakeLists.txt
  plaidml/bridge/keras/backend_test.py
  plaidml/core/CMakeLists.txt
  plaidml/core/_version.in.py
  plaidml/edsl/CMakeLists.txt
  plaidml/edsl/tests/CMakeLists.txt
  plaidml/exec/CMakeLists.txt
  plaidml/exec/tests/CMakeLists.txt
  plaidml/op/CMakeLists.txt
  pmlc/CMakeLists.txt
Due: yapf

Drop broken test
  plaidml/bridge/keras/CMakeLists.txt
Due: none

Update IRv10 pointer
  ci/pipeline.yml
Due: none
