Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Fixed an assert, trigger more format updates
  pmlc/dialect/pxa/transforms/tile.cc
Due: clang-format, cpplint

Implement more lowering
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/stdx_to_llvm/tests/atomic_rmw.mlir
Due: clang-format, cpplint

clang-format
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.h
Due: clang-format, cpplint

Changes from code review
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/autotile.cc
  pmlc/dialect/pxa/transforms/autotile.h
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/pxa/transforms/tile.h
  pmlc/dialect/tile/transforms/BUILD
Due: clang-format, cpplint

Initial autotile pass implementation (#899)
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/BUILD
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/autotile.cc
  pmlc/dialect/pxa/transforms/autotile.h
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/pxa/transforms/tile.h
  pmlc/dialect/tile/transforms/BUILD
Due: clang-format, cpplint

Bump to latest MLIR
  bzl/workspace.bzl
  networks/oplib/resnet50.cc
  plaidml/exec/ffi.cc
  pmlc/compiler/registry.cc
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/tile/gradient.cc
  pmlc/dialect/tile/gradient.h
  pmlc/dialect/tile/tests/constant-types.mlir
  pmlc/target/x86/pipeline.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Update hash
  bzl/workspace.bzl
Due: buildifier

Update commit
  bzl/workspace.bzl
Due: buildifier

Disable windows builds for now
  ci/plan.yml
Due: none

Bump to latest MLIR (#901)
  bzl/workspace.bzl
  ci/plan.yml
  networks/oplib/resnet50.cc
  plaidml/exec/ffi.cc
  pmlc/compiler/registry.cc
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/tile/gradient.cc
  pmlc/dialect/tile/gradient.h
  pmlc/dialect/tile/tests/constant-types.mlir
  pmlc/target/x86/pipeline.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Finish lowering
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/stdx_to_llvm/tests/atomic_rmw.mlir
Due: clang-format, cpplint

Allow atomic_rmw to return a value
  pmlc/dialect/stdx/BUILD
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
  pmlc/dialect/stdx/tests/invalid.mlir
Due: clang-format, cpplint

interactive logic (1/2)
  demos/mlsys_2020/demo.ipynb
Due: none

Add stdx.atomic_rmw & stdx.atomic_rmw.yield (#898)
  pmlc/conversion/stdx_to_llvm/BUILD
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.h
  pmlc/conversion/stdx_to_llvm/tests/BUILD
  pmlc/conversion/stdx_to_llvm/tests/atomic_rmw.mlir
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
  pmlc/dialect/stdx/tests/invalid.mlir
  pmlc/target/x86/pipeline.cc
  pmlc/tools/pmlc-opt/BUILD
Due: clang-format, cpplint

separate functional and ui
  demos/mlsys_2020/BUILD
  demos/mlsys_2020/demo.ipynb
  demos/mlsys_2020/demo_source.py
Due: yapf

MLSys Demo: Interactive Logic (1/2) (#902)
  demos/mlsys_2020/BUILD
  demos/mlsys_2020/demo.ipynb
  demos/mlsys_2020/demo_source.py
Due: yapf

Add tile to pxa conversion for the sqrt operation.
  plaidml/edsl/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Add tile to pxa conversion for the sqrt operation. (#904)
  plaidml/edsl/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Refactor plaidml API
  networks/oplib/resnet50.cc
  plaidml/bridge/pytorch/BUILD
  plaidml/core/BUILD
  plaidml/core/__init__.py
  plaidml/core/internal.h
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_docs.cc
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
  plaidml/exec/ffi.cc
  plaidml/exec/ffi.h
  plaidml/op/BUILD
  plaidml/op/op_test.cc
  plaidml/op/op_test.py
  plaidml/plaidml_link.jsonnet
  plaidml/plaidml_setup.py
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/program.h
  pmlc/dialect/tile/transforms/constant_types.cc
Due: clang-format, cpplint, yapf

interactive demo 2/2
  demos/mlsys_2020/demo.ipynb
  demos/mlsys_2020/demo_source.py
Due: yapf

cleanup
  demos/mlsys_2020/demo_source.py
Due: yapf

fix visuals
  demos/mlsys_2020/demo.ipynb
Due: none

fix display
  demos/mlsys_2020/demo_source.py
Due: yapf

MLSys Demo: Interactive Logic (2/2) (#906)
  demos/mlsys_2020/demo.ipynb
  demos/mlsys_2020/demo_source.py
Due: yapf

Add support for getting pass IR from API
  plaidml/bridge/keras/trivial_model_test.py
  plaidml/core/__init__.py
  plaidml/core/ffi.cc
  plaidml/core/ffi.h
  plaidml/core/settings.py
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
  plaidml/ffi.py
  plaidml/plaidml_link.jsonnet
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
Due: clang-format, cpplint, yapf

Support for upcoming demos and improved plaidml API (#905)
  networks/oplib/resnet50.cc
  plaidml/bridge/keras/trivial_model_test.py
  plaidml/bridge/pytorch/BUILD
  plaidml/core/BUILD
  plaidml/core/__init__.py
  plaidml/core/ffi.cc
  plaidml/core/ffi.h
  plaidml/core/internal.h
  plaidml/core/settings.py
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_docs.cc
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
  plaidml/exec/ffi.cc
  plaidml/exec/ffi.h
  plaidml/ffi.py
  plaidml/op/BUILD
  plaidml/op/op_test.cc
  plaidml/op/op_test.py
  plaidml/plaidml_link.jsonnet
  plaidml/plaidml_setup.py
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/program.h
  pmlc/dialect/tile/transforms/constant_types.cc
Due: clang-format, cpplint, yapf

Add Vulkan_Loader 1.2.132 and basic build file.
  bzl/workspace.bzl
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/vulkan_pfn.h
  vendor/vulkan_loader/BUILD
  vendor/vulkan_loader/vulkan_loader.BUILD
  vendor/vulkan_loader/vulkan_loader.patch
Due: buildifier, clang-format, cpplint

change name to avoid confict to vulkan sdk
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/vulkan_pfn.h
  vendor/vulkan_loader/vulkan_loader.BUILD
Due: buildifier, clang-format, cpplint

Enable uint64 tensors
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
Due: clang-format, cpplint

Address reviewer comment
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

Enable uint64 tensors (#908)
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
Due: clang-format, cpplint

Add initialization for aggregations
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint, yapf

Fix compiler complaint
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

Add initialization for aggregations (#909)
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint, yapf

matching up with variable name changes in plaidml_strings
  plaidml/core/__init__.py
Due: yapf

test for get_strs
  plaidml/core/core_test.py
Due: yapf

matching up with variable name changes in plaidml_strings (#910)
  plaidml/core/__init__.py
  plaidml/core/core_test.py
Due: yapf

Move AffineParallelOp into affine dialect
  bzl/workspace.bzl
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tests/bit_right_scalar.mlir
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/autotile.cc
  pmlc/dialect/pxa/transforms/autotile.h
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/pxa/transforms/tile.h
  pmlc/dialect/tile/builder.cc
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Add hash
  bzl/workspace.bzl
Due: buildifier

Fix
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

