Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Fix layer op
  pmlc/ast/builder.cc
Due: clang-format, cpplint

The loop variables, bounds are in the correct form
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
Due: clang-format, cpplint

use stable sort in argsort op
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

change gather to gathernd
  plaidml/bridge/openvino/ops/deformable_convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/deformable_convolution.cpp
Due: clang-format, cpplint

Add a test
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/builder.cc
Due: clang-format, cpplint

Change some name of variables
  plaidml/bridge/openvino/ops/deformable_convolution.cpp
Due: clang-format, cpplint

clean up code and rename some variables
  plaidml/bridge/openvino/ops/deformable_convolution.cpp
Due: clang-format, cpplint

Using shared libraries instead of static
  CMakeLists.txt
  cmake/pml_config.cmake.in
  cmake/pml_packaging.cmake
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Cleanups, getting test project working
  cmake/packaging/CMakeLists.txt
  cmake/packaging/pml_config.cmake.in
  cmake/packaging_test_project/CMakeLists.txt
  cmake/packaging_test_project/edsl_tests.cc
  cmake/pml_cc_library.cmake
  cmake/pml_packaging.cmake
Due: clang-format, cpplint

Making new gtest_runner without easylogging dep
  cmake/packaging/CMakeLists.txt
  cmake/packaging/gtest_runner.cc
  cmake/pml_packaging.cmake
Due: clang-format, cpplint

Adjustments to devkit packaging
  CMakeLists.txt
  cmake/config.cmake.in
  cmake/devkit.cmake
  cmake/packaging/CMakeLists.txt
  cmake/packaging/gtest_runner.cc
  cmake/pml_cc_binary.cmake
  cmake/pml_cc_library.cmake
  cmake/pml_packaging.cmake
  devkit/CMakeLists.txt
  plaidml/CMakeLists.txt
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/core/CMakeLists.txt
  plaidml/edsl/CMakeLists.txt
  plaidml/edsl/tests/edsl_test.cc
  plaidml/exec/CMakeLists.txt
  plaidml/op/CMakeLists.txt
  plaidml/testenv.cc
Due: clang-format, cpplint

fix yield return sequence order bug.
  pmlc/ast/builder.cc
Due: clang-format, cpplint

Add a lit test
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/builder.cc
Due: clang-format, cpplint

add bug case.
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Fix
  pmlc/ast/builder.cc
Due: clang-format, cpplint

Adding readme
  cmake/devkit.cmake
  devkit/README.txt
Due: none

Adding packaging check to ci
  ci/pipeline.yml
  cmake/devkit.cmake
Due: none

Fix layer op (#1708)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/builder.cc
Due: clang-format, cpplint

Add OV Range op
  plaidml/bridge/openvino/ops/range.cpp
Due: clang-format, cpplint

Throw if unsupported type used
  plaidml/bridge/openvino/ops/range.cpp
Due: clang-format, cpplint

fix
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

minor fixes maxpool equatino 2d conv pytorch and tf eq gemm writeup
  docs/usage/edsl_examples.rst
Due: none

Fix OV Range
  plaidml/bridge/openvino/ops/range.cpp
  plaidml/bridge/openvino/plaidml_ops.def
Due: clang-format, cpplint

WIP Add OV passes
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
Due: clang-format, cpplint

Simplify to just ConstantFolding pass
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
Due: clang-format, cpplint

Add OpenVINO network Constant Folding (#1715)
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
Due: clang-format, cpplint

offset-based batch reduce gemm implementation
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/rt/xsmm.cc
  pmlc/target/x86/tests/xsmm_brgemm_offs_call.mlir
  pmlc/target/x86/tests/xsmm_call_3x3.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/tests/xsmm_lowering_3x3.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

add stable option to argsort op (#1707)
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

Revisit load/store and convert them to PXA
  pmlc/dialect/pxa/tests/load_store.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/convert_mem_op.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
Due: clang-format, cpplint

Remove dump
  pmlc/dialect/pxa/transforms/convert_mem_op.cc
Due: clang-format, cpplint

uniform quantization example
  conda/unix.yml
  docs/BUILD
  docs/conf.py
  docs/refs.bib
  docs/usage/edsl_examples.rst
  plaidml/edsl/examples/example_tests.py
  plaidml/edsl/examples/quantize.cc
  plaidml/edsl/examples/quantize.py
Due: clang-format, cpplint, yapf

Use standalone build of OpenVINO
  .gitmodules
  CMakeLists.txt
  ci/pipeline.yml
  configure
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/benchmark_app/CMakeLists.txt
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/scatter_ND_update.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/scatter_elements_update.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/variadic_split.cpp
Due: clang-format, cpplint

Fix trigger
  ci/pipeline.yml
Due: none

Fixes
  .bazelignore
  ci/pipeline.yml
  configure
Due: none

Bump pointer
  ci/pipeline.yml
Due: none

Skip smudge
  ci/pipeline.yml
Due: none

Fix
  ci/pipeline.yml
Due: none

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

