Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Remove exec->edsl dependency
  plaidml/exec/BUILD
  plaidml/exec/tests/BUILD
Due: none

Use deviceID outside pmlc instead of Device
  plaidml/exec/ffi.cc
  pmlc/rt/executable.cc
  pmlc/rt/executable.h
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Use device base class for llvm
  pmlc/rt/llvm/runtime.cc
Due: clang-format, cpplint

Erasing reduce op after brgemm is generated and adding tests
  pmlc/dialect/pxa/transforms/stencil_brgemm.cc
  pmlc/target/x86/tests/brgemm_call.mlir
  pmlc/target/x86/tests/brgemm_call2.mlir
  pmlc/target/x86/tests/brgemm_stencil.mlir
Due: clang-format, cpplint

Working BRGEMM generation implementation
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/stencil_brgemm.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/rt/xsmm.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

WIP: generating pxa.brgemm through stenciling
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/stencil_brgemm.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_brgemm_stencil.mlir
Due: clang-format, cpplint

Implementing canonicalizer function
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
Due: clang-format, cpplint

Generating strided BRGEMM WIP: generating pxa.brgemm through stenciling
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/passes.h
Due: clang-format, cpplint

BRGEMM issue 1241
  pmlc/dialect/pxa/transforms/passes.h
Due: clang-format, cpplint

Set plaidml_device for EDSL tests on intel_gen
  ci/plan.yml
Due: none

only write / query timestamps if they are valid
  plaidbench/plaidbench/core.py
  pmlc/rt/vulkan/vulkan_runtime.cc
Due: clang-format, cpplint, yapf

cleanup
  plaidbench/plaidbench/core.py
Due: yapf

fix build error
  pmlc/rt/vulkan/vulkan_runtime.cc
Due: clang-format, cpplint

Resnet 50 now correct with subgroups
  plaidml/bridge/keras/backend_test.py
  pmlc/dialect/pxa/transforms/subgroups.cc
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint, yapf

i3d
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/i3d_test.cc
  plaidml/bridge/tensorflow/tests/i3d_test_gen.py
  plaidml/testenv.h
Due: clang-format, cpplint, yapf

Add Vulkan profiling support (#1334)
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
Due: clang-format, cpplint

Resnet 50 now correct with subgroups (#1341)
  plaidml/bridge/keras/backend_test.py
  pmlc/dialect/pxa/transforms/subgroups.cc
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint, yapf

Cleanups, prepare for landing
  bzl/bazel.rc
  ci/conda/tensorflow.yml
  conda/unix.yml
  plaidml/bridge/tensorflow/service/BUILD
  plaidml/bridge/tensorflow/service/compiler.cc
  plaidml/bridge/tensorflow/service/compiler.h
  plaidml/bridge/tensorflow/service/executable.cc
  plaidml/bridge/tensorflow/service/executable.h
  plaidml/bridge/tensorflow/service/executable_base.cc
  plaidml/bridge/tensorflow/service/executable_base.h
  plaidml/bridge/tensorflow/service/executor.cc
  plaidml/bridge/tensorflow/service/executor.h
  plaidml/bridge/tensorflow/service/platform.cc
  plaidml/bridge/tensorflow/service/platform.h
  plaidml/bridge/tensorflow/service/platform_id.cc
  plaidml/bridge/tensorflow/service/platform_id.h
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/codegen_test.cc
  plaidml/bridge/tensorflow/tests/codegen_test.h
  plaidml/bridge/tensorflow/tests/compare_op_test.cc
  plaidml/bridge/tensorflow/tests/conv_op_test.cc
  plaidml/bridge/tensorflow/tests/dot_op_test.cc
  plaidml/bridge/tensorflow/tests/eltwise_op_test.cc
  plaidml/bridge/tensorflow/tests/filecheck.cc
  plaidml/bridge/tensorflow/tests/filecheck.h
  plaidml/bridge/tensorflow/tests/i3d_test.cc
  plaidml/bridge/tensorflow/tests/logical_op_test.cc
  plaidml/bridge/tensorflow/tests/plaidml_codegen_test.h
  plaidml/bridge/tensorflow/tests/shape_op_test.cc
  plaidml/testenv.h
  vendor/tensorflow/workspace.bzl
Due: buildifier, clang-format, cpplint

Override python toolchain
  vendor/bazel/repo.bzl
  vendor/tensorflow/third_party/py/python_configure.bzl
  vendor/tensorflow/workspace.bzl
Due: buildifier

Build fixes
  .bazelci/presubmit.yml
  plaidml/bridge/tensorflow/service/BUILD
  vendor/tensorflow/third_party/py/python_configure.bzl
Due: buildifier

skip_windows
  plaidml/bridge/tensorflow/service/BUILD
  plaidml/bridge/tensorflow/tests/BUILD
Due: none

Move increment to the correct place
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Initial TensorFlow Bridge (#1316)
  WORKSPACE
  bzl/bazel.rc
  conda/unix.yml
  plaidml/bridge/tensorflow/service/BUILD
  plaidml/bridge/tensorflow/service/compiler.cc
  plaidml/bridge/tensorflow/service/compiler.h
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/codegen_test.cc
  plaidml/bridge/tensorflow/tests/codegen_test.h
  plaidml/bridge/tensorflow/tests/compare_op_test.cc
  plaidml/bridge/tensorflow/tests/conv_op_test.cc
  plaidml/bridge/tensorflow/tests/conv_op_test_gen.py
  plaidml/bridge/tensorflow/tests/dot_op_test.cc
  plaidml/bridge/tensorflow/tests/eltwise_op_test.cc
  plaidml/bridge/tensorflow/tests/i3d_test.cc
  plaidml/bridge/tensorflow/tests/i3d_test_gen.py
  plaidml/bridge/tensorflow/tests/logical_op_test.cc
  plaidml/bridge/tensorflow/tests/shape_op_test.cc
  plaidml/bridge/tensorflow/tests/shape_op_test_gen.py
  plaidml/testenv.h
  toolchain/BUILD
  vendor/bazel/repo.bzl
  vendor/tensorflow/BUILD
  vendor/tensorflow/third_party/py/python_configure.bzl
  vendor/tensorflow/workspace.bzl
Due: buildifier, clang-format, cpplint, yapf

Split out Vulkan invocation from device
  pmlc/rt/executable.cc
  pmlc/rt/internal.h
  pmlc/rt/runtime.cc
  pmlc/rt/runtime.h
  pmlc/rt/vulkan/BUILD
  pmlc/rt/vulkan/vulkan_device.cc
  pmlc/rt/vulkan/vulkan_device.h
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.h
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

Move increment to the correct place (#1342)
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

use stopwatch for v1 kernel timing
  plaidbench/plaidbench/core.py
Due: yapf

fix conditional logic
  plaidbench/plaidbench/core.py
Due: yapf

implement tile.gather operation and enable backend tests
  plaidml/bridge/keras/backend_test.py
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.td
Due: clang-format, cpplint, yapf

use stopwatch for v1 kernel timing (#1343)
  plaidbench/plaidbench/core.py
Due: yapf

Enable I3D test
  bzl/workspace.bzl
  plaidml/BUILD
  plaidml/bridge/openvino/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/BUILD
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/archive.fbs
  plaidml/bridge/tensorflow/tests/compare_op_test.cc
  plaidml/bridge/tensorflow/tests/dot_op_test.cc
  plaidml/bridge/tensorflow/tests/eltwise_op_test.cc
  plaidml/bridge/tensorflow/tests/i3d_test.cc
  plaidml/bridge/tensorflow/tests/i3d_test_gen.py
  pmlc/BUILD
  pmlc/testing/BUILD
  pmlc/util/bilp/BUILD
  vendor/openvino/openvino.BUILD
Due: buildifier, clang-format, cpplint, yapf

Cleanups
  plaidml/bridge/tensorflow/tests/i3d_test.cc
Due: clang-format, cpplint

Util
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/i3d_test_gen.py
  plaidml/bridge/tensorflow/tests/util.py
Due: yapf

Enable I3D test (#1344)
  bzl/workspace.bzl
  plaidml/BUILD
  plaidml/bridge/openvino/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/BUILD
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/archive.fbs
  plaidml/bridge/tensorflow/tests/compare_op_test.cc
  plaidml/bridge/tensorflow/tests/dot_op_test.cc
  plaidml/bridge/tensorflow/tests/eltwise_op_test.cc
  plaidml/bridge/tensorflow/tests/i3d_test.cc
  plaidml/bridge/tensorflow/tests/i3d_test_gen.py
  plaidml/bridge/tensorflow/tests/util.py
  pmlc/BUILD
  pmlc/testing/BUILD
  pmlc/util/bilp/BUILD
  vendor/openvino/openvino.BUILD
Due: buildifier, clang-format, cpplint, yapf

[skip ci] WIP resnext
  WORKSPACE
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/resnext_test.cc
  plaidml/bridge/tensorflow/tests/resnext_test_gen.py
  vendor/models/BUILD
  vendor/models/workspace.bzl
Due: buildifier, clang-format, cpplint, yapf

subgroup block ops moved to subgroup_broadcast
  pmlc/dialect/stdx/tests/subgroup_block_ops.mlir
  pmlc/dialect/stdx/transforms/subgroup_block_ops.cc
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/intel_gen/tests/subgroup_block_ops.mlir
Due: clang-format, cpplint

Abstract executable creation
  plaidml/exec/ffi.cc
  pmlc/rt/executable.cc
  pmlc/rt/executable.h
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Simplify runtime creation
  plaidml/exec/ffi.cc
  pmlc/rt/device_id.cc
  pmlc/rt/internal.h
  pmlc/rt/llvm/runtime.cc
  pmlc/rt/runtime.h
  pmlc/rt/runtime_registry.cc
  pmlc/rt/runtime_registry.h
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

fixing build issues on resnext_test_genrule
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/resnext_test_gen.py
Due: yapf
