Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

More ops with tests
  plaidml/bridge/openvino/src/plaidml_plugin/ops/ceiling.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/cos.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/divide.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/equal.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/select.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sin.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/subtract.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/tan.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/ceiling.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/cos.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/divide.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/sin.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/subtract.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/tan.cpp
Due: clang-format, cpplint

Pool fixes
  plaidml/bridge/openvino/src/plaidml_plugin/ops/avg_pool.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/max_pool.cpp
Due: clang-format, cpplint

WIP: OpenVino plugin reduce and/or (#1167)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/reduce_logical_and.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/reduce_logical_or.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/reduce_logical_and.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/reduce_logical_or.cpp
Due: clang-format, cpplint

Added openvino hardsigmoid op (#1175)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/hard_sigmoid.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/hard_sigmoid.cpp
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Clean up pool test precisions (to fp32)
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/pooling.cpp
Due: clang-format, cpplint

Fix pooling attribute extraction
  plaidml/bridge/openvino/src/plaidml_plugin/ops/avg_pool.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/max_pool.cpp
Due: clang-format, cpplint

Fix OpenVINO plugin pool failures (#1178)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/avg_pool.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/max_pool.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/pooling.cpp
Due: clang-format, cpplint

some clean-up
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

minor changes
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/select.cpp
Due: clang-format, cpplint

Draft Vulkan Dialect with an example
  pmlc/BUILD
  pmlc/conversion/gpu/BUILD
  pmlc/conversion/gpu/gpu_to_vulkan_dialect.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/conversion/gpu/passes.td
  pmlc/dialect/vulkan/BUILD
  pmlc/dialect/vulkan/ir/BUILD
  pmlc/dialect/vulkan/ir/ops.cc
  pmlc/dialect/vulkan/ir/ops.h
  pmlc/dialect/vulkan/ir/ops.td
  pmlc/dialect/vulkan/ir/types.cc
  pmlc/dialect/vulkan/ir/types.h
  pmlc/dialect/vulkan/tests/BUILD
  pmlc/dialect/vulkan/tests/eltwiseAdd.mlir
  pmlc/target/intel_gen/pipeline.cc
  pmlc/util/all_dialects.h
  pmlc/util/all_passes.h
Due: clang-format, cpplint

Update BUILD
  pmlc/BUILD
Due: none

Update BUILD
  pmlc/conversion/gpu/BUILD
Due: none

Clean up
  pmlc/conversion/gpu/gpu_to_vulkan_dialect.cc
Due: clang-format, cpplint

more ops
  plaidml/bridge/openvino/src/plaidml_plugin/ops/equal.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/less.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/less_equal.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/maximum.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/minimum.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/not_equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/less.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/less_equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/maximum.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/minimum.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/not_equal.cpp
Due: clang-format, cpplint

Openvino ops Div, Subtract, Sin, Cos
  plaidml/bridge/openvino/src/plaidml_plugin/ops/cos.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/divide.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sin.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/subtract.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/cos.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/divide.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/sin.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/subtract.cpp
Due: clang-format, cpplint

Openvino ops Div, Subtract, Sin, Cos (#1182)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/cos.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/divide.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sin.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/subtract.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/cos.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/divide.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/sin.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/subtract.cpp
Due: clang-format, cpplint

add mlir test for eltwise logical operators
  pmlc/conversion/tile_to_pxa/tests/eltwise_logical.mlir
Due: none

Add OpenVINO op ConvertLike
  plaidml/bridge/openvino/src/plaidml_plugin/ops/convert_like.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convert_like.cpp
Due: clang-format, cpplint

Add OpenVINO op Convert
  plaidml/bridge/openvino/src/plaidml_plugin/ops/convert.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convert.cpp
Due: clang-format, cpplint

Advance OV reference
  vendor/openvino/workspace.bzl
Due: buildifier

require eltwise logical ops to return boolean (i1)
  plaidml/edsl/tests/edsl_test.cc
  plaidml/testenv.h
  pmlc/conversion/tile_to_pxa/tests/eltwise_logical.mlir
  pmlc/dialect/eltwise/ir/ops.td
Due: clang-format, cpplint

Support for neg and bit_not ops
  plaidml/edsl/tests/edsl_test.cc
  plaidml/testenv.h
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Fix windows MAXPATH
  pmlc/conversion/tile_to_pxa/tests/add.mlir
  pmlc/conversion/tile_to_pxa/tests/logical.mlir
  pmlc/dialect/eltwise/ir/ops.td
Due: none

implement logical and & or (&&, ||) for C++ edsl (#1169)
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  plaidml/testenv.h
  pmlc/conversion/tile_to_pxa/tests/add.mlir
  pmlc/conversion/tile_to_pxa/tests/logical.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/ops.td
Due: clang-format, cpplint

fixes
  plaidml/bridge/openvino/src/plaidml_plugin/ops/maximum.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/minimum.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/maximum.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/minimum.cpp
Due: clang-format, cpplint

OpenVino Ops (#1181)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/equal.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/less.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/less_equal.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/maximum.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/minimum.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/not_equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/less.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/less_equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/maximum.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/minimum.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/not_equal.cpp
Due: clang-format, cpplint

Add OpenVINO ops Convert, ConvertLike (#1174)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/convert.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/convert_like.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convert.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convert_like.cpp
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Support for neg and bit_not ops (#1183)
  plaidml/edsl/tests/edsl_test.cc
  plaidml/testenv.h
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Add OpenVINO op Broadcast (#1168)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/broadcast.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/broadcast.cpp
Due: clang-format, cpplint

Openvino ops : ceil, greater, greater_eq, tan
  plaidml/bridge/openvino/src/plaidml_plugin/ops/ceiling.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/greater.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/greater_equal.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/tan.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/ceiling.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/greater.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/greater_equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/less_equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/tan.cpp
  vendor/openvino/openvino.BUILD
Due: buildifier, clang-format, cpplint

Fixes & cleanup
  plaidml/edsl/tests/edsl_test.cc
  pmlc/compiler/executable.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.h
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/tests/xsmm_stencil.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/target/x86/xsmm_stencil.cc
Due: clang-format, cpplint

Hoist dispatch
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Use assemblyFormat
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.h
  pmlc/dialect/xsmm/ir/ops.td
Due: clang-format, cpplint

More cleanup
  plaidml/plaidml_link.jsonnet
  pmlc/rt/xsmm.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/target/x86/xsmm_stencil.cc
Due: clang-format, cpplint

Fixes
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/target/x86/xsmm_stencil.cc
Due: clang-format, cpplint

Fix build
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

XSMM JIT split (#1096)
  plaidml/plaidml_link.jsonnet
  pmlc/compiler/executable.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.h
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/rt/xsmm.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/tests/xsmm_stencil.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/target/x86/xsmm_stencil.cc
Due: clang-format, cpplint

add comment for sin workaround
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sin.cpp
Due: clang-format, cpplint

Openvino ops : ceil, greater, greater_eq, tan (#1187)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/ceiling.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/greater.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/greater_equal.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/tan.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/ceiling.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/greater.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/greater_equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/less_equal.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/tan.cpp
  vendor/openvino/openvino.BUILD
Due: buildifier, clang-format, cpplint
