Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Downgrade to keras 2.2.4 (#479)
  conda/unix.yml
  conda/windows.yml
Due: none

Fix out-of-memory during training
  plaidml/plaidml.cc
  tile/platform/local_machine/fifo_scheduler.cc
  tile/platform/local_machine/program.cc
  tile/platform/local_machine/shim.cc
  tile/platform/local_machine/shim.h
Due: clang-format, cpplint

EDSL tests remove deprecation warnings
  plaidml2/edsl/edsl_test.py
Due: yapf

Fix constraint modification in reg_cache pass
  tile/codegen/reg_cache.cc
Due: clang-format, cpplint

EDSL tests - debug build failure
  plaidml2/edsl/edsl_test.py
Due: yapf

EDSL tests build fail debug
  plaidml2/edsl/edsl_test.py
Due: yapf

edsl implementation of batchdot
  plaidml2/bridge/keras/__init__.py
Due: yapf

modify batchdot backend test to match existing test
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Improve fusion by reducing constraints
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/nvidia.jsonnet
Due: none

Implement calls to XSMM for all Stripe types. Perf improvements.
  plaidml/keras/backend_test.py
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
  tile/targets/cpu/executable.cc
Due: clang-format, cpplint, yapf

compatibility fixes
  plaidml2/bridge/keras/__init__.py
Due: yapf

Implement calls to XSMM for all Stripe types. Perf improvements. (#485)
  plaidml/keras/backend_test.py
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
  tile/targets/cpu/executable.cc
Due: clang-format, cpplint, yapf

WIP
  plaidml2/bridge/keras/__init__.py
  plaidml2/core/internal.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/exec/BUILD
  plaidml2/exec/__init__.py
  plaidml2/exec/ffi.cc
  plaidml2/exec/ffi.h
  plaidml2/plaidml_setup.py
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/internal.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/lowering.h
  tile/base/platform.h
  tile/codegen/test/cache.cc
  tile/codegen/test/dce.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/load_index.cc
  tile/codegen/test/tile.cc
  tile/lang/BUILD
  tile/lang/ast/ast.h
  tile/lang/compose.h
  tile/lang/gen_stripe.cc
  tile/lang/gen_stripe.h
  tile/lang/runinfo.h
  tile/lib/lib.h
  tile/lib/tests.h
  tile/ocl_exec/stripe_gen.h
  tile/platform/local_machine/program.h
  tile/platform/stripejit/program.h
  tile/pmlc/pmlc.h
  tile/targets/cpu/test/jit.cc
  tile/util/tile_file.cc
  tile/util/tile_file.h
  tools/conda_run/conda_unix.cc
Due: clang-format, cpplint, yapf

Mergify integration
  .mergify.yml
Due: none

Use smart strict merging
  .mergify.yml
Due: none

Mergify integration (#486)
  .mergify.yml
Due: none

[skip ci] gfx804
  ci/golden/infer/imdb_lstm/keras-plaid-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/imdb_lstm/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/imdb_lstm/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/golden/infer/imdb_lstm/keras-stripe-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/imdb_lstm/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/inception_v3/keras-plaid-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/inception_v3/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/inception_v3/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/golden/infer/inception_v3/keras-stripe-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/inception_v3/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/inception_v3/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet/keras-plaid-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet/keras-stripe-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet_v2/keras-plaid-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet_v2/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet_v2/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet_v2/keras-stripe-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet_v2/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet_v2/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/golden/infer/resnet50/keras-plaid-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/resnet50/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/golden/infer/resnet50/keras-stripe-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/resnet50/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/golden/infer/vgg19/keras-plaid-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/vgg19/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/vgg19/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/golden/infer/xception/keras-plaid-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/xception/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/xception/keras-plaid-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/harness.py
  ci/pipeline.yml
  ci/plan.yml
  ci/util.py
Due: yapf

gfx804 tests
  ci/plan.yml
Due: none

gfx804 tests
  ci/util.py
Due: yapf

prefer latest py3.6
  conda/ml_gpu.yml
  conda/plaidml.yml
  conda/sphinx.yml
  conda/tensorflow.yml
Due: none

gfx804 tests
  conda/ml_gpu.yml
  conda/plaidml.yml
  conda/sphinx.yml
  conda/tensorflow.yml
Due: none

gfx804 tests
  ci/golden/infer/vgg19/keras-stripe-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/vgg19/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/vgg19/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.npy
  ci/golden/infer/xception/keras-stripe-ocl-gfx804/BATCH_SIZE=1/report.json
  ci/golden/infer/xception/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.json
  ci/golden/infer/xception/keras-stripe-ocl-gfx804/BATCH_SIZE=1/result.npy
Due: none

Delete branch after squash
  .mergify.yml
Due: none

fix merge conflict
  plaidml2/bridge/keras/backend_test.py
Due: yapf

WIP: implement batch_dot in plaidml2 (#482)
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Create CI integration documentation
  docs/integrating_into_ci.md
Due: none

formatting
  docs/integrating_into_ci.md
Due: none

hard wrap 80
  docs/integrating_into_ci.md
Due: none

EDSL - assignemntExceptions test fix
  plaidml2/edsl/edsl_test.py
Due: yapf

Avoid ReLU grad details in RNN test
  plaidml/keras/backend_test.py
  plaidml2/bridge/keras/backend_test.py
Due: yapf
