Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Add clear_outer option
  tile/codegen/autotile.cc
  tile/codegen/codegen.proto
Due: clang-format, cpplint

Use unordered_set for perf win
  tile/codegen/schedule.cc
Due: clang-format, cpplint

Support for GPU codegen
  tile/base/shape.h
  tile/codegen/autotile.cc
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/thread_inner.cc
  tile/codegen/thread_inner.h
  tile/lang/BUILD
  tile/lang/gen_contract.cc
  tile/lang/loop.cc
  tile/lang/out_plan.cc
  tile/lang/read_plan.cc
  tile/lang/tile_opt.cc
  tile/math/BUILD
  tile/math/mutil.h
Due: clang-format, cpplint

Fixed merge conflict
  tile/codegen/codegen.proto
Due: clang-format

Signed/unsigned fix
  tile/codegen/autotile.cc
Due: clang-format, cpplint

Fix test bug
  tile/codegen/test/schedule.cc
Due: clang-format, cpplint

Plumb keras node names thru to tile/stripe
  plaidml/keras/backend.py
  plaidml/tile.py
Due: yapf

Add i8_mode
  tile/lang/gen_stripe.cc
  tile/lang/gen_stripe.h
Due: clang-format, cpplint

Backwards compat fix
  tile/util/tile_file.cc
Due: clang-format, cpplint

Improve eltwise block names
  plaidml/op.py
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint, yapf

Add virtual indexes to stencil matcher
  tile/codegen/tile.cc
Due: clang-format, cpplint

Fix tests
  plaidml/keras/backend.py
  tile/codegen/test/fuse.cc
Due: clang-format, cpplint, yapf

Add inner_reqs to LocateInnerBlockPass
  tile/codegen/codegen.proto
  tile/codegen/localize.cc
  tile/codegen/localize.h
Due: clang-format, cpplint

Dropping cruft
  tools/bazel.rc
Due: none

Change nan to inf
  plaidml/keras/tutorial_test.py
Due: yapf

Added documentation the the stripe + passes protos
  tile/codegen/codegen.proto
  tile/stripe/stripe.proto
Due: clang-format

Added a TODO about missing docs
  tile/codegen/codegen.proto
Due: clang-format

Merge branch 'master' of github.com:vertexai/plaidml into documentation
  plaidml/keras/tutorial_test.py
Due: yapf

Added limited documentation about stenciling
  tile/codegen/codegen.proto
Due: clang-format

Fixed spelling errors
  tile/codegen/codegen.proto
  tile/stripe/stripe.proto
Due: clang-format

PR review notes updated
  README.md
Due: none

More clarifications to README
  README.md
Due: none

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

