Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Fix
  vendor/openmp/openmp.BUILD
Due: buildifier

Fixes
  conda/unix.BUILD
  conda/unix.yml
  conda/windows.BUILD
  pmlc/rt/llvm/openmp.cc
  pmlc/rt/tests/openmp.mlir
  vendor/openmp/openmp.BUILD
Due: buildifier, clang-format, cpplint

Replace genrule with run_binary
  vendor/openmp/openmp.BUILD
Due: buildifier

Fix windows
  vendor/openmp/openmp.BUILD
Due: buildifier

Add basic integration test for openmp (#1448)
  conda/unix.BUILD
  conda/unix.yml
  conda/windows.BUILD
  pmlc/rt/jit_executable.cc
  pmlc/rt/llvm/BUILD
  pmlc/rt/llvm/openmp.cc
  pmlc/rt/openmp/parallel_test.cc
  pmlc/rt/tests/BUILD
  pmlc/rt/tests/openmp.mlir
  pmlc/rt/tests/openmp_test.cc
  vendor/openmp/openmp.BUILD
Due: buildifier, clang-format, cpplint

Drop simplify/no_reduce from contractions
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  plaidml/op/lib/ops.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/dialect/tile/transforms/contraction.h
  pmlc/dialect/tile/transforms/pad_ranges.cc
Due: clang-format, cpplint, yapf

Replace Tensor::operator[] with Tensor::element()
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

Changed the factor to 256 - power of 2.
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

[comp] Fix execenv_coalesce access after erase
  pmlc/dialect/comp/transforms/execenv_coalescing.cc
Due: clang-format, cpplint

Replace Tensor::operator[] with Tensor::element() (#1450)
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

[comp] Fix execenv_coalesce access after erase (#1452)
  pmlc/dialect/comp/transforms/execenv_coalescing.cc
Due: clang-format, cpplint

Further reduce code duplication, minor cleanup
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/brgemm_call.mlir
  pmlc/target/x86/tests/brgemm_call2.mlir
  pmlc/target/x86/tests/brgemm_stencil.mlir
  pmlc/target/x86/tests/xsmm_brgemm_stencil.mlir
Due: clang-format, cpplint

[rfc] Setup/Teardown Plan
  designs/RFC - Network Setup Teardown Optimization.md
Due: none

Adjusted the loop unroll factor (#1446)
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Improve naming, get rid of duplicate tests via adding proper run lines
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/brgemm_call.mlir
  pmlc/target/x86/tests/brgemm_call2.mlir
  pmlc/target/x86/tests/brgemm_stencil.mlir
  pmlc/target/x86/tests/xsmm_brgemm_stencil.mlir
  pmlc/target/x86/tests/xsmm_gemm_call.mlir
  pmlc/target/x86/tests/xsmm_stencil.mlir
Due: clang-format, cpplint

Fixes
  environment-windows.yml
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/rt/jit_executable.cc
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/tests/multi-kernel.mlir
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Specify IO buffers at invocation time (#1447)
  environment-windows.yml
  networks/oplib/benchmark.cc
  networks/oplib/oplib.h
  networks/oplib/resnet50.cc
  networks/oplib/run.cc
  plaidml/bridge/keras/__init__.py
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.cpp
  plaidml/core/__init__.py
  plaidml/core/core.h
  plaidml/core/ffi.cc
  plaidml/core/ffi.h
  plaidml/edsl/tests/edsl_test.py
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
  plaidml/exec/ffi.cc
  plaidml/exec/ffi.h
  plaidml/testenv.h
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/rt/device.h
  pmlc/rt/executable.cc
  pmlc/rt/executable.h
  pmlc/rt/jit_executable.cc
  pmlc/rt/jit_executable.h
  pmlc/rt/llvm/device.cc
  pmlc/rt/llvm/device.h
  pmlc/rt/opencl/opencl_device.cc
  pmlc/rt/opencl/opencl_device.h
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/tests/multi-kernel.mlir
  pmlc/rt/vulkan/vulkan_device.cc
  pmlc/rt/vulkan/vulkan_device.h
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-opencl-runner/pmlc-opencl-runner.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint, yapf

Fix
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/dialect/tile/transforms/contraction.h
Due: clang-format, cpplint

Drop simplify/no_reduce from contractions (#1449)
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  plaidml/op/lib/ops.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/dialect/tile/transforms/contraction.h
  pmlc/dialect/tile/transforms/pad_ranges.cc
Due: clang-format, cpplint, yapf

rework pass: we will lower from scf.parallel instead of affine.parallel
  pmlc/BUILD
  pmlc/conversion/affine_to_omp/pass_detail.h
  pmlc/conversion/affine_to_omp/passes.td
  pmlc/conversion/scf_to_omp/BUILD
  pmlc/conversion/scf_to_omp/pass_detail.h
  pmlc/conversion/scf_to_omp/passes.h
  pmlc/conversion/scf_to_omp/passes.td
  pmlc/conversion/scf_to_omp/scf_to_omp.cc
  pmlc/conversion/scf_to_omp/tests/BUILD
  pmlc/conversion/scf_to_omp/tests/scf_to_omp.mlir
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Drop unused code
  pmlc/util/slice.cc
  pmlc/util/slice.h
Due: clang-format, cpplint

Add !comp.network; editorial tweaks
  designs/RFC - Network Setup Teardown Optimization.md
Due: none

Drop unused code (#1454)
  pmlc/util/slice.cc
  pmlc/util/slice.h
Due: clang-format, cpplint

Add sort intrinsic to eDSL
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  pmlc/ast/ast_ops.cc
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/BUILD
  pmlc/dialect/tile/ir/base.td
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/ir/ops.td
Due: clang-format, cpplint, yapf

Fix
  pmlc/ast/builder.cc
Due: clang-format, cpplint

Fix
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

Fix typo
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

Add pragma op to eDSL
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  plaidml/plaidml_link.jsonnet
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/ast/eval.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/target/x86/tests/trace.mlir
Due: clang-format, cpplint, yapf

added gpu_to_spirv conversions to broadcast and block ops
  pmlc/conversion/gpu/kernel_outlining.cc
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
Due: clang-format, cpplint

Fusion on the gen9
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

initial tilings to fusion pass
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/fusion.cc
Due: clang-format, cpplint

added pxa memory interfaces
  pmlc/dialect/pxa/ir/BUILD
  pmlc/dialect/pxa/ir/interfaces.cc
  pmlc/dialect/pxa/ir/interfaces.h
  pmlc/dialect/pxa/ir/interfaces.td
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/fusion.cc
Due: clang-format, cpplint

undoTiling implementation
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/pxa/transforms/tile.h
Due: clang-format, cpplint

code cleanup
  pmlc/dialect/pxa/ir/interfaces.h
  pmlc/dialect/pxa/ir/interfaces.td
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/fusion.cc
Due: clang-format, cpplint

tiled fusion next part
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
Due: clang-format, cpplint

parametrized fusion and test added
  pmlc/dialect/pxa/tests/fusion-tiled.mlir
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

more changes
  pmlc/dialect/pxa/tests/fusion-tiled.mlir
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

added vector support to I1StorageToI32
  pmlc/dialect/stdx/tests/i1_to_i32.mlir
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
Due: clang-format, cpplint

added some headers for linux compilation
  pmlc/dialect/pxa/ir/interfaces.h
Due: clang-format, cpplint

disable tiled fusion for now
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint
