Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

implement additional stripejit timer profiling for loop body segment only (#428)
  tile/targets/cpu/jit.cc
  tile/targets/cpu/jit.h
Due: clang-format, cpplint

add initial presubmit yml for use with BazelCI
  .bazelci/presubmit.yml
Due: none

a more complete list of presubmit tasks
  .bazelci/presubmit.yml
Due: none

Set exit code on sharded backend_test
  plaidml/keras/backend_test.py
Due: yapf

clean up conda shell commands
  .bazelci/presubmit.yml
Due: none

Transfer learning demo with notebook and requirements
  demos/TransferLearning/README.md
  demos/TransferLearning/TransferLearningDemo.ipynb
  demos/TransferLearning/TransferLearningDemo.py
  demos/TransferLearning/requirements.txt
Due: yapf

WIP - Add initial presubmit yml for use with BazelCI (#435)
  .bazelci/presubmit.yml
Due: none

Fixed README.MD format for demos
  demos/TransferLearning/README.md
Due: none

Transfer Learning (dogs and cats) demo (#429)
  demos/TransferLearning/README.md
  demos/TransferLearning/TransferLearningDemo.ipynb
  demos/TransferLearning/TransferLearningDemo.py
  demos/TransferLearning/requirements.txt
Due: yapf

fix
  tile/lang/compose.cc
Due: clang-format, cpplint

fix
  plaidml/keras/backend.py
  tile/lang/compose.cc
Due: clang-format, cpplint, yapf

fix tile bug
  tile/lang/compose.cc
Due: clang-format, cpplint

prepare for rebase
  tile/lang/compose.cc
Due: clang-format, cpplint

Revert "fix tile bug"
  tile/lang/compose.cc
Due: clang-format, cpplint

fix random uniform problem
  plaidml/keras/backend.py
Due: yapf

add command-line arguments to configure
  configure
Due: none

shard backend_test :three:shards
  ci/buildkite.py
  ci/harness.py
  ci/pipeline.yml
  ci/plan.yml
  ci/report.py
  plaidml/keras/backend_test.py
Due: yapf

Fix a bad calculation of element pointer in CPU Jit.
  plaidml/keras/backend_test.py
  tile/codegen/placer.cc
  tile/hal/opencl/emitocl.cc
  tile/platform/stripejit/program.cc
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint, yapf

add more args to configure
  configure
Due: none

Fix a bad calculation of element pointer in CPU Jit. (#440)
  plaidml/keras/backend_test.py
  tile/codegen/placer.cc
  tile/hal/opencl/emitocl.cc
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint, yapf

add ci mode
  configure
Due: none

Rename MLIR dialects
  bzl/bazel.rc
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/analysis.h
  pmlc/dialect/stripe/attrs.h
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/mlir.h
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/padding_pass.cc
  pmlc/dialect/stripe/padding_pass.h
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/to_stripe.cc
  pmlc/dialect/stripe/to_stripe_mlir.cc
  pmlc/dialect/stripe/transcode.h
  pmlc/dialect/stripe/types.h
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
  pmlc/dialect/tile/tile_test.cc
  pmlc/tools/pmlc-opt/BUILD
  tile/codegen/BUILD
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/mlir_passes.cc
Due: clang-format, cpplint

add link to troubleshooting docs
  README.md
Due: none

update building docs to match configure script updates
  docs/building.md
Due: none

add toolchain issue to troubleshooting docs
  docs/troubleshooting.md
Due: none

text wrap
  docs/building.md
Due: none

fix formatting
  docs/troubleshooting.md
Due: none

fix typos and wording
  docs/building.md
Due: none

rewording bazel common issues
  docs/troubleshooting.md
Due: none

Documentation Updates (#444)
  README.md
  docs/building.md
  docs/troubleshooting.md
Due: none

Improve formatting
  docs/troubleshooting.md
Due: none

Improve formatting (#445)
  docs/troubleshooting.md
Due: none
