Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Adding print statements
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layouts.mlir
Due: none

Removing unused variables from the test file
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layouts.mlir
Due: none

Update to base on OpenVINO commit 3a86b3a17e3311a69687b8147b6f2317d60b8b82 (Feb 2, 2021)
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/bucketize.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/scatter_update.cpp
Due: clang-format, cpplint

simplify code
  plaidml/bridge/openvino/ops/deformable_convolution.cpp
Due: clang-format, cpplint

Add PriorBoxClustered and tests.
  plaidml/bridge/openvino/ops/prior_box_clustered.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/prior_box_clustered.cpp
Due: clang-format, cpplint

Update openvino git tag
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Update to a numeric stable implementation
  plaidml/bridge/openvino/ops/log_softmax.cpp
Due: clang-format, cpplint

Code clean.
  plaidml/bridge/openvino/ops/prior_box_clustered.cpp
Due: clang-format, cpplint

Update commit tag.
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Update OpenVINO, including upstream fix on Roi Pooling and Roi Align (#1687)
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/bucketize.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/scatter_update.cpp
Due: clang-format, cpplint

CPack with single binary
  CMakeLists.txt
  cmake/pml_cc_binary.cmake
  cmake/pml_cc_library.cmake
  plaidml/bridge/openvino/CMakeLists.txt
  pmlc/conversion/pxa_to_affine/CMakeLists.txt
  pmlc/target/x86/CMakeLists.txt
Due: none

Locate opencv lib files
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Add OpenVino LogSoftmax Op (#1688)
  plaidml/bridge/openvino/ops/log_softmax.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/log_softmax.cpp
Due: clang-format, cpplint

Adding OpenCL lib
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

fix the roi_pooling max and bilinear mode. add inputLayerType for test cases.
  plaidml/bridge/openvino/ops/roi_pooling.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/roi_pooling.cpp
Due: clang-format, cpplint

add f16 test and remove useless comment
  plaidml/bridge/openvino/ops/roi_pooling.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/roi_pooling.cpp
Due: clang-format, cpplint

comment f16 type and update openvino commit
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/roi_pooling.cpp
Due: clang-format, cpplint

Small fix.
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/ops/prior_box_clustered.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/prior_box_clustered.cpp
Due: clang-format, cpplint

refactor code
  plaidml/bridge/openvino/ops/deformable_convolution.cpp
Due: clang-format, cpplint

Add prior box clustered (#1689)
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/ops/prior_box_clustered.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/prior_box_clustered.cpp
Due: clang-format, cpplint

Work around upstream nonnegative AxisSet
  plaidml/bridge/openvino/ops/reverse.cpp
  plaidml/bridge/openvino/ops/squeeze.cpp
  plaidml/bridge/openvino/ops/unsqueeze.cpp
Due: clang-format, cpplint

Add fixes from review
  pmlc/.clang-format
  pmlc/dialect/tile/ir/ops.cc
Due: clang-format, cpplint

Add verifier to ReshapeOp
  pmlc/.clang-format
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
Due: clang-format, cpplint

Fix illegal flattens in test
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
Due: clang-format, cpplint, yapf

Update based on new OV reference
  plaidml/bridge/openvino/ops/reverse.cpp
  plaidml/bridge/openvino/ops/squeeze.cpp
  plaidml/bridge/openvino/ops/unsqueeze.cpp
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Code format.
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/prior_box_clustered.cpp
Due: clang-format, cpplint

Update with new get_axis_set_from_constant_operand
  plaidml/bridge/openvino/ops/reverse.cpp
  plaidml/bridge/openvino/ops/unsqueeze.cpp
  plaidml/bridge/openvino/plaidml_util.cpp
  plaidml/bridge/openvino/plaidml_util.hpp
Due: clang-format, cpplint

Remove support for weird Keras case
  plaidml/bridge/keras/__init__.py
  plaidml/bridge/keras/backend_test.py
Due: yapf

Add a verifier to ReshapeOp (#1678)
  plaidml/bridge/keras/__init__.py
  plaidml/bridge/keras/backend_test.py
  plaidml/bridge/openvino/ops/reverse.cpp
  plaidml/bridge/openvino/plaidml_util.cpp
  plaidml/bridge/openvino/plaidml_util.hpp
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
Due: clang-format, cpplint, yapf

Creating data copy ops after all writes
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  pmlc/dialect/pxa/transforms/reorder_layouts.h
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layouts.mlir
Due: clang-format, cpplint

add GatherND support
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/ast_ops.cc
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tests/gather.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/ir/ops.td
  pmlc/util/enums.td
Due: clang-format, cpplint, yapf

add GatherND op
  plaidml/bridge/openvino/ops/gather_nd.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/gather_nd.cpp
Due: clang-format, cpplint

Fix ROIPooling op (#1690)
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/ops/roi_pooling.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/roi_pooling.cpp
Due: clang-format, cpplint

add gather nd support (#1695)
  plaidml/bridge/openvino/ops/gather_nd.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/gather_nd.cpp
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/ast_ops.cc
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tests/gather.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/ir/ops.td
  pmlc/util/enums.td
Due: clang-format, cpplint, yapf

fix gather nd typos and naming
  plaidml/bridge/openvino/ops/gather_nd.cpp
  pmlc/ast/ast_ops.cc
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
Due: clang-format, cpplint

Fix ROI Align
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/ops/roi_align.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/roi_align.cpp
Due: clang-format, cpplint

reduce for loop
  plaidml/bridge/openvino/ops/deformable_convolution.cpp
Due: clang-format, cpplint

make pxa load and reduce memref normalizable
  bzl/workspace.bzl
  cmake/third_party/llvm-project.cmake
  pmlc/dialect/pxa/ir/interfaces.td
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/normalize-memrefs.mlir
Due: buildifier, clang-format, cpplint

update cmake hash value
  cmake/third_party/llvm-project.cmake
Due: none

fix gather nd typos and naming (#1696)
  plaidml/bridge/openvino/ops/gather_nd.cpp
  pmlc/ast/ast_ops.cc
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
Due: clang-format, cpplint
