Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

notes added reversible test added
  networks/edsl_examples/reorgyolo.py
  networks/edsl_examples/tests.py
Due: yapf

cleanup
  networks/edsl_examples/reorgyolo.py
Due: yapf

Added vkprobe to cc_test_gpu Disable cc_test_gpu on Mac
  pmlc/lit.bzl
  pmlc/rt/vulkan/tests/BUILD
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
  pmlc/rt/vulkan/tests/lit.local.cfg
Due: buildifier, clang-format, cpplint

WIP
  pmlc/lit.bzl
Due: buildifier

Fix cc_test_gpu linking issue
  pmlc/conversion/gpu/passes.td
  pmlc/rt/vulkan/tests/BUILD
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/vulkan_rt.jsonnet
  pmlc/rt/vulkan/wrappers.cc
  pmlc/target/intel_gen/tests/multi-kernel.mlir
Due: clang-format, cpplint

Add fill resource function
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

Move vulkan runner tests to rt/vulkan/tests
  pmlc/rt/vulkan/tests/multi-kernel.mlir
Due: none

Add all tests passed on local machine
  pmlc/rt/vulkan/tests/BUILD
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
  pmlc/rt/vulkan/tests/multi-kernel.mlir
  pmlc/rt/vulkan/tests/testenv.cc
  pmlc/rt/vulkan/tests/testenv.h
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

Remove all UINT64 tests failed on CI
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
Due: clang-format, cpplint

GPU-SPIRV-Vulkan support (#1011)
  pmlc/BUILD
  pmlc/conversion/gpu/BUILD
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/conversion/gpu/kernel_outlining.cc
  pmlc/conversion/gpu/llvm_lowering.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/conversion/gpu/pass_detail.h
  pmlc/conversion/gpu/passes.td
  pmlc/lit.cfg.py
  pmlc/lit.site.cfg.py
  pmlc/rt/vulkan/HAL.txt
  pmlc/rt/vulkan/tests/BUILD
  pmlc/rt/vulkan/tests/CPPLINT.cfg
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
  pmlc/rt/vulkan/tests/multi-kernel.mlir
  pmlc/rt/vulkan/tests/testenv.cc
  pmlc/rt/vulkan/tests/testenv.h
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/rt/vulkan/wrappers.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/tests/BUILD
  pmlc/target/intel_gen/tests/dotf.mlir
  pmlc/target/intel_gen/tests/e2e.mlir
  pmlc/target/intel_gen/tests/intermediate.mlir
  pmlc/target/intel_gen/tests/lit.local.cfg
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint, yapf

Use a simple pattern match replacer for coinstant types rewrites.
  ci/plan.yml
  plaidml/bridge/keras/backend_test.py
  pmlc/dialect/tile/transforms/constant_types.cc
  pmlc/dialect/tile/transforms/passes.td
Due: clang-format, cpplint, yapf

Use a simple pattern match replacer for coinstant types rewrites. (#1034)
  ci/plan.yml
  plaidml/bridge/keras/backend_test.py
  pmlc/dialect/tile/transforms/constant_types.cc
  pmlc/dialect/tile/transforms/passes.td
Due: clang-format, cpplint, yapf

bump llvm to 3ee1ec0
  bzl/workspace.bzl
  pmlc/dialect/tile/ir/base.td
Due: buildifier

WIP
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fix all of the BoundCheck failing tests
  plaidml/bridge/keras/backend_test.py
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

Renamed some variables.
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Changed a type from SmallVector to ArrayRef. Fixed a bug in the backend_test script that was not working properly with do_grad=False
  plaidml/bridge/keras/backend_test.py
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

Fix all of the BoundCheck failing tests (#1037)
  plaidml/bridge/keras/backend_test.py
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

Enable some conv tests
  ci/plan.yml
Due: none

Enable some conv tests (#1038)
  ci/plan.yml
Due: none

Fix missing fp16 rt symbols
  bzl/half.BUILD
  bzl/workspace.bzl
  plaidml/BUILD
  plaidml/setup.py
  pmlc/rt/BUILD
  pmlc/rt/runtime.cc
Due: buildifier, clang-format, cpplint, yapf

Fix missing fp16 rt symbols (#1040)
  bzl/half.BUILD
  bzl/workspace.bzl
  plaidml/BUILD
  plaidml/setup.py
  pmlc/rt/BUILD
  pmlc/rt/runtime.cc
Due: buildifier, clang-format, cpplint, yapf

WIP Adjust logging during debug
  pmlc/dialect/pxa/transforms/stencil_generic.cc
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Fix XSMM tensor/index association
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Clean up TileSizeGenerator
  pmlc/dialect/pxa/transforms/stencil_generic.h
  pmlc/dialect/pxa/transforms/stencil_xsmm.cc
Due: clang-format, cpplint

Add asserts
  pmlc/dialect/pxa/transforms/stencil_generic.cc
Due: clang-format, cpplint

Update comments
  pmlc/dialect/pxa/transforms/stencil_generic.cc
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Add getIdxRange assert
  pmlc/dialect/pxa/transforms/stencil_generic.cc
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Add example cost fcn
  pmlc/dialect/pxa/transforms/stencil_generic.cc
  pmlc/dialect/pxa/transforms/stencil_generic.h
  pmlc/dialect/pxa/transforms/stencil_xsmm.cc
Due: clang-format, cpplint

Add numThreads stencil pass option
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Make blockArg containment checks consistent
  pmlc/dialect/pxa/transforms/stencil_generic.cc
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Use ArgNumber not raw BlockArg as key
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Fix bestTiling copy
  pmlc/dialect/pxa/transforms/stencil_generic.cc
Due: clang-format, cpplint

WIP Complete requirements for GEMM
  pmlc/dialect/pxa/transforms/stencil_xsmm.cc
Due: clang-format, cpplint

WIP
  pmlc/dialect/pxa/transforms/stencil_generic.cc
Due: clang-format, cpplint

Use llvm::None for failure to match
  pmlc/dialect/pxa/transforms/stencil_xsmm.cc
Due: clang-format, cpplint

Patch tile size order mismatch
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Report blockArgs not from stenciled loop
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Construct XSMM op
  pmlc/dialect/pxa/transforms/stencil_generic.h
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Switch to recursive index tiling
  pmlc/dialect/pxa/transforms/stencil_generic.cc
  pmlc/dialect/pxa/transforms/stencil_generic.h
  pmlc/dialect/pxa/transforms/stencil_xsmm.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

