Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Fix float16 support (#1461)
  .gdbinit
  plaidml/bridge/tensorflow/tests/codegen_test.cc
  plaidml/bridge/tensorflow/tests/codegen_test.h
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/op_test.cc
  plaidml/testenv.cc
  plaidml/testenv.h
  pmlc/dialect/pxa/ir/BUILD
  pmlc/dialect/pxa/ir/matchers.h
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/brgemm_call2.mlir
  pmlc/target/x86/tests/brgemm_stencil.mlir
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_gemm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/tests/xsmm_stencil.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/util/matchers.h
Due: clang-format, cpplint

register scf_to_omp pass so we can run it through pmlc-opt
  pmlc/all_passes.h
Due: clang-format, cpplint

incremental progress on OpenMP parallel block lowering
  pmlc/conversion/scf_to_omp/scf_to_omp.cc
  pmlc/conversion/scf_to_omp/tests/scf_to_omp.mlir
Due: clang-format, cpplint

[OpenCL] Fix incorrect builtins type (#1467)
  pmlc/target/intel_gen_ocl_spirv/legalize_spirv.cc
  pmlc/target/intel_gen_ocl_spirv/passes.h
  pmlc/target/intel_gen_ocl_spirv/passes.td
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/tests/legalize_spirv.mlir
Due: clang-format, cpplint

Add a basic 'threading' pass for the CPU. (#1463)
  pmlc/dialect/pxa/tests/cpu_thread.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/cpu_thread.cc
  pmlc/dialect/pxa/transforms/pass_detail.h
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/util/tags.h
Due: clang-format, cpplint

getArgNumber, tensor strides, common cache miss func
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/transforms/subgroups.cc
Due: clang-format, cpplint

fix subgroup cost model (#1464)
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/transforms/subgroups.cc
Due: clang-format, cpplint

Devectorize constants
  pmlc/dialect/pxa/ir/ops.h
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/intel_gen/tests/subgroup_broadcast.mlir
Due: clang-format, cpplint

Bump pointer
  bzl/workspace.bzl
Due: buildifier

Fix build
  pmlc/dialect/pxa/transforms/stencil.cc
Due: clang-format, cpplint

Initial frozen graph attempt
  plaidml/bridge/tensorflow/service/BUILD
  plaidml/bridge/tensorflow/service/graph_util.cc
  plaidml/bridge/tensorflow/service/graph_util.h
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/i3d_frozen_graph_gen.py
  plaidml/bridge/tensorflow/tests/i3d_test.cc
  plaidml/bridge/tensorflow/tests/i3d_test_gen.py
  vendor/tensorflow/workspace.bzl
Due: buildifier, clang-format, cpplint, yapf

Rework pass to not use conversion
  pmlc/conversion/scf_to_omp/scf_to_omp.cc
Due: clang-format, cpplint

more frozen graph work
  WORKSPACE
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/codegen_test.cc
  plaidml/bridge/tensorflow/tests/codegen_test.h
  plaidml/bridge/tensorflow/tests/resnext_test.cc
  plaidml/bridge/tensorflow/tests/resnext_test_gen.py
  vendor/models/BUILD
  vendor/models/workspace.bzl
Due: buildifier, clang-format, cpplint, yapf

use omp thread ID for parallel loop index
  pmlc/conversion/scf_to_omp/scf_to_omp.cc
  pmlc/conversion/scf_to_omp/tests/scf_to_omp.mlir
Due: clang-format, cpplint

[edsl] Add support for layout-agnostic ops
  plaidml/edsl/edsl.h
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Add loop unrolling to the x86 pipeline.
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Get subgroup size from subgroupSize attribute
  pmlc/conversion/gpu/gpu_to_vulkan.cc
Due: clang-format, cpplint

Now we crash in the jitted code!
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/scf_to_omp/scf_to_omp.cc
  pmlc/rt/BUILD
  pmlc/rt/builtin.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

[OpenCL] Add lowering for std.exp to spv.OCL.exp
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/conversion/gpu_to_spirv/passes.h
Due: clang-format, cpplint

Add loop unrolling to the x86 pipeline. (#1474)
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

WIP
  pmlc/rt/jit_executable.cc
  pmlc/target/x86/pipeline.cc
  pmlc/transforms/BUILD
  pmlc/transforms/boxing.cc
  pmlc/transforms/make_entrypoints.cc
  pmlc/transforms/passes.h
  pmlc/transforms/passes.td
Due: clang-format, cpplint

OMP test should verify generation of omp.parallel and terminator ops
  pmlc/conversion/scf_to_omp/tests/scf_to_omp.mlir
Due: none

[OpenCL] Add lowering for std.exp to spv.OCL.exp (#1477)
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/conversion/gpu_to_spirv/passes.h
Due: clang-format, cpplint

Fix bind_dims and add more tests
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  plaidml/ffi.py
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/ast/eval.cc
  pmlc/ast/eval.h
Due: clang-format, cpplint, yapf

Fixes
  plaidml/core/ffi.cc
  plaidml/core/internal.h
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/op/__init__.py
  plaidml/op/ffi.cc
  plaidml/op/ffi.h
  plaidml/op/op.h
  plaidml/plaidml_link.jsonnet
  pmlc/ast/builder.cc
  pmlc/compiler/program.cc
  pmlc/compiler/program.h
Due: clang-format, cpplint, yapf

Address PR comments
  plaidml/bridge/tensorflow/service/BUILD
  plaidml/bridge/tensorflow/service/graph_util.cc
  plaidml/bridge/tensorflow/service/graph_util.h
  plaidml/bridge/tensorflow/tests/i3d_test.cc
  plaidml/bridge/tensorflow/tests/resnext_test.cc
Due: clang-format, cpplint

block ops support enabled for opencl
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/spirv_target.cc
Due: clang-format, cpplint

moved to GroupNonUniformBroadcastOp
  pmlc/conversion/gpu/kernel_outlining.cc
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
Due: clang-format, cpplint

fixed test for broadcast
  pmlc/conversion/gpu_to_spirv/tests/subgroups_broadcast.mlir
Due: none

template compilation fix for Linux
  pmlc/target/intel_gen/subgroup_broadcast.cc
Due: clang-format, cpplint

fixed gpu_to_spirv test
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/conversion/gpu_to_spirv/tests/subgroups_broadcast.mlir
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

some more fixes to block ops
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

WIP: Converting to ABI pattern
  pmlc/BUILD
  pmlc/all_passes.h
  pmlc/conversion/abi_to_llvm/BUILD
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
  pmlc/conversion/abi_to_llvm/input.mlir
  pmlc/conversion/abi_to_llvm/passes.h
  pmlc/dialect/abi/BUILD
  pmlc/dialect/abi/ir/BUILD
  pmlc/dialect/abi/ir/dialect.cc
  pmlc/dialect/abi/ir/dialect.h
  pmlc/dialect/abi/ir/ops.td
  pmlc/dialect/abi/transforms/BUILD
  pmlc/dialect/abi/transforms/add_abi_loop.cc
  pmlc/dialect/abi/transforms/lower_abi.cc
  pmlc/dialect/abi/transforms/pass_detail.h
  pmlc/dialect/abi/transforms/passes.h
  pmlc/dialect/abi/transforms/passes.td
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/BUILD
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/transforms/boxing.cc
  pmlc/transforms/pass_detail.h
  pmlc/transforms/passes.h
  pmlc/transforms/passes.td
  tools/conda_run/conda_unix.cc
Due: clang-format, cpplint

Block ops enabled for OpenCL (#1476)
  pmlc/conversion/gpu/kernel_outlining.cc
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/conversion/gpu_to_spirv/tests/subgroups_broadcast.mlir
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/spirv_target.cc
Due: clang-format, cpplint

[edsl] Add support for layout-agnostic ops (#1473)
  plaidml/core/ffi.cc
  plaidml/core/internal.h
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  plaidml/ffi.py
  plaidml/op/__init__.py
  plaidml/op/ffi.cc
  plaidml/op/ffi.h
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
  plaidml/plaidml_link.jsonnet
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/ast/eval.cc
  pmlc/ast/eval.h
  pmlc/compiler/program.cc
  pmlc/compiler/program.h
Due: clang-format, cpplint, yapf

moving graph freezing to C++ part 1
  plaidml/bridge/tensorflow/service/BUILD
  plaidml/bridge/tensorflow/service/graph_util.cc
  plaidml/bridge/tensorflow/service/graph_util.h
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/resnext_test.cc
  plaidml/bridge/tensorflow/tests/resnext_test_gen.py
Due: clang-format, cpplint, yapf

Fix
  pmlc/ast/builder.cc
  pmlc/dialect/tile/ir/util.cc
  pmlc/dialect/tile/ir/util.h
  pmlc/dialect/tile/transforms/pad_ranges.cc
Due: clang-format, cpplint

approximate plaidbench kernel times
  plaidbench/plaidbench/frontend_keras.py
  plaidml/bridge/keras/__init__.py
  plaidml/core/core.h
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
  plaidml/exec/ffi.cc
  plaidml/exec/ffi.h
  pmlc/rt/executable.h
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint, yapf

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

