Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Fixed merge conflict
  tile/codegen/codegen.proto
Due: clang-format

Signed/unsigned fix
  tile/codegen/autotile.cc
Due: clang-format, cpplint

Simplify PlaidML build setup
  BUILD
  bzl/boost.BUILD
  bzl/plaidml.bzl
  environment.yml
  tile/bilp/BUILD
  tile/codegen/test/BUILD
  tile/hal/metal/BUILD
  tile/lib/BUILD
Due: buildifier

exports_files * boost * easylogging * gmock * minizip * six
  bzl/boost.BUILD
  bzl/easylogging.BUILD
  bzl/gmock.BUILD
  bzl/half.BUILD
  bzl/minizip.BUILD
  bzl/six.BUILD
  plaidml/BUILD
Due: buildifier

Windows build tweaks
  docs/building.md
Due: none

fix affine evaluation for constraints with constant terms
  tile/codegen/jit.cc
Due: clang-format, cpplint

In scheduling, cache subtensors
  tile/codegen/schedule.cc
Due: clang-format, cpplint

Add cache_unit ref metadata
  tile/codegen/partition.cc
  tile/codegen/schedule.cc
  tile/codegen/unroll.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Fix for nested unroll passes
  tile/codegen/unroll.cc
Due: clang-format, cpplint

bitcast allocated buffers before calling nested block function
  tile/codegen/jit.cc
Due: clang-format, cpplint

Split shape into interior_shape and exterior_shape
  tile/codegen/alias.cc
  tile/codegen/autotile.cc
  tile/codegen/cache.cc
  tile/codegen/fuse.cc
  tile/codegen/jit.cc
  tile/codegen/localize.cc
  tile/codegen/partition.cc
  tile/codegen/placer.cc
  tile/codegen/scalarize.cc
  tile/codegen/schedule.cc
  tile/codegen/test/schedule.cc
  tile/codegen/tile.cc
  tile/codegen/transpose.cc
  tile/codegen/vm.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Replace printstring with boost::format
  base/util/BUILD
  base/util/json_transfer.cc
  base/util/lookup.h
  base/util/printstring.cc
  base/util/printstring.h
  base/util/transfer_object.h
  tile/codegen/autotile.cc
  tile/codegen/cache.cc
  tile/codegen/deps.cc
  tile/codegen/driver.cc
  tile/codegen/fuse.cc
  tile/codegen/jit.cc
  tile/codegen/partition.cc
  tile/codegen/tile.cc
  tile/codegen/vm.cc
  tile/hal/cuda/emit.cc
  tile/hal/cuda/hal.cc
  tile/lang/bound.cc
  tile/lang/defract.cc
  tile/lang/flat.cc
  tile/lang/gen_stripe.cc
  tile/lang/generate.cc
  tile/lang/ops.h
  tile/lang/reduce.cc
  tile/lang/sym_poly.h
  tile/lang/type.cc
  tile/math/matrix.cc
  tile/math/polynomial.cc
  tile/math/polynomial.h
  tile/stripe/stripe.cc
Due: clang-format, cpplint

Add PruneRefinements pass
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/localize.cc
  tile/codegen/test/schedule.cc
  tile/codegen/tidy.cc
  tile/codegen/tidy.h
Due: clang-format, cpplint

Schedule multiple local memories
  tile/codegen/schedule.cc
  tile/stripe/stripe.cc
Due: clang-format, cpplint

Prevent uninitialized vars
  tile/stripe/stripe.h
Due: clang-format, cpplint

Add support for partioniong memory and compute
  tile/base/BUILD
  tile/base/shape.cc
  tile/base/shape.h
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/autotile.cc
  tile/codegen/cache.cc
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/fuse.cc
  tile/codegen/localize.cc
  tile/codegen/localize.h
  tile/codegen/math.h
  tile/codegen/partition.cc
  tile/codegen/partition.h
  tile/codegen/placer.cc
  tile/codegen/schedule.cc
  tile/codegen/tags.h
  tile/codegen/test/alias.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/schedule.cc
  tile/codegen/test/tile.cc
  tile/codegen/tidy.cc
  tile/codegen/tidy.h
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/codegen/transpose.cc
  tile/codegen/transpose.h
  tile/codegen/unroll.cc
  tile/codegen/unroll.h
  tile/lib/BUILD
  tile/lib/lib.cc
  tile/lib/lib.h
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Fold PlaidML SDK into Python wheel
  base/util/runfiles_db.cc
  bzl/half.BUILD
  bzl/plaidml.bzl
  environment.yml
  plaidml/BUILD
  plaidml/__init__.py
  plaidml/base/BUILD
  plaidml/config-bazel.cc
  plaidml/config-unix.cc
  plaidml/config-windows.cc
  plaidml/config.h
  plaidml/plaidml-config.cmake
  plaidml/plaidml.cc
  plaidml/settings.py
  plaidml/setup.cfg
  tools/bazel.rc
Due: buildifier, clang-format, cpplint, yapf

Fix fusion so that it works with PMLSim
  tile/codegen/fuse.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
Due: clang-format, cpplint

Use unordered_set for perf win
  tile/codegen/schedule.cc
Due: clang-format, cpplint

include licenses in sdk.tar *move :licenses from dep to src
  plaidml/BUILD
Due: none

Fix test bug
  tile/codegen/test/schedule.cc
Due: clang-format, cpplint

Create landpage for contents of release notes and versioning info
  docs/index.rst
  docs/release-notes.rst
Due: none

Fixup subregion deps test
  tile/codegen/test/deps.cc
Due: clang-format, cpplint

Experimental C backend
  tile/codegen/emitc.cc
  tile/codegen/emitc.h
  tile/exec/BUILD
  tile/exec/exec.cc
  tile/lang/gen_stripe.cc
  tile/lib/tests.cc
  tile/lib/tests.h
  tile/runtime/BUILD
Due: clang-format, cpplint

fix type signature for malloc and free calls
  tile/codegen/jit.cc
Due: clang-format, cpplint

Remove subblock slice handling from scheduler
  tile/codegen/schedule.cc
Due: clang-format, cpplint

Fix RefInfo's cache_shape
  tile/codegen/schedule.cc
Due: clang-format, cpplint

Fixed spelling errors
  tile/codegen/codegen.proto
  tile/stripe/stripe.proto
Due: clang-format

implement "max" agg_op for stripe store operation
  tile/codegen/jit.cc
Due: clang-format, cpplint

Add PR review feedbacks
  docs/index.rst
  docs/tile/about.rst
Due: none

Fix other merge conflicts
  docs/building.md
Due: none

licenses
  plaidml/BUILD
Due: none

Add tags to refinements
  tile/codegen/fuse.cc
  tile/codegen/test/fuse.cc
  tile/codegen/tile.cc
  tile/lang/gen_stripe.cc
  tile/stripe/stripe.cc
Due: clang-format, cpplint

Improve eltwise block names
  plaidml/op.py
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint, yapf

Update README and move old release notes to release notes page
  README.md
  docs/index.rst
  docs/release-notes.rst
Due: none

Add i128 type
  plaidml/__init__.py
  plaidml/plaidml.cc
  plaidml/plaidml.h
  tile/base/shape.h
  tile/codegen/alias.h
  tile/codegen/jit.cc
  tile/hal/cpu/emitllvm.cc
  tile/lang/type.cc
  tile/proto/shape.proto
  tile/proto/support.h
Due: clang-format, cpplint, yapf

Misc improvements
  tile/base/shape.h
  tile/codegen/alias.h
  tile/codegen/autotile.cc
  tile/codegen/cache.h
  tile/codegen/deps.h
  tile/codegen/localize.h
  tile/codegen/partition.cc
  tile/codegen/placer.h
  tile/codegen/scalarize.h
  tile/codegen/schedule.h
  tile/codegen/tags.h
  tile/codegen/thread_inner.h
  tile/codegen/tidy.cc
  tile/codegen/tile.cc
  tile/codegen/unroll.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Fix windows
  plaidml/__init__.py
  plaidml/plaidml.cc
  plaidml/plaidml.h
  tile/base/shape.h
  tile/codegen/jit.cc
  tile/hal/cpu/emitllvm.cc
  tile/lang/type.cc
  tile/proto/shape.proto
Due: clang-format, cpplint, yapf

More clarifications to README
  README.md
Due: none

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

