Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

WIP Add debug errors/prints
  plaidml2/edsl/ffi.cc
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint

Simplify & clean
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/autodiff.h
  plaidml2/edsl/derivs.cc
  plaidml2/edsl/edsl.h
  plaidml2/op/lib/ops.cc
  tile/lang/ast/ast.cc
Due: clang-format, cpplint, yapf

Add shape info to GradOverrideExpr
  tile/lang/ast/ast.cc
  tile/lang/ast/ast.h
  tile/lang/ast/traversal.cc
Due: clang-format, cpplint

Add MakeGradOverride
  plaidml2/edsl/ffi.cc
  tile/lang/ast/ast.h
  tile/lang/ast/fold.cc
  tile/lang/ast/fold.h
  tile/lang/ast/gradient.cc
Due: clang-format, cpplint

WIP Debug grad overrides
  plaidml2/edsl/ffi.cc
  tile/lang/ast/ast.cc
  tile/lang/ast/ast.h
  tile/lang/ast/traversal.cc
Due: clang-format, cpplint

Expand softmax backend test
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Throw when registering existing deriv
  tile/lang/ast/gradient.h
Due: clang-format, cpplint

WIP simplify testing temporarily
  plaidml2/bridge/keras/backend_test.py
Due: yapf

WIP minimally running softmax grad override
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  tile/lang/ast/ast.cc
  tile/lang/ast/gradient.cc
  tile/lang/ast/gradient.h
Due: clang-format, cpplint

WIP try to connect grad override
  plaidml2/op/lib/ops.cc
  tile/lang/ast/ast.cc
  tile/lang/ast/gradient.cc
Due: clang-format, cpplint

WIP Make the nullptr 0x1 to track
  plaidml2/edsl/ffi.cc
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

Clean up grad override experimental code
  plaidml2/core/internal.h
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.cc
  pmlc/dialect/tile/builder.cc
  tile/lang/ast/ast.cc
  tile/lang/ast/ast_ops.cc
  tile/lang/ast/traversal.cc
Due: clang-format, cpplint

Make strict compilers happy
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint

Fix stripe transcode w/no-loc blocks (#616)
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/stripe_test.cc
Due: clang-format, cpplint

what happens if we request the GPU variant of tensorflow?
  conda/plaidml.yml
  conda/tensorflow.yml
Due: none

[MLIR] Support for Stripe->Affine "main" ParallelForOp (#609)
  pmlc/conversion/stripe_to_affine/BUILD
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.h
  pmlc/conversion/stripe_to_affine/supported_ops.inc
  pmlc/test/conversion/stripe_to_affine/core_ops.mlir
Due: clang-format, cpplint

Fix a negative offset store in padding pass
  tile/codegen/pad.cc
Due: clang-format, cpplint

[MLIR] Support for Affine->Stripe "main" ParallelForOp
  pmlc/conversion/affine_to_stripe/BUILD
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.cc
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.h
  pmlc/conversion/affine_to_stripe/supported_ops.inc
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  pmlc/dialect/tile/lowering.cc
  pmlc/test/conversion/stripe_affine_roundtrip/core_ops.mlir
  pmlc/test/conversion/stripe_to_affine/core_ops.mlir
  pmlc/tools/pmlc-opt/BUILD
Due: clang-format, cpplint

Add gradient override to EDSL and use for softmax (#614)
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/autodiff.h
  plaidml2/edsl/derivs.cc
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  tile/lang/ast/ast.cc
  tile/lang/ast/ast.h
  tile/lang/ast/fold.cc
  tile/lang/ast/fold.h
  tile/lang/ast/gradient.cc
  tile/lang/ast/gradient.h
  tile/lang/ast/traversal.cc
  tile/lang/ast/traversal.h
Due: clang-format, cpplint, yapf

Add keras-tf-dnnl-cpu
  ci/plan.yml
  conda/tensorflow-dnnl.yml
Due: none

Add to ci pipeline
  ci/plan.yml
Due: none

Fix a negative offset store in padding pass (#617)
  tile/codegen/pad.cc
Due: clang-format, cpplint

cut down examples on keras-stripe-llvm-cpu tests
  ci/plan.yml
Due: none

Made printing of stripe dialect better
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/stripe/ops.td
  tile/base/shape.h
Due: clang-format, cpplint

Don't reshape Nones during batch normalization
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Don't reshape Nones during batch normalization (#621)
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Add patch support to dev_http_archive
  bzl/dev_repo.bzl
  bzl/workspace.bzl
  vendor/bazel/BUILD
  vendor/bazel/http.bzl
  vendor/bazel/redirect.py
  vendor/bazel/utils.bzl
Due: buildifier, yapf

[MLIR] Stripe-Affine round-trip for AffineConstOp/ConstantIndexOp.
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.cc
  pmlc/conversion/affine_to_stripe/supported_ops.inc
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
  pmlc/conversion/stripe_to_affine/supported_ops.inc
  pmlc/test/conversion/stripe_affine_roundtrip/core_ops.mlir
Due: clang-format, cpplint

remove vgg19, inception_v3, and xception from keras-stripe-llvm-cpu infer
  ci/plan.yml
Due: none

Add patch support to dev_http_archive (#622)
  bzl/dev_repo.bzl
  bzl/workspace.bzl
  vendor/bazel/BUILD
  vendor/bazel/http.bzl
  vendor/bazel/redirect.py
  vendor/bazel/utils.bzl
Due: buildifier, yapf

Use batch size arg in training
  ci/plan.yml
Due: none

Use batch size arg in training (#625)
  ci/plan.yml
Due: none

Oh, actually added the patch
  bzl/workspace.bzl
  vendor/mlir/mlir.patch
Due: buildifier

[MLIR] Fix debug build
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
Due: clang-format, cpplint

Pretty print (#626)
  bzl/workspace.bzl
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/stripe/ops.td
  tile/base/shape.h
  vendor/mlir/mlir.patch
Due: buildifier, clang-format, cpplint

[MLIR] Fix debug build (#627)
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
Due: clang-format, cpplint

cpu tests for ci (#507)
  ci/buildkite.py
  ci/golden/infer/inception_v3/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/inception_v3/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/inception_v3/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet_v2/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet_v2/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet_v2/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/smoke/mobilenet/keras-plaid-ocl-gp100gl/BATCH_SIZE=0/report.json
  ci/golden/smoke/mobilenet/keras-plaid-ocl-gp100gl/BATCH_SIZE=0/result.json
  ci/golden/smoke/mobilenet/keras-plaid-ocl-gp100gl/BATCH_SIZE=0/result.npy
  ci/golden/smoke/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=0/report.json
  ci/golden/smoke/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=0/result.json
  ci/golden/smoke/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=0/result.npy
  ci/plan.yml
Due: yapf

Add std .gdbinit
  .gdbinit
Due: none

Add std .gdbinit (#628)
  .gdbinit
Due: none

use tensorflow-dnnl.yml override for other inference tests
  ci/plan.yml
Due: none
