Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    bzl/conda.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

WIP
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Better tests and CR feedback
  pmlc/dialect/tile/tests/padding.mlir
  pmlc/dialect/tile/transforms/padding.cc
Due: clang-format, cpplint

WIP
  WORKSPACE
  conda/unix.BUILD
  demos/mlsys_2020/BUILD
  demos/mlsys_2020/app.py
  demos/mlsys_2020/demo_source.py
  demos/mlsys_2020/lowering_demo.ipynb
  demos/mlsys_2020/lowering_demo_handler.py
  demos/mlsys_2020/voila.py
Due: buildifier, yapf

Remove constraints on padding (#941)
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/dialect/tile/tests/padding.mlir
  pmlc/dialect/tile/transforms/padding.cc
Due: clang-format, cpplint

WIP
  demos/mlsys_2020/BUILD
  demos/mlsys_2020/app.py
  demos/mlsys_2020/core.py
  demos/mlsys_2020/demo_handler.py
  demos/mlsys_2020/edsl_demo.ipynb
  demos/mlsys_2020/lowering_demo.ipynb
  demos/mlsys_2020/lowering_demo_handler.py
  demos/mlsys_2020/voila.py
Due: yapf

styling
  demos/mlsys_2020/core.py
  demos/mlsys_2020/style/custom_html.py
  demos/mlsys_2020/style/style.css
Due: yapf

output widget
  demos/mlsys_2020/BUILD
  demos/mlsys_2020/app.py
  demos/mlsys_2020/core.py
Due: yapf

boilerplate for contractions
  demos/mlsys_2020/BUILD
  demos/mlsys_2020/app.py
  demos/mlsys_2020/core.py
Due: yapf

change square root to identity
  demos/mlsys_2020/core.py
Due: yapf

add legend
  demos/mlsys_2020/app.py
Due: yapf

delete unnecessary ipynb cells
  demos/mlsys_2020/edsl_demo.ipynb
  demos/mlsys_2020/lowering_demo.ipynb
Due: none

EDSL Demo Improvements (#944)
  demos/mlsys_2020/BUILD
  demos/mlsys_2020/app.py
  demos/mlsys_2020/core.py
  demos/mlsys_2020/demo_handler.py
  demos/mlsys_2020/demo_source.py
  demos/mlsys_2020/edsl_demo.ipynb
  demos/mlsys_2020/lowering_demo.ipynb
  demos/mlsys_2020/lowering_demo_handler.py
  demos/mlsys_2020/style/custom_html.py
  demos/mlsys_2020/style/style.css
  demos/mlsys_2020/voila.py
Due: yapf

add conversions in stdx dialect from float to signed & unsigned int types
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
Due: clang-format, cpplint

WIP
  demos/mlsys_2020/app.py
  demos/mlsys_2020/core.py
Due: yapf

get things working
  demos/mlsys_2020/app.py
  demos/mlsys_2020/edsl_demo.ipynb
  demos/mlsys_2020/lowering_demo.ipynb
Due: yapf

cleanup
  demos/mlsys_2020/app.py
Due: yapf

clear outputs each time someone clicks run
  demos/mlsys_2020/app.py
Due: yapf

Lowering Demo Functionality (#946)
  demos/mlsys_2020/app.py
  demos/mlsys_2020/core.py
  demos/mlsys_2020/edsl_demo.ipynb
  demos/mlsys_2020/lowering_demo.ipynb
Due: yapf

Error handling
  demos/mlsys_2020/app.py
  demos/mlsys_2020/core.py
  demos/mlsys_2020/voila.py
Due: yapf

Error handling (#947)
  demos/mlsys_2020/app.py
  demos/mlsys_2020/core.py
  demos/mlsys_2020/voila.py
Due: yapf

Initial affine-stencil pass.
  pmlc/dialect/pxa/tests/stencil.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/stencil.cc
Due: clang-format, cpplint

Initial affine-stencil pass. (#942)
  pmlc/dialect/pxa/tests/stencil.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/stencil.cc
Due: clang-format, cpplint

Working
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Fix windows
  WORKSPACE
Due: buildifier

Fix windows
  pmlc/dialect/pxa/transforms/test_analysis.cc
Due: clang-format, cpplint

Cleanup
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
Due: clang-format, cpplint

Fixes for windows
  WORKSPACE
Due: buildifier

Fixes for windows
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-vulkan-runner/BUILD
  vendor/mlir/mlir.BUILD
Due: buildifier

bump
  WORKSPACE
Due: buildifier

Fix support for clang toolchain on linux (#950)
  WORKSPACE
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-vulkan-runner/BUILD
  vendor/mlir/mlir.BUILD
Due: buildifier

WIP
  bzl/workspace.bzl
  vendor/tbb/tbb.BUILD
Due: buildifier

Lowering of xsmm.gemm to std.call (#939)
  WORKSPACE
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/dialect/pxa/transforms/test_analysis.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/target/x86/xsmm_lowering.h
  pmlc/tools/pmlc-opt/pmlc-opt.cc
Due: buildifier, clang-format, cpplint

Add openvino vendor build
  bzl/workspace.bzl
  vendor/openvino/BUILD
  vendor/openvino/ngraph.BUILD
  vendor/openvino/nlohmann_json.BUILD
  vendor/openvino/openvino.BUILD
  vendor/openvino/repo.bzl
Due: buildifier

Bump MLIR forward
  pmlc/BUILD
  pmlc/compiler/compiler.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/transforms/constant_types.cc
  pmlc/rt/BUILD
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-opt/BUILD
  pmlc/util/all_dialects.h
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint

Bump pointer
  bzl/workspace.bzl
Due: buildifier

builds / runs
  vendor/openvino/openvino.BUILD
  vendor/tbb/tbb.BUILD
Due: buildifier

Bump again for windows
  bzl/workspace.bzl
Due: buildifier

Bump MLIR forward (#952)
  bzl/workspace.bzl
  pmlc/BUILD
  pmlc/compiler/compiler.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/transforms/constant_types.cc
  pmlc/rt/BUILD
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-opt/BUILD
  pmlc/util/all_dialects.h
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint

Minimize code duplication
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

WIP
  bzl/workspace.bzl
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner_tests.cc
  vendor/mlir/vulkan.BUILD
  vendor/vulkan_headers/vulkan_headers.BUILD
  vendor/vulkan_sdk/BUILD.bazel
  vendor/vulkan_sdk/repo.bzl
Due: buildifier, clang-format, cpplint
