Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    bzl/conda.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Fix build
  plaidml2/exec/ffi.cc
Due: clang-format, cpplint

Cleanup
  plaidml2/exec/ffi.cc
Due: clang-format, cpplint

Bug fixes (#797)
  pmlc/dialect/stripe/autostencil_pass.cc
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  tile/codegen/codegen.proto
  tile/codegen/pad.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

use ubuntu 18.04 (#786)
  .bazelci/presubmit.yml
Due: none

Fold - and / in eltwise dialect (#778)
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/tests/constant-fold.mlir
Due: clang-format, cpplint

plaidml2 API cleanups (#788)
  plaidml2/core/BUILD
  plaidml2/core/core_test.py
  plaidml2/core/ffi.cc
  plaidml2/core/ffi.h
  plaidml2/core/settings.py
  plaidml2/exec/__init__.py
  plaidml2/exec/exec.h
  plaidml2/exec/ffi.cc
  plaidml2/exec/ffi.h
  plaidml2/plaidml_link.jsonnet
Due: clang-format, cpplint, yapf

minor doc fix (#782)
  docs/docs/edsl.md
Due: none

Bound loc rewrite loop (#789)
  tile/codegen/rewrite_locs.cc
Due: clang-format, cpplint

Bump MLIR forward (#790)
  bzl/workspace.bzl
  pmlc/dialect/stripe/dialect.cc
  vendor/mlir/mlir.BUILD
  vendor/mlir/mlir.patch
Due: buildifier, clang-format, cpplint

Rename combo_op tag to comb_op (#771)
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/tests/cion-to-stripe.mlir
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
  tile/codegen/pad.cc
Due: clang-format, cpplint

Automatic stencil pass
  .pre-commit-config.yaml
  bzl/plaidml.bzl
  conda/windows.yml
  plaidml/BUILD
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/autostencil_pass.cc
  pmlc/dialect/stripe/autostencil_pass.h
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/mlir.h
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  tile/codegen/codegen.proto
  tile/codegen/mlir_passes.cc
  tile/codegen/pad.cc
  tile/pmlc/BUILD
  tile/targets/cpu/BUILD
  tile/targets/cpu/heatmap.h
  tile/targets/cpu/heatmap.tpl.cc
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  tile/targets/cpu/llvm_cpu.jsonnet
  tools/heatmap/BUILD
  tools/heatmap/build_defs.bzl
  tools/heatmap/heatmap.py
Due: buildifier, clang-format, cpplint, yapf

Add new PXA dialect and two lowerings. Still a WIP, but want to merge to coordinate with @flaub (#783)
  pmlc/BUILD
  pmlc/dialect/eltwise/BUILD
  pmlc/dialect/eltwise/interfaces.td
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/types.cc
  pmlc/dialect/eltwise/types.h
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/dialect.h
  pmlc/dialect/pxa/from_tile.cc
  pmlc/dialect/pxa/from_tile.h
  pmlc/dialect/pxa/ops.cc
  pmlc/dialect/pxa/ops.h
  pmlc/dialect/pxa/ops.td
  pmlc/dialect/pxa/tests/BUILD
  pmlc/dialect/pxa/tests/from_tile.mlir
  pmlc/dialect/pxa/to_affine.cc
  pmlc/dialect/pxa/to_affine.h
Due: clang-format, cpplint

Various cleanups (#781)
  plaidml2/BUILD
  plaidml2/edsl/edsl.h
  pmlc/dialect/op_lib/BUILD
  pmlc/dialect/op_lib/cpp/ImplGen.cc
  pmlc/dialect/op_lib/cpp/ImplGen.h
  pmlc/dialect/op_lib/cpp/WrapperGen.h
  pmlc/dialect/op_lib/op_lib.bzl
  pmlc/dialect/op_lib/ops.cc
  pmlc/dialect/op_lib/python/WrapperGen.h
  pmlc/dialect/oplib/BUILD
  pmlc/dialect/oplib/cpp/BUILD
  pmlc/dialect/oplib/cpp/impl_gen.cc
  pmlc/dialect/oplib/cpp/impl_gen.h
  pmlc/dialect/oplib/cpp/utils.h
  pmlc/dialect/oplib/cpp/wrapper_gen.cc
  pmlc/dialect/oplib/cpp/wrapper_gen.h
  pmlc/dialect/oplib/model.cc
  pmlc/dialect/oplib/model.h
  pmlc/dialect/oplib/oplib_gen.cc
  pmlc/dialect/oplib/ops.td
  pmlc/dialect/oplib/python/BUILD
  pmlc/dialect/oplib/python/utils.h
  pmlc/dialect/oplib/python/wrapper_gen.cc
  pmlc/dialect/oplib/python/wrapper_gen.h
  pmlc/dialect/oplib/tests/BUILD
  pmlc/dialect/oplib/tests/BasicTensorOp.td
  pmlc/dialect/oplib/tests/MultiTensorInputOp.td
  pmlc/dialect/oplib/tests/TensorOpWithIntArrayAttr.td
  pmlc/dialect/oplib/tests/TensorOpWithIntAttr.td
  pmlc/dialect/oplib/tests/TensorOpWithStrAttr.td
  pmlc/runlit.cfg.py
  pmlc/runlit.site.cfg.py
Due: buildifier, clang-format, cpplint, yapf

Op Lib Dialect: wrapper fixes & added tests (#777)
  pmlc/dialect/op_lib/BUILD
  pmlc/dialect/op_lib/OpLibGen.cc
  pmlc/dialect/op_lib/OpLibWrapperGen.cpp
  pmlc/dialect/op_lib/OpModel.cc
  pmlc/dialect/op_lib/OpModel.h
  pmlc/dialect/op_lib/cpp/ImplGen.cc
  pmlc/dialect/op_lib/cpp/ImplGen.h
  pmlc/dialect/op_lib/cpp/WrapperGen.cc
  pmlc/dialect/op_lib/cpp/WrapperGen.h
  pmlc/dialect/op_lib/cpp/utils.h
  pmlc/dialect/op_lib/op_lib.bzl
  pmlc/dialect/op_lib/op_lib_wrappers.cc
  pmlc/dialect/op_lib/ops.cc
  pmlc/dialect/op_lib/python/WrapperGen.cc
  pmlc/dialect/op_lib/python/WrapperGen.h
  pmlc/dialect/op_lib/python/utils.h
  pmlc/dialect/op_lib/tests/BasicTensorOp.td
  pmlc/dialect/op_lib/tests/MultiTensorInputOp.td
  pmlc/dialect/op_lib/tests/TensorOpWithIntArrayAttr.td
  pmlc/dialect/op_lib/tests/TensorOpWithIntAttr.td
  pmlc/dialect/op_lib/tests/TensorOpWithStrAttr.td
Due: buildifier, clang-format, cpplint

Cleanup plaidml2 FFI (#792)
  plaidml2/core/ffi.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/exec/ffi.h
  plaidml2/op/ffi.h
Due: clang-format, cpplint

Bump LLVM/MLIR forward (#779)
  bzl/bazel.rc
  bzl/workspace.bzl
  plaidml2/edsl/edsl_test.cc
  pmlc/BUILD
  pmlc/conversion/affine_to_stripe/BUILD
  pmlc/conversion/stripe_to_affine/BUILD
  pmlc/conversion/tests/stripe_affine_roundtrip/BUILD
  pmlc/conversion/tests/stripe_affine_roundtrip/parallel_for.mlir
  pmlc/dialect/eltwise/BUILD
  pmlc/dialect/eltwise/ops.h
  pmlc/dialect/op_lib/BUILD
  pmlc/dialect/op_lib/tests/BUILD
  pmlc/dialect/op_lib/tests/tblgen_gen_cpp_wrappers.td
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/tests/cion-to-stripe.mlir
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/runlit.cfg.py
  pmlc/util/BUILD
  tile/codegen/BUILD
  tile/targets/cpu/compiler.cc
  vendor/llvm/llvm.BUILD
  vendor/llvm/llvm.bzl
  vendor/mlir/mlir.BUILD
  vendor/mlir/mlir.bzl
  vendor/mlir/tblgen.bzl
Due: buildifier, clang-format, cpplint, yapf

plaidml2 setup fix (#775)
  plaidml2/BUILD
  plaidml2/setup.py
Due: yapf

New MLIR pass for initialization of aggregate operations
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/agginit_pass.cc
  pmlc/dialect/stripe/agginit_pass.h
  pmlc/dialect/stripe/transforms.cc
  pmlc/dialect/stripe/transforms.h
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  tile/base/shape.cc
  tile/base/shape.h
  tile/codegen/codegen.proto
  tile/codegen/mlir_passes.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

stop skipping keras-stripe-llvm-cpu on some tests
  ci/plan.yml
Due: none

Revert "New MLIR pass for initialization of aggregate operations"
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/agginit_pass.cc
  pmlc/dialect/stripe/agginit_pass.h
  pmlc/dialect/stripe/transforms.cc
  pmlc/dialect/stripe/transforms.h
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  tile/base/shape.cc
  tile/base/shape.h
  tile/codegen/codegen.proto
  tile/codegen/mlir_passes.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

adding python edsl doc
  docs/docs/configuration.md
  docs/docs/edsl_python.md
  docs/docs/release-notes.md
Due: none

minor fix - removed extra white spaces
  docs/docs/edsl.md
  docs/docs/edsl_python.md
Due: none

Fix bug about XSMM invocation missing buffer offset
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

Fix bug about XSMM invocation missing buffer offset (#799)
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

Create compiler in pmlc
  plaidml2/exec/BUILD
  plaidml2/exec/ffi.cc
  pmlc/BUILD
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
Due: clang-format, cpplint

Experimental end to end MLIR execution (#796)
  plaidml2/core/BUILD
  plaidml2/edsl/BUILD
  plaidml2/edsl/edsl_test.cc
  plaidml2/exec/BUILD
  plaidml2/exec/ffi.cc
  plaidml2/op/BUILD
  plaidml2/testenv.cc
  pmlc/BUILD
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/from_tile.cc
  pmlc/dialect/pxa/from_tile.h
  pmlc/dialect/pxa/passes.h
  pmlc/dialect/pxa/to_affine.cc
  pmlc/dialect/pxa/to_affine.h
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/program.h
Due: clang-format, cpplint

Experimental lowering to SPIR-V
  .gitignore
  plaidml2/exec/BUILD
  plaidml2/exec/ffi.cc
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
  pmlc/compiler/registry.cc
  pmlc/compiler/registry.h
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Fix
  plaidml2/exec/ffi.cc
Due: clang-format, cpplint

fix plaidml -> plaidml2 merge conflict
  plaidml2/testenv.cc
Due: clang-format, cpplint

New MLIR pass for initialization of aggregate operations * Fix Vgg16/19 and Inception_v3 on CPU
  ci/golden/infer/vgg19/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/vgg19/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/vgg19/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/plan.yml
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/agginit_pass.cc
  pmlc/dialect/stripe/agginit_pass.h
  pmlc/dialect/stripe/transforms.cc
  pmlc/dialect/stripe/transforms.h
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  tile/base/shape.cc
  tile/base/shape.h
  tile/codegen/codegen.proto
  tile/codegen/mlir_passes.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

New MLIR pass for initialization of aggregate operations (#795)
  ci/golden/infer/vgg19/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/vgg19/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/vgg19/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/plan.yml
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/agginit_pass.cc
  pmlc/dialect/stripe/agginit_pass.h
  pmlc/dialect/stripe/transforms.cc
  pmlc/dialect/stripe/transforms.h
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  tile/base/shape.cc
  tile/base/shape.h
  tile/codegen/codegen.proto
  tile/codegen/mlir_passes.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

add inception_v3, xception to keras-stripe-llvm-cpu tests
  ci/plan.yml
Due: none

goldens
  ci/golden/infer/xception/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/xception/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
Due: none

fix namespace
  docs/manual_api/edsl.rst
  networks/oplib/resnet50.cc
  plaidml2/bridge/pytorch/compiler.cc
  plaidml2/bridge/pytorch/compiler.h
  plaidml2/bridge/pytorch/register.cc
  plaidml2/core/core.h
  plaidml2/core/ffi.cc
  plaidml2/core/internal.h
  plaidml2/core/settings.cc
  plaidml2/core/settings.h
  plaidml2/edsl/autodiff.h
  plaidml2/edsl/derivs.cc
  plaidml2/edsl/derivs.h
  plaidml2/edsl/edsl.h
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/helper.cc
  plaidml2/edsl/helper.h
  plaidml2/exec/exec.h
  plaidml2/exec/ffi.cc
  plaidml2/op/ffi.cc
  plaidml2/op/lib/ops.cc
  plaidml2/op/lib/ops.h
  plaidml2/op/op.h
  plaidml2/op/op_test.cc
  plaidml2/testenv.cc
  pmlc/dialect/stripe/translate_test.cc
  tile/codegen/test/cache.cc
  tile/codegen/test/pattern.cc
  tile/codegen/test/schedule.cc
  tile/codegen/test/tile.cc
  tile/lib/lib.cc
  tile/lib/lib.h
  tile/lib/tests.cc
  tile/lib/tests.h
Due: clang-format, cpplint

add inception_v3, xception to keras-stripe-llvm-cpu tests (#801)
  ci/golden/infer/xception/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/xception/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/plan.yml
Due: none

Sphinx Prototype (#787)
  docs/.gitignore
  docs/Doxyfile
  docs/Makefile
  docs/README.md
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/manual_api/core.rst
  docs/manual_api/edsl.rst
  docs/manual_api/exec.rst
  docs/manual_api/index.rst
  docs/usage/building.rst
  docs/usage/install.rst
  networks/oplib/resnet50.cc
  plaidml2/core/settings.cc
  plaidml2/core/settings.h
  plaidml2/edsl/edsl.h
  watch.py
Due: clang-format, cpplint, yapf

cmake + bazel = cbake
  tools/cbake/BUILD
  tools/cbake/cbake.py
  tools/cbake/cmake_parser.py
Due: yapf

Don't build cion until affine min/max folded away
  pmlc/dialect/tile/ops.cc
Due: clang-format, cpplint
