Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Fixed crashing issue on Linux, also added support for bounds check support
  plaidml/edsl/tests/edsl_test.cc
  pmlc/compiler/compiler.cc
  pmlc/dialect/stdx/transforms/boundscheck.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fixed crashing issue on Linux, also added support for bounds check support (#1003)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/compiler/compiler.cc
  pmlc/dialect/stdx/transforms/boundscheck.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

forward = false/ channel increase fixed unecessary constraints rempoved
  networks/edsl_examples/reorgyolo.py
Due: yapf

minor fix for clarity
  networks/edsl_examples/reorgyolo.py
Due: yapf

minor fix - remove redundant code
  networks/edsl_examples/reorgyolo.py
Due: yapf

Fix TBB fetch failure
  bzl/workspace.bzl
Due: buildifier

rearrange for clarity add tests
  networks/edsl_examples/BUILD
  networks/edsl_examples/reorgyolo.py
  networks/edsl_examples/tests.py
Due: yapf

WIP
  networks/edsl_examples/BUILD
  networks/edsl_examples/reorgyolo.py
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint, yapf

Fix TBB fetch failure (#1004)
  bzl/workspace.bzl
Due: buildifier

remove stderr->DEVNULL on report
  ci/buildkite.py
Due: yapf

matplotlib
  conda/unix.yml
Due: none

WIP
  plaidml/testenv.cc
  pmlc/conversion/gpu/lowering.cc
  pmlc/conversion/gpu/vulkan_launch_to_vulkan_calls.cc
  pmlc/rt/vulkan/vulkan_rt.jsonnet
  pmlc/rt/vulkan/wrappers.cc
  pmlc/target/intel_gen/tests/multi-kernel.mlir
Due: clang-format, cpplint

matplotlib (#1005)
  conda/unix.yml
Due: none

Fix an assertion that stop crashing tests.
  pmlc/dialect/tile/ir/ops.cc
Due: clang-format, cpplint

Fix an assertion that stop crashing tests
  pmlc/dialect/tile/ir/ops.cc
Due: clang-format, cpplint

Fix an assertion that stop crashing tests (#1007)
  pmlc/dialect/tile/ir/ops.cc
Due: clang-format, cpplint

tests added function simplifications
  networks/edsl_examples/reorgyolo.py
  networks/edsl_examples/tests.py
Due: yapf

forward renamed decrease
  networks/edsl_examples/reorgyolo.py
  networks/edsl_examples/tests.py
Due: yapf

tests fixed decrease_C = false issue sorted
  networks/edsl_examples/reorgyolo.py
  networks/edsl_examples/tests.py
Due: yapf

clean up notes added
  networks/edsl_examples/reorgyolo.py
Due: yapf

Fix lowering of assign contractions
  pmlc/BUILD
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/pxa_to_affine/tests/BUILD
  pmlc/conversion/pxa_to_affine/tests/contract.mlir
Due: clang-format, cpplint

Code cleaning
  pmlc/compiler/compiler.h
Due: clang-format, cpplint

Add canonicalization of RangeConstraints
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/util/math/polynomial.cc
  pmlc/util/math/polynomial.h
Due: clang-format, cpplint

Update logging per review comments
  pmlc/dialect/tile/transforms/contraction.cc
Due: clang-format, cpplint

Fix lowering of assign contractions (#1008)
  pmlc/BUILD
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/pxa_to_affine/tests/BUILD
  pmlc/conversion/pxa_to_affine/tests/contract.mlir
Due: clang-format, cpplint

Put RangeConstraints in canonical form (#1009)
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/util/math/polynomial.cc
  pmlc/util/math/polynomial.h
Due: clang-format, cpplint

Add reorg_yolo to oplib
  plaidml/BUILD
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
  plaidml/testenv.h
Due: clang-format, cpplint

remove
  networks/edsl_examples/BUILD
  networks/edsl_examples/reorgyolo.py
Due: yapf

Add link
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Concision
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Add reorg_yolo to oplib (#1010)
  plaidml/BUILD
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
  plaidml/testenv.h
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

Code refactoring
  plaidml/edsl/tests/BUILD
  plaidml/testenv.cc
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/conversion/gpu/gpu_to_vulkan_launch.cc
  pmlc/conversion/gpu/kernel_outlining.cc
  pmlc/conversion/gpu/llvm_lowering.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/conversion/gpu/vulkan_launch_to_vulkan_calls.cc
  pmlc/rt/vulkan/vulkan_rt.jsonnet
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/rt/vulkan/wrappers.cc
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/tests/dotf.mlir
  pmlc/target/intel_gen/tests/e2e.mlir
  pmlc/target/intel_gen/tests/intermediate.mlir
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Recover testenv
  plaidml/testenv.cc
Due: clang-format, cpplint

GPU-SPIRV-Vulkan support
  plaidml/edsl/tests/BUILD
  pmlc/BUILD
  pmlc/conversion/gpu/BUILD
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/conversion/gpu/kernel_outlining.cc
  pmlc/conversion/gpu/llvm_lowering.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/rt/vulkan/HAL.txt
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/vulkan_rt.jsonnet
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/rt/vulkan/wrappers.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/tests/BUILD
  pmlc/target/intel_gen/tests/dotf.mlir
  pmlc/target/intel_gen/tests/e2e.mlir
  pmlc/target/intel_gen/tests/intermediate.mlir
  pmlc/target/intel_gen/tests/lit.local.cfg
  pmlc/target/intel_gen/tests/multi-kernel.mlir
  pmlc/target/x86/pipeline.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Fix tile_to_pxa index to non-index cast
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/util.cc
Due: clang-format, cpplint

Bump MLIR
  bzl/workspace.bzl
  pmlc/BUILD
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/BUILD
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/test_analysis.h
  pmlc/dialect/stdx/transforms/boundscheck.h
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/transforms/constant_types.cc
  pmlc/dialect/tile/transforms/contraction.h
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/xsmm/ir/BUILD
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/trace_linking.cc
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/tools/pmlc-opt/BUILD
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  pmlc/tools/pmlc-translate/BUILD
  pmlc/tools/pmlc-translate/pmlc-translate.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
  pmlc/util/all_dialects.h
  pmlc/util/all_passes.h
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint

Put the hack back
  pmlc/compiler/compiler.cc
Due: clang-format, cpplint

Remove failing test
  ci/plan.yml
Due: none

Disable multithreading with IRCollector
  pmlc/compiler/compiler.cc
Due: clang-format, cpplint

Added handling and tests for int types.
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

