Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Fix build
  configure
  environment.yml
Due: none

Fix build
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Fix build
  ci/openvino.py
  plaidml/bridge/openvino/CMakeLists.txt
Due: yapf

attempt to fix openvino compilation
  ci/openvino.py
  configure
  environment.yml
Due: yapf

added also CPU target
  configure
Due: none

attempt to build OpenCV on the spot
  ci/openvino.py
  configure
  environment.yml
  tools/build_opencv.sh
Due: yapf

adjusted path
  configure
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

disabled installation of opencv libs
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

another attempt to fix paths
  configure
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

switched to OpenCV 4.4.0 and compile a minimal version
  tools/build_opencv.sh
Due: none

attempt to fix openCV python version to 4.4.0 as well
  ci/openvino.py
  environment.yml
Due: yapf

attempt to fix OS dependent lib/lib64 mess in opencv install
  tools/build_opencv.sh
Due: none

one more attempt to sort out the opencv library issue
  tools/build_opencv.sh
Due: none

updated ci/openvino script
  ci/openvino.py
Due: yapf

Fix LD_LIBRARY_PATH
  ci/openvino.py
Due: yapf

Copy conda libs into testkit
  configure
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Update OpenVINO
  .gitmodules
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/plugin/CMakeLists.txt
  plaidml/bridge/openvino/plugin/plaidml_executable_network.hpp
Due: clang-format, cpplint

Fix missing PLAIDML plugin in plugins.xml
  configure
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/plugin/CMakeLists.txt
Due: none

Fixed getMetric errors
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/plugin/plaidml_plugin.cpp
Due: clang-format, cpplint

Fix main.yml
  .github/workflows/main.yml
Due: none

Fix build.yml
  .github/workflows/build.yml
Due: none

Fixed getMetric errors
  .github/workflows/build.yml
  .github/workflows/main.yml
  environment.yml
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/plugin/plaidml_plugin.cpp
Due: clang-format, cpplint

Fix libtbb in testkit
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Remove OpenVINO_Install_DIR and plugins.xml copy
  configure
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/plugin/CMakeLists.txt
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/plugin/plaidml_plugin.cpp
Due: clang-format, cpplint

Fix testkit package
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Add libusb
  environment.yml
Due: none

Fix libformat_reader in testkit
  .github/workflows/build.yml
  .github/workflows/main.yml
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Update OpenVINO to the latest version (#1929)
  .gitmodules
  environment.yml
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/plugin/CMakeLists.txt
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/plugin/plaidml_executable_network.hpp
  plaidml/bridge/openvino/plugin/plaidml_plugin.cpp
Due: clang-format, cpplint

fixed incorrect git path
  .gitmodules
Due: none

Fix configuration
  .gitmodules
  ci/openvino.py
  configure
  environment.yml
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/plugin/CMakeLists.txt
Due: yapf

Fix configuration (#1930)
  .gitmodules
  ci/openvino.py
  configure
  environment.yml
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/plugin/CMakeLists.txt
Due: yapf

Enable OpenVINO CPU and clean up OpenVINO build
  configure
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Enable OpenVINO CPU and clean up OpenVINO build (#1931)
  configure
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

MLIR Changes for initial version of TPSS
  cmake/third_party/llvm-project.cmake
  patches/cpu_thread.patch
Due: none

Add stencil for TPP reduce ops
  pmlc/target/x86/stencil_tpp_unary.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Fix stride computation when trying to do 1D stenciling
  pmlc/rt/xsmm.cc
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/util/strides.cc
  pmlc/util/strides.h
Due: clang-format, cpplint

Fix reduce kernel stenciling and edsl test
  plaidml/edsl/tests/edsl_test.cc
  pmlc/target/x86/stencil_tpp_unary.cc
  pmlc/util/strides.cc
Due: clang-format, cpplint
