Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Update tests for printed attribute vals
  tile/codegen/test/fuse.cc
  tile/codegen/test/load_index.cc
Due: clang-format, cpplint

Track AliasMap parents; tag new SchedulePass block
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/codegen.proto
  tile/codegen/schedule.cc
Due: clang-format, cpplint

Added tests for POC
  tile/lib/tests.cc
Due: clang-format, cpplint

Process large fully connected layer
  tile/codegen/codegen.proto
  tile/codegen/fc.cc
  tile/codegen/fc.h
  tile/ocl_exec/emitsem.cc
  tile/stripe/stripe.cc
  tile/targets/gpu/intel_gen9_opencl.jsonnet
Due: clang-format, cpplint

Enable concat to work with symbolic tensors
  plaidml/op.py
Due: yapf

add metal config
  plaidml/configs/macos_experimental.json
  tile/targets/gpu/metal.jsonnet
Due: none

Added unit test for symbolic concat Added get_value_support for symbolic axis Added backend_test support for symbolic axis
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
  plaidml/op.py
Due: yapf

Add a PatternPass
  tile/codegen/codegen.proto
  tile/codegen/pattern.cc
  tile/codegen/pattern.h
Due: clang-format, cpplint

Add more tests for 32x32
  tile/lib/lib.cc
  tile/lib/tests.cc
Due: clang-format, cpplint

Extract stencil pass to its own file
  tile/codegen/stencil.cc
  tile/codegen/stencil.h
  tile/codegen/test/tile.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
Due: clang-format, cpplint

Use rules_jsonnet
  bzl/workspace.bzl
  plaidml/configs/experimental.json
  plaidml/configs/macos_experimental.json
  tile/pmlc/BUILD
  tile/pmlc/pmlc.cc
  tile/targets/BUILD
  tile/targets/cpu/BUILD
  tile/targets/gpu/BUILD
  tile/targets/gpu/intel_gen9_metal.jsonnet
  tile/targets/gpu/intel_gen9_opencl.jsonnet
  tools/gencfg/BUILD
  tools/gencfg/gencfg.cc
Due: buildifier, clang-format, cpplint

Print attr vals when printing Stripe
  tile/stripe/impl.h
  tile/stripe/stripe.cc
Due: clang-format, cpplint

Adding support for MLIR
  bzl/mlir.BUILD
  bzl/mlir.bzl
  bzl/workspace.bzl
  tile/plaid_ir/BUILD
  tile/plaid_ir/plaid_ir_test.cc
  vendor/llvm/llvm.BUILD
Due: buildifier, clang-format, cpplint

Support for python2 and bugfixes
  plaidml/edsl/__init__.py
Due: yapf

Add SimpleBuffer
  tile/base/buffer.h
  tile/platform/stripejit/BUILD
  tile/platform/stripejit/buffer.cc
  tile/platform/stripejit/buffer.h
  tile/platform/stripejit/platform.cc
Due: clang-format, cpplint

Optimization for the large prime dimensions
  tile/codegen/codegen.proto
  tile/codegen/pad.cc
  tile/codegen/subgroup.cc
  tile/hal/opencl/emitocl.cc
  tile/targets/gpu/intel_gen9_metal.jsonnet
  tile/targets/gpu/intel_gen9_opencl.jsonnet
Due: clang-format, cpplint

implementation of prng_step special for stripe cpu jit
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint

Add softmax test
  tile/lib/lib.cc
  tile/lib/lib.h
  tile/lib/tests.cc
Due: clang-format, cpplint

modify BatchDot to use bcast instead of concat
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
Due: yapf

Add perl to Windows environment
  environment-windows.yml
Due: none

Updating gradient code to work correctly on multi-dimensional tensors
  plaidml/plaidml.cc
Due: clang-format, cpplint

Add --dump-passes-proto
  tile/codegen/driver.cc
  tile/codegen/driver.h
  tile/platform/stripejit/program.cc
  tile/pmlc/pmlc.cc
Due: clang-format, cpplint

Added a pass to adjust strides of constants and intermediates, added math utilities, fixed a bug in subgroups and work around another
  plaidml/plaidml++.h
  tile/codegen/codegen.proto
  tile/codegen/const_prop.cc
  tile/codegen/fix_strides.cc
  tile/codegen/fix_strides.h
  tile/codegen/localize.cc
  tile/codegen/pad.cc
  tile/codegen/subgroup.cc
  tile/hal/metal/hal.cc
  tile/math/BUILD
  tile/math/util.cc
  tile/math/util.h
  tile/targets/BUILD
  tile/targets/gpu/BUILD
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/intel_gen9_opencl.jsonnet
Due: clang-format, cpplint

Add linkage info to EDSL
  plaidml/edsl/BUILD
  plaidml/edsl/_ffi.py
  plaidml/edsl/ffi.h
Due: clang-format, cpplint, yapf

Add Windows LLVM build
  vendor/llvm/llvm.BUILD
Due: buildifier

Fix stripe training
  tile/codegen/test/load_index.cc
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint

Minor tile test.cc tweaks
  tile/codegen/test/tile.cc
Due: clang-format, cpplint

Replace tile_ret_ with a tile_error* out param
  plaidml/_edsl.py
  plaidml/tile.cc
Due: clang-format, cpplint, yapf

add comments on batchdot fix
  plaidml/keras/backend.py
Due: yapf

Suppress Windows boost warning
  bzl/boost.BUILD
Due: buildifier

Fix failed subgroup plans for training
  plaidml/keras/mnist_mlp_test.py
  tile/codegen/codegen.proto
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/subgroup.cc
  tile/ocl_exec/emitsem.cc
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/intel_gen9_metal.jsonnet
Due: clang-format, cpplint, yapf

Add test multiplying mat by const scalar
  tile/lib/lib.cc
  tile/lib/lib.h
  tile/lib/tests.cc
Due: clang-format, cpplint

Fix dead link in contributing.rst
  docs/contributing.rst
Due: none

Add pip as explicit conda dep
  conda/plaidml.yml
  conda/sphinx.yml
Due: none

WIP: python EDSL
  conda/plaidml.yml
  plaidml/BUILD
  plaidml/_edsl.py
  plaidml/edsl.py
  plaidml/edsl_test.py
  plaidml/keras/BUILD
  plaidml/tile.cc
  tile/lang/BUILD
  tile/lang/ast.cc
  tile/lang/ast.h
  tile/lang/gen_stripe_test.cc
  tile/lang/tile_cc.cc
  tile/lang/tile_cc.h
  tile/lang/tile_cc_test.cc
  tile/lib/lib.cc
Due: clang-format, cpplint, yapf

Skip half CPU tests on Windows
  tile/hal/cpu/llvm_test.cc
  tile/hal/cpu/platform_test.cc
Due: clang-format, cpplint

Verify passes test harness
  tile/codegen/test/passes/BUILD
  tile/codegen/test/passes/main.cc
  tile/codegen/test/passes/manager.cc
  tile/codegen/test/passes/manager.h
  tile/codegen/test/passes/runner.cc
  tile/codegen/test/passes/runner.h
  tile/lib/tests.cc
  tile/targets/cpu/BUILD
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint

Separately build kernels in parallel
  tile/base/hal.h
  tile/hal/cpu/library.h
  tile/hal/metal/hal.cc
  tile/hal/metal/hal.h
  tile/hal/opencl/compiler.cc
  tile/hal/opencl/emitocl.cc
  tile/hal/opencl/executor.cc
  tile/hal/opencl/library.cc
  tile/hal/opencl/library.h
Due: clang-format, cpplint

Add reciprocal test
  tile/lang/tile_cc_test.cc
Due: clang-format, cpplint
