Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Fix hermicity
  bzl/python.bzl
  plaidbench/BUILD
  plaidml/BUILD
  plaidml/bridge/keras/BUILD
  pmlc/target/x86/BUILD
  tools/heatmap/build_defs.bzl
  tools/py_cffi/build_defs.bzl
  tools/py_setup/build_defs.bzl
Due: buildifier

windows
  bzl/python.bzl
  plaidbench/BUILD
  plaidml/BUILD
  plaidml/bridge/keras/BUILD
  pmlc/target/x86/BUILD
  tools/heatmap/build_defs.bzl
  tools/py_cffi/build_defs.bzl
  tools/py_setup/build_defs.bzl
Due: buildifier

comments
  bzl/python.bzl
Due: buildifier

Merge unix + windows conda repos
  BUILD
  bzl/workspace.bzl
  plaidbench/BUILD
  plaidml/BUILD
  plaidml/bridge/keras/BUILD
  plaidml/bridge/pytorch/BUILD
  pmlc/target/x86/BUILD
  tools/conda_run/BUILD
  tools/conda_run/conda_unix.cc
  tools/conda_run/conda_windows.cc
  tools/heatmap/build_defs.bzl
  tools/py_cffi/build_defs.bzl
  tools/py_setup/build_defs.bzl
  vendor/conda/repo.bzl
Due: buildifier, clang-format, cpplint

Added a runtime function for the boundschecks.
  pmlc/rt/BUILD
  pmlc/rt/boundscheck.cc
Due: clang-format, cpplint

Added some comments
  pmlc/rt/boundscheck.cc
Due: clang-format, cpplint

Some minor comment changes
  pmlc/rt/boundscheck.cc
Due: clang-format, cpplint

Fix build issues on fresh ubuntu 18.04 (#988)
  BUILD
  bzl/python.bzl
  bzl/workspace.bzl
  plaidml/bridge/pytorch/BUILD
  tools/conda_run/BUILD
  tools/conda_run/conda_unix.cc
  tools/conda_run/conda_windows.cc
  tools/heatmap/build_defs.bzl
  tools/py_cffi/build_defs.bzl
  tools/py_setup/build_defs.bzl
  vendor/conda/repo.bzl
Due: buildifier, clang-format, cpplint

Fix CR issues.
  pmlc/dialect/stdx/tests/boundscheck-load.mlir
  pmlc/dialect/stdx/tests/boundscheck-store.mlir
  pmlc/dialect/stdx/transforms/boundscheck.cc
  pmlc/rt/boundscheck.cc
Due: clang-format, cpplint

Actually throw...
  pmlc/rt/boundscheck.cc
Due: clang-format, cpplint

Fixed a typo
  pmlc/rt/boundscheck.cc
Due: clang-format, cpplint

Use std headers instead of C headers.
  pmlc/rt/boundscheck.cc
Due: clang-format, cpplint

implementation of tile.reshape via memcpy (currently f32 only)
  plaidml/plaidml_link.jsonnet
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/rt/plaidml_rt.jsonnet
  pmlc/rt/runtime.cc
Due: clang-format, cpplint

WIP reorgyolo Reorgyolo test setup added A number of techniques were used to write reorgyolo using EDSL when tested they did not work as expected.
  networks/edsl_examples/BUILD
  networks/edsl_examples/reorgyolo.py
Due: yapf

minor comment
  networks/edsl_examples/reorgyolo.py
Due: yapf

WIP reorgyolo EDSL code updated still getting incorrect results
  networks/edsl_examples/reorgyolo.py
Due: yapf

comments updated
  networks/edsl_examples/reorgyolo.py
Due: yapf

Vulkan runtime basic multi-kernel support
  pmlc/conversion/gpu/gpu_to_vulkan_launch.cc
  pmlc/conversion/gpu/vulkan_launch_to_vulkan_calls.cc
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/rt/vulkan/wrappers.cc
  pmlc/tools/pmlc-vulkan-runner/addf.mlir
  pmlc/tools/pmlc-vulkan-runner/multi-kernel.mlir
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Update third party dependencies
  WORKSPACE
  bzl/easylogging.BUILD
  bzl/workspace.bzl
  bzl/zlib.BUILD
  plaidml/BUILD
  plaidml/setup.py
  pmlc/util/bilp/BUILD
  pmlc/util/math/BUILD
  tools/conda_run/BUILD
Due: buildifier, yapf

Fix windows
  WORKSPACE
  bzl/workspace.bzl
  plaidml/BUILD
  plaidml/setup.py
  pmlc/util/bilp/BUILD
  pmlc/util/math/BUILD
  tools/conda_run/BUILD
Due: buildifier, yapf

Fix windows, 1.72.0 seems broken
  bzl/workspace.bzl
Due: buildifier

Added a test for RT bounds check.
  pmlc/dialect/stdx/tests/boundscheck-rt.mlir
  pmlc/tools/pmlc-jit/pmlc-jit.cc
Due: clang-format, cpplint

Added a comment describing the vexpected exception support.
  pmlc/dialect/stdx/tests/boundscheck-rt.mlir
  pmlc/tools/pmlc-jit/pmlc-jit.cc
Due: clang-format, cpplint

Fixed a CI build issue with catching a polymorphic exception by value.
  pmlc/tools/pmlc-jit/pmlc-jit.cc
Due: clang-format, cpplint

upload bazel testlogs
  ci/pipeline.yml
Due: none

Use the FileCheck utility to verify that an exception was thrown by the jit runner.
  pmlc/dialect/stdx/tests/boundscheck-rt.mlir
  pmlc/tools/pmlc-jit/pmlc-jit.cc
Due: clang-format, cpplint

WIP
  plaidml/edsl/tests/BUILD
  pmlc/BUILD
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
  pmlc/conversion/gpu/tests/add_elements.mlir
  pmlc/conversion/gpu_to_vulkan/BUILD
  pmlc/conversion/gpu_to_vulkan/gpu_to_vulkan.cc
  pmlc/conversion/gpu_to_vulkan/gpu_to_vulkan_launch.cc
  pmlc/conversion/gpu_to_vulkan/lowering.cc
  pmlc/conversion/gpu_to_vulkan/lowering.h
  pmlc/conversion/gpu_to_vulkan/tests/BUILD
  pmlc/conversion/gpu_to_vulkan/tests/addf.mlir
  pmlc/conversion/gpu_to_vulkan/vulkan_launch_to_vulkan_calls.cc
  pmlc/dialect/vulkan/BUILD
  pmlc/dialect/vulkan/ir/BUILD
  pmlc/dialect/vulkan/ir/ops.cc
  pmlc/dialect/vulkan/ir/ops.h
  pmlc/dialect/vulkan/ir/ops.td
  pmlc/rt/vulkan/tests/multi-kernel.mlir
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/rt/vulkan/wrappers.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Make convolution easier to use
  networks/oplib/resnet50.cc
  plaidml/bridge/keras/__init__.py
  plaidml/edsl/__init__.py
  plaidml/op/BUILD
  plaidml/op/__init__.py
  plaidml/op/lib/BUILD
  plaidml/op/lib/design.md
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint, yapf

Cleanups
  plaidml/edsl/__init__.py
Due: yapf

Add linux debug build
  ci/buildkite.py
  ci/plan.yml
Due: yapf

Update third party dependencies (#994)
  bzl/easylogging.BUILD
  bzl/workspace.bzl
  bzl/zlib.BUILD
  plaidml/BUILD
  plaidml/setup.py
  pmlc/util/bilp/BUILD
Due: buildifier, yapf

Addressed some CR comments.
  pmlc/dialect/stdx/tests/boundscheck-rt.mlir
  pmlc/tools/pmlc-jit/pmlc-jit.cc
Due: clang-format, cpplint

Added exported functions.
  plaidml/plaidml_link.jsonnet
  pmlc/rt/plaidml_rt.jsonnet
  pmlc/rt/vulkan/vulkan_rt.jsonnet
Due: none

Make convolution easier to use (#997)
  networks/oplib/resnet50.cc
  plaidml/bridge/keras/__init__.py
  plaidml/edsl/__init__.py
  plaidml/op/BUILD
  plaidml/op/__init__.py
  plaidml/op/lib/BUILD
  plaidml/op/lib/design.md
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint, yapf

forward = false fix attempted still getting a bunch of zeros in output working on a fix
  networks/edsl_examples/reorgyolo.py
Due: yapf

upload testlogs as artifacts
  ci/pipeline.yml
Due: none

only upload test.logs
  ci/pipeline.yml
Due: none

upload test logs as artifacts in pipeline (#1000)
  ci/pipeline.yml
Due: none

Moved the rt test from stdx to rt directory.
  pmlc/rt/tests/BUILD
  pmlc/rt/tests/boundscheck-rt.mlir
Due: none

Added a runtime function for the boundschecks. (#990)
  plaidml/plaidml_link.jsonnet
  pmlc/dialect/stdx/tests/boundscheck-load.mlir
  pmlc/dialect/stdx/tests/boundscheck-store.mlir
  pmlc/dialect/stdx/transforms/boundscheck.cc
  pmlc/rt/BUILD
  pmlc/rt/boundscheck.cc
  pmlc/rt/plaidml_rt.jsonnet
  pmlc/rt/tests/BUILD
  pmlc/rt/tests/boundscheck-rt.mlir
  pmlc/rt/vulkan/vulkan_rt.jsonnet
  pmlc/tools/pmlc-jit/pmlc-jit.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

