Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Connect ReturnOp to output arguments instead of allocated memref (#1859)
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/collapse.mlir
  pmlc/conversion/linalg_to_pxa/test/constant.mlir
  pmlc/conversion/linalg_to_pxa/test/conv.mlir
  pmlc/conversion/linalg_to_pxa/test/copy.mlir
  pmlc/conversion/linalg_to_pxa/test/expand.mlir
  pmlc/conversion/linalg_to_pxa/test/fill.mlir
  pmlc/conversion/linalg_to_pxa/test/generic.mlir
  pmlc/conversion/linalg_to_pxa/test/index.mlir
  pmlc/conversion/linalg_to_pxa/test/pad_tensor.mlir
  pmlc/conversion/linalg_to_pxa/test/pooling.mlir
Due: clang-format, cpplint

Fix
  pmlc/dialect/pxa/transforms/fusion.cc
Due: clang-format, cpplint

Adjust keras to use Constant for vars. Fix closure related bugs
  plaidml/bridge/keras/CMakeLists.txt
  plaidml/bridge/keras/__init__.py
  plaidml/bridge/keras/mnist_mlp.py
  plaidml/bridge/keras/mnist_mlp_test.py
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/lib/ops.cc
  pmlc/ast/builder.cc
  pmlc/conversion/linalg_to_pxa/test/conv.mlir
  pmlc/conversion/stdx_to_llvm/tests/pack.mlir
  pmlc/conversion/tile_to_pxa/tests/closure.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/tests/main_closure.mlir
  pmlc/dialect/stdx/tests/roundtrip.mlir
  pmlc/dialect/stdx/tests/split_closure.mlir
  pmlc/dialect/stdx/transforms/main_closure.cc
  pmlc/dialect/stdx/transforms/split_closure.cc
  pmlc/rt/jit_executable.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint, yapf

Drop support for updates
  plaidml/bridge/keras/backend_test.py
Due: yapf

Verify the correctness of Tile->Linalg->PXA
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fixed std::ClosureOp
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Fix contraction init in tile->linalg
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fix typo
  pmlc/dialect/stdx/tests/split_closure.mlir
Due: none

Adjust keras to use Constant for vars. Fix closure related bugs (#1864)
  plaidml/bridge/keras/CMakeLists.txt
  plaidml/bridge/keras/__init__.py
  plaidml/bridge/keras/backend_test.py
  plaidml/bridge/keras/mnist_mlp.py
  plaidml/bridge/keras/mnist_mlp_test.py
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/lib/ops.cc
  pmlc/ast/builder.cc
  pmlc/conversion/linalg_to_pxa/test/conv.mlir
  pmlc/conversion/stdx_to_llvm/tests/pack.mlir
  pmlc/conversion/tile_to_pxa/tests/closure.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/tests/main_closure.mlir
  pmlc/dialect/stdx/tests/roundtrip.mlir
  pmlc/dialect/stdx/tests/split_closure.mlir
  pmlc/dialect/stdx/transforms/main_closure.cc
  pmlc/dialect/stdx/transforms/split_closure.cc
  pmlc/rt/jit_executable.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint, yapf

WIP
  pmlc/dialect/pxa/tests/reorder_layouts.mlir
  pmlc/target/x86/tests/conv_simple.mlir
  pmlc/target/x86/tests/layout.mlir
  pmlc/target/x86/tests/resnet50.mlir
Due: none

WIP
  pmlc/CMakeLists.txt
  pmlc/all_passes.h
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/tests/layout.mlir
  pmlc/transforms/CMakeLists.txt
  pmlc/transforms/hoisting.cc
  pmlc/transforms/pass_detail.h
  pmlc/transforms/passes.h
  pmlc/transforms/passes.td
  pmlc/transforms/tests/hoisting.mlir
Due: clang-format, cpplint

Fix CondOp
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Add test cases
  pmlc/conversion/tile_to_linalg/tests/closure.mlir
  pmlc/conversion/tile_to_linalg/tests/tensor_init.mlir
Due: none

Fix reshape in linalg->pxa
  pmlc/conversion/linalg_to_pxa/reshape.cc
  pmlc/conversion/linalg_to_pxa/test/collapse.mlir
  pmlc/conversion/linalg_to_pxa/test/expand.mlir
Due: clang-format, cpplint

Fixed ReshapeOp in tile->linalg
  pmlc/conversion/tile_to_linalg/tests/reshape.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Remove Prng conversion
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Fix ident injection in tile->linalg
  pmlc/conversion/tile_to_linalg/CMakeLists.txt
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Add a test case
  pmlc/conversion/tile_to_linalg/tests/const_closure.mlir
Due: none

Add linalg-based reorder layouts pass
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/reorder_layouts.cc
  pmlc/target/x86/tests/layout.mlir
Due: clang-format, cpplint

Fix
  pmlc/target/x86/reorder_layouts.cc
Due: clang-format, cpplint

Add WIP script to serialize TF model to *.mlir
  plaidml/bridge/tf/import_tf_to_mlir.py
Due: yapf

WIP Experimental mlperf
  plaidml/bridge/tf/import_tf_to_mlir.py
Due: yapf

Forward reorders thru eltwise ops
  pmlc/target/x86/reorder_layouts.cc
  pmlc/target/x86/tests/reorder_layouts.mlir
  pmlc/transforms/hoisting.cc
Due: clang-format, cpplint

Add i3d-kinetics support
  plaidml/bridge/tf/import_tf_to_mlir.py
Due: yapf

Fixed broadcast in contraction init
  pmlc/conversion/tile_to_linalg/tests/broadcast.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Remove non-SavedModel attempts
  plaidml/bridge/tf/import_tf_to_mlir.py
Due: yapf

Add linalg-based reorder layouts pass (#1865)
  pmlc/CMakeLists.txt
  pmlc/all_passes.h
  pmlc/dialect/pxa/tests/reorder_layouts.mlir
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/reorder_layouts.cc
  pmlc/target/x86/tests/conv_simple.mlir
  pmlc/target/x86/tests/reorder_layouts.mlir
  pmlc/target/x86/tests/resnet50.mlir
  pmlc/transforms/CMakeLists.txt
  pmlc/transforms/hoisting.cc
  pmlc/transforms/pass_detail.h
  pmlc/transforms/passes.h
  pmlc/transforms/passes.td
  pmlc/transforms/tests/hoisting.mlir
Due: clang-format, cpplint

Merge FuncOp and ClosureOp conversion
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Add signless in typeScore
  pmlc/dialect/tile/ir/util.cc
Due: clang-format, cpplint

Add detection networks
  plaidml/bridge/tf/import_tf_to_mlir.py
Due: yapf

Delete unused arguments
  plaidml/bridge/tf/import_tf_to_mlir.py
Due: yapf

Fix eltwise padding
  pmlc/conversion/tile_to_linalg/tests/pad_eltwise.mlir
  pmlc/conversion/tile_to_linalg/tests/padding.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Verify the path tile->linalg->pxa and fix bugs (#1868)
  pmlc/conversion/linalg_to_pxa/reshape.cc
  pmlc/conversion/linalg_to_pxa/test/collapse.mlir
  pmlc/conversion/linalg_to_pxa/test/expand.mlir
  pmlc/conversion/tile_to_linalg/CMakeLists.txt
  pmlc/conversion/tile_to_linalg/tests/broadcast.mlir
  pmlc/conversion/tile_to_linalg/tests/closure.mlir
  pmlc/conversion/tile_to_linalg/tests/const_closure.mlir
  pmlc/conversion/tile_to_linalg/tests/pad_eltwise.mlir
  pmlc/conversion/tile_to_linalg/tests/padding.mlir
  pmlc/conversion/tile_to_linalg/tests/reshape.mlir
  pmlc/conversion/tile_to_linalg/tests/tensor_init.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/dialect/tile/ir/util.cc
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Allow tile specials to passthru linalg to PXA
  pmlc/conversion/linalg_to_pxa/CMakeLists.txt
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/pass_detail.h
  pmlc/conversion/linalg_to_pxa/passes.td
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_pxa/pass_detail.h
  pmlc/conversion/tile_to_pxa/specials.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/conversion/tile_to_pxa/utils.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Add silero-stt and s3d-video
  plaidml/bridge/tf/import_tf_to_mlir.py
Due: yapf

Refactor to share architecture (incomplete)
  plaidml/bridge/tf/import_tf_to_mlir.py
Due: yapf

Allow tile specials to passthru linalg to PXA (#1869)
  pmlc/conversion/linalg_to_pxa/CMakeLists.txt
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/pass_detail.h
  pmlc/conversion/linalg_to_pxa/passes.td
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_pxa/pass_detail.h
  pmlc/conversion/tile_to_pxa/specials.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/conversion/tile_to_pxa/utils.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Refactor, reordering and cleaning
  plaidml/bridge/tf/import_tf_to_mlir.py
Due: yapf

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

