Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

[OpenCL] Add temporary sub-group size lowering (#1419)
  pmlc/target/intel_gen_ocl_spirv/pass_detail.h
  pmlc/target/intel_gen_ocl_spirv/passes.h
  pmlc/target/intel_gen_ocl_spirv/passes.td
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/spirv_target.cc
  pmlc/target/intel_gen_ocl_spirv/sub_group_size.cc
  pmlc/target/intel_gen_ocl_spirv/tests/subgroup_size.mlir
Due: clang-format, cpplint

Disable a few OpenVINO warnings (#1418)
  vendor/openvino/openvino.BUILD
Due: buildifier

Update deprecated header loc
  pmlc/util/math/bignum.cc
Due: clang-format, cpplint

fixes and add tests
  pmlc/lit.cfg.py
  pmlc/rt/openmp/parallel_test.cc
  vendor/openmp/openmp.BUILD
Due: buildifier, clang-format, cpplint, yapf

Update deprecated header loc (#1420)
  pmlc/util/math/bignum.cc
Due: clang-format, cpplint

Initial set of OpenMP build rules (#1398)
  bzl/workspace.bzl
  pmlc/lit.cfg.py
  pmlc/rt/openmp/parallel_test.cc
  vendor/llvm/expand_cmake_vars.py
  vendor/openmp/BUILD
  vendor/openmp/openmp.BUILD
Due: buildifier, clang-format, cpplint, yapf

Silence ICD warnings
  vendor/opencl_icd_loader/opencl_icd_loader.BUILD
Due: buildifier

Silence ICD warnings (#1421)
  vendor/opencl_icd_loader/opencl_icd_loader.BUILD
Due: buildifier

Tweak secure getenv condition
  vendor/opencl_icd_loader/opencl_icd_loader.BUILD
Due: buildifier

Move JitExecutable logic to jit_executable.cc (#1422)
  pmlc/rt/executable.cc
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint

Try the other secure getenv
  vendor/opencl_icd_loader/opencl_icd_loader.BUILD
Due: buildifier

Tweak cmake comment
  vendor/opencl_icd_loader/opencl_icd_loader.BUILD
Due: buildifier

GPU bug minimal example
  networks/scitile/LAS/BUILD
  networks/scitile/LAS/min_ex.py
Due: yapf

Tweak secure getenv condition (#1423)
  vendor/opencl_icd_loader/opencl_icd_loader.BUILD
Due: buildifier

Move -Wall to PlaidML code only
  bzl/plaidml.bzl
  toolchain/build_defs.bzl
Due: buildifier

Add exactly-match option for fusion pass
  pmlc/dialect/pxa/tests/fusion-match.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
Due: clang-format, cpplint

Update deprecated header
  pmlc/util/math/basis.cc
Due: clang-format, cpplint

[comp] Add basic execenv coalescing pass
  pmlc/all_passes.h
  pmlc/dialect/comp/BUILD
  pmlc/dialect/comp/tests/execenv_coalescing.mlir
  pmlc/dialect/comp/transforms/BUILD
  pmlc/dialect/comp/transforms/execenv_coalescing.cc
  pmlc/dialect/comp/transforms/pass_detail.h
  pmlc/dialect/comp/transforms/passes.h
  pmlc/dialect/comp/transforms/passes.td
  pmlc/target/intel_gen_ocl_spirv/BUILD
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

Update deprecated header (#1427)
  pmlc/util/math/basis.cc
Due: clang-format, cpplint

[comp] Add basic execenv coalescing pass (#1426)
  pmlc/all_passes.h
  pmlc/dialect/comp/BUILD
  pmlc/dialect/comp/tests/execenv_coalescing.mlir
  pmlc/dialect/comp/transforms/BUILD
  pmlc/dialect/comp/transforms/execenv_coalescing.cc
  pmlc/dialect/comp/transforms/pass_detail.h
  pmlc/dialect/comp/transforms/passes.h
  pmlc/dialect/comp/transforms/passes.td
  pmlc/target/intel_gen_ocl_spirv/BUILD
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

Add exactly-match option for fusion pass (#1425)
  pmlc/dialect/pxa/tests/fusion-match.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
Due: clang-format, cpplint

Fix potential bug if outStrides is empty in pad_range
  pmlc/dialect/tile/transforms/pad_ranges.cc
Due: clang-format, cpplint

use empty() instread of size()==0
  pmlc/dialect/tile/transforms/pad_ranges.cc
Due: clang-format, cpplint

Fix
  pmlc/dialect/tile/transforms/pad_ranges.cc
  pmlc/util/strides.cc
Due: clang-format, cpplint

Fix potential bug if outStrides is empty in pad_range (#1429)
  pmlc/util/strides.cc
Due: clang-format, cpplint

Fix explicit_padding infinite padding value bug
  plaidml/op/lib/ops.cc
  plaidml/op/op_test.cc
  plaidml/testenv.h
Due: clang-format, cpplint

format
  plaidml/op/op_test.cc
Due: clang-format, cpplint

format
  plaidml/testenv.h
Due: clang-format, cpplint

[comp] Fix comp to llvm memref conversion
  pmlc/conversion/comp_to_llvm/common.cc
  pmlc/conversion/comp_to_llvm/comp_to_ocl.cc
  pmlc/conversion/comp_to_llvm/passes.h
  pmlc/conversion/comp_to_llvm/tests/comp_to_ocl.mlir
Due: clang-format, cpplint

CR feedback
  demos/mlsys_2020/core.py
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/reshape.cpp
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
Due: clang-format, cpplint, yapf

Fix issue found in CR
  plaidml/bridge/keras/__init__.py
Due: yapf

[comp] Fix comp to llvm memref conversion (#1428)
  pmlc/conversion/comp_to_llvm/common.cc
  pmlc/conversion/comp_to_llvm/comp_to_ocl.cc
  pmlc/conversion/comp_to_llvm/passes.h
  pmlc/conversion/comp_to_llvm/tests/comp_to_ocl.mlir
Due: clang-format, cpplint

Addressing code review comments: changing the variable names, changing the way range of a loop variable is got, adding comments
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Fix line endings
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/rt/xsmm.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Fix poor .td file that was clang formatted
  pmlc/dialect/pxa/ir/ops.td
Due: none

Hand correcting some more non-mlir whitespace style
  pmlc/dialect/xsmm/ir/ops.td
Due: none

fix openvino api
  plaidml/bridge/openvino/src/plaidml_plugin/ops/pad.cpp
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

