Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Updated LIBXSMM (fetch).
  cmake/third_party/xsmm.cmake
Due: none

Adding tarfile member sanitization to extractall()
  ci/openvino.py
Due: yapf

Updated LIBXSMM (fetched).
  cmake/third_party/xsmm.cmake
Due: none

Improved configuration defaults. Reformatted Python script using black, incorporated flake8 recommendations, and reformatted with yapf.
  configure
Due: none

Adjusted format.
  configure
Due: none

Add package URLs.
  plaidml/setup.in.py
Due: yapf

Updated LIBXSMM.
  cmake/third_party/xsmm.cmake
Due: none

Workaround for GCC 13.1 and newer (reduced implicit header dependencies).
  configure
Due: none

Account for LIBXSMM 2.0
  pmlc/rt/instrument.cc
Due: clang-format, cpplint

Print helpful hints if configuration fails.
  configure
Due: none

Revised b2394813fd5409a17f8e74877a6828bb52ef6835 and 1bfb1c2f70f8e553046ecfacb847d22b7b9ab8fc.
  configure
Due: none

Apply c56c573d5243b39e186cc48341fa698bf7df6891 for Clang and GCC (in principle).
  configure
Due: none

Attempt to support newer GCC/compilers with potentially fewer implicit header dependencies (-include).
  configure
Due: none

Attempt to initialize Shell for using Conda.
  configure
Due: none

Revert "Attempt to initialize Shell for using Conda."
  configure
Due: none
