Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    bzl/conda.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Use affine.parallel custom printer/parser
  bzl/workspace.bzl
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
Due: buildifier

Improve API and docs
  docs/api/core.rst
  docs/api/edsl.rst
  docs/api/exec.rst
  plaidml/BUILD
  plaidml/bridge/keras/BUILD
  plaidml/core/__init__.py
  plaidml/core/core.h
  plaidml/core/core_test.py
  plaidml/core/ffi.cc
  plaidml/core/ffi.h
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.py
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
  plaidml/interact.py
  plaidml/op/op.h
  plaidml/plaidml_link.jsonnet
Due: clang-format, cpplint, yapf

Fix build
  vendor/llvm/llvm.BUILD
  vendor/llvm/llvm.bzl
Due: buildifier

Improve API and docs (#913)
  docs/api/core.rst
  docs/api/edsl.rst
  docs/api/exec.rst
  plaidml/BUILD
  plaidml/bridge/keras/BUILD
  plaidml/core/__init__.py
  plaidml/core/core.h
  plaidml/core/core_test.py
  plaidml/core/ffi.cc
  plaidml/core/ffi.h
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.py
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
  plaidml/interact.py
  plaidml/op/op.h
  plaidml/plaidml_link.jsonnet
Due: clang-format, cpplint, yapf

Use `lit` for EDSL tests
  plaidml/edsl/BUILD
  plaidml/edsl/tests/BUILD
  plaidml/edsl/tests/CPPLINT.cfg
  plaidml/edsl/tests/__init__.py
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  pmlc/lit.bzl
  pmlc/runlit.cfg.py
  pmlc/runlit.site.cfg.py
Due: buildifier, clang-format, cpplint, yapf

Fix
  plaidml/edsl/BUILD
Due: none

Normalize target/device
  plaidml/edsl/tests/edsl_test.py
  plaidml/testenv.cc
Due: clang-format, cpplint, yapf

Updates
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
Due: clang-format, cpplint

Use `lit` for EDSL tests (#914)
  plaidml/edsl/BUILD
  plaidml/edsl/tests/BUILD
  plaidml/edsl/tests/CPPLINT.cfg
  plaidml/edsl/tests/__init__.py
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  plaidml/testenv.cc
  pmlc/lit.bzl
  pmlc/runlit.cfg.py
  pmlc/runlit.site.cfg.py
Due: buildifier, clang-format, cpplint, yapf

Move AffineParallelOp into affine dialect (#911)
  bzl/workspace.bzl
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tests/bit_right_scalar.mlir
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/autotile.cc
  pmlc/dialect/pxa/transforms/autotile.h
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/pxa/transforms/tile.h
  pmlc/dialect/tile/builder.cc
  vendor/llvm/llvm.BUILD
  vendor/llvm/llvm.bzl
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

WIP: padding pass
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/dialect/tile/transforms/padding.cc
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/registration.cc
Due: clang-format, cpplint

Added padding pass
  pmlc/dialect/tile/tests/padding.mlir
  pmlc/dialect/tile/transforms/padding.cc
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/registration.cc
Due: clang-format, cpplint

Minor commits from CR
  pmlc/dialect/tile/tests/padding.mlir
  pmlc/dialect/tile/transforms/padding.cc
Due: clang-format, cpplint

Removed overly aggressive assert
  pmlc/dialect/tile/transforms/padding.cc
Due: clang-format, cpplint

Fixed a huge bug, thanks assert
  pmlc/dialect/tile/transforms/padding.cc
Due: clang-format, cpplint

Added a padding pass, which computes padding and adds as attributes. (#917)
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/tests/padding.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/dialect/tile/transforms/padding.cc
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/registration.cc
Due: clang-format, cpplint

Bump to latest LLVM/MLIR
  WORKSPACE
  bzl/bazel.rc
  bzl/workspace.bzl
  plaidml/edsl/ffi.cc
  pmlc/BUILD
  pmlc/all_dialects.h
  pmlc/all_passes.h
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
  pmlc/compiler/registry.cc
  pmlc/conversion/pxa_to_affine/BUILD
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/tools/pmlc-opt/BUILD
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Static link to Vulkan loader instead of indirect linking Add asm path in building Vulkan loader Code refactoring
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/vulkan_fn.h
  pmlc/tools/pmlc-vulkan-runner/vulkan_pfn.h
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner.cc
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner.h
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner_support.h
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner_tests.cc
  vendor/vulkan_loader/vulkan_loader.BUILD
Due: buildifier, clang-format, cpplint

Bump to latest LLVM/MLIR (#920)
  WORKSPACE
  bzl/bazel.rc
  bzl/workspace.bzl
  plaidml/edsl/ffi.cc
  pmlc/BUILD
  pmlc/all_dialects.h
  pmlc/all_passes.h
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
  pmlc/compiler/registry.cc
  pmlc/conversion/pxa_to_affine/BUILD
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/tools/pmlc-opt/BUILD
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Make stride computation analysis pass
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/analysis/BUILD
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/test_analysis.cc
  pmlc/dialect/pxa/transforms/test_analysis.h
Due: clang-format, cpplint

WIP
  pmlc/compiler/compiler.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/xsmm/ir/BUILD
  pmlc/dialect/xsmm/ir/dialect.cc
  pmlc/dialect/xsmm/ir/dialect.h
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.h
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/ir/registration.cc
  pmlc/lit.bzl
  pmlc/runlit.cfg.py
  pmlc/runlit.site.cfg.py
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/trace.mlir
  pmlc/target/x86/tests/xsmm.mlir
  pmlc/target/x86/trace_linking.cc
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint, yapf

Add Vulkan runner and Vulkan loader
  bzl/vulkan_headers.BUILD
  bzl/workspace.bzl
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/vulkan_fn.h
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner.cc
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner.h
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner_tests.cc
  vendor/vulkan_loader/BUILD
  vendor/vulkan_loader/vulkan_loader.BUILD
  vendor/vulkan_loader/vulkan_loader.patch
Due: buildifier, clang-format, cpplint

Make stride computation analysis pass (#922)
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/analysis/BUILD
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/test_analysis.cc
  pmlc/dialect/pxa/transforms/test_analysis.h
Due: clang-format, cpplint

Fixes
  networks/oplib/BUILD
  networks/oplib/run.cc
  pmlc/compiler/compiler.cc
  pmlc/rt/BUILD
  pmlc/rt/runtime.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/trace_linking.cc
  pmlc/tools/pmlc-jit/BUILD
  vendor/llvm/llvm.BUILD
Due: buildifier, clang-format, cpplint

update keras backend to accommodate Tensor API changes (shape/rank)
  plaidml/bridge/keras/__init__.py
Due: yapf

Add Vulkan runner and Vulkan loader (#921)
  bzl/vulkan_headers.BUILD
  bzl/workspace.bzl
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/vulkan_fn.h
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner.cc
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner.h
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner_tests.cc
  vendor/vulkan_loader/BUILD
  vendor/vulkan_loader/vulkan_loader.BUILD
  vendor/vulkan_loader/vulkan_loader.patch
Due: buildifier, clang-format, cpplint

update keras backend to accommodate Tensor API changes (shape/rank) (#924)
  plaidml/bridge/keras/__init__.py
Due: yapf

Remove xsmm
  pmlc/dialect/xsmm/ir/BUILD
  pmlc/dialect/xsmm/ir/dialect.cc
  pmlc/dialect/xsmm/ir/dialect.h
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.h
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/ir/registration.cc
Due: clang-format, cpplint

remove xsmm
  pmlc/target/x86/tests/xsmm.mlir
Due: none

Add overlooked dtype rewrite
  plaidml/bridge/keras/__init__.py
Due: yapf

Fix plaidml.op linking
  plaidml/op/BUILD
Due: none

Use partial backend_test in CI
  ci/plan.yml
Due: none

Test pmlc-jit
  pmlc/rt/runtime.cc
  pmlc/target/x86/tests/trace.mlir
Due: clang-format, cpplint

Turn on auto-starting CI
  ci/plan.yml
Due: none

Add pmlc-jit and pmlc/rt (#925)
  networks/oplib/BUILD
  networks/oplib/run.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/lit.bzl
  pmlc/rt/BUILD
  pmlc/rt/runtime.cc
  pmlc/runlit.cfg.py
  pmlc/runlit.site.cfg.py
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/trace.mlir
  pmlc/target/x86/trace_linking.cc
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint, yapf

Run a subset of backend_test in CI (#926)
  ci/plan.yml
  plaidml/bridge/keras/__init__.py
  plaidml/op/BUILD
Due: yapf

Add compiler API
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

fix
  plaidml/edsl/ffi.cc
Due: clang-format, cpplint

Add compiler API to convert tile source code into Program (#927)
  plaidml/edsl/ffi.cc
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

Dispatch calls to xsmm
  bzl/bazel.rc
  bzl/workspace.bzl
  pmlc/BUILD
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/lit.bzl
  pmlc/lit.cfg.py
  pmlc/lit.site.cfg.py
  pmlc/rt/BUILD
  pmlc/rt/memref.h
  pmlc/rt/runtime.cc
  pmlc/rt/xsmm.cc
  pmlc/target/x86/tests/xsmm.mlir
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-opt/BUILD
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  pmlc/tools/pmlc-tblgen/BUILD
  pmlc/tools/pmlc-translate/BUILD
  pmlc/util/all_dialects.h
  pmlc/util/all_passes.h
  vendor/mlir/test.BUILD
  vendor/xsmm/xsmm.BUILD
Due: buildifier, clang-format, cpplint, yapf
