Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Replace conda_wrapper.py with c++ conda_run
  bzl/conda.bzl
  bzl/conda.tpl.py
  tools/conda_run/BUILD
  tools/conda_run/conda.cc
Due: buildifier, clang-format, cpplint

Add Linux libplaidml linker script
  plaidml/BUILD
  plaidml/libplaidml.lds
Due: none

Move tools needed by bazel into conda_repo
  bzl/plaidml.bzl
  bzl/workspace.bzl
  conda/BUILD
  conda/tools-unix.BUILD
  conda/tools-unix.yml
  conda/tools-windows.BUILD
  conda/tools-windows.yml
  environment-windows.yml
  environment.yml
  tile/lang/BUILD
  tile/lang/tile.y
Due: buildifier

Local cache with odd size and improve AMD config
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/codegen.proto
  tile/targets/gpu/amd.jsonnet
Due: clang-format, cpplint

Updating documents for custom config
  README.md
  docs/building.md
Due: none

Removing old astgen cruft
  base/util/astgen/BUILD
  base/util/astgen/astgen.py
  base/util/astgen/base.template
  base/util/astgen/test_ast.cc
  base/util/astgen/test_ast.yaml
Due: clang-format, cpplint, yapf

Add LLVM CPU to Windows plaidml wheel
  plaidml/BUILD
Due: none

Disable mir_test on Windows
  bzl/bazel.rc
  pmlc/dialect/mir/BUILD
Due: none

CreateMutex workaround for xsmm
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint

Exclude catch tests on Windows
  bzl/bazel.rc
  tile/lang/BUILD
  tile/math/BUILD
Due: none

Disable conda targets on Windows
  bzl/bazel.rc
  bzl/conda.bzl
  plaidml2/BUILD
  plaidml2/bridge/keras/BUILD
  plaidml2/bridge/pytorch/BUILD
  plaidml2/core/BUILD
  plaidml2/edsl/BUILD
  plaidml2/exec/BUILD
  plaidml2/op/BUILD
  tools/py_cffi/build_defs.bzl
Due: buildifier

Disable protobuf inline function warning
  bzl/protobuf.BUILD
Due: buildifier

Include llvm copts for CPU
  tile/targets/cpu/BUILD
Due: none

Upgrade to bazel 0.28.1
  .bazelversion
  bzl/bazel.rc
  bzl/plaidml.bzl
  tools/gencfg/build_defs.bzl
  tools/py_cffi/build_defs.bzl
Due: buildifier

Update LLVM and MLIR
  WORKSPACE
  bzl/workspace.bzl
  pmlc/dialect/hir/BUILD
  pmlc/dialect/mir/BUILD
  pmlc/dialect/scalar/BUILD
  vendor/mlir/BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/mlir.bzl
Due: buildifier

Add dev_http_archive
  bzl/dev_repo.bzl
  bzl/dev_repo.py
  bzl/workspace.bzl
Due: buildifier, yapf

Upgrade protobuf to 3.9.0
  bzl/protobuf.BUILD
  bzl/workspace.bzl
  plaidml/BUILD
Due: buildifier

Implementation of K.all
  plaidml/keras/backend.py
  plaidml/op.py
Due: yapf

Add unit test for K.all
  plaidml/keras/backend_test.py
Due: yapf

Small correction to K.all implementation
  plaidml/op.py
Due: yapf

Improve configure script and update docs/building.md
  .clang-format
  .gitignore
  bzl/bazel.rc
  bzl/conda_wrapper.py
  conda/pytorch.yml
  conda/tools-windows.yml
  configure
  docs/building.md
  environment-windows.yml
  environment.yml
Due: yapf

Add missing constraints in cache pass. Optimize passes for metal.
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/autotile.cc
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/codegen.proto
  tile/codegen/fuse.cc
  tile/codegen/reorder.cc
  tile/codegen/test/unaligned.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/hal/opencl/compute_kernel.cc
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/nvidia.jsonnet
Due: clang-format, cpplint

Add tests that demonstrate bad oerf for the CPU jit and abilty to measure from the backend tests.
  plaidml/keras/backend_test.py
  tile/codegen/codegen.proto
  tile/targets/cpu/cpu.jsonnet
Due: clang-format, yapf

Replace travis badge w/ buildkite badge
  README.md
Due: none
