Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Cleanup holding onto tf.function
  plaidml/bridge/tf/import_tf_to_mlir.py
Due: yapf

Cleanups of tile_to_linalg
  pmlc/conversion/linalg_to_pxa/test/constant.mlir
  pmlc/conversion/linalg_to_pxa/test/copy.mlir
  pmlc/conversion/linalg_to_pxa/test/generic.mlir
  pmlc/conversion/linalg_to_pxa/test/index.mlir
  pmlc/conversion/linalg_to_pxa/test/pooling.mlir
  pmlc/conversion/tile_to_linalg/CMakeLists.txt
  pmlc/conversion/tile_to_linalg/pass_detail.h
  pmlc/conversion/tile_to_linalg/specials.cc
  pmlc/conversion/tile_to_linalg/tests/closure.mlir
  pmlc/conversion/tile_to_linalg/tests/dot.mlir
  pmlc/conversion/tile_to_linalg/tests/double_dot.mlir
  pmlc/conversion/tile_to_linalg/tests/pad_eltwise.mlir
  pmlc/conversion/tile_to_linalg/tests/padding.mlir
  pmlc/conversion/tile_to_linalg/tests/pooling.mlir
  pmlc/conversion/tile_to_linalg/tests/tensor_init.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Oops
  pmlc/conversion/tile_to_linalg/tests/padding.mlir
Due: none

Flaub/fix linalg to pxa (#1872)
  pmlc/conversion/linalg_to_pxa/test/constant.mlir
  pmlc/conversion/linalg_to_pxa/test/copy.mlir
  pmlc/conversion/linalg_to_pxa/test/generic.mlir
  pmlc/conversion/linalg_to_pxa/test/index.mlir
  pmlc/conversion/linalg_to_pxa/test/pooling.mlir
  pmlc/conversion/tile_to_linalg/CMakeLists.txt
  pmlc/conversion/tile_to_linalg/pass_detail.h
  pmlc/conversion/tile_to_linalg/specials.cc
  pmlc/conversion/tile_to_linalg/tests/closure.mlir
  pmlc/conversion/tile_to_linalg/tests/dot.mlir
  pmlc/conversion/tile_to_linalg/tests/double_dot.mlir
  pmlc/conversion/tile_to_linalg/tests/pad_eltwise.mlir
  pmlc/conversion/tile_to_linalg/tests/padding.mlir
  pmlc/conversion/tile_to_linalg/tests/pooling.mlir
  pmlc/conversion/tile_to_linalg/tests/tensor_init.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

General reshape for tile->linalg
  pmlc/conversion/tile_to_linalg/tests/reshape.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Fix rebase issue
  pmlc/conversion/tile_to_linalg/pass_detail.h
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_linalg/utils.cc
Due: clang-format, cpplint

Copy input buffers to output buffers on request
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
Due: clang-format, cpplint

compiles and links w/ updated llvm & mlir-hlo
  cmake/third_party/llvm-project.cmake
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/dialect/pxa/analysis/CMakeLists.txt
  pmlc/dialect/pxa/analysis/affine_constraints.cc
  pmlc/dialect/pxa/analysis/affine_constraints.h
  pmlc/dialect/pxa/transforms/CMakeLists.txt
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  pmlc/dialect/pxa/transforms/reorder_layouts.h
  pmlc/dialect/pxa/transforms/simplify_with_constraints.cc
  pmlc/dialect/pxa/transforms/simplify_with_constraints.h
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Update LLVM
  .gitmodules
  cmake/third_party/llvm-project.cmake
  environment.yml
Due: none

Fix the return op connection
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/return.mlir
Due: clang-format, cpplint

Copy input buffers to output buffers on request (#1875)
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
Due: clang-format, cpplint

General reshape for tile->linalg (#1873)
  pmlc/conversion/tile_to_linalg/tests/reshape.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Fix memref.get_blobal in Linalg->PXA
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/shape.mlir
Due: clang-format, cpplint

fix most tests
  pmlc/conversion/linalg_to_pxa/test/conv.mlir
  pmlc/dialect/layer/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/tests/reorder_layouts.mlir
  pmlc/dialect/pxa/tests/simplify_with_constraints.mlir
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/target/x86/tests/conv_sequence.mlir
  pmlc/target/x86/tests/conv_sequence_NCHW.mlir
  pmlc/target/x86/tests/conv_simple.mlir
Due: clang-format, cpplint

fix bounds check
  pmlc/rt/tests/boundscheck-rt.mlir
Due: none

Revise code
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/shape.mlir
Due: clang-format, cpplint

Ignore CSE for Linalg
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fix memref.get_global in Linalg->PXA (#1879)
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/shape.mlir
Due: clang-format, cpplint

Add one hlo lit test and properly link to/configure hlo
  cmake/third_party/llvm-project.cmake
  pmlc/CMakeLists.txt
  pmlc/all_dialects.cc
  pmlc/all_passes.h
  pmlc/vendor/tests/mlir-hlo/mhlo-fusion.mlir
  vendor/CMakeLists.txt
Due: clang-format, cpplint

revert env changes
  environment.yml
Due: none

Add mlir-hlo to external llvm targets (#1876)
  .gitmodules
  cmake/third_party/llvm-project.cmake
  pmlc/CMakeLists.txt
  pmlc/all_dialects.cc
  pmlc/all_passes.h
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/conv.mlir
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/dialect/layer/ir/ops.cc
  pmlc/dialect/pxa/analysis/CMakeLists.txt
  pmlc/dialect/pxa/analysis/affine_constraints.cc
  pmlc/dialect/pxa/analysis/affine_constraints.h
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/tests/reorder_layouts.mlir
  pmlc/dialect/pxa/tests/simplify_with_constraints.mlir
  pmlc/dialect/pxa/transforms/CMakeLists.txt
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  pmlc/dialect/pxa/transforms/reorder_layouts.h
  pmlc/dialect/pxa/transforms/simplify_with_constraints.cc
  pmlc/dialect/pxa/transforms/simplify_with_constraints.h
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/rt/tests/boundscheck-rt.mlir
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/conv_sequence.mlir
  pmlc/target/x86/tests/conv_sequence_NCHW.mlir
  pmlc/target/x86/tests/conv_simple.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/vendor/tests/mlir-hlo/mhlo-fusion.mlir
  vendor/CMakeLists.txt
Due: clang-format, cpplint

Ignore CSE for Linalg (#1880)
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fold adjacent reorders
  cmake/third_party/llvm-project.cmake
  plaidml/plaidml_link.jsonnet
  pmlc/CMakeLists.txt
  pmlc/lit.cfg.py
  pmlc/lit.site.cfg.py
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/reorder_layouts.cc
  pmlc/target/x86/tests/conv_sequence.mlir
  pmlc/target/x86/tests/conv_sequence_NCHW.mlir
  pmlc/target/x86/tests/conv_simple.mlir
  pmlc/target/x86/tests/reorder_layouts.mlir
  vendor/CMakeLists.txt
Due: clang-format, cpplint, yapf

Fold adjacent reorders (#1881)
  cmake/third_party/llvm-project.cmake
  plaidml/plaidml_link.jsonnet
  pmlc/CMakeLists.txt
  pmlc/lit.cfg.py
  pmlc/lit.site.cfg.py
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/reorder_layouts.cc
  pmlc/target/x86/tests/conv_sequence.mlir
  pmlc/target/x86/tests/conv_sequence_NCHW.mlir
  pmlc/target/x86/tests/conv_simple.mlir
  pmlc/target/x86/tests/reorder_layouts.mlir
  vendor/CMakeLists.txt
Due: clang-format, cpplint, yapf

Fix issues with reorder layouts
  pmlc/CMakeLists.txt
  pmlc/all_dialects.cc
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/closure.mlir
  pmlc/conversion/linalg_to_pxa/test/constant.mlir
  pmlc/conversion/tile_to_linalg/tests/broadcast.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/dialect/CMakeLists.txt
  pmlc/dialect/linalgx/CMakeLists.txt
  pmlc/dialect/linalgx/ir/CMakeLists.txt
  pmlc/dialect/linalgx/ir/ops.cc
  pmlc/dialect/linalgx/ir/ops.h
  pmlc/dialect/linalgx/ir/ops.td
  pmlc/dialect/linalgx/tests/roundtrip.mlir
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/pass_detail.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/reorder_layouts.cc
  pmlc/target/x86/tests/reorder_layouts.mlir
Due: clang-format, cpplint

drop cruft
  pmlc/target/x86/reorder_layouts.cc
Due: clang-format, cpplint

Fix issues with reorder layouts (#1882)
  pmlc/CMakeLists.txt
  pmlc/all_dialects.cc
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/closure.mlir
  pmlc/conversion/linalg_to_pxa/test/constant.mlir
  pmlc/conversion/tile_to_linalg/tests/broadcast.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/dialect/CMakeLists.txt
  pmlc/dialect/linalgx/CMakeLists.txt
  pmlc/dialect/linalgx/ir/CMakeLists.txt
  pmlc/dialect/linalgx/ir/ops.cc
  pmlc/dialect/linalgx/ir/ops.h
  pmlc/dialect/linalgx/ir/ops.td
  pmlc/dialect/linalgx/tests/roundtrip.mlir
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/pass_detail.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/reorder_layouts.cc
  pmlc/target/x86/tests/reorder_layouts.mlir
Due: clang-format, cpplint

Add support for PLAIDML_DEBUG and PLAIDML_PROFILE
  plaidml/bridge/keras/__init__.py
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/op/__init__.py
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/compiler/program.cc
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/rt/CMakeLists.txt
  pmlc/rt/instrument.cc
  pmlc/rt/instrument.h
  pmlc/rt/jit_executable.cc
  pmlc/rt/register.cc
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/instrument.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/prng_lowering.cc
Due: clang-format, cpplint, yapf

Add support for PLAIDML_DEBUG and PLAIDML_PROFILE (#1883)
  plaidml/bridge/keras/__init__.py
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/op/__init__.py
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/compiler/program.cc
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/rt/CMakeLists.txt
  pmlc/rt/instrument.cc
  pmlc/rt/instrument.h
  pmlc/rt/jit_executable.cc
  pmlc/rt/register.cc
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/instrument.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/prng_lowering.cc
Due: clang-format, cpplint, yapf

Add HuggingFace GPT-2 support
  plaidml/bridge/tf/import_tf_to_mlir.py
Due: yapf

Pipeline configuration tweaks to improve perf by close to 2x
  pmlc/dialect/pxa/transforms/cpu_thread.cc
  pmlc/rt/instrument.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fix
  pmlc/dialect/pxa/tests/cpu_thread.mlir
Due: none

Pipeline configuration tweaks to improve perf by close to 2x (#1884)
  pmlc/dialect/pxa/tests/cpu_thread.mlir
  pmlc/dialect/pxa/transforms/cpu_thread.cc
  pmlc/rt/instrument.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Improve profiling to handle single-iteration loops
  pmlc/rt/instrument.cc
  pmlc/target/x86/instrument.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Add dynamic dimension to linalg.generic
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/tile_to_linalg/pass_detail.h
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_linalg/utils.cc
  pmlc/util/CMakeLists.txt
  pmlc/util/extent.cc
  pmlc/util/extent.h
Due: clang-format, cpplint

Add constraints to linalg.generic
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/tile_to_linalg/pass_detail.h
  pmlc/conversion/tile_to_linalg/tests/padding.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_linalg/utils.cc
Due: clang-format, cpplint

Improve profiling to handle single-iteration loops (#1885)
  pmlc/rt/instrument.cc
  pmlc/target/x86/instrument.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Use inversePermutation
  pmlc/conversion/tile_to_linalg/CMakeLists.txt
  pmlc/conversion/tile_to_linalg/utils.cc
  pmlc/rt/instrument.cc
  pmlc/target/x86/instrument.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Do ninja check-core before ninja package
  ci/plan.yml
Due: none

Workaround for linker issues
  pmlc/conversion/tile_to_linalg/utils.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

