Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    bzl/conda.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

vega56 tests
  ci/plan.yml
Due: none

WIP: Tile -> PXA conversion
  bzl/workspace.bzl
  plaidml2/op/op_test.cc
  pmlc/BUILD
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/conversion/tests/stripe_affine_roundtrip/BUILD
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/conversion/tile_to_pxa/pass.cc
  pmlc/conversion/tile_to_pxa/pass.h
  pmlc/conversion/tile_to_pxa/tests/BUILD
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/dialect/eltwise/interfaces.td
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/from_tile.cc
  pmlc/dialect/pxa/ops.td
  pmlc/dialect/pxa/passes.h
  pmlc/dialect/pxa/tests/from_tile.mlir
  pmlc/dialect/pxa/to_affine.cc
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/pipeline.cc
  vendor/bazel/redirect.py
  vendor/bazel/repo.bzl
  vendor/mlir/mlir.patch
Due: buildifier, clang-format, cpplint, yapf

Cruft
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/dialect/tile/contraction.h
Due: clang-format, cpplint

Fix windows build
  bzl/workspace.bzl
  pmlc/compiler/compiler.cc
  pmlc/conversion/tile_to_pxa/pass.cc
  pmlc/dialect/pxa/BUILD
  vendor/bazel/http.bzl
  vendor/bazel/repo.bzl
  vendor/bazel/utils.bzl
  vendor/mlir/mlir.patch
Due: buildifier, clang-format, cpplint

More work
  plaidml2/edsl/edsl_test.cc
  pmlc/conversion/tile_to_pxa/pass.cc
  pmlc/dialect/pxa/to_affine.cc
Due: clang-format, cpplint

Tile -> PXA conversion (#811)
  bzl/workspace.bzl
  plaidml2/edsl/edsl_test.cc
  plaidml2/op/op_test.cc
  pmlc/BUILD
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/conversion/tests/stripe_affine_roundtrip/BUILD
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/conversion/tile_to_pxa/pass.cc
  pmlc/conversion/tile_to_pxa/pass.h
  pmlc/conversion/tile_to_pxa/tests/BUILD
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/dialect/eltwise/interfaces.td
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/from_tile.cc
  pmlc/dialect/pxa/ops.td
  pmlc/dialect/pxa/passes.h
  pmlc/dialect/pxa/tests/from_tile.mlir
  pmlc/dialect/pxa/to_affine.cc
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/pipeline.cc
  vendor/bazel/http.bzl
  vendor/bazel/redirect.py
  vendor/bazel/repo.bzl
  vendor/bazel/utils.bzl
  vendor/mlir/mlir.patch
Due: buildifier, clang-format, cpplint, yapf

Respect dataflow deps in dead code elimination
  tile/codegen/dce.cc
  tile/codegen/deps.cc
  tile/codegen/deps.h
Due: clang-format, cpplint

Respect dataflow deps in dead code elimination (#812)
  tile/codegen/dce.cc
  tile/codegen/deps.cc
  tile/codegen/deps.h
Due: clang-format, cpplint

build rules and cosmetic fix build rules for mlir and ast tests helper function for output comparisons
  plaidml2/edsl/BUILD
  plaidml2/edsl/edsl_test.py
Due: yapf

revert docs
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/docs/configuration.md
  docs/docs/edsl.md
  docs/docs/edsl_python.md
  docs/docs/release-notes.md
Due: none

Revert the revert
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/make.bat
  plaidml2/edsl/edsl_test.py
Due: yapf

Foo
  plaidml2/edsl/edsl_test.py
Due: yapf

reference guide
  plaidml2/edsl/edsl.h
Due: clang-format, cpplint

test_complex_conv_2d test fixed - added tests for mismatched dimensions skipped because still broken
  plaidml2/edsl/edsl_test.py
Due: yapf

reference guide (#813)
  plaidml2/edsl/edsl.h
Due: clang-format, cpplint

Clarify&Optimize light constraint reduction pass
  tile/codegen/cstr_reduction.cc
Due: clang-format, cpplint

CR comments
  tile/codegen/cstr_reduction.cc
Due: clang-format, cpplint

Respect throw_infeasible in ILP batch_solve()
  tile/bilp/ilp_solver.cc
Due: clang-format, cpplint

Tweak comment wording
  tile/codegen/cstr_reduction.cc
Due: clang-format, cpplint

Clean llvm-project deps
  bzl/workspace.bzl
Due: buildifier

Clean llvm-project deps (#814)
  bzl/workspace.bzl
Due: buildifier

More work on PXA lowering
  pmlc/conversion/tile_to_pxa/pass.cc
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/dialect/pxa/to_affine.cc
Due: clang-format, cpplint

More work on PXA lowering (#816)
  pmlc/conversion/tile_to_pxa/pass.cc
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/dialect/pxa/to_affine.cc
Due: clang-format, cpplint

cmake + bazel = cbake (#802)
  tools/cbake/BUILD
  tools/cbake/cbake.py
  tools/cbake/cmake_parser.py
Due: yapf

Clarify&Optimize light constraint reduction pass (#810)
  tile/bilp/ilp_solver.cc
  tile/codegen/cstr_reduction.cc
Due: clang-format, cpplint

Cleanups
  pmlc/conversion/tile_to_stripe/lowering.cc
  pmlc/dialect/pxa/ir/ops.td
Due: clang-format, cpplint

Added failing add uint64 test
  plaidml2/edsl/edsl_test.cc
Due: clang-format, cpplint

WIP debugging float32 kernel
  pmlc/dialect/stripe/into_mlir.cc
  tile/codegen/driver.cc
  tile/lang/gen_stripe.cc
  tile/ocl_exec/stripe_gen.cc
Due: clang-format, cpplint

WIP: Construct cion with bounds info
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint

Found problem at StripBuilder::visit; intr->type should be set to type, not default of DataType::FLOAT32
  plaidml2/exec/ffi.cc
  pmlc/dialect/stripe/from_mlir.cc
  tile/codegen/driver.cc
  tile/codegen/pad.cc
  tile/platform/local_machine/cpu_program.cc
  tile/platform/local_machine/platform.cc
Due: clang-format, cpplint

WIP for solution
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

[tile->pxa] Lowering of heterogenous operand types
  plaidml2/edsl/helper.cc
  plaidml2/exec/ffi.cc
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/conversion/tile_to_stripe/BUILD
  pmlc/conversion/tile_to_stripe/tile_to_stripe.cc
  pmlc/conversion/tile_to_stripe/tile_to_stripe.h
Due: clang-format, cpplint

Cleanup test
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
Due: none

Pin dep of jupyter: nbformat
  conda/unix.yml
  conda/windows.yml
Due: none

Pin dep of jupyter: nbformat (#820)
  conda/unix.yml
  conda/windows.yml
Due: none

Drop obsolete toolchains
  bzl/workspace.bzl
  toolchain/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/ar
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/as
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/gcc
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/gcov
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/ld
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/nm
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/objcopy
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/objdump
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/strip
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/ar
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/as
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/gcc
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/gcov
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/ld
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/nm
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/objcopy
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/objdump
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/strip
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/config
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/ar
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/as
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/gcc
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/gcov
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/ld
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/nm
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/objcopy
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/objdump
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/strip
Due: buildifier

Fixes
  plaidml/BUILD
  tile/lang/BUILD
Due: none
