Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

removing converted md files
  docs/docs/building.md
  docs/docs/configuration.md
  docs/docs/contributing.md
  docs/docs/edsl.md
  docs/docs/install.md
  docs/docs/troubleshooting.md
Due: none

minor fix
  docs/usage/contributing.rst
Due: none

C++ Execution API (#855)
  plaidml/exec/exec.h
Due: clang-format, cpplint

C++ Core API (#856)
  plaidml/core/core.h
Due: clang-format, cpplint

converting md files to rst for sphinx (#846)
  docs/conf.py
  docs/docs/building.md
  docs/docs/configuration.md
  docs/docs/contributing.md
  docs/docs/edsl.md
  docs/docs/install.md
  docs/docs/troubleshooting.md
  docs/index.rst
  docs/manual_api/adding_tile_ops.rst
  docs/usage/building.rst
  docs/usage/configuration.rst
  docs/usage/contributing.rst
  docs/usage/install.rst
  docs/usage/tile_edsl.rst
  docs/usage/troubleshooting.rst
Due: yapf

Support building for RTD
  docs/.gitignore
  docs/404.html
  docs/BUILD
  docs/Gemfile
  docs/Gemfile.lock
  docs/README.md
  docs/_config.yml
  docs/_includes/head_custom.html
  docs/api/core.rst
  docs/api/edsl.rst
  docs/api/exec.rst
  docs/api/index.rst
  docs/conf.py
  docs/docs.py
  docs/docs/release-notes.md
  docs/index.md
  docs/index.rst
  docs/manual_api/adding_tile_ops.rst
  docs/requirements.txt
  docs/usage/edsl.rst
  docs/util.py
  docs/watch.py
Due: yapf

Support building for RTD (#858)
  docs/.gitignore
  docs/404.html
  docs/BUILD
  docs/Gemfile
  docs/Gemfile.lock
  docs/README.md
  docs/_config.yml
  docs/_includes/head_custom.html
  docs/api/core.rst
  docs/api/edsl.rst
  docs/api/exec.rst
  docs/api/index.rst
  docs/conf.py
  docs/docs.py
  docs/docs/release-notes.md
  docs/index.md
  docs/index.rst
  docs/manual_api/adding_tile_ops.rst
  docs/requirements.txt
  docs/usage/edsl.rst
  docs/util.py
  docs/watch.py
Due: yapf

Fix usage of AffineMaps for bounds (#854)
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/tests/compute-bounds.mlir
Due: clang-format, cpplint

Added right shift for signed integers
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

Use plaidml fork for non-released code
  bzl/workspace.bzl
  vendor/bazel/repo.bzl
  vendor/mlir/mlir.patch
Due: buildifier

Use plaidml fork for non-released code (#860)
  bzl/workspace.bzl
  vendor/bazel/repo.bzl
  vendor/mlir/mlir.patch
Due: buildifier

shift tests pass; need to edit other edsl tests
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
Due: clang-format, cpplint

Minimize usage of boost
  plaidml/core/BUILD
  plaidml/core/settings.cc
  plaidml/op/lib/BUILD
  plaidml/op/lib/ops.cc
  pmlc/util/math/BUILD
  pmlc/util/math/matrix.cc
  pmlc/util/math/polynomial.cc
Due: clang-format, cpplint

Mnimize
  bzl/boost.BUILD
Due: buildifier

Cruft
  bzl/easylogging.BUILD
  bzl/gmock.BUILD
  vendor/xsmm/xsmm.BUILD
Due: buildifier

Code refactoring
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/Runtime.h
  pmlc/tools/pmlc-vulkan-runner/RuntimeTests.cpp
  pmlc/tools/pmlc-vulkan-runner/VulkanRuntime.cpp
  pmlc/tools/pmlc-vulkan-runner/VulkanRuntime.h
  pmlc/tools/pmlc-vulkan-runner/VulkanRuntimeTests.cpp
  pmlc/tools/pmlc-vulkan-runner/VulkanRuntimeTests.h
Due: clang-format, cpplint

Fixed spv string parse bug Code refactoring
  pmlc/compiler/compiler.cc
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/VulkanRuntimeTests.cpp
  pmlc/tools/pmlc-vulkan-runner/VulkanRuntimeTests.h
Due: clang-format, cpplint

WIP
  pmlc/dialect/tile/ir/ops.cc
  pmlc/util/slice.cc
  vendor/mlir/mlir.BUILD
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint

Update to latest
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/op/op_test.cc
  pmlc/compiler/compiler.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/util.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/gradient.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/tests/build-cion.mlir
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/transforms/contraction.cc
Due: clang-format, cpplint, yapf

Bump
  bzl/workspace.bzl
Due: buildifier

Add Vulkan headers to bzl repo Code refactoring
  WORKSPACE
  bzl/vulkan_headers.BUILD
  bzl/workspace.bzl
  pmlc/compiler/compiler.cc
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/VulkanRuntimeSupport.h
  pmlc/tools/pmlc-vulkan-runner/VulkanRuntimeTests.cpp
  pmlc/tools/pmlc-vulkan-runner/VulkanTest.cpp
Due: buildifier, clang-format, cpplint

Bump LLVM/MLIR (#833)
  bzl/workspace.bzl
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/op/op_test.cc
  pmlc/compiler/compiler.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/util.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/gradient.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/tests/build-cion.mlir
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/util/slice.cc
  vendor/llvm/llvm.BUILD
  vendor/llvm/llvm.bzl
  vendor/mlir/mlir.BUILD
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint, yapf

Add missing affine.if for constraints
  plaidml/edsl/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Avoid cast
  plaidml/edsl/edsl_test.cc
Due: clang-format, cpplint

Fix test
  plaidml/edsl/edsl_test.cc
Due: clang-format, cpplint

WIP
  plaidml/core/core.h
Due: clang-format, cpplint

Try to fix windows
  bzl/bazel.rc
  pmlc/compiler/compiler.cc
Due: clang-format, cpplint

Add separate_conv1d function to keras backend
  plaidml/keras/backend.py
Due: yapf

Add unit tests for separate_conv1d
  plaidml/keras/backend_test.py
Due: yapf

Avoid test errors on windows
  plaidml/edsl/edsl_test.cc
Due: clang-format, cpplint

fix
  plaidml/edsl/edsl_test.cc
  pmlc/compiler/compiler.cc
Due: clang-format, cpplint

Remove spurious -Wno-format in //tile/lang
  tile/lang/BUILD
Due: none

Remove spurious -Wno-format in //tile/lang (#865)
  tile/lang/BUILD
Due: none

Treat boolean as u1 instead of i1
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/eltwise/ir/predicates.td
  pmlc/dialect/eltwise/ir/types.cc
  pmlc/dialect/tile/builder.cc
  pmlc/util/enums.h
  pmlc/util/enums.td
Due: clang-format, cpplint, yapf

Add custom printer/parser for pxa.reduce
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
Due: clang-format, cpplint

Treat boolean as u1 instead of i1 (#866)
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/eltwise/ir/predicates.td
  pmlc/dialect/eltwise/ir/types.cc
  pmlc/dialect/tile/builder.cc
  pmlc/util/enums.h
  pmlc/util/enums.td
Due: clang-format, cpplint, yapf

Minimize usage of boost (#861)
  bzl/boost.BUILD
  bzl/easylogging.BUILD
  bzl/gmock.BUILD
  plaidml/core/BUILD
  plaidml/core/settings.cc
  plaidml/op/lib/BUILD
  plaidml/op/lib/ops.cc
  pmlc/util/math/BUILD
  pmlc/util/math/matrix.cc
  pmlc/util/math/polynomial.cc
  vendor/xsmm/xsmm.BUILD
Due: buildifier, clang-format, cpplint

Add missing affine.if for constraints (#863)
  bzl/bazel.rc
  plaidml/core/core.h
  plaidml/edsl/edsl_test.cc
  pmlc/compiler/compiler.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Add custom printer/parser for pxa.reduce (#867)
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
Due: clang-format, cpplint

WIP
  networks/oplib/BUILD
  networks/oplib/benchmark.cc
  networks/oplib/oplib.h
  networks/oplib/resnet50.cc
  networks/oplib/resnet50.mlir
  networks/oplib/run.cc
  plaidml/core/BUILD
  plaidml/edsl/BUILD
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/exec/BUILD
  plaidml/op/BUILD
  plaidml/op/lib/BUILD
  plaidml/op/lib/ops.cc
  plaidml/plaidml_link.jsonnet
  pmlc/compiler/compiler.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/tools/pmlc-opt/pmlc-opt.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

