Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Drop pmlc binary (#687)
  plaidml/BUILD
  plaidml/not_setup.cfg
  tile/pmlc/BUILD
Due: none

Add testenv (#685)
  plaidml2/BUILD
  plaidml2/edsl/BUILD
  plaidml2/edsl/edsl_test.cc
  plaidml2/op/BUILD
  plaidml2/op/op_test.cc
  plaidml2/testenv.cc
Due: clang-format, cpplint

Fix tile-contract configuration for CPU Jit
  bzl/tbb.BUILD
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: buildifier, clang-format, cpplint

Refactor contraction op builder (#689)
  plaidml2/edsl/ffi.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/interfaces.td
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint

fix merge conflicts
  plaidml2/edsl/ffi.cc
Due: clang-format, cpplint

Port event logging context to PlaidML2 (#682)
  plaidml2/core/BUILD
  plaidml2/core/ffi.cc
  plaidml2/core/internal.h
  plaidml2/edsl/ffi.cc
  plaidml2/exec/ffi.cc
  tools/analysis/main.py
Due: clang-format, cpplint, yapf

new goldens
  ci/golden/infer/mobilenet_v2/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet_v2/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet_v2/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
Due: none

Fizzy lifting pass part 1
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/analysis.h
  pmlc/dialect/stripe/demo_vectorize.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/tile.cc
  pmlc/dialect/stripe/transforms.cc
  pmlc/dialect/stripe/transforms.h
Due: clang-format, cpplint

Fix tile-contract configuration for CPU Jit (#690)
  bzl/tbb.BUILD
  ci/golden/infer/mobilenet_v2/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet_v2/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet_v2/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: buildifier, clang-format, cpplint

Add an extra prune_idxs pass to remove unused indexes
  tile/targets/cpu/llvm_cpu.jsonnet
Due: none

Add an extra prune_idxs pass to remove unused indexes (#691)
  tile/targets/cpu/llvm_cpu.jsonnet
Due: none

add debug build (#680)
  bzl/bazel.rc
  ci/buildkite.py
  ci/plan.yml
Due: yapf

Adjust
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

[MLIR] PopulateTensorRefShape analysis
  pmlc/BUILD
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/populate_tensor_ref_shape_pass.cc
  pmlc/dialect/stripe/populate_tensor_ref_shape_pass.h
  pmlc/dialect/stripe/types.cc
  pmlc/dialect/stripe/types.h
Due: clang-format, cpplint

Fix input/output binding issues
  plaidml2/edsl/ffi.cc
  plaidml2/exec/ffi.cc
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/program.h
  tile/lib/lib.cc
Due: clang-format, cpplint

Fix input/output binding issues (#693)
  plaidml2/edsl/ffi.cc
  plaidml2/exec/ffi.cc
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/program.h
  tile/lib/lib.cc
Due: clang-format, cpplint

catalina ci test
  ci/buildkite.py
  ci/plan.yml
Due: yapf

Turn pass into analysis.
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/populate_tensor_ref_shape_analysis.cc
  pmlc/dialect/stripe/populate_tensor_ref_shape_analysis.h
  pmlc/dialect/stripe/populate_tensor_ref_shape_pass.cc
  pmlc/dialect/stripe/populate_tensor_ref_shape_pass.h
Due: clang-format, cpplint

Lowering of IndexOp
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint

Fixes for argmax
  plaidml2/op/op_test.cc
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/tile/lowering.cc
Due: clang-format, cpplint

Refactor CastOp
  plaidml2/edsl/__init__.py
  plaidml2/edsl/edsl.h
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/op_test.cc
  plaidml2/plaidml_link.jsonnet
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/interfaces.td
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/translate_test.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/util/util.h
Due: clang-format, cpplint, yapf

Fixes for argmax
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/tile/lowering.cc
Due: clang-format, cpplint

Add td include guards
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/stripe/ops.td
Due: none

Fixes for argmax lowering (#695)
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint

WIP on demo and updates in anticipation of new MLIR version
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/demo_vectorize.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/rewrites.cc
  pmlc/dialect/stripe/rewrites.h
  pmlc/dialect/stripe/transforms.cc
  pmlc/dialect/stripe/transforms.h
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
Due: clang-format, cpplint

Extend model-based BN folding
  plaidbench/plaidbench/frontend_keras.py
Due: yapf

Add td include guards (#696)
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/stripe/ops.td
Due: none

Add NoSideEffect to LoadOp
  pmlc/dialect/stripe/ops.td
Due: none

Add NoSideEffect to LoadOp (#698)
  pmlc/dialect/stripe/ops.td
Due: none

Fix ShapeOp
  WORKSPACE
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/ops.cc
Due: buildifier, clang-format, cpplint

Sort of working code
  pmlc/dialect/stripe/demo_vectorize.cc
  pmlc/dialect/stripe/rewrites.cc
  pmlc/dialect/stripe/rewrites.h
  pmlc/dialect/stripe/transforms.cc
  pmlc/dialect/stripe/transforms.h
Due: clang-format, cpplint

Fix TensorRefType constructor
  pmlc/dialect/stripe/types.cc
  pmlc/dialect/stripe/types.h
Due: clang-format, cpplint

Add support for no_reduce on contractions
  plaidml2/edsl/__init__.py
  plaidml2/edsl/edsl.h
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  plaidml2/op/op_test.cc
  plaidml2/plaidml_link.jsonnet
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint, yapf

Add no_reduce option to contractions
  plaidml2/edsl/__init__.py
  plaidml2/edsl/edsl.h
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  plaidml2/plaidml_link.jsonnet
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint, yapf

Add no_reduce option to contractions (#699)
  plaidml2/edsl/__init__.py
  plaidml2/edsl/edsl.h
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  plaidml2/plaidml_link.jsonnet
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint, yapf

Allow immediate scalar types for eltwise dialect
  pmlc/CPPLINT.cfg
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/predicates.td
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
  tile/base/shape.h
Due: clang-format, cpplint

Adjust cpplint rules
  pmlc/CPPLINT.cfg
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.cc
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.h
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.h
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/types.h
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/types.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/pmlc-opt.cc
  pmlc/pmlc-translate.cc
Due: clang-format, cpplint

Fix casts
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/ops.td
  tile/codegen/mlir_passes.cc
Due: clang-format, cpplint

Some error, but want to move to head
  bzl/workspace.bzl
  pmlc/dialect/stripe/demo_vectorize.cc
  pmlc/dialect/stripe/dialect.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/mlir.patch
Due: buildifier, clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

