Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    bzl/conda.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Python EDSL test fixes and snippets for docs (#798)
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/make.bat
  plaidml2/edsl/BUILD
  plaidml2/edsl/edsl_test.py
Due: yapf

Remove excessive logging
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Remove unused code
  pmlc/dialect/tile/lowering.cc
Due: clang-format, cpplint

Add tests passses
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

Cleanup
  plaidml2/exec/ffi.cc
  pmlc/dialect/stripe/into_mlir.cc
  tile/codegen/driver.cc
Due: clang-format, cpplint

Cleanup
  tile/lang/gen_stripe.cc
  tile/ocl_exec/stripe_gen.cc
  tile/platform/local_machine/cpu_program.cc
  tile/platform/local_machine/platform.cc
Due: clang-format, cpplint

Cleanup
  tile/codegen/pad.cc
Due: clang-format, cpplint

Cleanup
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

Better test
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

Cleanup
  plaidml2/edsl/edsl_test.cc
Due: clang-format, cpplint

Work-around for bool issue
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

Addressed review suggestion
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

More reviewer comments
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

rfind from 0
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

Clarify status notes
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint

Fboemer/uint64 (#822)
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

Drop obsolete toolchains (#821)
  bzl/workspace.bzl
  plaidml/BUILD
  tile/lang/BUILD
  toolchain/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/ar
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/as
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/gcc
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/gcov
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/ld
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/nm
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/objcopy
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/objdump
  toolchain/crosstool_ng/linux_x86_64-gcc_4.9.4/wrappers/strip
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/ar
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/as
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/gcc
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/gcov
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/ld
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/nm
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/objcopy
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/objdump
  toolchain/crosstool_ng/linux_x86_64-gcc_5.4.0/wrappers/strip
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/config
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/ar
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/as
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/gcc
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/gcov
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/ld
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/nm
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/objcopy
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/objdump
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3/wrappers/strip
Due: buildifier

walkaround msvc bug
  plaidml/plaidml++.h
Due: clang-format, cpplint

Fixes
  BUILD
  ci/plan.yml
  plaidbench/BUILD
  plaidbench/not_setup.cfg
  plaidbench/setup.py
Due: buildifier, yapf

Review fixes
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Cleanup bazelrc, use bazel conditions
  .bazelci/presubmit.yml
  BUILD
  bzl/bazel.rc
  bzl/boost.BUILD
  bzl/gmock.BUILD
  bzl/plaidml.bzl
  ci/buildkite.py
  ci/plan.yml
  conda/pytorch.BUILD
  conda/unix.BUILD
  plaidml2/BUILD
  pmlc/conversion/pxa_to_affine/BUILD
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/dialect/pxa/ir/BUILD
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/lit.bzl
  pmlc/util/math/matrix.cc
  toolchain/BUILD
  tools/conda_run/BUILD
  vendor/llvm/llvm.bzl
  vendor/mlir/tblgen.bzl
  vendor/tbb/tbb.BUILD
Due: buildifier, clang-format, cpplint, yapf

Fixes
  ci/plan.yml
  plaidml/edsl/edsl_test.cc
Due: clang-format, cpplint

plaidbench fixes
  README.md
  ci/plan.yml
  plaidbench/BUILD
  plaidbench/plaidbench.py
  plaidbench/plaidbench/BUILD
  plaidbench/plaidbench/cli.py
  plaidbench/plaidbench/core.py
  plaidbench/plaidbench/frontend_keras.py
  plaidbench/plaidbench/frontend_ops.py
  plaidml/bridge/keras/mnist_mlp_test.py
  plaidml/bridge/keras/regression_test.py
  plaidml/core/ffi.cc
Due: clang-format, cpplint, yapf

Make compute bounds its own pass
  pmlc/conversion/tile_to_stripe/lowering.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/build-cion.mlir
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/dialect/tile/transforms/contraction.h
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/registration.cc
  pmlc/tools/pmlc-opt/pmlc-opt.cc
Due: clang-format, cpplint

Cleanup
  plaidml2/bridge/keras/backend_test.py
  pmlc/conversion/tile_to_stripe/lowering.cc
Due: clang-format, cpplint, yapf

Added type to mlir cast
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

Added log from conf option
  base/util/logging.cc
Due: clang-format, cpplint

Remove cruft
  .bazelrc.configure.swp
Due: none

Added type to mlir cast (#826)
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

WIP
  pmlc/dialect/eltwise/ir/ops.td
Due: none

ScalarNot test passes
  logging.conf
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/stripe/into_mlir.cc
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

Unit-tests pass
  plaidml2/edsl/derivs.cc
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/eltwise/ir/predicates.td
  tile/targets/cpu/compiler.cc
Due: clang-format, cpplint

Fix merge
  plaidml2/edsl/edsl_test.cc
Due: clang-format, cpplint

Undo logging change
  base/util/logging.cc
  logging.conf
Due: clang-format, cpplint

Cleanup
  plaidml2/edsl/derivs.cc
Due: clang-format, cpplint

More cleanupg
  pmlc/dialect/stripe/into_mlir.cc
  tile/targets/cpu/compiler.cc
Due: clang-format, cpplint
