Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Use REGISTER_SYMBOL
  pmlc/rt/boundscheck.cc
  pmlc/rt/builtin.cc
  pmlc/rt/prng.cc
  pmlc/rt/xsmm.cc
Due: clang-format, cpplint

Fix
  ci/plan.yml
Due: none

Remove getUnknownLoc()
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/pass_detail.h
  pmlc/conversion/linalg_to_pxa/pooling.cc
  pmlc/conversion/linalg_to_pxa/reshape.cc
  pmlc/conversion/linalg_to_pxa/utils.cc
Due: clang-format, cpplint

Fix typo
  pmlc/conversion/linalg_to_pxa/pooling.cc
Due: clang-format, cpplint

Split logs
  ci/openvino.py
Due: yapf

Add CONDA_PREFIX/lib
  ci/openvino.py
Due: yapf

Ignore AC for now
  ci/plan.yml
Due: none

Use REGISTER_SYMBOL (#1851)
  pmlc/rt/boundscheck.cc
  pmlc/rt/builtin.cc
  pmlc/rt/prng.cc
  pmlc/rt/xsmm.cc
Due: clang-format, cpplint

Fix stdx.pack/stdx.unpack roundtripping
  pmlc/conversion/stdx_to_llvm/tests/pack.mlir
  pmlc/conversion/tile_to_pxa/tests/pack_index.mlir
  pmlc/dialect/pxa/tests/reorder_layouts.mlir
  pmlc/dialect/stdx/ir/ops.td
  pmlc/dialect/stdx/tests/roundtrip.mlir
  pmlc/dialect/tile/tests/split_main.mlir
Due: none

Fix stdx.pack/stdx.unpack roundtripping (#1853)
  pmlc/conversion/stdx_to_llvm/tests/pack.mlir
  pmlc/conversion/tile_to_pxa/tests/pack_index.mlir
  pmlc/dialect/pxa/tests/reorder_layouts.mlir
  pmlc/dialect/stdx/ir/ops.td
  pmlc/dialect/stdx/tests/roundtrip.mlir
  pmlc/dialect/tile/tests/split_main.mlir
Due: none

Fix the bug in assertion
  pmlc/conversion/linalg_to_pxa/reshape.cc
Due: clang-format, cpplint

Remove ? in conv.mlir
  pmlc/conversion/linalg_to_pxa/test/conv.mlir
Due: none

Fix sha256 of boost_1_66_0.tar.gz
  bzl/workspace.bzl
Due: buildifier

Update repo.bzl to support multiple urls
  vendor/bazel/repo.bzl
Due: buildifier

Update xsmm_repo.bzl to support multiple URLs
  bzl/xsmm_repo.bzl
Due: buildifier

Fix URL to boost_1_66_0.tar.gz.
  bzl/workspace.bzl
Due: buildifier

Update URL and hash of half-1.11.0.zip.
  bzl/workspace.bzl
Due: buildifier

Update URL and version of zlib.
  bzl/workspace.bzl
Due: buildifier

Fix strip_prefix minizip.
  bzl/workspace.bzl
Due: buildifier

Fix URL of half-1.11.0.zip again.
  bzl/workspace.bzl
Due: buildifier

Conversion from Linalg to PXA (#1850)
  pmlc/CMakeLists.txt
  pmlc/all_passes.h
  pmlc/conversion/CMakeLists.txt
  pmlc/conversion/linalg_to_pxa/CMakeLists.txt
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/pass_detail.h
  pmlc/conversion/linalg_to_pxa/passes.h
  pmlc/conversion/linalg_to_pxa/passes.td
  pmlc/conversion/linalg_to_pxa/pooling.cc
  pmlc/conversion/linalg_to_pxa/reshape.cc
  pmlc/conversion/linalg_to_pxa/test/collapse.mlir
  pmlc/conversion/linalg_to_pxa/test/conv.mlir
  pmlc/conversion/linalg_to_pxa/test/copy.mlir
  pmlc/conversion/linalg_to_pxa/test/expand.mlir
  pmlc/conversion/linalg_to_pxa/test/fill.mlir
  pmlc/conversion/linalg_to_pxa/test/generic.mlir
  pmlc/conversion/linalg_to_pxa/test/index.mlir
  pmlc/conversion/linalg_to_pxa/test/pad_tensor.mlir
  pmlc/conversion/linalg_to_pxa/test/pooling.mlir
  pmlc/conversion/linalg_to_pxa/utils.cc
Due: clang-format, cpplint

Convert constant tensor to global memref
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/constant.mlir
Due: clang-format, cpplint

Fixes according to Frank's comments
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/passes.td
Due: clang-format, cpplint

Move static variable into function
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
Due: clang-format, cpplint

Rename constant memref
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
Due: clang-format, cpplint

Convert dense tensor constant op to global memref ops (#1855)
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/passes.td
  pmlc/conversion/linalg_to_pxa/test/constant.mlir
Due: clang-format, cpplint

Improve TLS support
  plaidml/ffi.py
Due: yapf

Improve TLS support (#1856)
  plaidml/ffi.py
Due: yapf

Initial commit of mlperf benchmarking tool
  CMakeLists.txt
  cmake/pml_python.cmake
  cmake/third_party/mlperf.cmake
  cmake/third_party/pybind11.cmake
  environment.yml
  mlperf/CMakeLists.txt
  mlperf/__init__.py
  mlperf/backend.py
  mlperf/backend_null.py
  mlperf/backend_onnxruntime.py
  mlperf/backend_pytorch.py
  mlperf/backend_pytorch_native.py
  mlperf/backend_tf.py
  mlperf/backend_tflite.py
  mlperf/coco.py
  mlperf/dataset.py
  mlperf/imagenet.py
  mlperf/main.py
  mlperf/mlperf.conf
  mlperf/models/anchor_generator.py
  mlperf/models/base_model_r34.py
  mlperf/models/convert_tf_weights.py
  mlperf/models/ssd_mobilenet_v1.py
  mlperf/models/ssd_r34.py
  mlperf/models/utils.py
  mlperf/pycoco.py
  mlperf/setup.in.py
  mlperf/user.conf
Due: yapf

Initial commit of mlperf benchmarking tool (#1858)
  CMakeLists.txt
  cmake/pml_python.cmake
  cmake/third_party/mlperf.cmake
  cmake/third_party/pybind11.cmake
  environment.yml
  mlperf/CMakeLists.txt
  mlperf/__init__.py
  mlperf/backend.py
  mlperf/backend_null.py
  mlperf/backend_onnxruntime.py
  mlperf/backend_pytorch.py
  mlperf/backend_pytorch_native.py
  mlperf/backend_tf.py
  mlperf/backend_tflite.py
  mlperf/coco.py
  mlperf/dataset.py
  mlperf/imagenet.py
  mlperf/main.py
  mlperf/mlperf.conf
  mlperf/models/anchor_generator.py
  mlperf/models/base_model_r34.py
  mlperf/models/convert_tf_weights.py
  mlperf/models/ssd_mobilenet_v1.py
  mlperf/models/ssd_r34.py
  mlperf/models/utils.py
  mlperf/pycoco.py
  mlperf/setup.in.py
  mlperf/user.conf
Due: yapf

Use the output arguments instead of allocated memref
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/collapse.mlir
  pmlc/conversion/linalg_to_pxa/test/expand.mlir
  pmlc/conversion/linalg_to_pxa/test/fill.mlir
  pmlc/conversion/linalg_to_pxa/test/generic.mlir
  pmlc/conversion/linalg_to_pxa/test/index.mlir
  pmlc/conversion/linalg_to_pxa/test/pad_tensor.mlir
  pmlc/conversion/linalg_to_pxa/test/pooling.mlir
Due: clang-format, cpplint

Fixed conv and copy
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/constant.mlir
  pmlc/conversion/linalg_to_pxa/test/conv.mlir
  pmlc/conversion/linalg_to_pxa/test/copy.mlir
  pmlc/conversion/linalg_to_pxa/test/index.mlir
Due: clang-format, cpplint

Fix YieldOp
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
Due: clang-format, cpplint

Conversion from Tile to Linalg
  pmlc/CMakeLists.txt
  pmlc/all_passes.h
  pmlc/conversion/CMakeLists.txt
  pmlc/conversion/tile_to_linalg/CMakeLists.txt
  pmlc/conversion/tile_to_linalg/pass_detail.h
  pmlc/conversion/tile_to_linalg/passes.h
  pmlc/conversion/tile_to_linalg/passes.td
  pmlc/conversion/tile_to_linalg/specials.cc
  pmlc/conversion/tile_to_linalg/tests/add.mlir
  pmlc/conversion/tile_to_linalg/tests/broadcast.mlir
  pmlc/conversion/tile_to_linalg/tests/cast.mlir
  pmlc/conversion/tile_to_linalg/tests/compare.mlir
  pmlc/conversion/tile_to_linalg/tests/const.mlir
  pmlc/conversion/tile_to_linalg/tests/dot.mlir
  pmlc/conversion/tile_to_linalg/tests/double_dot.mlir
  pmlc/conversion/tile_to_linalg/tests/double_for.mlir
  pmlc/conversion/tile_to_linalg/tests/eltwise.mlir
  pmlc/conversion/tile_to_linalg/tests/for.mlir
  pmlc/conversion/tile_to_linalg/tests/index.mlir
  pmlc/conversion/tile_to_linalg/tests/logical.mlir
  pmlc/conversion/tile_to_linalg/tests/pack_index.mlir
  pmlc/conversion/tile_to_linalg/tests/padding.mlir
  pmlc/conversion/tile_to_linalg/tests/relu.mlir
  pmlc/conversion/tile_to_linalg/tests/reshape.mlir
  pmlc/conversion/tile_to_linalg/tests/shape.mlir
  pmlc/conversion/tile_to_linalg/tests/shr_scalar.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_linalg/utils.cc
Due: clang-format, cpplint

Fixed a typo for debug version
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Adding support for installing plaidml to via pip --user
  plaidml/__init__.py
  plaidml/settings.py
Due: yapf

Conversion from Tile to Linalg (#1860)
  pmlc/CMakeLists.txt
  pmlc/all_passes.h
  pmlc/conversion/CMakeLists.txt
  pmlc/conversion/tile_to_linalg/CMakeLists.txt
  pmlc/conversion/tile_to_linalg/pass_detail.h
  pmlc/conversion/tile_to_linalg/passes.h
  pmlc/conversion/tile_to_linalg/passes.td
  pmlc/conversion/tile_to_linalg/specials.cc
  pmlc/conversion/tile_to_linalg/tests/add.mlir
  pmlc/conversion/tile_to_linalg/tests/broadcast.mlir
  pmlc/conversion/tile_to_linalg/tests/cast.mlir
  pmlc/conversion/tile_to_linalg/tests/compare.mlir
  pmlc/conversion/tile_to_linalg/tests/const.mlir
  pmlc/conversion/tile_to_linalg/tests/dot.mlir
  pmlc/conversion/tile_to_linalg/tests/double_dot.mlir
  pmlc/conversion/tile_to_linalg/tests/double_for.mlir
  pmlc/conversion/tile_to_linalg/tests/eltwise.mlir
  pmlc/conversion/tile_to_linalg/tests/for.mlir
  pmlc/conversion/tile_to_linalg/tests/index.mlir
  pmlc/conversion/tile_to_linalg/tests/logical.mlir
  pmlc/conversion/tile_to_linalg/tests/pack_index.mlir
  pmlc/conversion/tile_to_linalg/tests/padding.mlir
  pmlc/conversion/tile_to_linalg/tests/relu.mlir
  pmlc/conversion/tile_to_linalg/tests/reshape.mlir
  pmlc/conversion/tile_to_linalg/tests/shape.mlir
  pmlc/conversion/tile_to_linalg/tests/shr_scalar.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_linalg/utils.cc
Due: clang-format, cpplint

Replace memrefs with output args after conversion
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
Due: clang-format, cpplint
