Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Use assembly format for binary dispatch
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/roundtrip.mlir
Due: clang-format, cpplint

Retire some stdx ops
  cmake/third_party/llvm-project.cmake
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_linalg/tests/eltwise.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fix protobuf version
  environment.yml
Due: none

Fix typo
  environment.yml
Due: none

Pin protobuf for keras env as well
  ci/conda/keras.yml
Due: none

Pin protobuf version (#1961)
  ci/conda/keras.yml
  environment.yml
Due: none

Retire some stdx ops (#1960)
  cmake/third_party/llvm-project.cmake
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_linalg/tests/eltwise.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Retire Tile to PXA conversion
  pmlc/CMakeLists.txt
  pmlc/all_passes.h
  pmlc/conversion/CMakeLists.txt
  pmlc/conversion/linalg_to_pxa/CMakeLists.txt
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/pass_detail.h
  pmlc/conversion/linalg_to_pxa/special_utils.cc
  pmlc/conversion/linalg_to_pxa/special_utils.h
  pmlc/conversion/linalg_to_pxa/tile_to_pxa_special_patterns.cc
  pmlc/conversion/pxa_to_affine/tests/contract.mlir
  pmlc/conversion/tile_to_pxa/CMakeLists.txt
  pmlc/conversion/tile_to_pxa/pass_detail.h
  pmlc/conversion/tile_to_pxa/passes.h
  pmlc/conversion/tile_to_pxa/passes.td
  pmlc/conversion/tile_to_pxa/tests/add.mlir
  pmlc/conversion/tile_to_pxa/tests/argsort.mlir
  pmlc/conversion/tile_to_pxa/tests/broadcast.mlir
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tests/closure.mlir
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/const.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tests/gather.mlir
  pmlc/conversion/tile_to_pxa/tests/logical.mlir
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tests/prng.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tests/reshape.mlir
  pmlc/conversion/tile_to_pxa/tests/scatter.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tests/shr_scalar.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/conversion/tile_to_pxa/utils.cc
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Printing and parsing (#1957)
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/target/x86/tests/xsmm_call.mlir
Due: clang-format, cpplint

Retire Tile to PXA conversion (#1955)
  pmlc/CMakeLists.txt
  pmlc/all_passes.h
  pmlc/conversion/CMakeLists.txt
  pmlc/conversion/linalg_to_pxa/CMakeLists.txt
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/pass_detail.h
  pmlc/conversion/linalg_to_pxa/special_utils.cc
  pmlc/conversion/linalg_to_pxa/special_utils.h
  pmlc/conversion/linalg_to_pxa/tile_to_pxa_special_patterns.cc
  pmlc/conversion/pxa_to_affine/tests/contract.mlir
  pmlc/conversion/tile_to_pxa/CMakeLists.txt
  pmlc/conversion/tile_to_pxa/pass_detail.h
  pmlc/conversion/tile_to_pxa/passes.h
  pmlc/conversion/tile_to_pxa/passes.td
  pmlc/conversion/tile_to_pxa/tests/add.mlir
  pmlc/conversion/tile_to_pxa/tests/argsort.mlir
  pmlc/conversion/tile_to_pxa/tests/broadcast.mlir
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tests/closure.mlir
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/const.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tests/gather.mlir
  pmlc/conversion/tile_to_pxa/tests/logical.mlir
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tests/prng.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tests/reshape.mlir
  pmlc/conversion/tile_to_pxa/tests/scatter.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tests/shr_scalar.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/conversion/tile_to_pxa/utils.cc
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Add toy examples
  plaidbench/CMakeLists.txt
  plaidbench/plaidbench/__init__.py
  plaidbench/plaidbench/frontend_keras.py
  plaidbench/plaidbench/networks/keras/toy_gemms.py
  plaidbench/plaidbench/networks/keras/toy_parallel_conv.py
Due: yapf

Add tile dialect toy networks
  networks/toy_gemms.mlir
  networks/toy_parallel_conv.mlir
Due: none

Fix bugs after merging
  pmlc/rt/xsmm.cc
  pmlc/target/x86/stencil_tpp_unary.cc
Due: clang-format, cpplint

Fix: batchnorm folding with depthwise conv
  plaidbench/plaidbench/frontend_keras.py
Due: yapf

WIP Add a high dim dot example
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

WIP Add example with outer reduction
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

WIP: JSON config for multithreading
  pmlc/dialect/pxa/transforms/cpu_thread.cc
  pmlc/target/x86/tests/cpu_thread.mlir
  pmlc/target/x86/tests/threadconfig.json
Due: clang-format, cpplint

TPSS for 7 deep loop nests only
  pmlc/dialect/pxa/transforms/cpu_thread.cc
Due: clang-format, cpplint

Add batch size 128/256 toy examples
  networks/toy_gemms_b128.mlir
  networks/toy_gemms_b256.mlir
  networks/toy_parallel_conv_b128.mlir
  networks/toy_parallel_conv_b256.mlir
Due: none

Add toy example reductions
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Add toy example with separable convolution
  myeasylog.log
  plaidbench/CMakeLists.txt
  plaidbench/plaidbench/__init__.py
  plaidbench/plaidbench/frontend_keras.py
  plaidbench/plaidbench/networks/keras/toy_xcp.py
Due: yapf

Simplify and adjust example
  plaidbench/plaidbench/networks/keras/toy_xcp.py
Due: yapf

Cleanup
  myeasylog.log
Due: none

Backout weight reorder if loops can't be inferred
  pmlc/target/x86/reorder_layouts.cc
Due: clang-format, cpplint

Clean up logging
  pmlc/target/x86/reorder_layouts.cc
Due: clang-format, cpplint

TPSS: parallelization directives
  pmlc/dialect/pxa/transforms/cpu_thread.cc
Due: clang-format, cpplint

Add correctness test for parallel conv
  plaidbench/plaidbench/golden/toy_parallel_conv/infer,bs-1.npy
  plaidbench/plaidbench/networks/keras/toy_parallel_conv.h5
Due: none

Fix correctness test and document
  plaidbench/CMakeLists.txt
  plaidbench/plaidbench/adding_toy_networks.md
  plaidbench/plaidbench/networks/keras/toy_parallel_conv.py
Due: yapf

Backout weight reorder if loops can't be inferred (#1968)
  pmlc/target/x86/reorder_layouts.cc
Due: clang-format, cpplint

Add some toy examples (#1967)
  networks/toy_gemms.mlir
  networks/toy_gemms_b128.mlir
  networks/toy_gemms_b256.mlir
  networks/toy_parallel_conv.mlir
  networks/toy_parallel_conv_b128.mlir
  networks/toy_parallel_conv_b256.mlir
  plaidbench/CMakeLists.txt
  plaidbench/plaidbench/__init__.py
  plaidbench/plaidbench/adding_toy_networks.md
  plaidbench/plaidbench/frontend_keras.py
  plaidbench/plaidbench/golden/toy_parallel_conv/infer,bs-1.npy
  plaidbench/plaidbench/networks/keras/toy_gemms.py
  plaidbench/plaidbench/networks/keras/toy_parallel_conv.h5
  plaidbench/plaidbench/networks/keras/toy_parallel_conv.py
  plaidbench/plaidbench/networks/keras/toy_xcp.py
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint, yapf

Fix: Instrumentation call type was incorrect
  pmlc/target/x86/instrument.cc
Due: clang-format, cpplint

Fix: Instrumentation call type was incorrect (#1971)
  pmlc/target/x86/instrument.cc
Due: clang-format, cpplint

Update configure
  configure
Due: none

Drop OpenVino deps (#1958)
  .gitmodules
  configure
Due: none

Allow users to define CC/CXX options for CMake on configure
  configure
Due: none

Allow users to define CC/CXX options for CMake on configure (#1973)
  configure
Due: none

Shape Analysis pass
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/shape_analysis.cc
Due: clang-format, cpplint

Batch parallelization and allocs to alloca changes
  pmlc/dialect/pxa/transforms/cpu_thread.cc
Due: clang-format, cpplint

adding new C API for plaidml_build_from_mlir_moduleop
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/symbols.cmake
Due: clang-format, cpplint
