Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Pin pyyaml to 5.3.1 to fix build (#1674)
  conda/unix.yml
  environment-windows.yml
Due: none

typo
  environment-windows.yml
Due: none

benchmark_app package (#1673)
  CMakeLists.txt
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Adding a few command lines
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layouts.mlir
Due: none

Updating a command line
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layouts.mlir
Due: none

Fix warnings
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/layer/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/target/intel_gen_ocl_spirv/access_qualifiers.cc
  pmlc/target/intel_gen_ocl_spirv/legalize_spirv.cc
  pmlc/target/intel_gen_ocl_spirv/spirv_target.cc
  pmlc/target/intel_gen_ocl_spirv/sub_group_size.cc
Due: clang-format, cpplint

Pin pyyaml (#1675)
  environment-windows.yml
Due: none

Fix pmlc/dialect/layer/tests/inline_layers.mlir
  pmlc/dialect/layer/transforms/inline_layers.cc
Due: clang-format, cpplint

Fix tile_to_pxa tests to use updated syntax
  pmlc/conversion/tile_to_pxa/tests/argsort.mlir
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/gather.mlir
  pmlc/conversion/tile_to_pxa/tests/logical.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
Due: none

Fix/disable PXA tests
  pmlc/dialect/pxa/tests/dataflow_opt.mlir
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/dialect/pxa/tests/ops.mlir
  pmlc/dialect/pxa/tests/vectorize-mem_ops.mlir
Due: none

Fixed comp-to-ocl code + tests
  pmlc/conversion/comp_to_llvm/comp_to_llvm.cc
  pmlc/conversion/comp_to_llvm/tests/comp_to_ocl.mlir
Due: clang-format, cpplint

Fix rt tests
  pmlc/compiler/program.cc
  pmlc/dialect/stdx/transforms/boundscheck.cc
  pmlc/rt/tests/openmp.mlir
Due: clang-format, cpplint

Fix XSMM tests
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/stencil.h
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/target/x86/heatmap.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_stencil.mlir
Due: clang-format, cpplint

Fix more lit tests
  pmlc/conversion/scf_to_omp/scf_to_omp.cc
  pmlc/conversion/stdx_to_llvm/tests/pack.mlir
  pmlc/conversion/stdx_to_llvm/tests/reshape.mlir
  pmlc/dialect/stdx/tests/i1_to_i32.mlir
Due: clang-format, cpplint

Fix to parsing of lit file
  pmlc/conversion/gpu_to_spirv/tests/subgroups_broadcast.mlir
Due: none

Nest function passes
  pmlc/ast/builder.cc
  pmlc/compiler/program.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Make ocl test work again and run on every platform now since they are not runtime depenedent
  pmlc/target/intel_gen_ocl_spirv/tests/dotf.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/e2e.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/intermediate.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/legalize_spirv.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/lit.local.cfg
Due: none

More build fixes
  bzl/workspace.bzl
  plaidml/edsl/tests/edsl_test.cc
  pmlc/BUILD
  pmlc/conversion/gpu/BUILD
  pmlc/conversion/gpu_to_spirv/BUILD
  pmlc/dialect/layer/transforms/inline_layers.cc
  pmlc/dialect/oplib/BUILD
  pmlc/rt/opencl/BUILD
  pmlc/rt/vulkan/BUILD
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen_ocl_spirv/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/prng_lowering.cc
  pmlc/tools/pmlc-tblgen/BUILD
  pmlc/tools/pmlc-tblgen/cpp/BUILD
  pmlc/tools/pmlc-tblgen/python/BUILD
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint

Fix bazel build
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/tile/ir/eltwise.td
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen_ocl_spirv/BUILD
  pmlc/tools/pmlc-opencl-runner/pmlc-opencl-runner.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Fix GPU pipeline to nest
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

Update interpolate op
  plaidml/bridge/openvino/ops/interpolate.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/eltwise.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/interpolate.cpp
Due: clang-format, cpplint

Fix remaining tests
  pmlc/ast/builder.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Bump LLVM pointer
  bzl/workspace.bzl
  cmake/third_party/easylogging.cmake
  cmake/third_party/gflags.cmake
  cmake/third_party/googletest.cmake
  cmake/third_party/half.cmake
  cmake/third_party/llvm-project.cmake
  cmake/third_party/opencl_headers.cmake
  cmake/third_party/opencl_hpp_headers.cmake
  cmake/third_party/opencl_icd_loader.cmake
  cmake/third_party/volk.cmake
  cmake/third_party/vulkan_headers.cmake
  cmake/third_party/xsmm.cmake
  plaidml/bridge/openvino/CMakeLists.txt
Due: buildifier

Fix GPU edsl test
  plaidml/edsl/tests/edsl_test-skip.intel_gen_ocl_spirv.txt
  pmlc/conversion/comp_to_llvm/comp_to_llvm.cc
  pmlc/conversion/gpu/kernel_outlining.cc
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/intel_gen/tests/dotf.mlir
  pmlc/target/intel_gen/tests/e2e.mlir
  pmlc/target/intel_gen/tests/intermediate.mlir
  pmlc/target/intel_gen/tests/lit.local.cfg
  pmlc/target/intel_gen/tests/subgroup_block_ops.mlir
  pmlc/target/intel_gen/tests/subgroup_broadcast.mlir
Due: clang-format, cpplint

Fix warning
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
Due: clang-format, cpplint

Attemping again
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
Due: clang-format, cpplint

Drop windows agents
  ci/plan.yml
Due: none

enabled memory vectorization and layout reorder passes
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

added extractelement as legal
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Revert "enabled memory vectorization and layout reorder passes"
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

pipeline changes
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

added back index cast and extractelementop
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

Revive windows build
  ci/plan.yml
  vendor/openmp/openmp.BUILD
Due: buildifier

Fixing an option name
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layouts_minimal.mlir
Due: none

Fix ConvolutionBackpropData. (#61)
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
Due: clang-format, cpplint

fix pooling test case (#59)
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/pooling_smoke.cpp
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

