Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Add python support to cmake (#1743)
  CMakeLists.txt
  ci/pipeline.yml
  cmake/pml_installed_test.cmake
  cmake/pml_macros.cmake
  cmake/pml_python.cmake
  environment.yml
  plaidml/CMakeLists.txt
  plaidml/bridge/CMakeLists.txt
  plaidml/bridge/keras/CMakeLists.txt
  plaidml/bridge/keras/backend_test.py
  plaidml/core/CMakeLists.txt
  plaidml/core/_version.in.py
  plaidml/edsl/CMakeLists.txt
  plaidml/edsl/tests/CMakeLists.txt
  plaidml/exec/CMakeLists.txt
  plaidml/exec/tests/CMakeLists.txt
  plaidml/op/CMakeLists.txt
  pmlc/CMakeLists.txt
Due: yapf

Add cmake support for building wheels
  CMakeLists.txt
  cmake/pml_python.cmake
  environment.yml
  plaidbench/CMakeLists.txt
  plaidbench/plaidbench/networks/__init__.py
  plaidbench/plaidbench/networks/keras/__init__.py
  plaidbench/plaidbench/networks/ops/__init__.py
  plaidbench/setup.in.py
  plaidml/CMakeLists.txt
  plaidml/bridge/keras/CMakeLists.txt
  plaidml/bridge/keras/setup.in.py
  plaidml/setup.in.py
Due: yapf

Works except for iteration
  networks/scitile/LAS/BUILD
  networks/scitile/LAS/cg_tests.py
  networks/scitile/LAS/conjgrad.py
  networks/scitile/LAS/min_ex.py
  networks/scitile/LAS/solver_timings.py
  networks/scitile/LAS/test_data/10x10.npz
  networks/scitile/LAS/test_data/20x20.npz
Due: yapf

Remove dead timing functionality
  networks/scitile/LAS/BUILD
  networks/scitile/LAS/conjgrad.py
Due: yapf

update dot 4d test to 7D input space to match conv2d
  pmlc/dialect/tile/tests/conv2d_finder.mlir
Due: none

Add cmake support for building wheels (#1744)
  CMakeLists.txt
  cmake/pml_python.cmake
  environment.yml
  plaidbench/CMakeLists.txt
  plaidbench/plaidbench/networks/__init__.py
  plaidbench/plaidbench/networks/keras/__init__.py
  plaidbench/plaidbench/networks/ops/__init__.py
  plaidbench/setup.in.py
  plaidml/CMakeLists.txt
  plaidml/bridge/keras/CMakeLists.txt
  plaidml/bridge/keras/setup.in.py
  plaidml/setup.in.py
Due: yapf

update to latest edsl
  networks/scitile/storti_integrals/op.py
Due: yapf

removing obsolete docs
  networks/scitile/storti_integrals/docs/BUILD
  networks/scitile/storti_integrals/docs/partial_diff.py
  networks/scitile/storti_integrals/docs/toroidal_shell_moment.jpg
  networks/scitile/storti_integrals/docs/uw_torus_doc.tex
Due: yapf

Deleted old comment
  networks/scitile/LAS/conjgrad.py
Due: yapf

Testing buildkite fix
  .buildkite/hooks/post-checkout
Due: none

Use cmake instead of bazel for CI
  .buildkite/hooks/post-checkout
  CMakeLists.txt
  ci/buildkite.py
  ci/harness.py
  ci/pipeline.yml
  ci/plan.yml
  ci/report.py
  ci/util.py
  cmake/devkit.cmake
  cmake/pml_python.cmake
  cmake/third_party/llvm-project.cmake
  plaidbench/CMakeLists.txt
  plaidml/CMakeLists.txt
  plaidml/bridge/keras/CMakeLists.txt
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/core/CMakeLists.txt
  pmlc/rt/CMakeLists.txt
  pmlc/rt/opencl/CMakeLists.txt
  pmlc/rt/vulkan/CMakeLists.txt
Due: yapf

Use cmake instead of bazel for CI (#1745)
  .buildkite/hooks/post-checkout
  CMakeLists.txt
  ci/buildkite.py
  ci/harness.py
  ci/pipeline.yml
  ci/plan.yml
  ci/report.py
  ci/util.py
  cmake/devkit.cmake
  cmake/pml_python.cmake
  cmake/third_party/llvm-project.cmake
  plaidbench/CMakeLists.txt
  plaidml/CMakeLists.txt
  plaidml/bridge/keras/CMakeLists.txt
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/core/CMakeLists.txt
  pmlc/rt/CMakeLists.txt
  pmlc/rt/opencl/CMakeLists.txt
  pmlc/rt/vulkan/CMakeLists.txt
Due: yapf

Uploading testkit and devkit packages
  ci/buildkite.py
Due: yapf

Uploading testkit and devkit packages (#1747)
  ci/buildkite.py
Due: yapf

Fix Scatter type check
  ci/plan.yml
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Add int scatter lit test
  ci/plan.yml
  pmlc/conversion/tile_to_pxa/tests/scatter.mlir
Due: none

Fix Scatter type check (#1749)
  pmlc/conversion/tile_to_pxa/tests/scatter.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

turning off XSMM
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

turning XSMM back on
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

infer result shape & output info
  plaidml/bridge/openvino/ops/convolution.cpp
  plaidml/op/lib/ops.cc
Due: clang-format, cpplint

bump irv10 commit
  ci/pipeline.yml
Due: none

Trigger when build is complete
  ci/pipeline.yml
Due: none

Bump irv10 commit (#1755)
  ci/pipeline.yml
Due: none

add DetectionOutput op
  plaidml/bridge/openvino/ops/detection_output.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/detection_output.cpp
Due: clang-format, cpplint

move decodeBoxes function into OpLib
  plaidml/bridge/openvino/ops/detection_output.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint

fix
  plaidml/op/lib/ops.cc
Due: clang-format, cpplint

remove bazel build file
  pmlc/dialect/tile/analysis/BUILD
Due: none

add DetectionOutput op (#1741)
  plaidml/bridge/openvino/ops/detection_output.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/detection_output.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint

Updating the command lines in the test file
  pmlc/target/x86/tests/conv_simple.mlir
Due: none

Updating the command lines
  pmlc/target/x86/tests/conv_sequence.mlir
Due: none

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

