Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Updated testing to accept transpose parameters
  plaidml/bridge/openvino/src/plaidml_plugin/ops/mat_mul.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/mat_mul.cpp
Due: clang-format, cpplint

Updated openvino reference
  vendor/openvino/workspace.bzl
Due: buildifier

Added openvino Elu op
  plaidml/bridge/openvino/src/plaidml_plugin/ops/elu.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/elu.cpp
Due: clang-format, cpplint

Updated matmul testing (#1191)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/mat_mul.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/mat_mul.cpp
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Added openvino Elu op (#1192)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/elu.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/elu.cpp
Due: clang-format, cpplint

Add OpenVINO op StridedSlice
  plaidml/bridge/openvino/src/plaidml_plugin/ops/strided_slice.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/strided_slice.cpp
  plaidml/op/op.h
  vendor/openvino/openvino.BUILD
Due: buildifier, clang-format, cpplint

Update OV reference
  vendor/openvino/workspace.bzl
Due: buildifier

Added logical not
  plaidml/bridge/openvino/src/plaidml_plugin/ops/logical_not.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/logical_not.cpp
Due: clang-format, cpplint

Added logical not
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: none

Added logical not op (#1193)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/logical_not.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/logical_not.cpp
Due: clang-format, cpplint

Fixed reference to layer attributes
  plaidml/bridge/openvino/src/plaidml_plugin/ops/reduce_logical_or.cpp
Due: clang-format, cpplint

Fixed reference to layer attributes (#1194)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/reduce_logical_or.cpp
Due: clang-format, cpplint

Remove unnecessarily verbose log
  plaidml/bridge/openvino/src/plaidml_plugin/ops/strided_slice.cpp
Due: clang-format, cpplint

Add OpenVINO op StridedSlice (#1165)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/strided_slice.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/strided_slice.cpp
  plaidml/op/op.h
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Add OpenVINO op BatchNormInference
  plaidml/bridge/openvino/src/plaidml_plugin/ops/batch_norm_inference.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/batch_norm_inference.cpp
Due: clang-format, cpplint

Add OpenVINO op BatchNormInference (#1195)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/batch_norm_inference.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/batch_norm_inference.cpp
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Draft OpenVINO Select
  plaidml/bridge/openvino/src/plaidml_plugin/ops/select.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: clang-format, cpplint

Add OpenVINO op Select (#1196)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/select.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

WIP OpenVino plugin NormalizeL2, GRN TODO: GRN tests normalize_l2 test empty axes
  plaidml/bridge/openvino/src/plaidml_plugin/ops/grn.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/normalize_l2.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/grn.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/normalize_l2.cpp
Due: clang-format, cpplint

implement eltwise.logical_not and add operator! to C++ EDSL
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tests/logical.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/ops.td
Due: clang-format, cpplint

Openvino : Logical Ops
  plaidml/bridge/openvino/src/plaidml_plugin/ops/logical_and.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/logical_or.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/logical_xor.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/logical_and.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/logical_or.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/logical_xor.cpp
Due: clang-format, cpplint

fix inappropriate use of reference to smart pointer (Value)
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

slightly more intelligent constant-float-zero check in logical.mlir
  pmlc/conversion/tile_to_pxa/tests/logical.mlir
Due: none

Openvino : Logical Ops (#1201)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/logical_and.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/logical_or.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/logical_xor.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/logical_and.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/logical_or.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/logical_xor.cpp
Due: clang-format, cpplint

implement eltwise.logical_not and add operator! to C++ EDSL (#1200)
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tests/logical.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/ops.td
Due: clang-format, cpplint

Create OpenVINO plugin smoke tests
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convolution_smoke.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/eltwise.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/pooling_smoke.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/reshape.cpp
Due: clang-format, cpplint

Update with new failing tests
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: none

Add smoke tests exclusions for new known failures
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: none

Update with more new failing tests
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: none

Create OpenVINO plugin smoke tests (#1188)
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convolution_smoke.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/eltwise.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/pooling_smoke.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/reshape.cpp
Due: clang-format, cpplint

Add OpenVINO op FloorMod
  plaidml/bridge/openvino/src/plaidml_plugin/ops/floor_mod.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/floor_mod.cpp
Due: clang-format, cpplint

Add OpenVINO op FakeQuantize
  plaidml/bridge/openvino/src/plaidml_plugin/ops/fake_quantize.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  vendor/openvino/openvino.BUILD
Due: buildifier, clang-format, cpplint

Add OpenVINO floor
  plaidml/bridge/openvino/src/plaidml_plugin/ops/floor.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/floor.cpp
Due: clang-format, cpplint

Add OpenVINO ops Acos, Asin, Atan
  plaidml/bridge/openvino/src/plaidml_plugin/ops/acos.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/asin.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/atan.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/acos.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/asin.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/atan.cpp
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

Add OpenVINO op Erf
  plaidml/bridge/openvino/src/plaidml_plugin/ops/erf.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/erf.cpp
  plaidml/edsl/edsl.h
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/ops.td
Due: clang-format, cpplint

Add OpenVINO op LRN
  plaidml/bridge/openvino/src/plaidml_plugin/ops/lrn.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint

Mark test errors in smoke test
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: none

Fix formula for fake_quantize
  plaidml/bridge/openvino/src/plaidml_plugin/ops/fake_quantize.cpp
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

