Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Restore vanilla TF (#759)
  conda/unix.yml
Due: none

* The optimization pass of automatic stencil. * Add some helpers for Stripe dialect. * Fix bugs in conversion between Stripe and MLIR
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/autostencil_pass.cc
  pmlc/dialect/stripe/autostencil_pass.h
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/mlir.h
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  tile/codegen/codegen.proto
  tile/codegen/mlir_passes.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

WIP Partial transition to simple constraints
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
Due: clang-format, cpplint

WIP Switch Contraction to SimpleConstraints
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
Due: clang-format, cpplint

Add constraints when building contraction
  pmlc/dialect/tile/contraction.cc
Due: clang-format, cpplint

WIP Add more ILP constraint APIs
  tile/bilp/BUILD
  tile/bilp/ilp_solver.cc
  tile/bilp/ilp_solver.h
Due: clang-format, cpplint

Clean comments
  pmlc/dialect/tile/contraction.cc
  tile/math/polynomial.cc
  tile/math/polynomial.h
Due: clang-format, cpplint

Add unit tests and fixes for those tests
  tile/math/math_test.cc
  tile/math/polynomial.cc
Due: clang-format, cpplint

WIP Draft SimpleConstraint Tableau builder
  tile/bilp/BUILD
  tile/bilp/ilp_solver.cc
  tile/bilp/ilp_solver.h
  tile/bilp/test.cc
Due: clang-format, cpplint

Unify bound/contraction shared code
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  tile/lang/bound.cc
  tile/lang/bound.h
  tile/math/polynomial.cc
  tile/math/polynomial.h
Due: clang-format, cpplint

WIP Add parallel ∩ for SimpleConstraint
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
Due: clang-format, cpplint

Fix off-by-one from <= to < transition
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  tile/math/math_test.cc
  tile/math/polynomial.cc
Due: clang-format, cpplint

Implement review comments
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  tile/bilp/ilp_solver.cc
  tile/bilp/ilp_solver.h
  tile/bilp/test.cc
Due: clang-format, cpplint

Lower 1-sided constraints in Tile->Stripe (#763)
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  tile/bilp/BUILD
  tile/bilp/ilp_solver.cc
  tile/bilp/ilp_solver.h
  tile/bilp/test.cc
  tile/lang/bound.cc
  tile/lang/bound.h
  tile/math/math_test.cc
  tile/math/polynomial.cc
  tile/math/polynomial.h
Due: clang-format, cpplint

Swap M and N
  pmlc/dialect/stripe/autostencil_pass.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

Fix lowering of eltwise ops with affine operands
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint

Replace plaidml_expr with plaidml_value for edsl::Value
  networks/oplib/resnet50.cc
  plaidml2/core/ffi.cc
  plaidml2/core/ffi.h
  plaidml2/core/internal.h
  plaidml2/edsl/__init__.py
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/BUILD
  plaidml2/op/ffi.cc
  plaidml2/op/ffi.h
  plaidml2/op/lib/ops.cc
  plaidml2/op/op.h
  plaidml2/op/op_test.cc
  plaidml2/plaidml_link.jsonnet
  pmlc/dialect/op_lib/OpLibWrapperGen.cpp
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
Due: clang-format, cpplint, yapf

Cleanup
  plaidml2/edsl/BUILD
  plaidml2/edsl/ffi.cc
Due: clang-format, cpplint

Fix lowering of eltwise ops with affine operands (#764)
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint

Replace plaidml_expr with plaidml_value for edsl::Value (#765)
  networks/oplib/resnet50.cc
  plaidml2/core/ffi.cc
  plaidml2/core/ffi.h
  plaidml2/core/internal.h
  plaidml2/edsl/BUILD
  plaidml2/edsl/__init__.py
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/BUILD
  plaidml2/op/ffi.cc
  plaidml2/op/ffi.h
  plaidml2/op/lib/ops.cc
  plaidml2/op/op.h
  plaidml2/op/op_test.cc
  plaidml2/plaidml_link.jsonnet
  pmlc/dialect/op_lib/OpLibWrapperGen.cpp
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
Due: clang-format, cpplint, yapf

draft - chcking md math fix
  docs/edsl.md
Due: none

checking colors and large font
  docs/edsl.md
Due: none

WIP
  pmlc/BUILD
  pmlc/dialect/eltwise/interfaces.td
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.h
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/types.cc
  pmlc/dialect/eltwise/types.h
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/dialect.h
  pmlc/dialect/pxa/from_tile.cc
  pmlc/dialect/pxa/from_tile.h
  pmlc/dialect/pxa/ops.cc
  pmlc/dialect/pxa/ops.h
  pmlc/dialect/pxa/ops.td
  pmlc/dialect/pxa/tests/BUILD
  pmlc/dialect/pxa/tests/from_tile.mlir
Due: clang-format, cpplint

added colors increased equation font size to large put gitlab latex back in commented
  docs/edsl.md
Due: none

Fix unexpected stripe type during lowering
  pmlc/dialect/tile/lowering.cc
Due: clang-format, cpplint

minor fix - line spacing
  docs/edsl.md
Due: none

changed invisible yellow to black
  docs/edsl.md
Due: none

Fix unexpected stripe type during lowering (#767)
  pmlc/dialect/tile/lowering.cc
Due: clang-format, cpplint

mathjax added
  docs/_config.yml
  docs/_includes/mathjax_support
  docs/docs/writing_tile_code.md
Due: none

first pass latex equations
  docs/docs/edsl.md
  docs/docs/writing_tile_code.md
Due: none

edsl.md equations fixed
  docs/docs/edsl.md
Due: none

vs code preview equation fix
  docs/docs/edsl.md
Due: none

minor fix
  docs/docs/edsl.md
Due: none

Use KaTeX
  README.md
  docs/Makefile
  docs/README.md
  docs/_config.yml
  docs/_includes/head_custom.html
  docs/_includes/mathjax_support
  docs/_posts/2019-12-12-welcome-to-jekyll.markdown
  docs/docs/about.md
  docs/docs/building.md
  docs/docs/building_a_frontend.md
  docs/docs/ci.md
  docs/docs/contributing.md
  docs/docs/edsl.md
  docs/docs/install.md
  docs/docs/release-notes.md
  docs/docs/troubleshooting.md
  docs/docs/writing_tile_code.md
  docs/index.md
Due: none

Cleanup
  README.md
  docs/docs/configuration.md
  docs/index.md
Due: none

Fix
  docs/docs/edsl.md
Due: none

Minor docs fixes
  README.md
  docs/docs/edsl.md
Due: none

More fixes
  README.md
  docs/assets/images/code-conv-1D-color.png
  docs/assets/images/code-cum-sum-sub.png
  docs/assets/images/code-max-0.png
  docs/assets/images/code-pool-1D.png
  docs/assets/images/code-sum-0.png
  docs/assets/images/math-cat-xent-raw.png
  docs/assets/images/math-cat-xent-split.png
  docs/assets/images/math-conv-1D-color.png
  docs/assets/images/math-conv-1D-raw.png
  docs/assets/images/math-cum-sum-raw.png
  docs/assets/images/math-cum-sum-sub.png
  docs/assets/images/math-dil-conv-2D.png
  docs/assets/images/math-mat-mul.png
  docs/assets/images/math-max-0.png
  docs/assets/images/math-pool-1D.png
  docs/assets/images/math-sum-0.png
  docs/assets/images/nameonly.xcf
  docs/index.md
Due: none

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

