Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

fix
  pmlc/dialect/eltwise/tests/constant-fold.mlir
Due: none

Avoided problematic convolution test
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Add CastOp folder and tests (#1211)
  plaidml/edsl/tests/edsl_test.py
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/eltwise/tests/constant-fold.mlir
Due: clang-format, cpplint, yapf

storti integral examples plaidml-v1
  networks/scitile/storti_integrals/BUILD
  networks/scitile/storti_integrals/README.md
  networks/scitile/storti_integrals/docs/BUILD
  networks/scitile/storti_integrals/docs/partial_diff.py
  networks/scitile/storti_integrals/docs/toroidal_shell_moment.jpg
  networks/scitile/storti_integrals/docs/uw_torus_doc.tex
  networks/scitile/storti_integrals/hypersphere.py
  networks/scitile/storti_integrals/op.py
  networks/scitile/storti_integrals/storti_integral_tests.py
  networks/scitile/storti_integrals/torus.py
Due: yapf

axis -> axes (no default) epsilon default set to 0 sum replaced with maximum other minor fixes
  plaidml/bridge/openvino/src/plaidml_plugin/ops/grn.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/normalize_l2.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

add norm to oplib (#1207)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/grn.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/normalize_l2.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Removed expand_dims dependencies
  plaidml/bridge/openvino/src/plaidml_plugin/ops/batch_norm_inference.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/mat_mul.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/strided_slice.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Fix unsqueeze python API
  plaidml/bridge/keras/__init__.py
  plaidml/op/__init__.py
Due: yapf

Add Cast and Relu into edsl_test_gpu.
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
Due: clang-format, cpplint

Port createI1StorageToI32Pass from abialas1:abialas-i1StorageToi8 branch.
  pmlc/dialect/stdx/tests/i1_to_i32.mlir
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
  pmlc/dialect/stdx/transforms/passes.h
  pmlc/dialect/stdx/transforms/passes.td
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Fixed minor typo
  plaidml/op/op_test.cc
Due: clang-format, cpplint

WIP: Updating oplib testing (#1210)
  plaidml/bridge/keras/__init__.py
  plaidml/bridge/openvino/src/plaidml_plugin/ops/batch_norm_inference.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/mat_mul.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/strided_slice.cpp
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/__init__.py
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
  plaidml/testenv.h
Due: clang-format, cpplint, yapf

Use new affine canonicalizations
  pmlc/dialect/pxa/tests/autotile.mlir
Due: none

Undo
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

debug branch
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Fix bug
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Fix cast op lowering of tile to pxa (#1217)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Openvino : revert workarounds for missing lowerings
  plaidml/bridge/openvino/src/plaidml_plugin/ops/acos.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/atan.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/cosh.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sin.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sinh.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/tan.cpp
Due: clang-format, cpplint

Bump pointer
  bzl/workspace.bzl
Due: buildifier

remove sin from exclude tests in build
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: none

Openvino : revert workarounds for missing lowerings (#1218)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/acos.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/atan.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/cosh.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sin.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sinh.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/tan.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: clang-format, cpplint

Fixes to update to latest MLIR
  plaidml/edsl/tests/edsl_test.cc
  pmlc/compiler/executable.cc
  pmlc/conversion/gpu/BUILD
  pmlc/conversion/gpu/llvm_lowering.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/oplib/tests/BUILD
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/tests/dataflow_opt.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/dialect/pxa/tests/localize.mlir
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/tests/uses.mlir
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/tile/ir/types.h
  pmlc/rt/boundscheck.cc
  pmlc/rt/prng.cc
  pmlc/rt/runtime.cc
  pmlc/rt/tests/boundscheck-rt.mlir
  pmlc/rt/vulkan/BUILD
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/wrappers.cc
  pmlc/rt/xsmm.cc
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/trace_linking.cc
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint

Bump MLIR
  bzl/workspace.bzl
Due: buildifier

Fix build
  pmlc/rt/vulkan/vulkan_runtime.h
Due: clang-format, cpplint

Fix windows build
  plaidml/plaidml_link.jsonnet
Due: none

Use new affine canonicalizations (#1215)
  bzl/workspace.bzl
  plaidml/edsl/tests/edsl_test.cc
  plaidml/plaidml_link.jsonnet
  pmlc/compiler/executable.cc
  pmlc/conversion/gpu/BUILD
  pmlc/conversion/gpu/llvm_lowering.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/oplib/tests/BUILD
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/tests/dataflow_opt.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/dialect/pxa/tests/localize.mlir
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/tests/uses.mlir
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/tile/ir/types.h
  pmlc/rt/boundscheck.cc
  pmlc/rt/prng.cc
  pmlc/rt/runtime.cc
  pmlc/rt/tests/boundscheck-rt.mlir
  pmlc/rt/vulkan/BUILD
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/rt/vulkan/wrappers.cc
  pmlc/rt/xsmm.cc
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/trace_linking.cc
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint

Fix binder lifetime bug
  plaidml/exec/exec.h
Due: clang-format, cpplint

Add more convolution tests
  plaidml/op/op_test.cc
Due: clang-format, cpplint

cleanups
  networks/oplib/run.cc
Due: clang-format, cpplint

Fix binder lifetime bug (#1220)
  plaidml/exec/exec.h
Due: clang-format, cpplint

Add temp memref<? x i32> for memref<? x i1> to enable i1 tensor on GPU backend.
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Add logicalTest to GPU.
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
  pmlc/rt/vulkan/tests/testenv.h
Due: clang-format, cpplint

Use SCF and local lowering to avoid additional passes in pipeline.
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Fix for strided convolutions in XSMM. Note, these should be valid, and this fix simply skips optimization for strided cases.
  plaidml/op/op_test.cc
  pmlc/target/x86/xsmm_stencil.cc
Due: clang-format, cpplint

Fix for strided convolutions in XSMM. Note, these should be valid, and this fix simply skips optimization for strided cases. (#1225)
  plaidml/op/op_test.cc
  pmlc/target/x86/xsmm_stencil.cc
Due: clang-format, cpplint

try
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Change loop in i1Toi32 from SCF to standardOps and update pass order in pipeline.
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Adjust
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

