Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

openmp build rules
  bzl/workspace.bzl
  vendor/openmp/BUILD
  vendor/openmp/openmp.BUILD
Due: buildifier

Added py_binaries to bazel & run commit checks
  networks/scitile/LAS/BUILD
  networks/scitile/LAS/cg_tests.py
  networks/scitile/LAS/cholesky.py
  networks/scitile/LAS/conjgrad.py
  networks/scitile/LAS/numpy_cholesky.py
  networks/scitile/LAS/solver_timings.py
Due: yapf

Removed the extra files and code added for BRGEMM
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/stencil_brgemm.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Add buffer copy mode enum
  pmlc/conversion/gpu/BUILD
  pmlc/conversion/gpu/enums.td
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/rt/vulkan/BUILD
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.h
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

Fix
  pmlc/conversion/gpu/gpu_to_vulkan.cc
Due: clang-format, cpplint

Add gpu conversion registration
  pmlc/all_passes.h
  pmlc/conversion/gpu/lowering.h
Due: clang-format, cpplint

Add OpenCL+SPIRV target
  plaidml/BUILD
  plaidml/edsl/tests/BUILD
  plaidml/edsl/tests/edsl_test-skip.intel_gen_ocl_spirv.txt
  pmlc/BUILD
  pmlc/all_passes.h
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/conversion/gpu_to_spirv/passes.h
  pmlc/target/intel_gen_ocl_spirv/BUILD
  pmlc/target/intel_gen_ocl_spirv/pass_detail.h
  pmlc/target/intel_gen_ocl_spirv/passes.h
  pmlc/target/intel_gen_ocl_spirv/passes.td
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/spirv_target.cc
  pmlc/target/intel_gen_ocl_spirv/tests/BUILD
  pmlc/target/intel_gen_ocl_spirv/tests/dotf.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/e2e.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/intermediate.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/lit.local.cfg
Due: clang-format, cpplint

Cleanup
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/dialect/tile/tests/padding.mlir
  pmlc/dialect/tile/transforms/pad_ranges.cc
  pmlc/dialect/tile/transforms/passes.td
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/util/BUILD
  pmlc/util/strides.cc
Due: clang-format, cpplint

Further cleanup
  pmlc/dialect/tile/tests/pad_constraints.mlir
  pmlc/dialect/tile/tests/pad_ranges.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/pad_constraints.cc
  pmlc/dialect/tile/transforms/pad_ranges.cc
Due: clang-format, cpplint

Add gpu conversion registration (#1399)
  pmlc/all_passes.h
  pmlc/conversion/gpu/lowering.h
Due: clang-format, cpplint

Typo in my fixes
  pmlc/dialect/tile/transforms/pad_ranges.cc
Due: clang-format, cpplint

Fix compile error in assert
  pmlc/util/strides.cc
Due: clang-format, cpplint

Add OpenCL+SPIRV target (#1400)
  plaidml/BUILD
  plaidml/edsl/tests/BUILD
  plaidml/edsl/tests/edsl_test-skip.intel_gen_ocl_spirv.txt
  pmlc/BUILD
  pmlc/all_passes.h
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/conversion/gpu_to_spirv/passes.h
  pmlc/target/intel_gen_ocl_spirv/BUILD
  pmlc/target/intel_gen_ocl_spirv/pass_detail.h
  pmlc/target/intel_gen_ocl_spirv/passes.h
  pmlc/target/intel_gen_ocl_spirv/passes.td
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/spirv_target.cc
  pmlc/target/intel_gen_ocl_spirv/tests/BUILD
  pmlc/target/intel_gen_ocl_spirv/tests/dotf.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/e2e.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/intermediate.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/lit.local.cfg
Due: clang-format, cpplint

Yeah debugging asserts for catching a horrible bug
  pmlc/dialect/tile/transforms/pad_ranges.cc
Due: clang-format, cpplint

Adding back benchmark app
  vendor/openvino/openvino.BUILD
Due: buildifier

Fix build errors
  vendor/openvino/openvino.BUILD
Due: buildifier

Build benchmark_app in PlaidML repo
  plaidml/bridge/openvino/BUILD
  vendor/openvino/openvino.BUILD
Due: buildifier

WIP Hack in libinference_engine_ir_reader.so fixes
  plaidml/bridge/openvino/BUILD
  vendor/openvino/openvino.BUILD
Due: buildifier

Return to remote OV reference
  vendor/openvino/workspace.bzl
Due: buildifier

Clean
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_plugin.cpp
  vendor/openvino/openvino.BUILD
Due: buildifier, clang-format, cpplint

WIP Fix OV-PlaidML tensor mapping
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.hpp
Due: clang-format, cpplint

WIP libinference_engine_ir_reader.so
  plaidml/bridge/openvino/BUILD
  vendor/openvino/openvino.BUILD
Due: buildifier

Clean up new tensor mapping
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.cpp
Due: clang-format, cpplint

WIP Fix single_layer_tests
  plaidml/bridge/openvino/testenv.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/eltwise.cpp
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

WIP Add logs and bad description workaround
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
Due: clang-format, cpplint

Fix missing PLUGIN_CREATE_FUNCTION
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_plugin.cpp
Due: clang-format, cpplint

WIP Advance to runtime linking errors
  plaidml/bridge/openvino/BUILD
  vendor/openvino/openvino.BUILD
Due: buildifier

WIP Fix build but not link
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_ops.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_plugin.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_plugin.hpp
  vendor/openvino/openvino.BUILD
Due: buildifier, clang-format, cpplint

WIP Use local OV SEE WARNING BELOW
  vendor/openvino/workspace.bzl
Due: buildifier

WIP Fix linking
  vendor/openvino/openvino.BUILD
Due: buildifier

WIP Change OV commit
  vendor/openvino/workspace.bzl
Due: buildifier

WIP Get single_layer_tests running (and failing)
  BUILD
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier

WIP Disable MKL-DNN dep
  vendor/openvino/openvino.BUILD
Due: buildifier

WIP Log node type
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
Due: clang-format, cpplint

Define IR_READER_V10
  vendor/openvino/openvino.BUILD
Due: buildifier

Another round of CR fixed
  pmlc/dialect/tile/transforms/pad_ranges.cc
Due: clang-format, cpplint

Clean, remove excess logs
  plaidml/bridge/openvino/BUILD
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Remove incomplete benchmark_app code
  plaidml/bridge/openvino/BUILD
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  vendor/openvino/openvino.BUILD
Due: buildifier, clang-format, cpplint

Remove untested OpenVINO rules (like mkldnn rules)
  vendor/openvino/openvino.BUILD
Due: buildifier

Remove unused TODOs
  vendor/openvino/openvino.BUILD
Due: buildifier

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

