Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Enable stripejit on windows under plaidml2 (#513)
  plaidml2/core/BUILD
  plaidml2/core/ffi.cc
  plaidml2/edsl/edsl_test.cc
Due: clang-format, cpplint

EDSL convert backend_tests (#466)
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/BUILD
  plaidml2/edsl/edsl_test.py
  plaidml2/exec/__init__.py
Due: yapf

[skip ci] try upgrading setuptools and pip
  .bazelci/bazelci_windows.bat
Due: none

[skip ci] try upgrading conda
  .bazelci/bazelci_windows.bat
Due: none

[skip ci] add activate back in
  .bazelci/bazelci_windows.bat
Due: none

[skip ci] try building wheel
  .bazelci/bazelci_windows.bat
Due: none

[skip ci] debug
  .bazelci/bazelci_windows.bat
Due: none

minor fix - remove extra comments
  plaidml2/bridge/keras/__init__.py
Due: yapf

Enable symbolic EDSL PRNG shape
  plaidml2/bridge/keras/__init__.py
  tile/lang/ast/ast_ops.cc
Due: clang-format, cpplint, yapf

remove windows support due to vs version
  .bazelci/presubmit.yml
Due: none

Enable symbolic EDSL PRNG shape (#515)
  plaidml2/bridge/keras/__init__.py
  tile/lang/ast/ast_ops.cc
Due: clang-format, cpplint, yapf

Add more fusing passes to the llvm_cpu jit.
  tile/targets/cpu/llvm_cpu.jsonnet
Due: none

add PLAIDML_DEVICE
  .bazelci/presubmit.yml
Due: none

BazelCI changes (#497)
  .bazelci/bazelci_windows.bat
  .bazelci/presubmit.yml
  bzl/bazel.rc
  environment-windows.yml
  tile/hal/opencl/BUILD
Due: none

Add as_float intrinsic in the cpu jit.
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

move reshape from keras bridge to plaidml2 ops (#505)
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/__init__.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

Prepare for lowering Tile dialect -> Stripe dialect -> Stripe
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/ffi.cc
  plaidml2/exec/ffi.cc
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/padding_pass.cc
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/transcode.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/lowering.h
  testing/matchers.h
  tile/base/platform.h
  tile/base/program.h
  tile/codegen/driver.cc
  tile/codegen/mlir_passes.cc
  tile/codegen/mlir_passes.h
  tile/lang/runinfo.h
  tile/ocl_exec/stripe_gen.cc
  tile/ocl_exec/stripe_gen.h
  tile/platform/local_machine/platform.cc
  tile/platform/local_machine/platform.h
  tile/platform/local_machine/program.cc
  tile/platform/local_machine/program.h
  tile/platform/stripejit/platform.cc
  tile/platform/stripejit/platform.h
  tile/platform/stripejit/program.cc
  tile/platform/stripejit/program.h
  tile/stripe/stripe.h
Due: clang-format, cpplint

Add more fusing passes to the llvm_cpu jit. (#516)
  tile/targets/cpu/llvm_cpu.jsonnet
Due: none

Add as_float intrinsic in the cpu jit. (#517)
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

add implementations for round, ceil, floor intrinsics to stripe cpu backend
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

Add all the as_* intrinsics functions needed at runtime.
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

add implementations for round, ceil, floor intrinsics to stripe cpu backend (#521)
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

add implementation for stripe special "shape" function
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

Add all the as_* intrinsics functions needed at runtime. (#520)
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

Handle passing Python Value(TensorDim) to FFI
  plaidml2/edsl/__init__.py
Due: yapf

Fix Python2 tensor slicing
  plaidml2/bridge/keras/__init__.py
Due: yapf

Test Keras Reshape via Shape
  plaidml2/bridge/keras/backend_test.py
Due: yapf

add training passes to nightly
  ci/plan.yml
Due: none

Store TensorDims when calling Keras shape
  plaidml2/bridge/keras/__init__.py
Due: yapf

Make testReshapeMatchDim hermetic
  plaidml2/bridge/keras/backend_test.py
Due: yapf

add training passes to nightly (#519)
  ci/plan.yml
Due: none

Fix some bugs for running nGraph training - Relax the assertion in thread inner pass - Fix padding output refinement - Fix duplicated stores in eltwise op
  plaidml/keras/backend_test.py
  tile/codegen/pad.cc
  tile/codegen/thread_inner.cc
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint, yapf

Fix some bugs for running nGraph training
  plaidml/keras/backend_test.py
  tile/codegen/pad.cc
  tile/codegen/thread_inner.cc
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint, yapf

add implementation for stripe special "shape" function (#522)
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
Due: clang-format, cpplint

Enable K.reshape using K.shape for dims (#523)
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/__init__.py
Due: yapf

Prepare for lowering Tile dialect -> Stripe dialect -> Stripe (#518)
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/ffi.cc
  plaidml2/exec/ffi.cc
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/padding_pass.cc
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/transcode.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/lowering.h
  testing/matchers.h
  tile/base/platform.h
  tile/base/program.h
  tile/codegen/driver.cc
  tile/codegen/mlir_passes.cc
  tile/codegen/mlir_passes.h
  tile/lang/runinfo.h
  tile/ocl_exec/stripe_gen.cc
  tile/ocl_exec/stripe_gen.h
  tile/platform/local_machine/platform.cc
  tile/platform/local_machine/platform.h
  tile/platform/local_machine/program.cc
  tile/platform/local_machine/program.h
  tile/platform/stripejit/platform.cc
  tile/platform/stripejit/platform.h
  tile/platform/stripejit/program.cc
  tile/platform/stripejit/program.h
  tile/stripe/stripe.h
Due: clang-format, cpplint

Fix a type error for conditional statement to make res0 training run.
  tile/targets/cpu/compiler.cc
Due: clang-format, cpplint

[skip ci] plaidbench/tf fix
  ci/plan.yml
  plaidbench/plaidbench/core.py
Due: yapf

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

