Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Fix based on review & CI
  plaidml/bridge/openvino/src/plaidml_plugin/ops/fake_quantize.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Update OV commit to landed version
  vendor/openvino/workspace.bzl
Due: buildifier

Don't build @openvino//:ngraph on mac/windows
  vendor/openvino/openvino.BUILD
Due: buildifier

Clean deps
  vendor/openvino/openvino.BUILD
Due: buildifier

Restore deleted build skips
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: none

Remove unused PLAIDML_LINKOPTS
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/BUILD
Due: none

Clean OV build
  vendor/openvino/openvino.BUILD
Due: buildifier

Update OV ref to landed commit
  vendor/openvino/workspace.bzl
Due: buildifier

Clean OV build notes
  vendor/openvino/openvino.BUILD
Due: buildifier

Try fix of windows build
  plaidml/bridge/openvino/BUILD
Due: none

NFC: rename AffineGemmOp to PxaGemmOp (#1301)
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Add support for logging llvm::SmallVector
  pmlc/util/logging.h
  pmlc/util/util.h
Due: clang-format, cpplint

Use upstream AffineParallelOp::getSteps() helper
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Expose individual normalization transformations
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/normalize.cc
  pmlc/dialect/pxa/transforms/normalize.h
Due: clang-format, cpplint

Add support for logging llvm::SmallVector (#1305)
  pmlc/util/logging.h
  pmlc/util/util.h
Due: clang-format, cpplint

Improvements to utilities
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/dataflow_opt.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Fix typo
  pmlc/dialect/pxa/analysis/strides.cc
Due: clang-format, cpplint

Typo
  pmlc/dialect/pxa/analysis/strides.cc
Due: clang-format, cpplint

Use upstream AffineParallelOp::getSteps() helper (#1306)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Expose individual normalization transformations (#1307)
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/normalize.cc
  pmlc/dialect/pxa/transforms/normalize.h
Due: clang-format, cpplint

Improvements to utilities (#1308)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/dataflow_opt.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Add LowerStdxAndStdToLLVMPass to fix stdx.reshape legalization. Passed testBatchFlatten.
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Add getDependentDialects for custom std/stdx to llvm pass
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Add passed test
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
Due: none

Rename
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Add per-device unit tests (outside bazel)
  bzl/BUILD
  bzl/device_test_builder.tpl.py
  bzl/plaidml.bzl
  ci/buildkite.py
  ci/pipeline.yml
  ci/plan.yml
  ci/util.py
  plaidml/BUILD
  plaidml/edsl/tests/BUILD
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
Due: buildifier, yapf

Add additional comments
  bzl/plaidml.bzl
Due: buildifier

Improve terminology precision: device->target
  bzl/BUILD
  bzl/plaidml.bzl
  bzl/target_test_builder.tpl.py
  ci/buildkite.py
  plaidml/BUILD
Due: buildifier, yapf

Add per-target unit tests (outside bazel) (#1289)
  bzl/BUILD
  bzl/plaidml.bzl
  bzl/target_test_builder.tpl.py
  ci/buildkite.py
  ci/pipeline.yml
  ci/plan.yml
  ci/util.py
  plaidml/BUILD
  plaidml/edsl/tests/BUILD
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
Due: buildifier, yapf

Rework GPU lowering
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/all_passes.h
  pmlc/conversion/SCFToGPU/BUILD
  pmlc/conversion/SCFToGPU/PassDetail.h
  pmlc/conversion/SCFToGPU/Passes.h
  pmlc/conversion/SCFToGPU/Passes.td
  pmlc/conversion/SCFToGPU/SCFToGPU.cpp
  pmlc/conversion/SCFToGPU/SCFToGPU.h
  pmlc/conversion/SCFToGPU/SCFToGPUPass.cpp
  pmlc/conversion/SCFToGPU/SCFToGPUPass.h
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/autotile.cc
  pmlc/dialect/pxa/transforms/autotile.h
  pmlc/dialect/pxa/transforms/gpu_thread.cc
  pmlc/dialect/pxa/transforms/normalize.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/lower_affine.cc
  pmlc/target/intel_gen/pass_detail.h
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Rework GPU lowering (#1304)
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/all_passes.h
  pmlc/conversion/SCFToGPU/BUILD
  pmlc/conversion/SCFToGPU/PassDetail.h
  pmlc/conversion/SCFToGPU/Passes.h
  pmlc/conversion/SCFToGPU/Passes.td
  pmlc/conversion/SCFToGPU/SCFToGPU.cpp
  pmlc/conversion/SCFToGPU/SCFToGPU.h
  pmlc/conversion/SCFToGPU/SCFToGPUPass.cpp
  pmlc/conversion/SCFToGPU/SCFToGPUPass.h
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/autotile.cc
  pmlc/dialect/pxa/transforms/autotile.h
  pmlc/dialect/pxa/transforms/gpu_thread.cc
  pmlc/dialect/pxa/transforms/normalize.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/lower_affine.cc
  pmlc/target/intel_gen/pass_detail.h
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Patching in pull request https://github.com/plaidml/plaidml/pull/1287/files
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/dialect/stdx/tests/i1_to_i32.mlir
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Add in something similar to https://github.com/plaidml/plaidml/pull/1309
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pass_detail.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Misordering for tests
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
Due: none

Jeremy gen integrate 2 (#1311)
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/dialect/stdx/tests/i1_to_i32.mlir
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pass_detail.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Get SinH etc to lower to GPU dialect.
  pmlc/target/intel_gen/pass_detail.h
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Get SinH etc to lower to GPU dialect. (#1312)
  pmlc/target/intel_gen/pass_detail.h
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Pack indexes from block/thread to 3
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/target/intel_gen/affine_pack.cc
  pmlc/target/intel_gen/lower_affine.cc
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Tidy up
  pmlc/target/intel_gen/affine_pack.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

