Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Batch parallelization and allocs to alloca changes
  pmlc/dialect/pxa/transforms/CMakeLists.txt
  pmlc/dialect/pxa/transforms/alloca_conversion.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fully stencil for TPP reduce pattern in RN50 * Add reductType to UnaryDispatch * Modify several mlir tests * Split reduce pattern before stenciling
  cmake/third_party/xsmm.cmake
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/rt/xsmm.cc
  pmlc/target/x86/stencil_tpp_unary.cc
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/tests/xsmm_unary_call.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Fix: Ops run on plaidbench not timed
  plaidbench/plaidbench/frontend_ops.py
Due: yapf

Fix: Ops run on plaidbench not timed (#1977)
  plaidbench/plaidbench/frontend_ops.py
Due: yapf

Debugging change
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
Due: clang-format, cpplint

Change in C API
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
Due: clang-format, cpplint

Fix: Ops backend to run on PlaidML
  plaidbench/plaidbench/frontend_ops.py
Due: yapf

Fix: Ops backend changes to support strided convs
  plaidbench/plaidbench/networks/ops/conv2d.py
Due: yapf

Fix: Ops backend to run on PlaidML (#1978)
  plaidbench/plaidbench/frontend_ops.py
Due: yapf

strided convolutions support in ops backend of plaidbench (#1979)
  plaidbench/plaidbench/networks/ops/conv2d.py
Due: yapf

Fix bugs to pass backend tests
  pmlc/target/x86/stencil_tpp_unary.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

adding working code in plaidml_build
  plaidml/edsl/CMakeLists.txt
  plaidml/edsl/ffi.cc
Due: clang-format, cpplint

Fix: Time measurement in plaidml
  pmlc/rt/CMakeLists.txt
  pmlc/rt/instrument.cc
  pmlc/rt/instrument.h
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint

Fix: Time measurement in plaidml
  plaidbench/plaidbench/core.py
  pmlc/rt/CMakeLists.txt
  pmlc/rt/instrument.cc
  pmlc/rt/instrument.h
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint, yapf

Fix: Time measurement in plaidml (#1980)
  plaidbench/plaidbench/core.py
  pmlc/rt/CMakeLists.txt
  pmlc/rt/instrument.cc
  pmlc/rt/instrument.h
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint, yapf

Fixing error in input linalg program
  plaidml/edsl/ffi.cc
Due: clang-format, cpplint

added gperftools for tcmalloc to default env
  environment.yml
Due: none

Fix: reorder layout fix to keep Bk as outer loop
  pmlc/dialect/linalgx/analysis/convolution.h
  pmlc/target/x86/reorder_layouts.cc
  pmlc/target/x86/tests/reorder_layouts.mlir
Due: clang-format, cpplint

Fix comments to use the right C and K annotations
  pmlc/target/x86/reorder_layouts.cc
Due: clang-format, cpplint

Fix: reorder layout fix to keep Bk as outer loop (#1981)
  pmlc/dialect/linalgx/analysis/convolution.h
  pmlc/target/x86/reorder_layouts.cc
  pmlc/target/x86/tests/reorder_layouts.mlir
Due: clang-format, cpplint

Fix: BRGEMM strided when offsets are uniformly spaced apart
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/rt/xsmm.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Fix: Pretty print brgemminvokef32
  pmlc/dialect/xsmm/ir/ops.cc
Due: clang-format, cpplint

Test case addition for brgemm strided
  pmlc/target/x86/tests/xsmm_lowering.mlir
Due: none

Fix: BRGEMM strided when offsets are uniformly spaced apart (#1983)
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/rt/xsmm.cc
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Fix: Resize temp buffers after stencil split
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fix: Resize temp buffers after stencil split (#1984)
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Mark 1d tensor weights as non-const buffer inputs to main
  pmlc/ast/builder.cc
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint

Mark 1d tensor weights as non-const buffer inputs to main (#1985)
  pmlc/ast/builder.cc
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint

changing mlir-hlo submodule to plaidml repo
  .gitmodules
Due: none

Temporarily changing back to tf/mlir-hlo
  .gitmodules
Due: none

make best performing options default in env variable logic
  pmlc/dialect/pxa/transforms/cpu_thread.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Smoke check fix: test failing due to outer parallelization patch
  pmlc/dialect/pxa/tests/cpu_thread.mlir
Due: none

Smoke check fix: test failing due to outer parallelization patch (#1987)
  pmlc/dialect/pxa/tests/cpu_thread.mlir
Due: none

Removed Buildkite infrastructure (outdated).
  .buildkite/hooks/post-checkout
  .buildkite/pipeline.yml
Due: none

Large op from identity->gemm->relu pattern
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/rt/xsmm.cc
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/tpp_combine_relu.mlir
  pmlc/target/x86/tpp_combine.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

TPP Fusion; opt. Beta=1 + BRGEMM + opt. Bias Addition + opt. Activation Function (ReLU) (#1986)
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/rt/xsmm.cc
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/tpp_combine_relu.mlir
  pmlc/target/x86/tpp_combine.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint
