Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

[skip ci] add xcode version
  .bazelci/presubmit.yml
Due: none

[skip ci] split windows cmds into bat
  .bazelci/presubmit.yml
Due: none

[skip ci] add win32event to environment
  environment-windows.yml
Due: none

[skip ci] add debug prints
  .bazelci/bazelci_windows.bat
Due: none

Try llvm_cpu everywhere
  ci/plan.yml
Due: none

Disable Mac ASAN pending library insert fix
  tools/conda_run/conda_unix.cc
Due: clang-format, cpplint

[skip ci] debug
  .bazelci/presubmit.yml
Due: none

Fix windows
  ci/plan.yml
Due: none

[skip ci] fix syntax
  .bazelci/bazelci_windows.bat
Due: none

[skip ci] try to fix conda for windows
  .bazelci/bazelci_windows.bat
Due: none

[skip ci] try to fix conda update
  .bazelci/bazelci_windows.bat
Due: none

Fix windows
  plaidml2/core/settings.cc
  plaidml2/exec/exec.h
Due: clang-format, cpplint

[skip ci] try activating the updated env
  .bazelci/bazelci_windows.bat
Due: none

Logging
  ci/plan.yml
  plaidml2/exec/exec.h
  plaidml2/exec/ffi.cc
Due: clang-format, cpplint

Fix
  plaidml2/edsl/edsl_test.cc
Due: clang-format, cpplint

[skip ci] fix path
  .bazelci/bazelci_windows.bat
Due: none

Try Lubo's fix
  plaidml2/edsl/edsl_test.cc
  tile/platform/stripejit/platform.cc
Due: clang-format, cpplint

Document double reshape ops
  plaidml2/op/lib/design.md
Due: none

Disable test execution for now
  plaidml2/edsl/edsl_test.cc
Due: clang-format, cpplint

[skip ci] try reactivating after conda update
  .bazelci/bazelci_windows.bat
Due: none

Add workarounds to concat & canonicalization bugs
  plaidml2/op/lib/ops.cc
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

Fix bazel test caching (#509)
  bzl/bazel.rc
  ci/plan.yml
  plaidml2/core/settings.cc
  plaidml2/edsl/edsl_test.cc
  plaidml2/exec/ffi.cc
  tile/platform/stripejit/platform.cc
Due: clang-format, cpplint

try workspace_status_command
  .bazelci/bazelci_conda.bat
  .bazelci/bazelci_windows.bat
  .bazelci/presubmit.yml
Due: none

add build flags
  .bazelci/presubmit.yml
Due: none

minor fixes
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

[skip ci] try running tests in the conda env shell
  .bazelci/bazelci_conda.bat
  .bazelci/presubmit.yml
Due: none

Enable stripejit on windows under plaidml2
  plaidml2/core/BUILD
  plaidml2/core/ffi.cc
  plaidml2/edsl/edsl_test.cc
Due: clang-format, cpplint

Document double reshape ops (#511)
  plaidml2/op/lib/design.md
Due: none

Fix PlaidML2 Setup (via exec.run fix)
  plaidml2/exec/__init__.py
Due: yapf

Disable Mac ASAN pending library insert fix (#510)
  tools/conda_run/conda_unix.cc
Due: clang-format, cpplint

Add workarounds to concat & canonicalization bugs (#512)
  plaidml2/op/lib/ops.cc
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

[skip ci] fix syntax
  .bazelci/bazelci_windows.bat
  .bazelci/presubmit.yml
Due: none

[skip ci] remove extraneous configs
  .bazelci/bazelci_windows.bat
  .bazelci/presubmit.yml
Due: none

[skip ci] add PLAIDML_TARGET
  .bazelci/presubmit.yml
Due: none

[skip ci] set env vars for windows
  .bazelci/bazelci_windows.bat
Due: none

[skip ci] remove opencl install on linux for now
  .bazelci/presubmit.yml
Due: none

[skip ci] try using certifi
  environment-windows.yml
Due: none

[skip ci] try upgrading setuptools
  .bazelci/bazelci_windows.bat
Due: none

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

