Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Define --//plaidml:device and --//plaidml:target
  bzl/bazel.rc
  bzl/plaidml.bzl
  plaidml/BUILD
  plaidml/edsl/tests/edsl_test.cc
  plaidml/testenv.cc
  pmlc/lit.bzl
  pmlc/lit.cfg.py
Due: buildifier, clang-format, cpplint, yapf

Define --//plaidml:device and --//plaidml:target (#1259)
  bzl/bazel.rc
  bzl/plaidml.bzl
  plaidml/BUILD
  plaidml/edsl/tests/edsl_test.cc
  plaidml/testenv.cc
  pmlc/lit.bzl
  pmlc/lit.cfg.py
Due: buildifier, clang-format, cpplint, yapf

Some more implementation - creation of the new AffineParallelLoop fixes.
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Minor cleanups
  networks/oplib/resnet50.cc
  pmlc/compiler/program.cc
Due: clang-format, cpplint

add stdx.uitofp operation, lowering to llvm.uitofp, use in tile-to-pxa casting
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
Due: clang-format, cpplint

add stdx.uitofp operation, lowering to llvm.uitofp, use in tile-to-pxa casting (#1261)
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
Due: clang-format, cpplint

Minor cleanups (#1260)
  networks/oplib/resnet50.cc
  pmlc/compiler/program.cc
Due: clang-format, cpplint

enable eltwise.pow when one or more args are int
  plaidml/bridge/keras/backend_test.py
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

enable eltwise.pow when one or more args are int (#1262)
  plaidml/bridge/keras/backend_test.py
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

CR
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/util/BUILD
  pmlc/util/ident.cc
Due: clang-format, cpplint

Cache pass transform (#1258)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/tests/dataflow_opt.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/dialect/pxa/tests/localize.mlir
  pmlc/dialect/pxa/tests/ops.mlir
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_stencil.mlir
  pmlc/util/BUILD
  pmlc/util/ident.cc
  pmlc/util/ident.h
Due: clang-format, cpplint

Vectorizing scalars.
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Implemented all the operations for vectorizations
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Add support for dumping passses to a directory
  plaidml/edsl/ffi.cc
  pmlc/compiler/program.cc
  pmlc/compiler/program.h
Due: clang-format, cpplint

Tile accumulation checkpoint
  pmlc/conversion/SCFToGPU/SCFToGPUPass.cpp
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/autotile.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/tileaccumlate.cc
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
  pmlc/rt/vulkan/tests/testenv.h
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Just to back things up.
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Add support for dumping passses to a directory (#1264)
  plaidml/edsl/ffi.cc
  pmlc/compiler/program.cc
  pmlc/compiler/program.h
Due: clang-format, cpplint

Updates to vectorization
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/pxa/transforms/vectorize.h
  pmlc/dialect/pxa/transforms/vectorizepass.cc
Due: clang-format, cpplint

Further cleanup
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/pxa/transforms/vectorize.h
  pmlc/dialect/pxa/transforms/vectorizepass.cc
Due: clang-format, cpplint

Fix test
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Fixed mistake in earlier fix
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Fixed test issue found in CR
  pmlc/dialect/pxa/tests/vectorize.mlir
Due: none

More CR fixes
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Add MVN to OpenVINO plugin (#1111)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/mvn.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/mvn.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint

Further MLIRification
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Fixed typo
  pmlc/dialect/pxa/transforms/passes.td
Due: none

Vectorization transform and a simple example pass to use it. (#1266)
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/pxa/transforms/vectorize.h
Due: clang-format, cpplint

very early cmake progress
  .gitignore
  CMakeLists.txt
  pmlc/CMakeLists.txt
  pmlc/dialect/CMakeLists.txt
  pmlc/dialect/eltwise/CMakeLists.txt
  pmlc/dialect/eltwise/ir/CMakeLists.txt
  pmlc/dialect/eltwise/ir/ops.h
  pmlc/util/CMakeLists.txt
  vendor/openvino/openvino.BUILD
Due: buildifier, clang-format, cpplint

Fixed generation commands to conform to pmlc structure
  CMakeLists.txt
  pmlc/CMakeLists.txt
  pmlc/dialect/eltwise/ir/CMakeLists.txt
  pmlc/dialect/eltwise/ir/ops.h
  pmlc/util/CMakeLists.txt
Due: clang-format, cpplint

Can build eltwise dialect
  CMakeLists.txt
  pmlc/CMakeLists.txt
  pmlc/dialect/eltwise/ir/CMakeLists.txt
Due: none

Enable building PXA pass library
  CMakeLists.txt
  pmlc/CMakeLists.txt
  pmlc/dialect/CMakeLists.txt
  pmlc/dialect/eltwise/ir/CMakeLists.txt
  pmlc/dialect/pxa/CMakeLists.txt
  pmlc/dialect/pxa/analysis/CMakeLists.txt
  pmlc/dialect/pxa/ir/CMakeLists.txt
  pmlc/dialect/pxa/transforms/CMakeLists.txt
  pmlc/dialect/stdx/CMakeLists.txt
  pmlc/dialect/stdx/ir/CMakeLists.txt
  pmlc/util/CMakeLists.txt
  vendor/openvino/openvino.BUILD
Due: buildifier

i1StorageToi8 pass added
  pmlc/dialect/stdx/tests/i1StorageToi8.mlir
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/i1StorageToi8.cc
  pmlc/dialect/stdx/transforms/passes.h
  pmlc/dialect/stdx/transforms/passes.td
Due: clang-format, cpplint

simplified mlir test for i1_to_i8
  pmlc/dialect/stdx/tests/i1_to_i8.mlir
Due: none

changes after CR
  pmlc/dialect/stdx/tests/i1StorageToi8.mlir
  pmlc/dialect/stdx/tests/i1_to_i8.mlir
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/i1_to_i8.cc
  pmlc/dialect/stdx/transforms/passes.h
  pmlc/dialect/stdx/transforms/passes.td
Due: clang-format, cpplint

updated mlir test for i1_to_i8
  pmlc/dialect/stdx/tests/i1_to_i8.mlir
Due: none

changed implementation and moved to i32 due to spirv issues
  pmlc/dialect/stdx/tests/i1_to_i32.mlir
  pmlc/dialect/stdx/tests/i1_to_i8.mlir
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
  pmlc/dialect/stdx/transforms/i1_to_i8.cc
  pmlc/dialect/stdx/transforms/passes.h
  pmlc/dialect/stdx/transforms/passes.td
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

i1StorageToi32 changes after code review
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
Due: clang-format, cpplint

Add logic to recognize nonparallelizable reduce ops
  pmlc/dialect/pxa/transforms/tileaccumlate.cc
Due: clang-format, cpplint

Code clean up
  pmlc/dialect/pxa/transforms/autotile.cc
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
Due: clang-format, cpplint

Clean up
  pmlc/dialect/pxa/transforms/tileaccumlate.cc
Due: clang-format, cpplint
