Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Meet std::uniform_int_distribution reqs
  tile/codegen/test/passes/manager.cc
Due: clang-format, cpplint

Windows conda support
  bzl/conda.tpl.py
  bzl/conda_repo.bzl
  bzl/conda_wrapper.py
Due: buildifier, yapf

Disable flaky-on-Windows UsesTmp test
  tile/codegen/test/schedule.cc
Due: clang-format, cpplint

Add explicit CPU dep
  tile/codegen/test/passes/BUILD
Due: none

Add LLVM CPU to Windows plaidml wheel
  plaidml/BUILD
Due: none

Add the pass that reorders index according to strides
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/codegen.proto
  tile/codegen/idx_order.cc
  tile/codegen/idx_order.h
  tile/targets/gpu/amd.jsonnet
Due: clang-format, cpplint

Experimental pytorch-plaidml bridge
  bzl/bazel.rc
  bzl/conda_repo.bzl
  bzl/pybind11.BUILD
  bzl/workspace.bzl
  conda/BUILD
  conda/pytorch.BUILD
  conda/pytorch.yml
  plaidml/pytorch/BUILD
  plaidml/pytorch/__init__.py
  plaidml/pytorch/compiler.cc
  plaidml/pytorch/compiler.h
  plaidml/pytorch/logging.h
  plaidml/pytorch/models_test.py
  plaidml/pytorch/ops_test.py
  plaidml/pytorch/register.cc
  plaidml/pytorch/test_utils.py
Due: buildifier, clang-format, cpplint, yapf

Removing old astgen cruft
  base/util/astgen/BUILD
  base/util/astgen/astgen.py
  base/util/astgen/base.template
  base/util/astgen/test_ast.cc
  base/util/astgen/test_ast.yaml
Due: clang-format, cpplint, yapf

Replace conda_wrapper.py with c++ conda_run
  bzl/conda.bzl
  bzl/conda.tpl.py
  tools/conda_run/BUILD
  tools/conda_run/conda.cc
Due: buildifier, clang-format, cpplint

Integrate plaidml + edsl APIs
  plaidml/BUILD
  plaidml/base/BUILD
  plaidml/base/base.h
  plaidml/edsl/BUILD
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/edsl/internal.h
  plaidml/plaidml++.h
  plaidml/plaidml.cc
  plaidml/plaidml.h
  tile/base/platform.h
  tile/lang/ast.cc
  tile/lang/ast.h
  tile/platform/local_machine/platform.cc
  tile/platform/local_machine/platform.h
  tile/platform/local_machine/program.cc
  tile/platform/local_machine/program.h
  tile/platform/stripejit/platform.cc
  tile/platform/stripejit/platform.h
  tile/proto/support.h
Due: clang-format, cpplint

Move tools needed by bazel into conda_repo
  bzl/plaidml.bzl
  bzl/workspace.bzl
  conda/BUILD
  conda/tools-unix.BUILD
  conda/tools-unix.yml
  conda/tools-windows.BUILD
  conda/tools-windows.yml
  environment-windows.yml
  environment.yml
  tile/lang/BUILD
  tile/lang/tile.y
Due: buildifier

EDSL improvments
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

Removing cruft and minor tweaks
  .bazelversion
  plaidml/keras/BUILD
  plaidml/not_setup.cfg
  tile/lang/BUILD
  tile/lang/gen_stripe.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/stripe_gen.cc
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/intel_gen9_metal.jsonnet
  tools/gencfg/build_defs.bzl
Due: buildifier, clang-format, cpplint

Fixes for edge cases
  tools/conda_run/conda.cc
Due: clang-format, cpplint

Experimental gitlab-ci pipeline for plaidml repo
  .gitlab-ci.yml
Due: none

Drop llvm_shim, build llvm directly from source
  WORKSPACE
  bzl/bazel.rc
  bzl/mlir.BUILD
  bzl/workspace.bzl
  plaidml/BUILD
  tile/hal/cpu/BUILD
  tile/plaid_ir/BUILD
  tile/plaid_ir/plaid_ir_test.cc
  tile/targets/cpu/BUILD
  vendor/llvm/BUILD
  vendor/llvm/llvm.BUILD
  vendor/llvm/shim/WORKSPACE
Due: buildifier, clang-format, cpplint

Improve `sign` implementation & tests
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
  tile/lang/compose.cc
Due: clang-format, cpplint, yapf

Remove std::make_unique<> from edsl.h
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

Local cache with odd size and improve AMD config
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/codegen.proto
  tile/targets/gpu/amd.jsonnet
Due: clang-format, cpplint

Add Linux libplaidml linker script
  plaidml/BUILD
  plaidml/libplaidml.lds
Due: none

Integrate xsmm library in plaidMl.
  bzl/workspace.bzl
  bzl/xsmm.BUILD
  bzl/xsmm_repo.bzl
Due: buildifier

Update pointers for integrate-xsmm
  bzl/workspace.bzl
  bzl/xsmm_repo.bzl
Due: buildifier

Placeholder to expose config file location to user
  plaidml/plaidml_setup.py
  plaidml/settings.py
Due: yapf

Updating documents for custom config
  README.md
  docs/building.md
Due: none

Enable reg_cache pass and fix related bugs
  tile/codegen/codegen.proto
  tile/codegen/reg_cache.cc
  tile/codegen/thread_inner.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/emitsem.h
  tile/targets/gpu/amd.jsonnet
Due: clang-format, cpplint

Control lib export list
  bzl/workspace.bzl
  plaidml/BUILD
  plaidml/libplaidml.lds
  plaidml/plaidml_link.jsonnet
Due: buildifier

add support for ndarrays in compute_aggregation_axes
  plaidml/tile.py
Due: yapf

add a backend test for product with numpy array as axis input
  plaidml/keras/backend_test.py
Due: yapf

help a few more cases from backend_test to pass with STRIPE_JIT
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint
