Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Fix
  pmlc/dialect/tile/ir/eltwise.cc
Due: clang-format, cpplint

vectorize mem for writes and refactors
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/dialect/pxa/tests/vectorize-mem_ops.mlir
  pmlc/dialect/pxa/transforms/vectorize_mem.cc
  pmlc/dialect/stdx/ir/ops.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/subgroup_broadcast.cc
Due: clang-format, cpplint

compilation fixes
  pmlc/dialect/pxa/transforms/vectorize_mem.cc
  pmlc/target/intel_gen/tests/subgroup_block_ops.mlir
Due: clang-format, cpplint

one more Linux compilation fix
  pmlc/dialect/pxa/transforms/vectorize_mem.cc
Due: clang-format, cpplint

another fix
  pmlc/target/intel_gen/subgroup_broadcast.cc
Due: clang-format, cpplint

arg ordering based on loop depth
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/resize_tmps.cc
Due: clang-format, cpplint

fix ptr comparison bug
  pmlc/dialect/pxa/analysis/strides.cc
Due: clang-format, cpplint

Use cerr for dbg in conda_unix
  tools/conda_run/conda_unix.cc
Due: clang-format, cpplint

Use cerr for dbg in conda_unix (#1540)
  tools/conda_run/conda_unix.cc
Due: clang-format, cpplint

use depth to func
  pmlc/dialect/pxa/analysis/strides.cc
Due: clang-format, cpplint

Vectorize memory ops (#1528)
  pmlc/conversion/gpu_to_spirv/BUILD
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/dialect/pxa/analysis/affine_constraints.cc
  pmlc/dialect/pxa/tests/vectorize-mem_ops.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/vectorize_mem.cc
  pmlc/dialect/stdx/ir/ops.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/intel_gen/tests/subgroup_block_ops.mlir
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/spirv_target.cc
Due: clang-format, cpplint

use nestedArgNumber pair to order arguments
  pmlc/dialect/pxa/analysis/strides.cc
Due: clang-format, cpplint

Partially clean CMake changes
  plaidml/CMakeLists.txt
  plaidml/bridge/CMakeLists.txt
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/plaidml_ops.hpp
  plaidml/bridge/openvino/plaidml_util.hpp
Due: clang-format, cpplint

fix non-deterministic behavior with affine map, arg ordering (#1530)
  pmlc/dialect/pxa/analysis/strides.cc
Due: clang-format, cpplint

Remove src memref from comp.alloc
  pmlc/conversion/comp_to_llvm/comp_to_ocl.cc
  pmlc/conversion/comp_to_llvm/tests/comp_to_ocl.mlir
  pmlc/conversion/gpu_to_comp/gpu_to_comp.cc
  pmlc/conversion/gpu_to_comp/tests/gpu_to_comp.mlir
  pmlc/dialect/comp/analysis/mem_sync_tracker.cc
  pmlc/dialect/comp/ir/dialect.cc
  pmlc/dialect/comp/ir/ops.td
  pmlc/dialect/comp/ir/types.cc
  pmlc/dialect/comp/ir/types.h
  pmlc/dialect/comp/tests/invalid.mlir
  pmlc/dialect/comp/tests/minimize_allocations.mlir
  pmlc/dialect/comp/tests/remove_redundant_rw.mlir
  pmlc/dialect/comp/transforms/minimize_allocations.cc
  pmlc/rt/opencl/opencl_invocation.cc
  pmlc/rt/opencl/opencl_invocation.h
  pmlc/rt/opencl/opencl_wrappers.cc
Due: clang-format, cpplint

WIP Add OV plugin & tests
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/plugin/CMakeLists.txt
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/plugin/plaidml_executable_network.hpp
  plaidml/bridge/openvino/plugin/plaidml_infer_request.cpp
  plaidml/bridge/openvino/plugin/plaidml_infer_request.hpp
  plaidml/bridge/openvino/plugin/plaidml_plugin.cpp
  plaidml/bridge/openvino/plugin/plaidml_plugin.hpp
  plaidml/bridge/openvino/tests/functional/CMakeLists.txt
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/batch_norm.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/binary_convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/bucketize.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/concat.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convert.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/depth_to_space_smoke.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/eltwise.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/extract_image_patches.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/fake_quantize.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/grn.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/group_convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/group_convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/lrn.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/mat_mul.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/mvn.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/pooling_smoke.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reverse.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/softmax.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/space_to_depth.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/split.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/strided_slice.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/tile.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/transpose.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/variadic_split.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: clang-format, cpplint

Introduce eDSL/Tile layer op
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/ast/eval.cc
  pmlc/dialect/pxa/transforms/CMakeLists.txt
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/inline_layers.mlir
  pmlc/dialect/tile/tests/roundtrip.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/CMakeLists.txt
  pmlc/dialect/tile/transforms/inline_layers.cc
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/passes.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Break buffer trace loop
  pmlc/conversion/comp_to_llvm/utils.cc
Due: clang-format, cpplint

Register HoistingPass
  pmlc/BUILD
  pmlc/all_passes.h
Due: clang-format, cpplint

WIP
  CMakeLists.txt
  cmake/third_party/gflags.cmake
  cmake/third_party/googletest.cmake
  plaidml/CMakeLists.txt
  plaidml/bridge/CMakeLists.txt
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/builder.cpp
  plaidml/bridge/openvino/builder.hpp
  plaidml/bridge/openvino/ops.hpp
  plaidml/bridge/openvino/ops/CMakeLists.txt
  plaidml/bridge/openvino/ops/add.cpp
  plaidml/bridge/openvino/plaidml_program_builder.hpp
  plaidml/bridge/openvino/plugin/CMakeLists.txt
  plaidml/bridge/openvino/tests/functional/CMakeLists.txt
  plaidml/bridge/openvino/util.cpp
  plaidml/bridge/openvino/util.hpp
  vendor/openvino/BUILD
  vendor/openvino/ade.BUILD
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Disable tile.MulOp fold pattern with 0 when result() and rhs() have different datatypes (#1532)
  pmlc/dialect/tile/ir/eltwise.cc
Due: clang-format, cpplint

OpenVINO integration
  .gitmodules
  cmake/pml_cc_binary.cmake
  cmake/third_party/gflags.cmake
  cmake/third_party/googletest.cmake
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/ops/add.cpp
  plaidml/bridge/openvino/plaidml_builder.cpp
  plaidml/bridge/openvino/plaidml_builder.hpp
  plaidml/bridge/openvino/plaidml_ops.hpp
  plaidml/bridge/openvino/plaidml_util.cpp
  plaidml/bridge/openvino/plaidml_util.hpp
  plaidml/bridge/openvino/plugin/CMakeLists.txt
  plaidml/bridge/openvino/plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/plugin/plaidml_executable_network.hpp
  plaidml/bridge/openvino/plugin/plaidml_infer_request.hpp
  plaidml/bridge/openvino/tests/functional/CMakeLists.txt
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/fake_quantize.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
  pmlc/target/intel_gen/CMakeLists.txt
  pmlc/target/intel_gen_ocl_spirv/CMakeLists.txt
  pmlc/tools/pmlc-jit/CMakeLists.txt
  pmlc/tools/pmlc-opt/CMakeLists.txt
Due: clang-format, cpplint

Fixes and cleanups
  .bazelignore
  BUILD.bazel
  CMakeLists.txt
  WORKSPACE
  plaidml/bridge/CMakeLists.txt
  plaidml/bridge/openvino/ops/CMakeLists.txt
Due: buildifier

Fix
  pmlc/dialect/pxa/transforms/CMakeLists.txt
Due: none

Remove src memref from comp.alloc (#1542)
  pmlc/conversion/comp_to_llvm/comp_to_ocl.cc
  pmlc/conversion/comp_to_llvm/tests/comp_to_ocl.mlir
  pmlc/conversion/gpu_to_comp/gpu_to_comp.cc
  pmlc/conversion/gpu_to_comp/tests/gpu_to_comp.mlir
  pmlc/dialect/comp/analysis/mem_sync_tracker.cc
  pmlc/dialect/comp/ir/dialect.cc
  pmlc/dialect/comp/ir/ops.td
  pmlc/dialect/comp/ir/types.cc
  pmlc/dialect/comp/ir/types.h
  pmlc/dialect/comp/tests/invalid.mlir
  pmlc/dialect/comp/tests/minimize_allocations.mlir
  pmlc/dialect/comp/tests/remove_redundant_rw.mlir
  pmlc/dialect/comp/transforms/minimize_allocations.cc
  pmlc/rt/opencl/opencl_invocation.cc
  pmlc/rt/opencl/opencl_invocation.h
  pmlc/rt/opencl/opencl_wrappers.cc
Due: clang-format, cpplint

Add OpenMP workaround pass
  pmlc/rt/tests/openmp.mlir
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
Due: clang-format, cpplint

Add OpenMP workaround pass (#1546)
  pmlc/rt/tests/openmp.mlir
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
Due: clang-format, cpplint

Remove submodule
  .bazelignore
  .gitmodules
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Better use of MLIR builtins
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Add CI
  ci/pipeline.yml
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/extract_image_patches.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/fake_quantize.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
Due: clang-format, cpplint

Post checkout hook
  .buildkite/hooks/post-checkout
  environment.yml
Due: none

Use BUILDKITE_STEP_KEY
  .buildkite/hooks/post-checkout
  ci/pipeline.yml
Due: none

Fix conflict
  environment.yml
Due: none

Better use of MLIR builtins (#1547)
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

TREAT_WARNING_AS_ERROR=OFF
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Fix lit bug
  pmlc/CMakeLists.txt
  pmlc/conversion/gpu_to_comp/tests/gpu_to_comp.mlir
  pmlc/lit.cfg.py
Due: yapf

Increase timeout
  networks/oplib/BUILD
Due: none

Chain ccache
  CMakeLists.txt
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Add axis parameter and interpolation mode to GatherOp
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/ast_ops.cc
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tests/gather.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/ir/ops.td
  pmlc/util/enums.td
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

