Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    bzl/conda.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Fix mac
  pmlc/rt/BUILD
  pmlc/rt/xsmm.cc
Due: clang-format, cpplint

Initial stab at xsmm.gemm op
  pmlc/BUILD
  pmlc/dialect/xsmm/BUILD
  pmlc/dialect/xsmm/ir/BUILD
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.h
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/BUILD
  pmlc/dialect/xsmm/tests/invalid.mlir
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/target/x86/BUILD
  pmlc/tools/pmlc-opt/BUILD
Due: clang-format, cpplint

Add leading dimension attrs
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.h
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/roundtrip.mlir
Due: clang-format, cpplint

Introduce xsmm.gemm op and libxsmm integration (#923)
  bzl/bazel.rc
  bzl/workspace.bzl
  pmlc/BUILD
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/dialect/xsmm/BUILD
  pmlc/dialect/xsmm/ir/BUILD
  pmlc/dialect/xsmm/ir/dialect.cc
  pmlc/dialect/xsmm/ir/dialect.h
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.h
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/ir/registration.cc
  pmlc/dialect/xsmm/tests/BUILD
  pmlc/dialect/xsmm/tests/invalid.mlir
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/lit.bzl
  pmlc/lit.cfg.py
  pmlc/lit.site.cfg.py
  pmlc/rt/BUILD
  pmlc/rt/memref.h
  pmlc/rt/runtime.cc
  pmlc/rt/xsmm.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/tests/xsmm.mlir
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-opt/BUILD
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  pmlc/tools/pmlc-tblgen/BUILD
  pmlc/tools/pmlc-translate/BUILD
  pmlc/util/all_dialects.h
  pmlc/util/all_passes.h
  vendor/mlir/test.BUILD
  vendor/xsmm/xsmm.BUILD
Due: buildifier, clang-format, cpplint, yapf

title change
  docs/index.rst
Due: none

Improve testing for xsmm op
  pmlc/dialect/pxa/analysis/BUILD
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/test_analysis.cc
  pmlc/rt/xsmm.cc
  pmlc/target/x86/tests/xsmm.mlir
Due: clang-format, cpplint

Improve test
  pmlc/target/x86/tests/xsmm.mlir
Due: none

Replaced func to spv.func in vulkan runner to be compatible with updated MLIR
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner_tests.cc
Due: clang-format, cpplint

Replaced func to spv.func in vulkan runner to be compatible with updated MLIR (#930)
  pmlc/tools/pmlc-vulkan-runner/vulkan_runner_tests.cc
Due: clang-format, cpplint

Improve testing for xsmm op (#929)
  pmlc/dialect/pxa/analysis/BUILD
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/test_analysis.cc
  pmlc/rt/xsmm.cc
  pmlc/target/x86/tests/xsmm.mlir
Due: clang-format, cpplint

title change (#928)
  docs/index.rst
Due: none

Tile dialect updates
  networks/oplib/resnet50.mlir
  plaidml/edsl/ffi.cc
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/gradient.cc
  pmlc/dialect/tile/ir/BUILD
  pmlc/dialect/tile/ir/base.td
  pmlc/dialect/tile/ir/builder.td
  pmlc/dialect/tile/ir/dialect.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/build-cion.mlir
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/tests/constant-fold.mlir
  pmlc/dialect/tile/tests/padding.mlir
Due: clang-format, cpplint, yapf

Cleanups
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/tile/ir/ops.td
  pmlc/util/interfaces.h
  pmlc/util/interfaces.td
Due: clang-format, cpplint

NFC: Tile dialect updates (#932)
  networks/oplib/resnet50.mlir
  plaidml/edsl/ffi.cc
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/gradient.cc
  pmlc/dialect/tile/ir/BUILD
  pmlc/dialect/tile/ir/base.td
  pmlc/dialect/tile/ir/builder.td
  pmlc/dialect/tile/ir/dialect.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/build-cion.mlir
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/tests/constant-fold.mlir
  pmlc/dialect/tile/tests/padding.mlir
  pmlc/util/interfaces.h
  pmlc/util/interfaces.td
Due: clang-format, cpplint, yapf

WIP: Padding during lowering of tile to affine
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/tile/tests/padding.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/padding.cc
  pmlc/dialect/tile/transforms/padding.h
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Bump to latest MLIR
  bzl/workspace.bzl
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/ops.td
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Try windows
  ci/plan.yml
Due: none

Disable llvm_toolchain, doesn't work on windows
  WORKSPACE
Due: buildifier

Passes for MLSys Demo-Initial
  demos/mlsys_2020/BUILD
  demos/mlsys_2020/demo_source.py
  demos/mlsys_2020/lowering_demo.ipynb
Due: yapf

Adding cairosvg to suppress warnings
  conda/unix.yml
  demos/mlsys_2020/lowering_demo.ipynb
Due: none

Add demo target
  plaidml/exec/BUILD
  pmlc/target/demo/BUILD
  pmlc/target/demo/pipeline.cc
Due: clang-format, cpplint

Disable windows
  ci/plan.yml
Due: none

Bump to latest MLIR (#934)
  WORKSPACE
  bzl/workspace.bzl
  ci/plan.yml
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/ops.td
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Address comments
  demos/mlsys_2020/demo.ipynb
  demos/mlsys_2020/demo_source.py
  pmlc/target/demo/BUILD
  pmlc/target/demo/pipeline.cc
Due: clang-format, cpplint, yapf

Revive windows and get lit tests to run
  bzl/bazel.rc
  plaidml/edsl/tests/BUILD
  plaidml/edsl/tests/edsl_test.py
  pmlc/lit.site.cfg.py
  pmlc/rt/BUILD
  pmlc/target/x86/tests/BUILD
  pmlc/tools/pmlc-vulkan-runner/BUILD
  tools/conda_run/conda_windows.cc
Due: clang-format, cpplint, yapf

Windows
  ci/plan.yml
Due: none

Fix
  pmlc/conversion/tile_to_pxa/tests/BUILD
Due: none

skip_windows
  bzl/bazel.rc
  pmlc/tools/pmlc-vulkan-runner/BUILD
Due: none

Fix issues
  .gdbinit
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/transforms/padding.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Add CHECKs
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
Due: none

add a few more elementwise op conversions, fixing some keras backend tests
  ci/plan.yml
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

add a few more elementwise op conversions, fixing some keras backend tests (#937)
  ci/plan.yml
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Revive windows and get lit tests to run (#936)
  bzl/bazel.rc
  ci/plan.yml
  plaidml/edsl/tests/BUILD
  plaidml/edsl/tests/edsl_test.py
  pmlc/conversion/tile_to_pxa/tests/BUILD
  pmlc/lit.site.cfg.py
  pmlc/rt/BUILD
  pmlc/target/x86/tests/BUILD
  pmlc/tools/pmlc-vulkan-runner/BUILD
  tools/conda_run/conda_windows.cc
Due: clang-format, cpplint, yapf

Handle padding on contractions
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/tile/tests/padding.mlir
Due: clang-format, cpplint

Padding during lowering of tile to affine (#933)
  .gdbinit
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/tile/tests/padding.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/padding.cc
  pmlc/dialect/tile/transforms/padding.h
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

WIP
  WORKSPACE
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/target/x86/xsmm_lowering.h
  pmlc/tools/pmlc-opt/pmlc-opt.cc
Due: buildifier, clang-format, cpplint

More WIP
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/dialect/pxa/transforms/test_analysis.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Remove constraints on padding
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/dialect/tile/transforms/padding.cc
Due: clang-format, cpplint

Separate out logic from notebook Remove cairosvg Plus minor changes
  conda/unix.yml
  demos/mlsys_2020/BUILD
  demos/mlsys_2020/demo.ipynb
  demos/mlsys_2020/demo_handler.py
  demos/mlsys_2020/lowering_demo.ipynb
  demos/mlsys_2020/lowering_demo_handler.py
  pmlc/target/demo/pipeline.cc
Due: clang-format, cpplint, yapf

Lowering Demo for MLSys (#935)
  demos/mlsys_2020/BUILD
  demos/mlsys_2020/demo_handler.py
  demos/mlsys_2020/demo_source.py
  demos/mlsys_2020/lowering_demo.ipynb
  demos/mlsys_2020/lowering_demo_handler.py
  plaidml/exec/BUILD
  pmlc/target/demo/BUILD
  pmlc/target/demo/pipeline.cc
Due: clang-format, cpplint, yapf
