Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Use rules_jsonnet
  bzl/workspace.bzl
  plaidml/configs/experimental.json
  plaidml/configs/macos_experimental.json
  tile/pmlc/BUILD
  tile/pmlc/pmlc.cc
  tile/targets/BUILD
  tile/targets/cpu/BUILD
  tile/targets/gpu/BUILD
  tile/targets/gpu/intel_gen9_metal.jsonnet
  tile/targets/gpu/intel_gen9_opencl.jsonnet
  tools/gencfg/BUILD
  tools/gencfg/gencfg.cc
Due: buildifier, clang-format, cpplint

Print attr vals when printing Stripe
  tile/stripe/impl.h
  tile/stripe/stripe.cc
Due: clang-format, cpplint

jsonnet auto format
  tile/targets/cpu/cpu.jsonnet
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/intel_gen9_metal.jsonnet
Due: none

Enable concat to work with symbolic tensors
  plaidml/op.py
Due: yapf

Added tests for POC
  tile/lib/tests.cc
Due: clang-format, cpplint

C++ EDSL improvements
  tile/codegen/test/pattern.cc
  tile/lang/ast.h
  tile/lang/gen_stripe_test.cc
  tile/lang/tile_cc.cc
  tile/lang/tile_cc.h
  tile/lang/tile_cc_test.cc
  tile/lib/lib.cc
Due: clang-format, cpplint

Fuse concatenate passes
  tile/codegen/codegen.proto
  tile/codegen/deps.cc
  tile/codegen/deps.h
  tile/codegen/kernel_tag.cc
  tile/codegen/kernel_tag.h
  tile/codegen/reorder.cc
  tile/targets/gpu/intel_gen9_opencl.jsonnet
Due: clang-format, cpplint

Add softmax test
  tile/lib/lib.cc
  tile/lib/lib.h
  tile/lib/tests.cc
Due: clang-format, cpplint

Adjust cost model and tag temp_va
  tile/codegen/codegen.proto
  tile/codegen/reorder.cc
  tile/codegen/subgroup.cc
  tile/codegen/temp_var.cc
  tile/codegen/temp_var.h
  tile/targets/gpu/intel_gen9_metal.jsonnet
  tile/targets/gpu/intel_gen9_opencl.jsonnet
Due: clang-format, cpplint

Fix LLVM source code URL
  bzl/workspace.bzl
  tools/intel-ocl-silent
Due: buildifier

Fix LLVM source code URL
  bzl/workspace.bzl
Due: buildifier

Updating gradient code to work correctly on multi-dimensional tensors
  plaidml/plaidml.cc
Due: clang-format, cpplint

pin scipy version
  conda/plaidml.yml
Due: none

Fix dead link in contributing.rst
  docs/contributing.rst
Due: none

Extend pattern matcher
  tile/codegen/pattern.cc
  tile/codegen/pattern.h
  tile/codegen/test/pattern.cc
Due: clang-format, cpplint

Increase program cache limit
  plaidml/keras/regression_test.py
  plaidml/plaidml.cc
Due: clang-format, cpplint, yapf

Make pmlc::LoadTile generally available
  tile/pmlc/pmlc.cc
  tile/pmlc/pmlc.h
Due: clang-format, cpplint

Process large fully connected layer
  tile/codegen/codegen.proto
  tile/codegen/fc.cc
  tile/codegen/fc.h
  tile/ocl_exec/emitsem.cc
  tile/stripe/stripe.cc
  tile/targets/gpu/intel_gen9_opencl.jsonnet
Due: clang-format, cpplint

Remove subgroup barrier and double the performance on new NEO
  tile/hal/opencl/emitocl.cc
Due: clang-format, cpplint

Added additional tests
  tile/lib/tests.cc
Due: clang-format, cpplint

add metal config
  plaidml/configs/macos_experimental.json
  tile/targets/gpu/metal.jsonnet
Due: none

Clean header based on review
  tile/pmlc/pmlc.cc
  tile/pmlc/pmlc.h
Due: clang-format, cpplint

fix subgroup size in 16
  tile/targets/gpu/metal.jsonnet
Due: none

Adding support for MLIR
  bzl/mlir.BUILD
  bzl/mlir.bzl
  bzl/workspace.bzl
  tile/plaid_ir/BUILD
  tile/plaid_ir/plaid_ir_test.cc
  vendor/llvm/llvm.BUILD
Due: buildifier, clang-format, cpplint

re-add intel ocl silent config
  tools/intel-ocl-silent
Due: none

Extract stencil pass to its own file
  tile/codegen/stencil.cc
  tile/codegen/stencil.h
  tile/codegen/test/tile.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
Due: clang-format, cpplint

Added unit test for symbolic concat Added get_value_support for symbolic axis Added backend_test support for symbolic axis
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
  plaidml/op.py
Due: yapf

Track AliasMap parents; tag new SchedulePass block
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/codegen.proto
  tile/codegen/schedule.cc
Due: clang-format, cpplint

Add a PatternPass
  tile/codegen/codegen.proto
  tile/codegen/pattern.cc
  tile/codegen/pattern.h
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

