Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Experiment w/ plan.yml
  ci/plan.yml
Due: none

Remove spurious plaidml2 tf session close
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Remove spurious plaidml2 tf session close (#590)
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Use OpInterface instead of ForAllOps
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/eltwise/BUILD
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/dialect.h
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.h
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/lowering.cc
  tile/codegen/mlir_passes.cc
  tile/targets/gpu/intel_gen9.jsonnet
Due: clang-format, cpplint

WIP: Lowering tile -> stripe
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/eltwise/BUILD
  pmlc/dialect/eltwise/enums.td
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.h
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/predicates.td
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/transcode.h
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
  tile/codegen/const_prop.cc
  tile/codegen/const_tensor.cc
  tile/codegen/dce.cc
  tile/codegen/dce.h
  tile/codegen/fuse.cc
  tile/codegen/scalarize.cc
  tile/codegen/unroll.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Fixes
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/tile/lowering.cc
Due: clang-format, cpplint

Use OpInterface instead of ForAllOps (#591)
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/eltwise/BUILD
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/dialect.h
  pmlc/dialect/eltwise/enums.td
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.h
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/predicates.td
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/transcode.h
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
  tile/codegen/const_prop.cc
  tile/codegen/const_tensor.cc
  tile/codegen/dce.cc
  tile/codegen/dce.h
  tile/codegen/fuse.cc
  tile/codegen/mlir_passes.cc
  tile/codegen/scalarize.cc
  tile/codegen/unroll.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/targets/gpu/intel_gen9.jsonnet
Due: clang-format, cpplint

[WIP] Update MLIR repo
  bzl/workspace.bzl
  vendor/mlir/mlir.BUILD
Due: buildifier

Fix incorrect InOut
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

Less annoying printing
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.td
Due: clang-format, cpplint

Transfer learning demo overhaul
  demos/TransferLearning/README.md
  demos/TransferLearning/TransferLearningDemo.ipynb
  demos/TransferLearning/TransferLearningDemo.py
  demos/TransferLearning/TransferLearningGui.py
Due: yapf

Fixes
  vendor/llvm/llvm.BUILD
  vendor/llvm/llvm.bzl
  vendor/mlir/mlir.BUILD
Due: buildifier

More changes on mlir.Build and td files
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/tile/ops.td
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

WIP
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/types.cc
Due: clang-format, cpplint

Fixes for update to latest MLIR
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.td
  tile/codegen/mlir_passes.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Update MLIR and LLVM repos (#594)
  bzl/workspace.bzl
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.td
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  tile/codegen/mlir_passes.cc
  vendor/llvm/llvm.BUILD
  vendor/llvm/llvm.bzl
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Disable the float16 test testRandomeNormalVariableMean
  plaidml/keras/backend_test.py
Due: yapf

Got most ops working
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.td
Due: clang-format, cpplint

Initialoize all the aggregation outputs
  tile/codegen/aggrinit.cc
Due: clang-format, cpplint

Add 'tags' to .gitignore
  .gitignore
Due: none

Initialoize all the aggregation outputs (#597)
  tile/codegen/aggrinit.cc
Due: clang-format, cpplint

Add 'tags' to .gitignore (#598)
  .gitignore
Due: none

Fixed merge issue
  pmlc/dialect/stripe/ops.td
Due: none

Fixed left over protoyping code
  pmlc/dialect/stripe/ops.td
Due: none

Better printing (#599)
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.td
Due: clang-format, cpplint

Addressing merge comments
  demos/TransferLearning/README.md
  demos/TransferLearning/TransferLearningDemo.ipynb
  demos/TransferLearning/TransferLearningDemo.py
  demos/TransferLearning/TransferLearningGui.py
Due: yapf

Remove TensorRefOp
  pmlc/dialect/eltwise/BUILD
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/analysis.h
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/padding_pass.cc
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/types.cc
  pmlc/dialect/stripe/types.h
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/util/BUILD
  pmlc/util/slice.cc
  pmlc/util/slice.h
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

Character wrap in README.md
  demos/TransferLearning/README.md
Due: none

Added positive value check for argument parsing
  demos/TransferLearning/TransferLearningDemo.py
Due: yapf

Clear output when train button is pressed
  demos/TransferLearning/TransferLearningDemo.ipynb
  demos/TransferLearning/TransferLearningGui.py
Due: yapf

Disable the float16 test testRandomeNormalVariableMean (#596)
  plaidml/keras/backend_test.py
Due: yapf

Fixes for latest MLIR
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.td
Due: clang-format, cpplint

Cleanup imports, ngraph_bridge catch env var
  demos/TransferLearning/TransferLearningDemo.py
  demos/TransferLearning/TransferLearningGui.py
Due: yapf

Remove TensorRefOp (#600)
  pmlc/dialect/eltwise/BUILD
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/analysis.h
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/padding_pass.cc
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/types.cc
  pmlc/dialect/stripe/types.h
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/lowering.cc
  pmlc/util/BUILD
  pmlc/util/slice.cc
  pmlc/util/slice.h
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

Transfer learning demo overhaul (#595)
  demos/TransferLearning/README.md
  demos/TransferLearning/TransferLearningDemo.ipynb
  demos/TransferLearning/TransferLearningDemo.py
  demos/TransferLearning/TransferLearningGui.py
Due: yapf

remove STRIPE_JIT, USE_STRIPE in favor of PLAIDML_USE_STRIPE
  ci/harness.py
Due: yapf

[MLIR] Introduce stripe to affine boilerplate
  pmlc/conversion/stripe_to_affine/BUILD
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.h
  pmlc/test/conversion/stripe_to_affine/core_ops.mlir
  pmlc/tools/pmlc-opt/BUILD
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Add missing alwayslink=1
  pmlc/conversion/stripe_to_affine/BUILD
Due: none

Restore pmlc-opt deps
  pmlc/tools/pmlc-opt/BUILD
Due: none

Use C++17
  base/util/catch.h
  base/util/error.h
  bzl/plaidml.bzl
  plaidml/plaidml++.h
  toolchain/build_defs.bzl
Due: buildifier, clang-format, cpplint
