Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Add asinh, acosh, atanh to tile and stdx dialects.
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/ir/ops.td
  pmlc/dialect/tile/ir/eltwise.td
Due: clang-format, cpplint

Add acosh, asinh, atanh to OpenVINO unaryOp
  plaidml/bridge/openvino/ops/unary.cpp
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

changes for building benchmark app gpu windows
  CMakeLists.txt
  cmake/third_party/opencl_headers.cmake
  cmake/third_party/opencl_hpp_headers.cmake
  cmake/third_party/opencl_icd_loader.cmake
  cmake/third_party/volk.cmake
  cmake/third_party/vulkan_headers.cmake
  plaidml/CMakeLists.txt
  plaidml/bridge/openvino/plaidml_ops.hpp
  pmlc/rt/CMakeLists.txt
  pmlc/rt/opencl/CMakeLists.txt
  pmlc/rt/vulkan/CMakeLists.txt
  pmlc/target/intel_gen/CMakeLists.txt
Due: clang-format, cpplint

removed cmake changes
  cmake/third_party/opencl_hpp_headers.cmake
Due: none

updates to cmakelists
  cmake/third_party/opencl_hpp_headers.cmake
  cmake/third_party/opencl_icd_loader.cmake
  cmake/third_party/volk.cmake
Due: none

fixes to Windows cmake build
  cmake/third_party/opencl_hpp_headers.cmake
  cmake/third_party/opencl_icd_loader.cmake
  plaidml/CMakeLists.txt
  pmlc/rt/CMakeLists.txt
  pmlc/rt/opencl/CMakeLists.txt
Due: none

CR and fix
  cmake/third_party/opencl_hpp_headers.cmake
  cmake/third_party/volk.cmake
  plaidml/CMakeLists.txt
Due: none

one more fix to copy cl headers
  cmake/third_party/opencl_icd_loader.cmake
Due: none

added vulkan headers
  pmlc/rt/vulkan/CMakeLists.txt
Due: none

one more fix to vulkan headers
  cmake/third_party/vulkan_headers.cmake
Due: none

adressed comments
  plaidml/CMakeLists.txt
  pmlc/rt/opencl/CMakeLists.txt
Due: none

Add createMinimizeBufferTransfersPass Add createGatherGpuLaunchFuncsPass Update on gpu_to_comp pass
  pmlc/conversion/gpu/BUILD
  pmlc/conversion/gpu/gather_gpu_launch_funcs.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/conversion/gpu/passes.td
  pmlc/conversion/gpu_to_comp/gpu_to_comp.cc
  pmlc/conversion/gpu_to_comp/tests/gpu_to_comp.mlir
  pmlc/dialect/comp/transforms/BUILD
  pmlc/dialect/comp/transforms/enums.td
  pmlc/dialect/comp/transforms/minimize_buffer_transfers.cc
  pmlc/dialect/comp/transforms/passes.h
  pmlc/dialect/comp/transforms/passes.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

Fix mlir tests
  pmlc/conversion/gpu_to_comp/tests/gpu_to_comp.mlir
Due: none

Update Cmake files
  pmlc/conversion/gpu/CMakeLists.txt
  pmlc/dialect/comp/transforms/CMakeLists.txt
Due: none

Change the second operand of PriorBoxOp to be tensor and update Openvino commit.
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/ops/prior_box.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/prior_box.cpp
Due: clang-format, cpplint

Fix for broken h5py dependency
  ci/conda/tensorflow.yml
Due: none

Fix for broken h5py dependency
  conda/unix.yml
  conda/windows.yml
  plaidbench/setup.py
Due: yapf

Fix version pin
  plaidbench/setup.py
Due: yapf

Fix for broken h5py dependency (#1591)
  ci/conda/tensorflow.yml
  conda/unix.yml
  conda/windows.yml
  plaidbench/setup.py
Due: yapf

change tile.ox op constructor to accept array of types, instead of values
  pmlc/ast/builder.cc
  pmlc/dialect/layer/ir/ops.cc
  pmlc/dialect/layer/ir/ops.td
Due: clang-format, cpplint

fix ProgramBuilder use of layer::box: separate results types vector
  pmlc/ast/builder.cc
Due: clang-format, cpplint

oops
  pmlc/ast/builder.cc
Due: clang-format, cpplint

don't use ref to mlir::Value
  pmlc/ast/builder.cc
Due: clang-format, cpplint

change tile.box op constructor to accept array of types, instead of values (#1592)
  pmlc/ast/builder.cc
  pmlc/dialect/layer/ir/ops.cc
  pmlc/dialect/layer/ir/ops.td
Due: clang-format, cpplint

Cmake on Windows (#1587)
  CMakeLists.txt
  cmake/third_party/opencl_headers.cmake
  cmake/third_party/opencl_hpp_headers.cmake
  cmake/third_party/opencl_icd_loader.cmake
  cmake/third_party/volk.cmake
  cmake/third_party/vulkan_headers.cmake
  plaidml/CMakeLists.txt
  plaidml/bridge/openvino/plaidml_ops.hpp
  pmlc/rt/CMakeLists.txt
  pmlc/rt/opencl/CMakeLists.txt
  pmlc/rt/vulkan/CMakeLists.txt
  pmlc/target/intel_gen/CMakeLists.txt
Due: clang-format, cpplint

Generalized hoisting pass (#1584)
  pmlc/transforms/BUILD
  pmlc/transforms/hoisting.cc
  pmlc/transforms/pass_detail.h
  pmlc/transforms/passes.h
  pmlc/transforms/passes.td
  pmlc/util/BUILD
  pmlc/util/loop_with_epilog.cc
  pmlc/util/loop_with_epilog.h
  pmlc/util/loop_with_epilog.td
Due: clang-format, cpplint

Remove duplicate LogicalAnd
  plaidml/bridge/openvino/ops/binary.cpp
Due: clang-format, cpplint

Fix merge
  plaidml/bridge/openvino/ops/select.cpp
Due: clang-format, cpplint

Refactoring
  pmlc/conversion/gpu/gather_gpu_launch_funcs.cc
  pmlc/conversion/gpu_to_comp/tests/gpu_to_comp.mlir
Due: clang-format, cpplint

Update
  plaidml/bridge/openvino/ops/embedding_bag_offsets_sum.cpp
  plaidml/bridge/openvino/ops/embedding_bag_packed_sum.cpp
  plaidml/bridge/openvino/ops/interpolate.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/edsl/__init__.py
Due: clang-format, cpplint, yapf

Add comments
  pmlc/conversion/gpu/gather_gpu_launch_funcs.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/conversion/gpu_to_comp/gpu_to_comp.cc
Due: clang-format, cpplint

Add tests for acosh, asinh, atanh
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Add acosh, asinh, atanh and tests to edsl
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Fix activations name
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
Due: clang-format, cpplint

Add inverse hyperbolic functions to vulkan ocl skip list
  plaidml/edsl/tests/edsl_test-skip.intel_gen_ocl_spirv.txt
Due: none

Refactoring
  pmlc/conversion/gpu/gather_gpu_launch_funcs.cc
  pmlc/conversion/gpu_to_comp/gpu_to_comp.cc
Due: clang-format, cpplint

Fix format
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/ir/ops.td
Due: clang-format, cpplint

Fix format
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

