Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Update pass description
  pmlc/dialect/pxa/transforms/passes.td
Due: none

i1 Storage To i32 pass added (#1074)
  pmlc/dialect/stdx/tests/i1_to_i32.mlir
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
  pmlc/dialect/stdx/transforms/passes.h
  pmlc/dialect/stdx/transforms/passes.td
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Fixed a small vectorization bug and addeed a test to verify the fix
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Fixed a small vectorization bug and addeed a test to verify the fix (#1268)
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Add BufferPlacementPass to x86 target pipeline
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.h
  pmlc/dialect/stdx/ir/ops.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Add BufferPlacementPass to x86 target pipeline (#1269)
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.h
  pmlc/dialect/stdx/ir/ops.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

AffineLoad to PXA
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tests/add.mlir
  pmlc/conversion/tile_to_pxa/tests/broadcast.mlir
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tests/logical.mlir
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tests/shr_scalar.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/dataflow_opt.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/pxa/transforms/test_analysis.cc
Due: clang-format, cpplint

all tests passing
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/target/x86/tests/xsmm_stencil.mlir
Due: none

Add best cost in autotile cost model
  pmlc/dialect/pxa/transforms/autotile.h
Due: clang-format, cpplint

pxa reduce op lowers to affine.load
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
Due: clang-format, cpplint

AffineLoad to PXA (#1265)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tests/add.mlir
  pmlc/conversion/tile_to_pxa/tests/broadcast.mlir
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise.mlir
  pmlc/conversion/tile_to_pxa/tests/logical.mlir
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tests/shr_scalar.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/dataflow_opt.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/pxa/transforms/test_analysis.cc
  pmlc/target/x86/tests/xsmm_stencil.mlir
Due: clang-format, cpplint

Add best cost in autotile cost model (#1270)
  pmlc/dialect/pxa/transforms/autotile.h
Due: clang-format, cpplint

Detect single for loops and turn them to nested for loops
  pmlc/conversion/SCFToGPU/SCFToGPUPass.cpp
  pmlc/dialect/pxa/transforms/tileaccumlate.cc
Due: clang-format, cpplint

Add mlir tests
  pmlc/dialect/pxa/tests/convolution.mlir
  pmlc/dialect/pxa/tests/cumsum.mlir
  pmlc/dialect/pxa/tests/mixed.mlir
Due: none

Update pass description
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
Due: clang-format, cpplint

Update mlir tests
  pmlc/dialect/pxa/tests/convolution.mlir
  pmlc/dialect/pxa/tests/mixed.mlir
  pmlc/dialect/pxa/tests/tile_accumulate.mlir
Due: none

Fix tests
  pmlc/dialect/pxa/tests/cumsum.mlir
Due: none

Update
  pmlc/dialect/pxa/tests/tile_accumulate.mlir
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
Due: clang-format, cpplint

AffineVectorLoad to PXA
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/ops.mlir
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

AffineVectorLoad to PXA (#1272)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/ops.mlir
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Part 1
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/analysis/uses.h
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/pxa/transforms/tile.h
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/pxa/transforms/vectorize.h
Due: clang-format, cpplint

Part 2
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Bring pxa.vector_load into conformance with other load/stores (#1274)
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/analysis/uses.h
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/pxa/transforms/tile.h
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/pxa/transforms/vectorize.h
Due: clang-format, cpplint

Rename Pxa memory operations, NFC
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/pxa/transforms/test_analysis.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Add buffer placement pass to inject dellocs
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tests/prng.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/buffer_placement.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/target/x86/BUILD
  pmlc/target/x86/passes.h
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/prng_lowering.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Decouple OpenVINO deps from PlaidML implicit deps
  WORKSPACE
  bzl/workspace.bzl
  vendor/openvino/workspace.bzl
Due: buildifier

Rename Pxa memory operations, NFC (#1275)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/pxa/transforms/test_analysis.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Decouple OpenVINO deps from PlaidML implicit deps (#1277)
  WORKSPACE
  bzl/workspace.bzl
  vendor/openvino/workspace.bzl
Due: buildifier

Generalized code
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/subgroups.cc
Due: clang-format, cpplint

Support for 3rd party compilers
  plaidml/BUILD
  plaidml/bridge/openvino/BUILD
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/pytorch/BUILD
  plaidml/core/BUILD
  plaidml/edsl/BUILD
  plaidml/edsl/ffi.cc
  plaidml/edsl/tests/BUILD
  plaidml/exec/BUILD
  plaidml/op/BUILD
  pmlc/BUILD
  pmlc/all_dialects.cc
  pmlc/all_passes.h
  pmlc/rt/vulkan/tests/BUILD
  pmlc/target/demo/BUILD
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/passes.h
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/register.cc
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-opt/BUILD
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Use AffineVectorLoadOp/AffineVectorStoreOp builders
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/pxa_to_affine/tests/vector.mlir
Due: clang-format, cpplint

Support for 3rd party compilers (#1279)
  plaidml/BUILD
  plaidml/bridge/openvino/BUILD
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/pytorch/BUILD
  plaidml/core/BUILD
  plaidml/edsl/BUILD
  plaidml/edsl/ffi.cc
  plaidml/edsl/tests/BUILD
  plaidml/exec/BUILD
  plaidml/op/BUILD
  pmlc/BUILD
  pmlc/all_dialects.cc
  pmlc/all_passes.h
  pmlc/rt/vulkan/tests/BUILD
  pmlc/target/demo/BUILD
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/passes.h
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/register.cc
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-opt/BUILD
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Pass device & target to explicit edsl cc_test runs
  plaidml/edsl/tests/BUILD
Due: none

Add skip-on-target infrastructure
  plaidml/edsl/tests/edsl_test.cc
  plaidml/testenv.h
Due: clang-format, cpplint

Get EDSL cc_test compiling w/Vulkan
  plaidml/edsl/tests/BUILD
Due: none

Remove device and target from lit tests
  pmlc/lit.bzl
  pmlc/lit.cfg.py
Due: buildifier, yapf

Make vulkan rt in tests depend on using gpu target
  plaidml/BUILD
  plaidml/edsl/tests/BUILD
Due: none

Split lit & target tests
  plaidml/BUILD
  plaidml/edsl/tests/BUILD
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  plaidml/edsl/tests/edsl_test.cc
  plaidml/testenv.cc
  plaidml/testenv.h
  pmlc/testing/gtest_main.cc
Due: clang-format, cpplint

Bump LLVM pointer forward
  bzl/workspace.bzl
Due: buildifier

Update hash
  bzl/workspace.bzl
Due: buildifier

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

