Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Generalize cache transformation
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/analysis/uses.h
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
  pmlc/dialect/pxa/transforms/subgroups.cc
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Cleanup
  pmlc/dialect/pxa/transforms/cache.cc
Due: clang-format, cpplint

Added tests, properly registered passes (so tests would run), cleaned up names/comments as per CR
  pmlc/all_passes.h
  pmlc/target/intel_gen/affine_index_pack.cc
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/tests/pack.mlir
Due: clang-format, cpplint

Fix cases of single thread/grid
  plaidml/bridge/keras/backend_test.py
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/affine_index_pack.cc
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint, yapf

Unwind incorrect build good
  pmlc/target/intel_gen/BUILD
Due: none

Modified test to adjust for new semantics
  pmlc/dialect/pxa/tests/tile_accumulate.mlir
Due: none

Add cache pass and test
  pmlc/dialect/pxa/tests/cache.mlir
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

Remove a pointless assert, and a possibly flakey test
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/dialect/pxa/transforms/tile.cc
Due: clang-format, cpplint

Test was not the problem, CI is
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
Due: none

Pack dimensions for GPU lowerings (#1314)
  plaidml/bridge/keras/backend_test.py
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/all_passes.h
  pmlc/dialect/pxa/tests/tile_accumulate.mlir
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/target/intel_gen/affine_index_pack.cc
  pmlc/target/intel_gen/lower_affine.cc
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/tests/pack.mlir
Due: clang-format, cpplint, yapf

soft_Fail
  ci/pipeline.yml
Due: none

cleanup
  pmlc/dialect/pxa/transforms/cache.cc
Due: clang-format, cpplint

Generalized cache transformations (#1315)
  ci/pipeline.yml
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/analysis/uses.h
  pmlc/dialect/pxa/tests/cache.mlir
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/subgroups.cc
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

wip TF bridge
  WORKSPACE
  bzl/workspace.bzl
  plaidml/bridge/tensorflow/service/BUILD
  plaidml/bridge/tensorflow/service/compiler.cc
  plaidml/bridge/tensorflow/service/compiler.h
  plaidml/bridge/tensorflow/service/executable.cc
  plaidml/bridge/tensorflow/service/executable.h
  plaidml/bridge/tensorflow/service/executable_base.cc
  plaidml/bridge/tensorflow/service/executable_base.h
  plaidml/bridge/tensorflow/service/executor.cc
  plaidml/bridge/tensorflow/service/executor.h
  plaidml/bridge/tensorflow/service/platform.cc
  plaidml/bridge/tensorflow/service/platform.h
  plaidml/bridge/tensorflow/service/platform_id.cc
  plaidml/bridge/tensorflow/service/platform_id.h
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/plaidml_codegen_test.cc
  plaidml/bridge/tensorflow/tests/plaidml_codegen_test.h
  plaidml/bridge/tensorflow/tests/plaidml_eltwise_op_test.cc
  vendor/tensorflow/BUILD
  vendor/tensorflow/tensorflow.BUILD
Due: buildifier, clang-format, cpplint

Some fixes
  .bazelversion
  WORKSPACE
  bzl/bazel.rc
  bzl/workspace.bzl
  plaidml/bridge/tensorflow/service/BUILD
  plaidml/bridge/tensorflow/service/compiler.cc
  plaidml/bridge/tensorflow/service/platform_id.cc
  plaidml/bridge/tensorflow/tests/BUILD
  toolchain/BUILD
  vendor/tensorflow/tensorflow.BUILD
  vendor/tensorflow/workspace.bzl
Due: buildifier, clang-format, cpplint

Reify the notion of a compilation target
  pmlc/compiler/program.cc
  pmlc/compiler/program.h
  pmlc/compiler/registry.cc
  pmlc/compiler/registry.h
  pmlc/compiler/target.h
  pmlc/target/demo/pipeline.cc
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/register.cc
Due: clang-format, cpplint

Expose target registry map
  plaidml/edsl/ffi.cc
  pmlc/compiler/program.cc
  pmlc/compiler/registry.cc
  pmlc/compiler/registry.h
Due: clang-format, cpplint

Provide access to the interior cache memref Value
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
Due: clang-format, cpplint

Initial port of TF eltwise tests (no filecheck)
  bzl/bazel.rc
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/codegen_test.cc
  plaidml/bridge/tensorflow/tests/codegen_test.h
  plaidml/bridge/tensorflow/tests/eltwise_op_test.cc
Due: clang-format, cpplint

fix filecheck
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/eltwise_op_test.cc
Due: clang-format, cpplint

filecheck source
  plaidml/bridge/tensorflow/tests/filecheck.cc
  plaidml/bridge/tensorflow/tests/filecheck.h
Due: clang-format, cpplint

add compare op tests
  plaidml/bridge/tensorflow/tests/BUILD
Due: none

Add support for inout memrefs in PXA dialect
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
Due: clang-format, cpplint

Fix assertion
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Fixes
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/transforms/cache.cc
Due: clang-format, cpplint

add conversion from stdx to SPIRV (#2)
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/conversion/gpu_to_spirv/passes.h
  pmlc/conversion/gpu_to_spirv/tests/stdx_to_spv.mlir
Due: clang-format, cpplint

LD_PRELOAD environment variable for malloc
  bzl/bazel.rc
Due: none

Provide access to the interior cache memref Value (#1319)
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
Due: clang-format, cpplint

Add support for inout memrefs in PXA dialect (#1321)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/target/x86/tests/xsmm_lowering.mlir
Due: clang-format, cpplint

add more tests
  bzl/bazel.rc
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/compare_op_test.cc
  plaidml/bridge/tensorflow/tests/conv_op_test.cc
  plaidml/bridge/tensorflow/tests/conv_op_test_gen.py
Due: clang-format, cpplint, yapf

bazel version for bazelci
  .bazelci/presubmit.yml
Due: none

try bazel 3.3
  .bazelci/presubmit.yml
  .bazelversion
Due: none

check_visibility is a build only option
  bzl/bazel.rc
Due: none

roll back to 3.1.0
  .bazelci/presubmit.yml
  .bazelversion
Due: none

move all tf changes to one place
  bzl/bazel.rc
Due: none

fix
  bzl/bazel.rc
Due: none

Keep 1 to 1 op convertion from stdx to spirv
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/conversion/gpu_to_spirv/tests/stdx_to_spv.mlir
Due: clang-format, cpplint

Update test skip list
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
Due: none

Update edsl_test-skip.intel_gen.txt
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
Due: none
