Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Use AffineVectorLoadOp/AffineVectorStoreOp builders (#1280)
  bzl/workspace.bzl
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/pxa_to_affine/tests/vector.mlir
Due: buildifier, clang-format, cpplint

Add intel_gen target (#1271)
  plaidml/BUILD
  plaidml/edsl/tests/BUILD
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  plaidml/edsl/tests/edsl_test.cc
  plaidml/testenv.cc
  plaidml/testenv.h
  pmlc/lit.bzl
  pmlc/lit.cfg.py
  pmlc/testing/gtest_main.cc
Due: buildifier, clang-format, cpplint, yapf

Add a milr test for resolving single loop
  pmlc/dialect/pxa/tests/tile_accumulate.mlir
Due: none

Add regex to check label for tile_accumulate.mlir
  pmlc/dialect/pxa/tests/tile_accumulate.mlir
Due: none

Add mlir test for none-first-two index of parallel loop
  pmlc/dialect/pxa/tests/tile_accumulate.mlir
Due: none

Clean up
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
  pmlc/rt/vulkan/tests/testenv.h
Due: clang-format, cpplint

Vectorize memrefs
  pmlc/dialect/pxa/analysis/uses.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/subgroups.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/pxa/transforms/vectorize.h
Due: clang-format, cpplint

fix remaining test cases
  pmlc/dialect/pxa/analysis/BUILD
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/transforms/buffer_placement.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

cleanup; addressing feedback
  pmlc/dialect/pxa/transforms/buffer_placement.cc
Due: clang-format, cpplint

use findAncestorOpInBlock
  pmlc/dialect/pxa/transforms/buffer_placement.cc
Due: clang-format, cpplint

Refactor
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/nest_loops.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/dialect/pxa/transforms/tile_accumulate.h
Due: clang-format, cpplint

Make tests pass again
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/tests/tile_accumulate.mlir
  pmlc/dialect/pxa/transforms/nest_loops.cc
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/dialect/pxa/transforms/tile_accumulate.h
Due: clang-format, cpplint

Fix whitespace
  pmlc/dialect/pxa/transforms/BUILD
Due: none

Tile accumulation (#1267)
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/tests/tile_accumulate.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/autotile.cc
  pmlc/dialect/pxa/transforms/nest_loops.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/dialect/pxa/transforms/tile_accumulate.h
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Add buffer placement pass to inject dellocs (#1276)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tests/prng.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/BUILD
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/buffer_placement.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/target/x86/BUILD
  pmlc/target/x86/passes.h
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/prng_lowering.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Fix bazel buildkite farm
  bzl/bazel.rc
Due: none

Tweaks
  ci/plan.yml
Due: none

Revive report
  ci/pipeline.yml
Due: none

Add getByteSize in util
  plaidml/core/ffi.cc
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

Try fix
  ci/buildkite.py
Due: yapf

Fix
  pmlc/util/util.cc
Due: clang-format, cpplint

Fix bazel buildkite farm (#1285)
  bzl/bazel.rc
Due: none

Clean up
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
Due: clang-format, cpplint

Fix
  pmlc/dialect/stdx/tests/i1_to_i32.mlir
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
Due: clang-format, cpplint

Change I1StorageToI32Pass to check func parameter.
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

Fix
  ci/buildkite.py
  ci/util.py
Due: yapf

Add mlir tests for I1StorageToI32Pass.
  pmlc/dialect/stdx/tests/i1_to_i32.mlir
Due: none

Add getByteSize in util (#1286)
  plaidml/core/ffi.cc
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

Re-enable ResizeTmps
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fix
  ci/util.py
Due: yapf

Fixes
  ci/BUILD
  ci/plan.yml
Due: none

Re-enable ResizeTmps (#1288)
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Revival
  ci/report.py
  ci/templates/report.html
Due: yapf

Update to latest MLIR
  bzl/workspace.bzl
Due: buildifier

Update to latest MLIR (#1290)
  bzl/workspace.bzl
Due: buildifier

Add inference tests (#1234)
  ci/BUILD
  ci/buildkite.py
  ci/golden/infer/inception_v3/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/inception_v3/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/inception_v3/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet_v2/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet_v2/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet_v2/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/vgg19/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/vgg19/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/vgg19/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/xception/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/xception/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/smoke/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/smoke/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/smoke/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/smoke/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/smoke/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/smoke/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/harness.py
  ci/pipeline.yml
  ci/plan.yml
  ci/report.py
  ci/templates/report.html
  ci/util.py
Due: yapf

Subgroup pass nominally works
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
  pmlc/dialect/pxa/transforms/subgroups.cc
Due: clang-format, cpplint

Fixed merge issues
  pmlc/dialect/pxa/transforms/subgroups.cc
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
Due: clang-format, cpplint

Cleanup
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/cache.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

