Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Remove TargetInfo
  pmlc/dialect/pxa/transforms/autotile.cc
  pmlc/dialect/pxa/transforms/autotile.h
Due: clang-format, cpplint

Add caching of tilingGenerators
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
Due: clang-format, cpplint

Use Orderer for deterministic permutation order
  pmlc/dialect/pxa/transforms/stencil.cc
Due: clang-format, cpplint

Switch to ArrayRef where possible
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
Due: clang-format, cpplint

Also cache StrideInfo `None`s
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
Due: clang-format, cpplint

Remove spurious std::move
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Run assert-only loop only in DEBUG
  pmlc/dialect/pxa/transforms/stencil.h
Due: clang-format, cpplint

Basic tests work again
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Switch to index-based requirements
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Rename strides->stride for reqs
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Reorder to track store before loads
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Update documentation
  pmlc/dialect/pxa/transforms/stencil.h
Due: clang-format, cpplint

Update overlooked documentation
  pmlc/dialect/pxa/transforms/stencil.h
Due: clang-format, cpplint

Make generic stenciling pass (#991)
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/stencil.h
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/stencil_xsmm.cc
Due: clang-format, cpplint

Initial implementation of PRNG function using MLIR
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tests/prng.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/rt/BUILD
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Addressed some minor CR issues.
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Stop double-normalizing pool_mode
  plaidml/bridge/keras/__init__.py
Due: yapf

Another CR addressed.
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Stop double-normalizing pool_mode (#1045)
  plaidml/bridge/keras/__init__.py
Due: yapf

A simple rename.
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Initial implementation of PRNG function using MLIR (#1044)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tests/prng.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/rt/BUILD
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Hoist indexed variables to make the code more optimizer friendly
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Make sure the incoming state is not modified.
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Rename a variable.
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Hoist indexed variables to make the code more optimizer friendly (#1047)
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Use unsigned ints instead of ints
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Use unsigned ints instead of ints (#1051)
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Add a PRNG signness test.
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Fixed a potential type issue.
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Fix resize_volumes data_format
  plaidml/bridge/keras/__init__.py
Due: yapf

Fix resize_volumes data_format (#1055)
  plaidml/bridge/keras/__init__.py
Due: yapf

For testing only.
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Fixed an error.
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Add opencv to conda env
  BUILD
  conda/unix.BUILD
  conda/unix.yml
  tools/conda_run/BUILD
Due: buildifier

Add vulkan integer and float datatype support
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/conversion/gpu/kernel_outlining.cc
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/wrappers.cc
  vendor/openvino/repo.bzl
Due: buildifier, clang-format, cpplint

Fix Linux optimizer issue.
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Fixed minor issues.
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Add prng signness test ex (#1053)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/rt/prng.cc
Due: clang-format, cpplint

Add pybuildkite
  conda/unix.yml
Due: none

Fix openvino prefix
  vendor/openvino/repo.bzl
Due: buildifier

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

