Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Add constraints and bypass the bound check for linalg.generic (#1886)
  ci/plan.yml
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/tile_to_linalg/CMakeLists.txt
  pmlc/conversion/tile_to_linalg/pass_detail.h
  pmlc/conversion/tile_to_linalg/tests/padding.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_linalg/utils.cc
  pmlc/util/CMakeLists.txt
  pmlc/util/extent.cc
  pmlc/util/extent.h
Due: clang-format, cpplint

Fix affine maps for non-zero low bounds
  pmlc/conversion/tile_to_linalg/pass_detail.h
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_linalg/utils.cc
Due: clang-format, cpplint

Add and fix test cases
  pmlc/conversion/tile_to_linalg/tests/low_bound.mlir
  pmlc/conversion/tile_to_linalg/tests/padding.mlir
Due: none

Fix closure yield
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/closure.mlir
Due: clang-format, cpplint

Fix contraction with cond
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Fix negative bound for linalg.generic
  pmlc/conversion/tile_to_linalg/tests/neg_bound.mlir
  pmlc/conversion/tile_to_linalg/utils.cc
Due: clang-format, cpplint

Limit 80 chars
  pmlc/conversion/linalg_to_pxa/test/closure.mlir
Due: none

split lines
  pmlc/conversion/tile_to_linalg/tests/low_bound.mlir
Due: none

Fix maps and constraints during Tile->Linalg for non-zero low bounds (#1887)
  pmlc/conversion/tile_to_linalg/pass_detail.h
  pmlc/conversion/tile_to_linalg/tests/low_bound.mlir
  pmlc/conversion/tile_to_linalg/tests/padding.mlir
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
  pmlc/conversion/tile_to_linalg/utils.cc
Due: clang-format, cpplint

Fix contraction with cond (#1889)
  pmlc/conversion/tile_to_linalg/tile_to_linalg.cc
Due: clang-format, cpplint

Fix negative bound for linalg.generic (#1890)
  pmlc/conversion/tile_to_linalg/tests/neg_bound.mlir
  pmlc/conversion/tile_to_linalg/utils.cc
Due: clang-format, cpplint

Fix closure yield (#1888)
  pmlc/conversion/linalg_to_pxa/linalg_to_pxa.cc
  pmlc/conversion/linalg_to_pxa/test/closure.mlir
  pmlc/conversion/tile_to_linalg/tests/low_bound.mlir
Due: clang-format, cpplint

Generalize reorder pass but check that channels-last is used
  pmlc/target/x86/reorder_layouts.cc
  pmlc/target/x86/tests/reorder_layouts.mlir
Due: clang-format, cpplint

Typo
  pmlc/target/x86/reorder_layouts.cc
Due: clang-format, cpplint

Revert blockSize change, will parameterize/tune later
  pmlc/target/x86/reorder_layouts.cc
Due: clang-format, cpplint

add ov benchmarking script
  plaidml/core/ffi.h
  tools/benchmarking/benchmark_ov.py
  tools/benchmarking/requirements.in
Due: clang-format, cpplint, yapf

revert ffi change
  plaidml/core/ffi.h
Due: clang-format, cpplint

Generalize reorder pass but check that channels-last is used (#1891)
  pmlc/target/x86/reorder_layouts.cc
  pmlc/target/x86/tests/reorder_layouts.mlir
Due: clang-format, cpplint

Add OV benchmarking script (#1893)
  tools/benchmarking/benchmark_ov.py
  tools/benchmarking/requirements.in
Due: yapf

WIP load program
  plaidml/core/WIP_harness.py
  plaidml/core/__init__.py
  plaidml/core/ffi.cc
  plaidml/core/ffi.h
  pmlc/compiler/program.cc
  pmlc/compiler/program.h
Due: clang-format, cpplint, yapf

WIP
  plaidml/core/ffi.cc
  plaidml/core/ffi.h
  pmlc/compiler/program.cc
  pmlc/compiler/program.h
Due: clang-format, cpplint

WIP debug Program load
  plaidml/core/CMakeLists.txt
  plaidml/core/WIP_harness.py
  plaidml/core/ffi.cc
  plaidml/symbols.cmake
  pmlc/compiler/program.cc
Due: clang-format, cpplint, yapf

add ov benchmarking script
  plaidml/core/ffi.h
Due: clang-format, cpplint

Use plaidml benchmark app
  tools/benchmarking/benchmark_ov.py
Due: yapf

WIP BROKEN add registry
  plaidml/core/CMakeLists.txt
  pmlc/compiler/program.cc
Due: clang-format, cpplint

WIP debug Program Load
  plaidml/core/WIP_harness.py
  pmlc/compiler/CMakeLists.txt
  pmlc/compiler/program.cc
Due: clang-format, cpplint, yapf

WIP Temp Debug code
  pmlc/rt/jit_executable.cc
  pmlc/util/util.cc
Due: clang-format, cpplint

WIP Add missing compile step
  plaidml/core/WIP_harness.py
  pmlc/compiler/program.cc
Due: clang-format, cpplint, yapf

WIP set the program module
  pmlc/compiler/program.cc
Due: clang-format, cpplint

remove accidental ffi change
  plaidml/core/ffi.h
Due: clang-format, cpplint

Fix PXA fusion
  pmlc/dialect/pxa/transforms/fusion.cc
Due: clang-format, cpplint

Fix bug in stencil unary
  pmlc/target/x86/stencil_tpp_unary.cc
Due: clang-format, cpplint

Clean up
  pmlc/dialect/pxa/transforms/fusion.cc
Due: clang-format, cpplint

Fix bugs
  pmlc/target/x86/stencil_tpp_unary.cc
Due: clang-format, cpplint

Add a stencil unary case
  pmlc/target/x86/tests/stencil_tpp_unary.mlir
Due: none

Fix fusion and stencil bugs (#1898)
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/target/x86/stencil_tpp_unary.cc
  pmlc/target/x86/tests/stencil_tpp_unary.mlir
  tools/benchmarking/benchmark_ov.py
Due: clang-format, cpplint, yapf

Reorder only weights
  pmlc/target/x86/reorder_layouts.cc
Due: clang-format, cpplint

Add location info to profile
  pmlc/rt/instrument.cc
  pmlc/target/x86/instrument.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Add location info to profile (#1900)
  pmlc/rt/instrument.cc
  pmlc/target/x86/instrument.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint
