Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

make wheel zip in analysis and put link in report email
  .travis.yml
  README.md
  ci/buildkite.py
  ci/harness.py
  ci/report.py
  ci/templates/annotate.html
  docs/building.md
  docs/troubleshooting.md
Due: yapf

add debug msgs for backend function calls
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
Due: yapf

make wheel zip in analysis and put link in report email
  .travis.yml
  ci/buildkite.py
  ci/harness.py
  ci/report.py
  ci/templates/annotate.html
Due: yapf

Allocate temp buffers on demand; Manage memory cache to release useless buffers during execution; Add global memory size in hardware options.
  docs/building.md
  plaidml/configs/config.json
  plaidml/configs/experimental.json
  plaidml/configs/macos.json
  plaidml/configs/macos_experimental.json
  testing/plaidml_config.py
  tile/base/hal.h
  tile/hal/cpu/executor.cc
  tile/hal/cuda/hal.cc
  tile/hal/metal/hal.cc
  tile/hal/opencl/cl_mem_buffer.cc
  tile/hal/opencl/cl_mem_buffer.h
  tile/hal/opencl/info.cc
  tile/hal/util/settings.cc
  tile/lang/gen_test.cc
  tile/lang/generate.h
  tile/lang/lang_test.cc
  tile/lang/tile_opt.cc
  tile/platform/local_machine/direct_mem_strategy.cc
  tile/platform/local_machine/direct_mem_strategy.h
  tile/platform/local_machine/mem_cache.cc
  tile/platform/local_machine/mem_cache.h
  tile/platform/local_machine/mem_chunk.h
  tile/platform/local_machine/mem_strategy.h
  tile/platform/local_machine/run_request.cc
  tile/platform/local_machine/scheduler_test.cc
  tile/platform/local_machine/shim.cc
  tile/platform/local_machine/shim.h
  tile/platform/local_machine/tmp_mem_strategy.cc
  tile/platform/local_machine/tmp_mem_strategy.h
  tile/proto/hal.proto
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/nvidia.jsonnet
Due: clang-format, cpplint, yapf

Fix catch-by-value of incomplete objects
  tile/hal/cpu/emitllvm.cc
  tile/lang/compose.cc
Due: clang-format, cpplint

add debug msgs for backend function calls (#448)
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
Due: yapf

Add more phases to the cpu config
  tile/platform/stripejit/program.cc
  tile/targets/cpu/cpu.jsonnet
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint

fix demo
  demos/TransferLearning/TransferLearningDemo.py
  demos/TransferLearning/requirements.txt
Due: yapf

fix demo (#451)
  demos/TransferLearning/TransferLearningDemo.py
  demos/TransferLearning/requirements.txt
Due: yapf

Add more phases to the cpu config (#450)
  tile/targets/cpu/cpu.jsonnet
Due: none

Rename MIR dialect to Stripe
  bzl/bazel.rc
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/analysis.h
  pmlc/dialect/stripe/attrs.h
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/mlir.h
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/padding_pass.cc
  pmlc/dialect/stripe/padding_pass.h
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/to_stripe.cc
  pmlc/dialect/stripe/to_stripe_mlir.cc
  pmlc/dialect/stripe/transcode.h
  pmlc/dialect/stripe/types.h
  pmlc/tools/pmlc-opt/BUILD
  tile/codegen/BUILD
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/mlir_passes.cc
Due: clang-format, cpplint

enable disassembly printing option for stripejit
  tile/targets/cpu/jit.cc
  tile/targets/cpu/jit.h
Due: clang-format, cpplint

enable disassembly printing option for stripejit (#456)
  tile/targets/cpu/jit.cc
  tile/targets/cpu/jit.h
Due: clang-format, cpplint

Expand EDSL common & Keras ops
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/derivs.cc
  plaidml2/op/__init__.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

fix stderr on cmd_build
  ci/buildkite.py
Due: yapf

Cleanup buildkite
  ci/buildkite.py
  ci/harness.py
  ci/pipeline.yml
  ci/plan.yml
  ci/report.py
  ci/util.py
  docs/BUILD
Due: yapf

upload explain.log
  ci/buildkite.py
Due: yapf

dont do pre-build shutdown
  ci/buildkite.py
Due: yapf

dont do post/pre build bazel shutdown
  ci/buildkite.py
Due: yapf

Fix out of memory for training with large batch size
  plaidml/plaidml.cc
  tile/base/program.h
  tile/platform/local_machine/platform.cc
  tile/platform/local_machine/program.cc
  tile/platform/local_machine/program.h
  tile/platform/local_machine/scheduler.cc
  tile/platform/local_machine/scheduler.h
  tile/platform/stripejit/program.cc
  tile/platform/stripejit/program.h
Due: clang-format, cpplint

break the components of jit.cc out into more-manageable pieces
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
  tile/targets/cpu/config.h
  tile/targets/cpu/executable.cc
  tile/targets/cpu/executable.h
  tile/targets/cpu/jit.cc
  tile/targets/cpu/jit.h
  tile/targets/cpu/link_names.cc
  tile/targets/cpu/link_names.h
  tile/targets/cpu/programmodule.h
Due: clang-format, cpplint

Fix all_wheels.tar.gz
  ci/buildkite.py
Due: yapf

break the components of jit.cc out into more-manageable pieces (#458)
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
  tile/targets/cpu/config.h
  tile/targets/cpu/executable.cc
  tile/targets/cpu/executable.h
  tile/targets/cpu/jit.cc
  tile/targets/cpu/jit.h
  tile/targets/cpu/link_names.cc
  tile/targets/cpu/link_names.h
  tile/targets/cpu/programmodule.h
Due: clang-format, cpplint

EDSL convert backend_tests
  plaidml2/bridge/keras/backend_test.py
Due: yapf

EDSL backend_tests
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Support EDSL with plaidbench
  plaidbench/BUILD
  plaidbench/plaidbench.py
  plaidbench/plaidbench/core.py
  plaidbench/plaidbench/frontend_keras.py
  plaidml/keras/backend_test.py
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/__init__.py
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/exec/__init__.py
  tile/lang/ast/ast.h
  tile/lang/semtree.cc
  tile/lang/semtree.h
Due: clang-format, cpplint, yapf

EDSL convert backend_tests fix
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Extend EDSL common softmax to arbitrary axis
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

