Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

WIP: beefing up the logic for the target data layout
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Enable FP16 tests where already passing (#1702)
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/comparison.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/depth_to_space.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/eltwise.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/embedding_bag_offsets_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/embedding_bag_packed_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/embedding_segments_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/grn.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/group_convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/logical.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/mat_mul.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/pooling_smoke.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/prior_box.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/region_yolo.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reorg_yolo.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/rnn_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/roi_align.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/scatter_update.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/shuffle_channels.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/softmax.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/space_to_batch.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/space_to_depth.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/squared_difference.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/squeeze_unsqueeze.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/strided_slice.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/tile.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/transpose.cpp
Due: clang-format, cpplint

Plaidml packaging working
  CMakeLists.txt
  cmake/pml_cc_library.cmake
  cmake/pml_config.cmake.in
Due: none

Update LLVM pointer (#1704)
  bzl/workspace.bzl
  cmake/third_party/llvm-project.cmake
Due: buildifier

Mostly functioning
  CMakeLists.txt
  cmake/pml_cc_library.cmake
  cmake/pml_config.cmake.in
  cmake/pml_packaging.cmake
  plaidml/core/CMakeLists.txt
Due: none

common deformable convolution
  plaidml/bridge/openvino/ops/deformable_convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/deformable_convolution.cpp
Due: clang-format, cpplint

Release event after wait.
  pmlc/rt/level_zero/level_zero_invocation.cc
  pmlc/rt/level_zero/level_zero_invocation.h
Due: clang-format, cpplint

rename some variables
  plaidml/bridge/openvino/ops/deformable_convolution.cpp
Due: clang-format, cpplint

fixes to layouts
  pmlc/util/layout.cc
Due: clang-format, cpplint

draft loop node, still need work on plaidml_expr_loop and handleLoop.
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
Due: clang-format, cpplint

draft loop intrinsic.
  plaidml/edsl/edsl.h
  pmlc/ast/builder.cc
Due: clang-format, cpplint

add test for replace_for_alloc pass.
  pmlc/conversion/tile_to_pxa/tests/replace_scffor_alloc.mlir
  pmlc/dialect/tile/transforms/passes.td
Due: none

revert dealloc_placement.cc to commit 71e5870a739b1e81f48f9f7c3f0b4ff0f140a61d, before it's last change.
  pmlc/dialect/pxa/transforms/dealloc_placement.cc
Due: clang-format, cpplint

clean the code.
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

fix loop carried var int32 type bug. and draft sequence test case available.
  plaidml/edsl/tests/edsl_test.cc
  pmlc/dialect/tile/ir/util.cc
Due: clang-format, cpplint

fix bazel compile bug.
  pmlc/ast/builder.cc
Due: clang-format, cpplint

add loop intrinsic and simple test case.
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/builder.cc
Due: clang-format, cpplint

fix scf for, load variable replacement issues.
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/tile/transforms/CMakeLists.txt
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/passes.td
  pmlc/dialect/tile/transforms/replace_scfFor_alloc.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

add multi results for loop op.
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/ast/eval.cc
Due: clang-format, cpplint

fix LoopConstantBuffer test case.
  pmlc/ast/builder.cc
Due: clang-format, cpplint

add more test case.
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

add buffer check for loop test case.
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

fix insert method which decide the op that insert to loop region.
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/builder.cc
Due: clang-format, cpplint

fix memref zero bug, add scf.for op into pxa analysis.
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/analysis/uses.cc
Due: clang-format, cpplint

do some optimization
  plaidml/bridge/openvino/ops/deformable_convolution.cpp
Due: clang-format, cpplint

add annotation
  plaidml/bridge/openvino/ops/deformable_convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/deformable_convolution.cpp
Due: clang-format, cpplint

Disabling layout insertion for now
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

modify loop API. make it more friendly.
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Cleanup
  cmake/pml_cc_library.cmake
  cmake/pml_packaging.cmake
  pmlc/conversion/comp_to_llvm/CMakeLists.txt
Due: none

Cleanup
  cmake/pml_cc_library.cmake
  cmake/pml_packaging.cmake
Due: none

Formatting
  cmake/pml_packaging.cmake
Due: none

Formatting
  CMakeLists.txt
Due: none

Reinstalling benchmark app
  CMakeLists.txt
  cmake/pml_packaging.cmake
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

removing Fcheck so cpplint passes
  cmake/packaging_test_project/CMakeLists.txt
  cmake/packaging_test_project/edsl_tests.cc
Due: clang-format, cpplint

Changes for 3x3 convolution and extension to pxa.gemm
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
Due: clang-format, cpplint

Changes for lowering pxa.gemm to offset based brgemm
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

test cases for 3x3 convolutions
  pmlc/target/x86/tests/xsmm_3x3_lowering.mlir
  pmlc/target/x86/tests/xsmm_call_3x3.mlir
Due: none

Fix loop bazel build (#80)
  plaidml/edsl/edsl.h
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/dialect/tile/transforms/BUILD
Due: clang-format, cpplint

clean code.
  pmlc/ast/builder.cc
  pmlc/dialect/tile/ir/util.cc
Due: clang-format, cpplint

WIP: Adding additional dimensions so that the loop can be stenciled
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
Due: clang-format, cpplint
