Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Work around aligned_alloc not presented in MacOS RT.
  tile/targets/cpu/compiler.cc
Due: clang-format, cpplint

Windows RT doesn't habve the C++ std aligned_alloc. Use the Windows _aligned_malloc instead.
  tile/targets/cpu/compiler.cc
Due: clang-format, cpplint

Remove perf testing code change.
  tile/targets/cpu/compiler.cc
Due: clang-format, cpplint

Adding bazel-latex
  WORKSPACE
  networks/scitile/docs/uw_toroidal_shell/UW_toroidal_shell.tex
  networks/scitile/docs/uw_toroidal_shell/partial_diff.py
  networks/scitile/uw_toroidal_shell/BUILD
  networks/scitile/uw_toroidal_shell/README.md
  networks/scitile/uw_toroidal_shell/cuda/README
  networks/scitile/uw_toroidal_shell/cuda/min_main.py
  networks/scitile/uw_toroidal_shell/cuda/min_parallel.py
  networks/scitile/uw_toroidal_shell/docs/BUILD
  networks/scitile/uw_toroidal_shell/docs/UW_toroidal_shell.tex
  networks/scitile/uw_toroidal_shell/docs/toroidal_shell_moment.jpg
  networks/scitile/uw_toroidal_shell/uw_tests.py
  networks/scitile/uw_toroidal_shell/uw_toroidal_shell.py
Due: buildifier, yapf

minor fix
  networks/scitile/uw_toroidal_shell/BUILD
  networks/scitile/uw_toroidal_shell/README.md
  networks/scitile/uw_toroidal_shell/uw_tests.py
Due: yapf

boost::optional -> std::optional
  tile/codegen/autotile.cc
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/partition.cc
  tile/codegen/pattern.cc
  tile/codegen/pattern.h
  tile/codegen/schedule.cc
  tile/codegen/stencil.cc
  tile/codegen/stencil.h
  tile/lang/generate.h
  tile/lang/scope.h
  tile/lang/simplifier.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

boost::optional -> std::optional (#734)
  tile/codegen/autotile.cc
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/partition.cc
  tile/codegen/pattern.cc
  tile/codegen/pattern.h
  tile/codegen/schedule.cc
  tile/codegen/stencil.cc
  tile/codegen/stencil.h
  tile/lang/generate.h
  tile/lang/scope.h
  tile/lang/simplifier.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

boost::variant -> std::variant
  tile/codegen/pattern.cc
  tile/codegen/pattern.h
  tile/stripe/impl.h
  tile/stripe/protobuf.cc
  tile/stripe/stripe.cc
Due: clang-format, cpplint

minor fix - filename change
  networks/scitile/uw_toroidal_shell/docs/uw_toroidal_shell_doc.tex
Due: none

minor fix
  networks/scitile/uw_toroidal_shell/docs/BUILD
Due: none

boost::variant -> std::variant (#735)
  tile/codegen/pattern.cc
  tile/codegen/pattern.h
  tile/stripe/impl.h
  tile/stripe/protobuf.cc
  tile/stripe/stripe.cc
Due: clang-format, cpplint

switch to bazel-latex 0.19
  WORKSPACE
Due: buildifier

Prevent building on linux and windows
  bzl/bazel.rc
  networks/scitile/uw_toroidal_shell/docs/BUILD
Due: none

Use patched bazel-latex rules to allow for tags
  bzl/workspace.bzl
Due: buildifier

remove cruft
  WORKSPACE
Due: buildifier

Add minted package
  networks/scitile/uw_toroidal_shell/docs/BUILD
  vendor/latex/BUILD
  vendor/latex/minted_test.tex
Due: none

minted dependencies
  networks/scitile/uw_toroidal_shell/docs/uw_toroidal_shell_doc.tex
  vendor/latex/BUILD
  vendor/latex/fancy_vrb_test.tex
  vendor/latex/fvextra_test.tex
  vendor/latex/ifplatform_test.tex
  vendor/latex/minted_test.tex
Due: none

Add pygments
  bzl/workspace.bzl
  conda/unix.yml
  tools/conda_run/conda_unix.cc
  vendor/latex/BUILD
Due: buildifier, clang-format, cpplint

minor fix
  vendor/latex/fancy_vrb_test.tex
  vendor/latex/fancyvrb_test.tex
Due: none

minor fixes to: latex dependencies tests
  vendor/latex/ifplatform_test.tex
Due: none

python sample code added to uw_toroidal_shell document
  networks/scitile/uw_toroidal_shell/docs/partial_diff.py
  networks/scitile/uw_toroidal_shell/docs/uw_toroidal_shell_doc.tex
  vendor/latex/BUILD
Due: yapf

minor typo fixed
  vendor/latex/BUILD
Due: none

latex tests commented for draft
  vendor/latex/BUILD
Due: none

draft : tests commented
  vendor/latex/BUILD
Due: none

Add no-framework resnet50
  networks/oplib/BUILD
  networks/oplib/resnet50.cc
Due: clang-format, cpplint

Update based on review
  networks/oplib/BUILD
  networks/oplib/resnet50.cc
Due: clang-format, cpplint

Clean input binding
  networks/oplib/resnet50.cc
Due: clang-format, cpplint

adding dependencies for tex tests in vendor/latex
  vendor/latex/BUILD
Due: none

tex tests in vendor/latex fail on ci commented to fix later
  vendor/latex/BUILD
Due: none

Add no-framework C++ EDSL resnet (#737)
  networks/oplib/BUILD
  networks/oplib/resnet50.cc
Due: clang-format, cpplint

Adding bazel-latex (#733)
  WORKSPACE
  bzl/bazel.rc
  bzl/workspace.bzl
  conda/unix.yml
  networks/scitile/docs/uw_toroidal_shell/UW_toroidal_shell.tex
  networks/scitile/uw_toroidal_shell/BUILD
  networks/scitile/uw_toroidal_shell/README.md
  networks/scitile/uw_toroidal_shell/cuda/README
  networks/scitile/uw_toroidal_shell/cuda/min_main.py
  networks/scitile/uw_toroidal_shell/cuda/min_parallel.py
  networks/scitile/uw_toroidal_shell/docs/BUILD
  networks/scitile/uw_toroidal_shell/docs/partial_diff.py
  networks/scitile/uw_toroidal_shell/docs/toroidal_shell_moment.jpg
  networks/scitile/uw_toroidal_shell/docs/uw_toroidal_shell_doc.tex
  networks/scitile/uw_toroidal_shell/uw_tests.py
  networks/scitile/uw_toroidal_shell/uw_toroidal_shell.py
  tools/conda_run/conda_unix.cc
  vendor/latex/BUILD
  vendor/latex/fancyvrb_test.tex
  vendor/latex/fvextra_test.tex
  vendor/latex/ifplatform_test.tex
  vendor/latex/minted_test.tex
Due: buildifier, clang-format, cpplint, yapf

fix build, refactor code, better typing
  pmlc/dialect/op_lib/BUILD
  pmlc/dialect/op_lib/OpLibWrapperGen.cpp
  pmlc/dialect/op_lib/op_lib.bzl
  pmlc/dialect/op_lib/ops.td
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Fix execution of threaded block with threading index of 0/1.
  bzl/tbb.BUILD
  plaidml/BUILD
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
  plaidml2/bridge/keras/__init__.py
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
  tile/targets/cpu/executable.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: buildifier, clang-format, cpplint, yapf

Initial pass at op lib dialect (#724)
  pmlc/dialect/op_lib/BUILD
  pmlc/dialect/op_lib/OpLibWrapperGen.cpp
  pmlc/dialect/op_lib/op_lib.bzl
  pmlc/dialect/op_lib/op_lib_wrappers.cc
  pmlc/dialect/op_lib/ops.td
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Update further
  bzl/workspace.bzl
  pmlc/BUILD
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/tile/dialect.cc
  vendor/mlir/mlir.BUILD
  vendor/mlir/mlir.patch
Due: buildifier, clang-format, cpplint

Support for PrngOp
  plaidml2/edsl/edsl.h
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/ffi.cc
  plaidml2/exec/ffi.cc
  pmlc/dialect/eltwise/predicates.td
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.td
  pmlc/dialect/tile/program.h
  tile/base/shape.h
  tile/codegen/emitc.cc
  tile/lang/flat.cc
Due: clang-format, cpplint

Disable a crashing test.
  plaidml2/edsl/edsl_test.cc
Due: clang-format, cpplint

Parallelize the block execution on CPU (#736)
  bzl/plaidml.bzl
  bzl/tbb.BUILD
  conda/unix-mkl.yml
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
  plaidml2/bridge/keras/__init__.py
  plaidml2/edsl/edsl_test.cc
  tile/codegen/fuse.cc
  tile/platform/local_machine/cpu_program.cc
  tile/platform/local_machine/cpu_program.h
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
  tile/targets/cpu/executable.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: buildifier, clang-format, cpplint, yapf

Tests work again
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/tests/canonicalize.mlir
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  vendor/mlir/mlir.patch
Due: clang-format, cpplint

Minor printing fix
  vendor/mlir/mlir.patch
Due: none
