Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Fixes
  pmlc/conversion/comp_to_llvm/tests/comp_to_ocl.mlir
  pmlc/dialect/comp/ir/types.cc
  pmlc/rt/CMakeLists.txt
  pmlc/rt/jit_executable.cc
  pmlc/target/intel_gen/tests/dotf.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/access_qualifiers.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/dotf.mlir
  pmlc/target/intel_gen_ocl_spirv/tests/legalize_spirv.mlir
Due: clang-format, cpplint

Fix packaging
  CMakeLists.txt
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Build OpenVINO with Python turned on
  configure
  environment.yml
  plaidml/bridge/openvino/plaidml_builder.cpp
Due: clang-format, cpplint

bump IRv10
  ci/pipeline.yml
Due: none

Build OpenVINO with Python enabled (#1729)
  ci/pipeline.yml
  configure
  environment.yml
  plaidml/bridge/openvino/plaidml_builder.cpp
Due: clang-format, cpplint

Bazel fixes
  plaidml/bridge/keras/BUILD
  pmlc/ast/BUILD
  pmlc/conversion/comp_to_llvm/BUILD
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/affinex/transforms/loop_unroll.cc
  pmlc/dialect/pxa/analysis/affine_constraints.cc
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/convert_mem_op.cc
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/subgroups.cc
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
  pmlc/rt/BUILD
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/lower_affine.cc
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/tools/pmlc-opencl-runner/pmlc-opencl-runner.cc
  pmlc/tools/pmlc-translate/pmlc-translate.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
  pmlc/util/BUILD
  vendor/mlir/linalggen.bzl
  vendor/mlir/mlir.BUILD
  vendor/mlir/tblgen.bzl
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint

Fix deallocation
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/transforms/dealloc_placement.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Clean up
  pmlc/dialect/pxa/transforms/dealloc_placement.cc
  pmlc/dialect/tile/ir/util.cc
  pmlc/target/x86/BUILD
Due: clang-format, cpplint

Cleanups
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  vendor/llvm/llvm.bzl
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

cleanups
  CMakeLists.txt
  pmlc/target/intel_gen/CMakeLists.txt
  vendor/mlir/mlir.BUILD
Due: buildifier

fix macos
  bzl/bazel.rc
Due: none

Disabling simplifying the load expressions because that seems to be causing a runtime error
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
Due: clang-format, cpplint

Updating the tests
  pmlc/target/x86/tests/conv.mlir
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layout_NCHWc16.mlir
Due: none

Adding a test case with data initialized
  pmlc/target/x86/tests/conv_simple.mlir
Due: none

Fix
  plaidml/edsl/edsl.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/ast/ast.cc
  pmlc/ast/ast.h
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tests/loop.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/transforms/dealloc_placement.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Clean up
  plaidml/edsl/edsl.h
  pmlc/ast/builder.cc
  pmlc/conversion/tile_to_pxa/tests/loop.mlir
  pmlc/dialect/pxa/transforms/dealloc_placement.cc
  pmlc/dialect/tile/ir/ops.cc
Due: clang-format, cpplint

Adding a test with a sequence of convolutions
  pmlc/target/x86/tests/conv_sequence.mlir
Due: none

Updating the test
  pmlc/target/x86/tests/conv_simple.mlir
Due: none

Fix macos build
  plaidml/bridge/tensorflow/service/BUILD
  plaidml/bridge/tensorflow/tests/BUILD
Due: none

offset based batch reduce gemm implementation with alloc dealloc operations
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/target/x86/tests/xsmm_brgemm_offs_call.mlir
  pmlc/target/x86/tests/xsmm_call_3x3.mlir
  pmlc/target/x86/tests/xsmm_lowering_3x3.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Return attribute rather than op during folding to make sure type is materialized as output type and not input type
  pmlc/dialect/tile/ir/eltwise.cc
Due: clang-format, cpplint

Trixy
  pmlc/dialect/tile/ir/eltwise.cc
Due: clang-format, cpplint

Add lit test, ignore macos dbg build for now
  ci/plan.yml
  plaidml/bridge/keras/BUILD
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/comp_to_llvm/CMakeLists.txt
  pmlc/dialect/tile/ir/eltwise.cc
  pmlc/dialect/tile/tests/constant-fold.mlir
Due: clang-format, cpplint

Fix
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/uses.cc
  pmlc/dialect/pxa/transforms/dealloc_placement.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/target/x86/BUILD
  pmlc/target/x86/buffer_deallocation.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Temporarily disable deallocation pass
  plaidml/edsl/tests/edsl_test.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fix
  plaidml/edsl/tests/edsl_test.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/buffer_deallocation.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fix a test
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Fix devectorization
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/intel_gen/tests/subgroup_block_ops.mlir
  pmlc/target/intel_gen/tests/subgroup_broadcast.mlir
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

Skip pml-ocl-gen for now
  .exclude
  ci/plan.yml
Due: none

Adding different print statements
  pmlc/target/x86/tests/conv_sequence.mlir
Due: none

Add pxa.store
  pmlc/dialect/pxa/analysis/memref_access.h
  pmlc/dialect/pxa/ir/interfaces.td
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/dialect/pxa/transforms/simplify_arithmetic.cc
Due: clang-format, cpplint

clang-format
  pmlc/dialect/pxa/ir/interfaces.td
  pmlc/dialect/pxa/ir/ops.td
Due: none

Add pxa.store
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
Due: clang-format, cpplint

Reduce redundant methods in td
  pmlc/dialect/pxa/ir/ops.td
Due: none

Add agg in pxa.store
  pmlc/dialect/pxa/ir/ops.td
Due: none

Hack fix to fusion
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Add non-affine store for PXA dialect (#1733)
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
Due: clang-format, cpplint

Add NMS op and tests.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/non_max_suppression.cpp
Due: clang-format, cpplint

Some fix.
  plaidml/bridge/openvino/ops/non_max_suppression.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/non_max_suppression.cpp
Due: clang-format, cpplint
