Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

---
exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    lib/macos_x86_64/.*|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ['-i']
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Disable valgrind for llvm
  vendor/llvm/llvm.BUILD
Due: buildifier

Add basic Stripe reshape
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint

begin implementation of agg_ops
  tile/codegen/jit.cc
Due: clang-format, cpplint

Update scheduler for affine changes
  tile/codegen/test/schedule.cc
Due: clang-format, cpplint

Set out-of-range-access-allowed default=false
  tile/codegen/codegen.proto
Due: clang-format

Disable 64-bit floating point OpenCL tests
  tile/hal/opencl/platform_test.cc
Due: clang-format, cpplint

squelch more compiler warnings related to llvm headers
  tile/codegen/BUILD
Due: none

Improve constant print format & test
  tile/codegen/test/fuse.cc
  tile/stripe/stripe.cc
Due: clang-format, cpplint

use llvm optimization to decomplicate generated block iteration
  tile/codegen/jit.cc
Due: clang-format, cpplint

more tests for one- and two-index operations
  tile/codegen/jit.cc
  tile/codegen/test/jit.cc
Due: clang-format, cpplint

Fix windows build
  tile/stripe/stripe.h
Due: clang-format, cpplint

Fix crash from fusing blocks with constraints
  tile/codegen/fuse.cc
  tile/codegen/test/fuse.cc
  tile/codegen/vm.cc
  tile/lang/builtins.cc
  tile/lib/lib.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

simple malloc/free based buffer allocation (ignores arena offsets)
  tile/codegen/jit.cc
  tile/codegen/test/jit.cc
Due: clang-format, cpplint

Add noreturn to throw_with_trace
  base/util/throw.h
Due: clang-format, cpplint

update travis config
  .travis.yml
Due: none

use extent bazel version
  .travis.yml
Due: none

Tag agg ops with no combo ops
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint

tweak opencl travis config
  .travis.yml
Due: none

use xenial
  .travis.yml
Due: none

advance toolchain
  WORKSPACE
Due: buildifier

use conda
  .travis.yml
Due: none

More travis tweaks
  .travis.yml
Due: none

Update README.md
  README.md
Due: none

Seek to start when reading tilescan cache
  tile/lang/tile_cache.cc
Due: clang-format, cpplint

first license obligation rule added
  bzl/boost.BUILD
  plaidml/BUILD
  plaidml/setup.cfg
Due: buildifier

licenses
  plaidml/BUILD
Due: none

exports_files * boost * easylogging * gmock * minizip * six
  bzl/boost.BUILD
  bzl/easylogging.BUILD
  bzl/gmock.BUILD
  bzl/half.BUILD
  bzl/minizip.BUILD
  bzl/six.BUILD
  plaidml/BUILD
Due: buildifier

switching back to genrule
  bzl/boost.BUILD
  bzl/easylogging.BUILD
  bzl/half.BUILD
  bzl/minizip.BUILD
  plaidml/BUILD
Due: buildifier

Replace printstring with boost::format
  base/util/BUILD
  base/util/json_transfer.cc
  base/util/lookup.h
  base/util/printstring.cc
  base/util/printstring.h
  base/util/transfer_object.h
  tile/codegen/autotile.cc
  tile/codegen/cache.cc
  tile/codegen/deps.cc
  tile/codegen/driver.cc
  tile/codegen/fuse.cc
  tile/codegen/jit.cc
  tile/codegen/partition.cc
  tile/codegen/tile.cc
  tile/codegen/vm.cc
  tile/hal/cuda/emit.cc
  tile/hal/cuda/hal.cc
  tile/lang/bound.cc
  tile/lang/defract.cc
  tile/lang/flat.cc
  tile/lang/gen_stripe.cc
  tile/lang/generate.cc
  tile/lang/ops.h
  tile/lang/reduce.cc
  tile/lang/sym_poly.h
  tile/lang/type.cc
  tile/math/matrix.cc
  tile/math/polynomial.cc
  tile/math/polynomial.h
  tile/stripe/stripe.cc
Due: clang-format, cpplint

include licenses in sdk.tar *move :licenses from dep to src
  plaidml/BUILD
Due: none

more licenses *gmock *jsoncpp *com_google_protobuf *six_archive
  bzl/gmock.BUILD
  bzl/jsoncpp.BUILD
  bzl/protobuf.BUILD
  bzl/six.BUILD
  plaidml/BUILD
Due: buildifier

more licenses * llvm
  plaidml/BUILD
  vendor/llvm/llvm.BUILD
Due: buildifier

Merge pull request #113 from vertexai/bretford-obligations
  bzl/boost.BUILD
  bzl/easylogging.BUILD
  bzl/gmock.BUILD
  bzl/half.BUILD
  bzl/jsoncpp.BUILD
  bzl/minizip.BUILD
  bzl/protobuf.BUILD
  bzl/six.BUILD
  plaidml/BUILD
  plaidml/setup.cfg
  vendor/llvm/llvm.BUILD
Due: buildifier

uppercase.
  vendor/llvm/llvm.BUILD
Due: buildifier

case
  vendor/llvm/llvm.BUILD
Due: buildifier

remove apache 2 notice
  README.md
Due: none

Merge pull request #117 from vertexai/mwesterv-license
  README.md
  vendor/llvm/llvm.BUILD
Due: buildifier
