Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Add more convolution tests (#1221)
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Minor API cleanup to convolution
  networks/oplib/resnet50.cc
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Minor API cleanup to convolution (#1227)
  networks/oplib/resnet50.cc
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

convs
  plaidml/op/op_test.cc
Due: clang-format, cpplint

more convs
  plaidml/op/op_test.cc
Due: clang-format, cpplint

namespaces
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Enable Localize and ResizeTmps passes for x86
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Add tests, fix correctness
  ci/plan.yml
  plaidbench/plaidbench/frontend_keras.py
  plaidml/bridge/keras/backend_test.py
  plaidml/op/op_test.cc
Due: clang-format, cpplint, yapf

add canonicalize and cse passes + cleanup
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Skip failing test
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Add golden for smoke/resnet50
  ci/golden/smoke/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/smoke/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/smoke/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
Due: none

Fix ci
  ci/golden/smoke/mobilenet/keras-plaid-ocl-gp100gl/BATCH_SIZE=1/report.json
  ci/golden/smoke/mobilenet/keras-plaid-ocl-gp100gl/BATCH_SIZE=1/result.json
  ci/golden/smoke/mobilenet/keras-plaid-ocl-gp100gl/BATCH_SIZE=1/result.npy
  ci/golden/smoke/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/smoke/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/smoke/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/plan.yml
Due: none

clean up unit test return type and logging
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/transforms/resize_tmps.cc
Due: clang-format, cpplint

Enable Localize and ResizeTmps passes for x86 (#1229)
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fixes
  ci/harness.py
  ci/plan.yml
  plaidbench/plaidbench/core.py
Due: yapf

WIP
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/rt/xsmm.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/target/x86/xsmm_stencil.cc
Due: clang-format, cpplint

Add AffineVectoreReduce instruction to the pxa layer.
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/ops.mlir
Due: clang-format, cpplint

Added more tests.
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/ops.mlir
Due: none

Templatize a struct and take out some code.
  pmlc/dialect/pxa/ir/ops.cc
Due: clang-format, cpplint

Set the map attribute on the vector_load/store instructions.
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/tests/ops.mlir
Due: clang-format, cpplint

Fixed typos.
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
Due: clang-format, cpplint

Stop recapturing and compare the captured values in the tests.
  pmlc/dialect/pxa/tests/ops.mlir
Due: none

Add AffineVectoreReduce instruction to the pxa layer. (#1231)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/ops.mlir
Due: clang-format, cpplint

Added explicit_padding op
  plaidml/bridge/openvino/src/plaidml_plugin/ops/pad.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.hpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/pad.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Fix stack overflow
  pmlc/conversion/pxa_to_affine/passes.h
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/pxa_to_affine/tests/contract.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/invalid.mlir
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/tests/xsmm_stencil.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/target/x86/xsmm_stencil.cc
Due: clang-format, cpplint

cleaning up
  plaidml/bridge/openvino/src/plaidml_plugin/ops/pad.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/pad.cpp
  plaidml/op/op.h
Due: clang-format, cpplint

Revert #1225
  pmlc/target/x86/xsmm_stencil.cc
Due: clang-format, cpplint

Add tests, fix correctness (#1230)
  ci/golden/smoke/mobilenet/keras-plaid-ocl-gp100gl/BATCH_SIZE=1/report.json
  ci/golden/smoke/mobilenet/keras-plaid-ocl-gp100gl/BATCH_SIZE=1/result.json
  ci/golden/smoke/mobilenet/keras-plaid-ocl-gp100gl/BATCH_SIZE=1/result.npy
  ci/golden/smoke/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/smoke/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/smoke/mobilenet/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/smoke/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/smoke/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/smoke/resnet50/keras-stripe-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/harness.py
  ci/plan.yml
  plaidbench/plaidbench/core.py
  plaidbench/plaidbench/frontend_keras.py
  plaidml/bridge/keras/backend_test.py
  plaidml/op/op_test.cc
  pmlc/conversion/pxa_to_affine/passes.h
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/pxa_to_affine/tests/contract.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/dialect/xsmm/tests/invalid.mlir
  pmlc/dialect/xsmm/tests/roundtrip.mlir
  pmlc/rt/xsmm.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/passes.td
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/tests/xsmm_stencil.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/target/x86/xsmm_stencil.cc
Due: clang-format, cpplint, yapf

cleaning up
  plaidml/op/op.h
Due: clang-format, cpplint

Fixing dynamic padding message
  plaidml/bridge/openvino/src/plaidml_plugin/ops/pad.cpp
Due: clang-format, cpplint

Added explicit_padding op (#1232)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/pad.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.hpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/pad.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Cleanups
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/heatmap.h
  pmlc/target/x86/heatmap_impl.cc
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Cleanups
  pmlc/dialect/pxa/ir/ops.td
Due: none

XSMM & Stencil cleanups (#1233)
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/heatmap.h
  pmlc/target/x86/heatmap_impl.cc
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Add inference tests
  ci/plan.yml
Due: none

Use 4 part tags
  ci/plan.yml
Due: none

Fix indention
  ci/plan.yml
Due: none

move goldens to new tag
  ci/golden/infer/inception_v3/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/inception_v3/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/inception_v3/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet_v2/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/mobilenet_v2/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet_v2/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/vgg19/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/infer/vgg19/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/vgg19/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/xception/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/xception/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
Due: none

Fix?
  ci/golden/smoke/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/smoke/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/smoke/mobilenet/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/golden/smoke/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/report.json
  ci/golden/smoke/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/result.json
  ci/golden/smoke/resnet50/keras-pml-llvm-cpu/BATCH_SIZE=1/result.npy
  ci/harness.py
Due: yapf

Use latest upstream MLIR
  bzl/workspace.bzl
  pmlc/rt/xsmm.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/xsmm_lowering.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint
