Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    bzl/conda.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

ifdef to disable throwing in Windows
  plaidml/edsl/edsl_test.cc
Due: clang-format, cpplint

minor fixes
  docs/usage/edsl.rst
  plaidml/edsl/edsl_doc.cc
  plaidml/edsl/edsl_doc.py
Due: clang-format, cpplint, yapf

Whoops, wrong test
  plaidml/edsl/edsl_test.cc
Due: clang-format, cpplint

Formatting fix
  plaidml/edsl/edsl_test.cc
Due: clang-format, cpplint

tests added back in without output comparison
  plaidml/edsl/BUILD
  plaidml/edsl/edsl_doc.cc
  plaidml/edsl/edsl_doc.py
Due: clang-format, cpplint, yapf

minor fix
  plaidml/edsl/edsl_doc.cc
Due: clang-format, cpplint

Arbitrary precision constants (#876)
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/op/op_test.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/tests/constant-types.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/constant_types.cc
  pmlc/dialect/tile/transforms/passes.h
Due: clang-format, cpplint, yapf

Updates from master
  ci/conda/keras_backend_test.yml
  ci/conda/ml_gpu.yml
  ci/conda/tensorflow-dnnl.yml
  ci/conda/tensorflow.yml
  conda/unix.yml
  conda/windows.yml
Due: none

minor fixes
  docs/usage/edsl.rst
  plaidml/edsl/edsl_doc.cc
Due: clang-format, cpplint

add placeholder API for python
  demos/mlsys_2020/demo.ipynb
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl_test.py
Due: yapf

clean up
  docs/usage/edsl.rst
  plaidml/edsl/BUILD
  plaidml/edsl/edsl_doc.cc
  plaidml/edsl/edsl_doc.py
Due: clang-format, cpplint, yapf

warning dropped
  plaidml/edsl/edsl_doc.cc
  plaidml/edsl/edsl_doc.py
Due: clang-format, cpplint, yapf

fixes
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl_test.py
Due: yapf

fixes
  plaidml/edsl/__init__.py
Due: yapf

removing float.h include adding warning comments back in
  plaidml/edsl/edsl_doc.cc
  plaidml/edsl/edsl_doc.py
Due: clang-format, cpplint, yapf

better tests
  plaidml/edsl/edsl_test.py
Due: yapf

Avoid running Orc JIT on WIN32
  networks/scitile/uw_toroidal_shell/BUILD
  plaidml/core/BUILD
  plaidml/edsl/BUILD
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/op/BUILD
Due: clang-format, cpplint, yapf

Add Placeholder API for Python (#891)
  demos/mlsys_2020/demo.ipynb
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl_test.py
Due: yapf

Fix
  plaidml/edsl/edsl_test.py
Due: yapf

Updates from master (#890)
  ci/conda/keras_backend_test.yml
  ci/conda/ml_gpu.yml
  ci/conda/tensorflow-dnnl.yml
  ci/conda/tensorflow.yml
  conda/unix.yml
  conda/windows.yml
  networks/scitile/uw_toroidal_shell/BUILD
  plaidml/core/BUILD
  plaidml/edsl/BUILD
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/op/BUILD
Due: clang-format, cpplint, yapf

code examples for doc code snippets (#888)
  docs/index.rst
  docs/usage/edsl.rst
  plaidml/edsl/BUILD
  plaidml/edsl/edsl_doc.cc
  plaidml/edsl/edsl_doc.py
Due: clang-format, cpplint, yapf

Minor doc fixes
  docs/api/core.rst
  docs/api/edsl.rst
  docs/usage/edsl.rst
  plaidml/core/__init__.py
  plaidml/edsl/BUILD
  plaidml/edsl/edsl_docs.cc
  plaidml/edsl/edsl_docs.py
Due: clang-format, cpplint, yapf

Minor doc fixes (#892)
  docs/api/core.rst
  docs/api/edsl.rst
  docs/usage/edsl.rst
  plaidml/core/__init__.py
  plaidml/edsl/BUILD
  plaidml/edsl/edsl_docs.cc
  plaidml/edsl/edsl_docs.py
Due: clang-format, cpplint, yapf

Adding resnet50_v2 and resnext50 to plaidbench
  plaidbench/plaidbench.py
  plaidbench/plaidbench/frontend_keras.py
  plaidbench/plaidbench/networks/keras/resnet50_v2.py
  plaidbench/plaidbench/networks/keras/resnext50.py
Due: yapf

Adding resnet50_v2 and resnext50 to plaidbench (#893)
  plaidbench/plaidbench.py
  plaidbench/plaidbench/frontend_keras.py
  plaidbench/plaidbench/networks/keras/resnet50_v2.py
  plaidbench/plaidbench/networks/keras/resnext50.py
Due: yapf

Fix lowering of broadcasted shapes
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

Added lit tests for broadcast
  plaidml/edsl/edsl_test.py
  pmlc/conversion/tile_to_pxa/tests/broadcast.mlir
Due: yapf

Fancy regex for mlir test
  pmlc/conversion/tile_to_pxa/tests/broadcast.mlir
Due: none

Fix lowering of broadcasted shapes (#894)
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  pmlc/conversion/tile_to_pxa/tests/broadcast.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

precommit hook
  .pre-commit-config.yaml
  environment-windows.yml
  environment.yml
Due: none

precommit hook (#895)
  .pre-commit-config.yaml
  environment-windows.yml
  environment.yml
Due: none

WIP
  pmlc/conversion/stdx_to_llvm/BUILD
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/dialect/stdx/BUILD
  pmlc/dialect/stdx/tests/simple.mlir
Due: clang-format, cpplint

correctly inherit environment variables (#887)
  tools/heatmap/build_defs.bzl
Due: buildifier

Added bit-right for unsigned dtype
  plaidml/edsl/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tests/bit_right_scalar.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Added bit-right for unsigned dtype (#897)
  plaidml/edsl/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tests/bit_right_scalar.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

WIP
  pmlc/conversion/stdx_to_llvm/BUILD
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.h
  pmlc/conversion/stdx_to_llvm/tests/BUILD
  pmlc/conversion/stdx_to_llvm/tests/atomic_rmw.mlir
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/tools/pmlc-opt/BUILD
Due: clang-format, cpplint

Autotiling support
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/transforms/.autotile.h.swp
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/autotile.cc
  pmlc/dialect/pxa/transforms/autotile.h
  pmlc/dialect/pxa/transforms/registration.cc
Due: clang-format, cpplint

Fixed linux compiler warnings (one of which was actually a bug, thanks Linux), also apparently triggered reformating
  pmlc/dialect/pxa/transforms/autotile.h
Due: clang-format, cpplint
