Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Add Cmake stuff to gitignore
  .gitignore
Due: none

move tile::LayerOp to its own layer dialect
  pmlc/BUILD
  pmlc/ast/builder.cc
  pmlc/dialect/CMakeLists.txt
  pmlc/dialect/layer/BUILD
  pmlc/dialect/layer/CMakeLists.txt
  pmlc/dialect/layer/ir/BUILD
  pmlc/dialect/layer/ir/CMakeLists.txt
  pmlc/dialect/layer/ir/ops.cc
  pmlc/dialect/layer/ir/ops.h
  pmlc/dialect/layer/ir/ops.td
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/inline_layers.cc
Due: clang-format, cpplint

WIP Partially fix FP16
  plaidml/bridge/openvino/plaidml_builder.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/batch_norm.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/concat.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convert.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/lrn.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/minimum_maximum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reshape.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reverse.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/split.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/variadic_split.cpp
Due: clang-format, cpplint

Formatting & pywin32 ref change
  .bazelignore
  .gitignore
  environment-windows.yml
Due: none

move the inline_layers pass into the new layer dialect (from tile dialect)
  pmlc/BUILD
  pmlc/CMakeLists.txt
  pmlc/all_dialects.cc
  pmlc/ast/BUILD
  pmlc/ast/CMakeLists.txt
  pmlc/ast/builder.cc
  pmlc/dialect/layer/BUILD
  pmlc/dialect/layer/CMakeLists.txt
  pmlc/dialect/layer/ir/BUILD
  pmlc/dialect/layer/ir/ops.cc
  pmlc/dialect/layer/transforms/BUILD
  pmlc/dialect/layer/transforms/CMakeLists.txt
  pmlc/dialect/layer/transforms/inline_layers.cc
  pmlc/dialect/layer/transforms/pass_detail.h
  pmlc/dialect/layer/transforms/passes.h
  pmlc/dialect/layer/transforms/passes.td
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/passes.td
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/CMakeLists.txt
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/BUILD
  pmlc/target/intel_gen_ocl_spirv/CMakeLists.txt
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

disambiguate: LayerOp is a LayerDialect op, BoxOp is now the container op
  pmlc/ast/builder.cc
  pmlc/dialect/layer/ir/ops.cc
  pmlc/dialect/layer/ir/ops.td
  pmlc/dialect/layer/transforms/inline_layers.cc
Due: clang-format, cpplint

Try unsetting JAVA_HOME for windows
  ci/util.py
Due: yapf

Revert "Try unsetting JAVA_HOME for windows"
  ci/util.py
Due: yapf

remove spurious reference to nonexistent layer dialect tests directory
  pmlc/BUILD
Due: none

Openvino Mish activation via eltwise implementation
  plaidml/bridge/openvino/ops/mish.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
Due: clang-format, cpplint

update tests, register the layer-inline-layer pass
  plaidml/edsl/tests/edsl_test.cc
  pmlc/BUILD
  pmlc/all_passes.h
  pmlc/ast/builder.cc
  pmlc/dialect/layer/ir/ops.td
  pmlc/dialect/layer/tests/BUILD
  pmlc/dialect/layer/tests/inline_layers.mlir
  pmlc/dialect/layer/transforms/inline_layers.cc
  pmlc/dialect/tile/tests/roundtrip.mlir
Due: clang-format, cpplint

Openvino Mish activation via eltwise implementation (#1566)
  plaidml/bridge/openvino/ops/mish.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
Due: clang-format, cpplint

Openvino SoftPlus activation via eltwise
  plaidml/bridge/openvino/ops/softplus.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
Due: clang-format, cpplint

Adjust deps for subprojects
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/plugin/CMakeLists.txt
Due: none

install nomkl for windows
  environment-windows.yml
Due: none

nomkl take 2
  environment-windows.yml
Due: none

set KMP_DUPLICATE_LIB_OK=TRUE for windows build
  ci/plan.yml
Due: none

set KMP_DUPLICATE_LIB_OK=TRUE in bazel.rc windows build
  bzl/bazel.rc
Due: none

remove KMP_DUPLICATE_LIB_OK from plan.yml and environment-windows.yml
  ci/plan.yml
  environment-windows.yml
Due: none

workaround for multiple openmp loadings (#1569)
  bzl/bazel.rc
Due: none

Openvino SoftPlus activation via eltwise (#1567)
  plaidml/bridge/openvino/ops/softplus.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
Due: clang-format, cpplint

Extract Layer operation from tile dialect into its own dialect (#1564)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/BUILD
  pmlc/CMakeLists.txt
  pmlc/all_dialects.cc
  pmlc/all_passes.h
  pmlc/ast/BUILD
  pmlc/ast/CMakeLists.txt
  pmlc/ast/builder.cc
  pmlc/dialect/CMakeLists.txt
  pmlc/dialect/layer/BUILD
  pmlc/dialect/layer/CMakeLists.txt
  pmlc/dialect/layer/ir/BUILD
  pmlc/dialect/layer/ir/CMakeLists.txt
  pmlc/dialect/layer/ir/ops.cc
  pmlc/dialect/layer/ir/ops.h
  pmlc/dialect/layer/ir/ops.td
  pmlc/dialect/layer/tests/BUILD
  pmlc/dialect/layer/tests/inline_layers.mlir
  pmlc/dialect/layer/transforms/BUILD
  pmlc/dialect/layer/transforms/CMakeLists.txt
  pmlc/dialect/layer/transforms/inline_layers.cc
  pmlc/dialect/layer/transforms/pass_detail.h
  pmlc/dialect/layer/transforms/passes.h
  pmlc/dialect/layer/transforms/passes.td
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/roundtrip.mlir
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/passes.td
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/CMakeLists.txt
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/BUILD
  pmlc/target/intel_gen_ocl_spirv/CMakeLists.txt
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/CMakeLists.txt
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Adjust deps for subprojects (#1568)
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/plugin/CMakeLists.txt
Due: none

pin theano
  ci/conda/keras_backend_test.yml
  ci/conda/ml_gpu.yml
Due: none

pin theano to 1.0.4
  ci/conda/keras_backend_test.yml
  ci/conda/ml_gpu.yml
Due: none

bump bazel to 1.1
  .bazelversion
Due: none

add m2w64-toolchain to conda
  ci/conda/keras_backend_test.yml
Due: none

add mkl-service to windows-environment.yml
  environment-windows.yml
Due: none

bazel 1.0.x
  .bazelversion
Due: none

revert bazel to 1.0.0
  .bazelversion
Due: none

fix
  environment-windows.yml
Due: none

bazelversion 1.0.1
  .bazelversion
Due: none

revert
  ci/conda/keras_backend_test.yml
  environment-windows.yml
Due: none

remove gfx804 windows tests
  ci/plan.yml
Due: none

Cast result branches of select
  plaidml/bridge/openvino/ops/logical_not.cpp
  plaidml/bridge/openvino/ops/prelu.cpp
  plaidml/bridge/openvino/ops/select.cpp
Due: clang-format, cpplint

remove windows artifact download
  ci/buildkite.py
Due: yapf

Add ShapeOf with skipped test
  plaidml/bridge/openvino/ops/shape_of.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/shape_of.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: clang-format, cpplint

Fix build issues on master (#1563)
  .bazelignore
  .bazelversion
  .gitignore
  bzl/workspace.bzl
  ci/buildkite.py
  ci/conda/keras_backend_test.yml
  ci/conda/ml_gpu.yml
  ci/plan.yml
  environment-windows.yml
Due: buildifier, yapf

Disable failing FP16 tests
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: clang-format, cpplint

Jacobian Op (#1549)
  networks/scitile/pd_solve/BUILD
  networks/scitile/pd_solve/gradtest.py
  plaidml2/edsl/__init__.py
  plaidml2/edsl/autodiff.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/plaidml_link.jsonnet
  tile/lang/ast/BUILD
  tile/lang/ast/jacobian.cc
  tile/lang/ast/jacobian.h
Due: clang-format, cpplint, yapf
