Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Fix windows
  vendor/mlir/mlir.BUILD
Due: buildifier

Bump pointer
  bzl/workspace.bzl
Due: buildifier

Fixed multiline formating
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/sqrt.cpp
Due: clang-format, cpplint

Added sqrt op (#1150)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sqrt.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/sqrt.cpp
Due: clang-format, cpplint

slice op changes
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint

squared difference op
  plaidml/bridge/openvino/src/plaidml_plugin/ops/squared_difference.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/squared_difference.cpp
Due: clang-format, cpplint

updated openvino reference
  vendor/openvino/workspace.bzl
Due: buildifier

styling fixes
  plaidml/bridge/openvino/src/plaidml_plugin/ops/squared_difference.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/squared_difference.cpp
Due: clang-format, cpplint

fixed openvino reference
  vendor/openvino/workspace.bzl
Due: buildifier

Add BatchToSpace to OpenVINO plugin (#1114)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/batch_to_space.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.hpp
Due: clang-format, cpplint

squared difference op (#1155)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/squared_difference.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/squared_difference.cpp
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint

Improve slice API
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

comment
  plaidml/op/op_test.cc
Due: clang-format, cpplint

WIP: OpenVino plugin power, prelu, one_hot initial commit still working on tests
  plaidml/bridge/openvino/src/plaidml_plugin/ops/one_hot.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/power.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/prelu.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/one_hot.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/power.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/prelu.cpp
Due: clang-format, cpplint

WIP
  networks/oplib/resnet50.cc
  plaidml/exec/ffi.cc
  pmlc/compiler/BUILD
  pmlc/compiler/executable.cc
  pmlc/compiler/executable.h
  pmlc/compiler/program.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

prelu test passing power test fails at eltwise.pow error one_hot indices inptu not found
  plaidml/bridge/openvino/src/plaidml_plugin/ops/prelu.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/one_hot.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/prelu.cpp
Due: clang-format, cpplint

minor fix
  plaidml/bridge/openvino/src/plaidml_plugin/ops/one_hot.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/one_hot.cpp
Due: clang-format, cpplint

build fix :D
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: none

Added sign op
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sign.cpp
Due: clang-format, cpplint

Added negative op
  plaidml/bridge/openvino/src/plaidml_plugin/ops/negative.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/negative.cpp
Due: clang-format, cpplint

Made use of autobroadcasting
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sign.cpp
Due: clang-format, cpplint

Data type correction
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/negative.cpp
Due: clang-format, cpplint

slice op changes (#1154)
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Fix conv initializer lists
  plaidml/op/op.h
Due: clang-format, cpplint

Simplify template specification
  networks/oplib/resnet50.cc
Due: clang-format, cpplint

Add OpenVINO plugin ConvolutionBackpropData op
  plaidml/bridge/openvino/src/plaidml_plugin/ops/convolution_backprop_data.cpp
  plaidml/op/__init__.py
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint, yapf

Make use of newer, sleeker API
  plaidml/bridge/openvino/src/plaidml_plugin/ops/convolution_backprop_data.cpp
Due: clang-format, cpplint

Turn on ConvBprop tests
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
Due: clang-format, cpplint

Added sign op (#1158)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/sign.cpp
Due: clang-format, cpplint

Simplification
  plaidml/bridge/openvino/src/plaidml_plugin/ops/negative.cpp
Due: clang-format, cpplint

Implement as_int_tuple_or_empty
  plaidml/edsl/edsl.h
  plaidml/op/lib/ops.cc
Due: clang-format, cpplint

Added negative op (#1159)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/negative.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/negative.cpp
Due: clang-format, cpplint

depth input fix
  plaidml/bridge/openvino/src/plaidml_plugin/ops/one_hot.cpp
Due: clang-format, cpplint

Add OpenVINO plugin ConvolutionBackpropData op (#1149)
  networks/oplib/resnet50.cc
  plaidml/bridge/openvino/src/plaidml_plugin/ops/convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convolution_backprop_data.cpp
  plaidml/edsl/edsl.h
  plaidml/op/__init__.py
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint, yapf

Add OpenVINO plugin GroupConvolutionBackpropData
  plaidml/bridge/openvino/src/plaidml_plugin/ops/group_convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: clang-format, cpplint

Add OpenVINO plugin GroupConvolution
  plaidml/bridge/openvino/src/plaidml_plugin/ops/group_convolution.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: clang-format, cpplint

Add OpenVINO plugin grouped convolution (#1153)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/group_convolution.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/group_convolution_backprop_data.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: clang-format, cpplint

Add OpenVINO op SpaceToDepth
  plaidml/bridge/openvino/src/plaidml_plugin/ops/depth_to_space.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/space_to_depth.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/space_to_depth.cpp
Due: clang-format, cpplint
