Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Skip sign gradient test temporarily
  plaidml/keras/backend_test.py
Due: yapf

Fix for Metal compile error handling
  plaidml/base/status.cc
  tile/hal/metal/hal.cc
Due: clang-format, cpplint

Searching for lib added
  plaidml/__init__.py
  plaidml/settings.py
Due: yapf

Skip vectorization of large data types
  tile/lang/generate.cc
Due: clang-format, cpplint

add slack workspace to readme
  README.md
Due: none

Add .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix invocation of external C-defined fp intrinsic functions
  plaidml/keras/backend_test.py
  tile/targets/cpu/jit.cc
  tile/targets/cpu/test/jit.cc
Due: clang-format, cpplint, yapf

Use seed param for random_normal_variable
  plaidml/keras/backend.py
Due: yapf

Add missing @SleepProgger commit and restore missing test
  plaidml/tf_test.py
Due: yapf

Add tf_test to standard test suite
  plaidml/keras/BUILD
  plaidml/keras/tf_test.py
Due: yapf

Bring back ref_inouts function
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

help a few more cases from backend_test to pass with STRIPE_JIT
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint

AMD config and opt passes for stripe
  tile/codegen/alias.cc
  tile/codegen/autotile.cc
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/codegen.proto
  tile/codegen/dce.cc
  tile/codegen/fuse.cc
  tile/codegen/pad.cc
  tile/codegen/subgroup.cc
  tile/codegen/test/cache.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/load_index.cc
  tile/codegen/thread_inner.cc
  tile/lang/gen_stripe.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/emitsem.h
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/intel_gen9_metal.jsonnet
Due: clang-format, cpplint
