Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Improve programmability of Transfer Learning Demo
  demos/TransferLearning/README.md
  demos/TransferLearning/TransferLearningDemo.ipynb
  demos/TransferLearning/TransferLearningDemo.py
Due: yapf

Extend EDSL common softmax to arbitrary axis
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

Do numpy conversion to tuples in Value
  plaidml2/edsl/__init__.py
  plaidml2/op/__init__.py
Due: yapf

Add missing contraction ops
  plaidml2/edsl/ffi.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint

Throw on invalid shape request
  plaidml2/core/__init__.py
  plaidml2/edsl/edsl_test.py
  plaidml2/edsl/ffi.cc
Due: clang-format, cpplint, yapf

EDSL convert backend tests
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/edsl_test.py
Due: yapf

Do numpy conversion to tuples in Value (#470)
  plaidml2/edsl/__init__.py
  plaidml2/op/__init__.py
Due: yapf

Add missing contraction ops (#471)
  plaidml2/edsl/ffi.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint

Add Tensor::add_constraints
  plaidml2/bridge/pytorch/compiler.cc
  plaidml2/edsl/__init__.py
  plaidml2/edsl/edsl.h
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  tile/lang/ast/ast.h
Due: clang-format, cpplint, yapf

EDSL backend_tests
  plaidml2/bridge/keras/backend_test.py
Due: yapf

EDSL convert backend_tests
  plaidml2/bridge/keras/backend_test.py
Due: yapf

EDSL convert backend_tests fix
  plaidml2/bridge/keras/backend_test.py
Due: yapf

EDSL move tests to edsl_test.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/edsl_test.py
Due: yapf

Add Tensor::add_constraints (#472)
  plaidml2/bridge/pytorch/compiler.cc
  plaidml2/edsl/__init__.py
  plaidml2/edsl/edsl.h
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  tile/lang/ast/ast.h
Due: clang-format, cpplint, yapf

Support TensorDim op arguments
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  plaidml2/op/op.h
  plaidml2/op/op_test.cc
Due: clang-format, cpplint

Fix linker failed
  plaidml/BUILD
Due: none

Support TensorDim op arguments (#473)
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  plaidml2/op/op.h
  plaidml2/op/op_test.cc
Due: clang-format, cpplint

Add click package in dependencies
  conda/unix.yml
  conda/windows.yml
Due: none

make plots show inline at initial notebook startup
  demos/TransferLearning/TransferLearningDemo.ipynb
  demos/TransferLearning/TransferLearningDemo.py
Due: yapf

backend cmdline option for demo
  demos/TransferLearning/TransferLearningDemo.py
Due: yapf

update docs
  demos/TransferLearning/README.md
  demos/TransferLearning/TransferLearningDemo.py
Due: yapf

update docs
  demos/TransferLearning/TransferLearningDemo.py
Due: yapf

update docs
  demos/TransferLearning/README.md
Due: none

EDSL tests add test runs
  plaidml2/edsl/BUILD
  plaidml2/edsl/edsl_test.py
Due: yapf

EDSL tests minor changes
  plaidml2/edsl/edsl_test.py
Due: yapf

EDSL convert backend tests
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Programmability updates for Transfer Learning Demo (#478)
  demos/TransferLearning/README.md
  demos/TransferLearning/TransferLearningDemo.ipynb
  demos/TransferLearning/TransferLearningDemo.py
Due: yapf

Downgrade to keras 2.2.4
  conda/unix.yml
  conda/windows.yml
Due: none

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

