Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

fix bug, under-reporting execution time with examples not equal 1
  plaidbench/plaidbench/core.py
  plaidbench/plaidbench/frontend_keras.py
Due: yapf

Use new toolchain registration
  BUILD
  WORKSPACE
  bzl/bazel.rc
  plaidml/BUILD
  toolchain/BUILD
  toolchain/build_defs.bzl
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/g++
  toolchain/crosstool_ng/linux_x86_64.BUILD
  vendor/llvm/BUILD
  vendor/opencl_icd_loader/opencl_icd_loader.BUILD
Due: buildifier

return exec time from invoke (not stopwatch)
  plaidbench/plaidbench/frontend_keras.py
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint, yapf

Starting plaidml_exec
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
  pmlc/dialect/abi/ir/loop_op.cc
  pmlc/dialect/abi/ir/ops.td
Due: clang-format, cpplint

route OpenCL and Vulkan inference time to plaidbench (#1488)
  plaidbench/plaidbench/core.py
  plaidbench/plaidbench/frontend_keras.py
  plaidml/bridge/keras/__init__.py
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
  plaidml/exec/ffi.cc
  plaidml/exec/ffi.h
  pmlc/rt/device.h
  pmlc/rt/executable.h
  pmlc/rt/jit_executable.cc
  pmlc/rt/opencl/opencl_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.cc
Due: clang-format, cpplint, yapf

adjust resnet50 workload threshold for pml-ocl/vk-gen to .33
  ci/plan.yml
Due: none

add smoke workload to pml-ocl-gen platform (#1486)
  ci/plan.yml
Due: none

Slouching towards plaidml_exec
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
Due: clang-format, cpplint

plaidml_exec compiles
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fix
  pmlc/conversion/comp_to_llvm/comp_to_vulkan.cc
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

dropping --examples to 4
  ci/plan.yml
Due: none

Add resnet50 workload to pml-ocl-gen platform (#1485)
  ci/golden/infer/resnet50/pml-ocl-gen/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/pml-ocl-gen/BATCH_SIZE=1/result.npy
  ci/plan.yml
Due: none

update pml-llvm-cpu goldens with last v0 master
  ci/golden/infer/resnet50/pml-llvm-cpu/BATCH_SIZE=1/report.json
Due: none

Tags
  toolchain/BUILD
Due: none

Set default
  toolchain/BUILD
Due: none

update pml-llvm-cpu goldens with last v0 master (#1498)
  ci/golden/infer/resnet50/pml-llvm-cpu/BATCH_SIZE=1/report.json
Due: none

Remove ifdefs
  networks/oplib/run.cc
  plaidml/testenv.cc
Due: clang-format, cpplint

Replace gpu-to-vulkan pass with comp-to-vulkan pass (#1484)
  pmlc/conversion/comp_to_llvm/BUILD
  pmlc/conversion/comp_to_llvm/comp_to_vulkan.cc
  pmlc/conversion/comp_to_llvm/passes.h
  pmlc/conversion/comp_to_llvm/passes.td
  pmlc/conversion/gpu/BUILD
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/conversion/gpu/passes.td
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/wrappers.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/tests/dotf.mlir
  pmlc/target/intel_gen/tests/e2e.mlir
  pmlc/target/intel_gen/tests/intermediate.mlir
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

port compute bound cost model to V1 subgroup transformation
  pmlc/dialect/pxa/transforms/subgroups.cc
Due: clang-format, cpplint

fix bug, void return type
  pmlc/dialect/pxa/transforms/subgroups.cc
Due: clang-format, cpplint

Basic ABI functions in place
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
  pmlc/dialect/abi/ir/ops.td
  pmlc/dialect/abi/transforms/add_abi_loop.cc
Due: clang-format, cpplint

Minor renaming
  pmlc/dialect/abi/transforms/BUILD
  pmlc/dialect/abi/transforms/lower_abi.cc
  pmlc/dialect/abi/transforms/lower_to_abi.cc
  pmlc/dialect/abi/transforms/passes.h
  pmlc/dialect/abi/transforms/passes.td
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Denormalize constants
  pmlc/dialect/abi/transforms/BUILD
  pmlc/dialect/abi/transforms/denormalize_constants.cc
  pmlc/dialect/abi/transforms/passes.h
  pmlc/dialect/abi/transforms/passes.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Adjust the OMP threading for better perff.
  pmlc/target/x86/pipeline.cc
  vendor/openmp/openmp.BUILD
Due: buildifier, clang-format, cpplint

some minor code improvements
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

Add device arg if missing
  pmlc/dialect/abi/transforms/lower_to_abi.cc
Due: clang-format, cpplint

Add loop canonicalizer
  pmlc/dialect/abi/ir/loop_op.cc
  pmlc/dialect/abi/ir/ops.td
  pmlc/dialect/abi/transforms/BUILD
  pmlc/dialect/abi/transforms/denormalize_constants.cc
  pmlc/dialect/abi/transforms/passes.h
  pmlc/dialect/abi/transforms/passes.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Use ConstantLike for determining constants
  pmlc/dialect/abi/ir/loop_op.cc
Due: clang-format, cpplint

Remove fake device passthrough
  pmlc/dialect/abi/transforms/lower_to_abi.cc
Due: clang-format, cpplint

Remove use of wrapper function names
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint

Update JIT ABI
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint

Readded accidentally deleted character.
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fixed a not assigned return from a call.
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Tweaks -- passes LLVM dot test
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint

Mark constant program args with `tile.const` attr
  pmlc/ast/builder.cc
Due: clang-format, cpplint

Add plaidml_program_save
  plaidml/BUILD
  plaidml/core/__init__.py
  plaidml/core/core.h
  plaidml/core/ffi.cc
  plaidml/core/ffi.h
  plaidml/core/internal.h
  plaidml/plaidml_link.jsonnet
  pmlc/BUILD
  pmlc/compiler/program.cc
  pmlc/compiler/program.h
  pmlc/compiler/registry.cc
  pmlc/compiler/registry.h
  pmlc/target/demo/BUILD
  pmlc/target/demo/passes.h
  pmlc/target/demo/pipeline.cc
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/register.cc
  pmlc/util/buffer.h
Due: clang-format, cpplint, yapf

Fix build
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/x86/register.cc
Due: clang-format, cpplint

Mark constant program args with `tile.const` attr (#1504)
  pmlc/ast/builder.cc
Due: clang-format, cpplint

Support const args and empty networks
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
  pmlc/rt/jit_executable.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Use global singleton to represent empty network
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

