Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Fixes for windows
  pmlc/rt/BUILD
  pmlc/rt/memref.h
  pmlc/rt/xsmm.cc
Due: clang-format, cpplint

update vulkan wrappers
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/wrappers.cc
  pmlc/tools/pmlc-vulkan-runner/addf.mlir
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

use linker script for vulkan_rt
  pmlc/rt/vulkan/BUILD
  pmlc/rt/vulkan/vulkan_rt.jsonnet
Due: none

Import/Export symbols on windows
  pmlc/rt/vulkan/BUILD
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

WIP
  networks/oplib/resnet50.mlir
  plaidml/core/ffi.cc
  plaidml/edsl/ffi.cc
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/BUILD
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/eltwise/ir/dialect.h
  pmlc/dialect/eltwise/ir/ops.h
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/eltwise/ir/predicates.td
  pmlc/dialect/eltwise/ir/types.cc
  pmlc/dialect/eltwise/ir/types.h
  pmlc/dialect/eltwise/ir/util.cc
  pmlc/dialect/eltwise/ir/util.h
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/ir/builder.td
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/build-cion.mlir
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/tests/constant-types.mlir
  pmlc/dialect/tile/tests/padding.mlir
  pmlc/dialect/tile/transforms/constant_types.cc
  pmlc/dialect/tile/transforms/passes.h
  pmlc/util/enums.h
  pmlc/util/enums.td
Due: clang-format, cpplint, yapf

Cast scalar constants for affine.store
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Integrated the heat map into the stencil pass (#975)
  environment-windows.yml
  pmlc/dialect/pxa/tests/stencil.mlir
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/heatmap.h
  pmlc/target/x86/heatmap.tpl.cc
  pmlc/target/x86/heatmap_impl.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Cast scalar constants for affine.store (#981)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

Finish
  networks/oplib/resnet50.mlir
  plaidml/core/ffi.cc
  plaidml/core/internal.h
  plaidml/edsl/ffi.cc
  plaidml/edsl/tests/edsl_test.cc
  plaidml/edsl/tests/edsl_test.py
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/tests/bit_right_scalar.mlir
  pmlc/conversion/tile_to_pxa/tests/broadcast.mlir
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/predicates.td
  pmlc/dialect/eltwise/ir/util.cc
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/ir/base.td
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/build-cion.mlir
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/tests/constant-types.mlir
  pmlc/dialect/tile/tests/padding.mlir
  pmlc/dialect/tile/transforms/constant_types.cc
Due: clang-format, cpplint, yapf

Cleanups
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/eltwise/ir/dialect.h
  pmlc/dialect/eltwise/ir/ops.h
  pmlc/dialect/eltwise/ir/predicates.td
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/transforms/passes.h
Due: clang-format, cpplint

Cleanup
  pmlc/util/enums.h
  pmlc/util/enums.td
Due: clang-format, cpplint

Compatibilty with older C++ compilers
  plaidml/edsl/autodiff.h
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

Compatibilty with older C++ compilers (#982)
  plaidml/edsl/autodiff.h
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

Enabled multi-module calls with updated mlir vulkan runtime
  plaidml/edsl/tests/BUILD
  plaidml/testenv.cc
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
  pmlc/conversion/gpu/gpu_to_vulkan_launch.cc
  pmlc/conversion/gpu/lowering.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/conversion/gpu/vulkan.cc
  pmlc/conversion/gpu/vulkan_launch_to_vulkan_calls.cc
  pmlc/rt/vulkan/vulkan_rt.jsonnet
  pmlc/rt/vulkan/wrappers.cc
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/tests/conv2d.mlir
  pmlc/target/intel_gen/tests/dotf.mlir
  pmlc/target/intel_gen/tests/e2e.mlir
  pmlc/target/intel_gen/tests/intermediate.mlir
  pmlc/tools/pmlc-vulkan-runner/addf.mlir
Due: clang-format, cpplint

WIP
  plaidml/edsl/tests/BUILD
  plaidml/testenv.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/tests/intermediate.mlir
Due: clang-format, cpplint

Pass CI tests
  plaidml/edsl/tests/BUILD
  pmlc/target/intel_gen/BUILD
Due: none

Integration of XSSM lowering
  plaidml/edsl/tests/edsl_test.cc
  plaidml/plaidml_link.jsonnet
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/rt/xsmm.cc
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/target/x86/xsmm_lowering.h
Due: clang-format, cpplint

Bug fixes
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
Due: none

Cleanup
  pmlc/dialect/pxa/tests/stencil.mlir
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Signed/unsigned errors on linux
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Fix to windows ifdef positions
  pmlc/rt/xsmm.cc
Due: clang-format, cpplint

Fix symbol resolution on linux
  pmlc/compiler/compiler.cc
Due: clang-format, cpplint

Fix
  pmlc/compiler/compiler.cc
Due: clang-format, cpplint

Jeremy mlir xssm (#983)
  plaidml/edsl/tests/edsl_test.cc
  plaidml/plaidml_link.jsonnet
  pmlc/compiler/compiler.cc
  pmlc/dialect/pxa/tests/stencil.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/rt/xsmm.cc
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_lowering.mlir
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/target/x86/xsmm_lowering.h
Due: clang-format, cpplint

fix string conversion of DType enums
  plaidml/core/core.h
Due: clang-format, cpplint

Moved (un)initVulkan to host function
  plaidml/testenv.cc
  pmlc/conversion/gpu/gpu_to_vulkan_launch.cc
  pmlc/conversion/gpu/vulkan_launch_to_vulkan_calls.cc
Due: clang-format, cpplint

fix string conversion of DType enums (#984)
  plaidml/core/core.h
Due: clang-format, cpplint

WIP checkpoint
  pmlc/conversion/gpu/gpu_to_vulkan_launch.cc
  pmlc/conversion/gpu/vulkan_launch_to_vulkan_calls.cc
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

Fixed a bug
  pmlc/conversion/gpu/vulkan_launch_to_vulkan_calls.cc
  pmlc/rt/vulkan/vulkan_rt.jsonnet
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

Code refactoring
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
Due: clang-format, cpplint

Add a pass that bounds checks the Load and Store Ops operations
  pmlc/dialect/stdx/BUILD
  pmlc/dialect/stdx/tests/boundscheck.mlir
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/boundscheck.cc
  pmlc/dialect/stdx/transforms/boundscheck.h
  pmlc/dialect/stdx/transforms/passes.h
  pmlc/dialect/stdx/transforms/registration.cc
Due: clang-format, cpplint

Vulkan rt multi-kernel support(WIP)
  plaidml/testenv.cc
  pmlc/conversion/gpu/gpu_to_vulkan_launch.cc
  pmlc/conversion/gpu/vulkan_launch_to_vulkan_calls.cc
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/vulkan_rt.jsonnet
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/rt/vulkan/wrappers.cc
Due: clang-format, cpplint

Split tests into different files.
  pmlc/dialect/stdx/tests/boundscheck-load.mlir
  pmlc/dialect/stdx/tests/boundscheck-store.mlir
Due: none

Add a pass that bounds checks the Load and Store Ops operations (#986)
  pmlc/dialect/stdx/BUILD
  pmlc/dialect/stdx/tests/boundscheck-load.mlir
  pmlc/dialect/stdx/tests/boundscheck-store.mlir
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/boundscheck.cc
  pmlc/dialect/stdx/transforms/boundscheck.h
  pmlc/dialect/stdx/transforms/passes.h
  pmlc/dialect/stdx/transforms/registration.cc
Due: clang-format, cpplint

Improve windows support
  BUILD
  bzl/bazel.rc
  conda/unix.BUILD
  conda/windows.BUILD
  conda/windows.yml
  tools/conda_run/BUILD
  tools/conda_run/conda_windows.cc
Due: buildifier, clang-format, cpplint

Fix unix
  BUILD
  conda/unix.BUILD
  conda/windows.BUILD
  tools/conda_run/BUILD
Due: buildifier

Improve windows support (#987)
  BUILD
  bzl/bazel.rc
  conda/windows.BUILD
  conda/windows.yml
  tools/conda_run/BUILD
  tools/conda_run/conda_windows.cc
Due: buildifier, clang-format, cpplint

Fix build issues on fresh ubuntu 18.04
  plaidbench/BUILD
  plaidml/BUILD
  plaidml/bridge/keras/BUILD
  pmlc/target/x86/BUILD
  tools/heatmap/build_defs.bzl
  tools/py_cffi/build_defs.bzl
  tools/py_setup/build_defs.bzl
Due: buildifier
