Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Enable more fixed BE tests.
  ci/plan.yml
Due: none

Enable more fixed BE tests. (#1080)
  ci/plan.yml
Due: none

WIP Add rank-based defaults to convolution
  plaidml/op/op.h
Due: clang-format, cpplint

adding mlir testing
  plaidml/edsl/tests/edsl_test.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/tests/reshape-fold.mlir
Due: clang-format, cpplint

Move default infer to oplib & improve logs
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint

Remove unused headers
  plaidml/op/op.h
Due: clang-format, cpplint

fix check statements
  plaidml/edsl/tests/edsl_test.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/tests/reshape-fold.mlir
Due: clang-format, cpplint

fix test formatting for consistency with MLIR upstream examples
  pmlc/conversion/stdx_to_llvm/tests/reshape.mlir
Due: none

update for change to edsc api in recent mlir
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
Due: clang-format, cpplint

remove stdx.fptosi op as it is now present in std upstream
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
Due: clang-format, cpplint

fix ident op creation
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

and let's also update the test while we're at it
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
Due: none

Move conv arg validation into helper funcs
  plaidml/op/lib/ops.cc
Due: clang-format, cpplint

remove stdx.fptosi op, as it is now present in std upstream (#1084)
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/tests/cast.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
Due: clang-format, cpplint

Update op_test.cc to use new conv defaults
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Use IE_ASSERT
  plaidml/bridge/openvino/src/plaidml_plugin/ops/relu.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
Due: clang-format, cpplint

better checks, wrap dup outputs
  plaidml/edsl/tests/edsl_test.cc
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

fix
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

build fixes
  plaidml/bridge/openvino/BUILD
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/tests/functional/plaidml/single_layer_tests/BUILD
Due: clang-format, cpplint

tile.reshape -> stdx.reshape -> view rewrite (#1046)
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/stdx_to_llvm/tests/reshape.mlir
  pmlc/conversion/tile_to_pxa/tests/reshape.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
Due: clang-format, cpplint

Cleanups
  vendor/openvino/nlohmann_json.BUILD
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier

Cleanups
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/tests/functional/plaidml/single_layer_tests/activation_tests.cpp
Due: clang-format, cpplint

openvino plugin (#1076)
  bzl/workspace.bzl
  plaidml/bridge/openvino/BUILD
  plaidml/bridge/openvino/CPPLINT.cfg
  plaidml/bridge/openvino/include/plaidml/plaidml_config.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/relu.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_ops.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_plugin.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_plugin.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.hpp
  plaidml/bridge/openvino/tests/functional/plaidml/single_layer_tests/BUILD
  plaidml/bridge/openvino/tests/functional/plaidml/single_layer_tests/activation_tests.cpp
  plaidml/bridge/openvino/tests/functional/plaidml/single_layer_tests/main.cpp
  plaidml/core/BUILD
  plaidml/core/core_test.py
  pmlc/target/demo/BUILD
  pmlc/target/demo/passes.h
  pmlc/target/demo/pipeline.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/passes.h
  pmlc/target/x86/pipeline.cc
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/util/BUILD
  pmlc/util/all_passes.h
  pmlc/util/logging.cc
  pmlc/util/logging.h
  vendor/openvino/ade.BUILD
  vendor/openvino/ngraph.BUILD
  vendor/openvino/nlohmann_json.BUILD
  vendor/openvino/openvino.BUILD
  vendor/openvino/repo.bzl
  vendor/openvino/workspace.bzl
Due: buildifier, clang-format, cpplint, yapf

Upgrade Convolution Fluent API Defaults (#1081)
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

fix typo
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Add folder for ReshapeOp (#1075)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/reshape-fold.mlir
Due: clang-format, cpplint

WIP, started fusion pass
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
Due: clang-format, cpplint

WIP New API for ReLU and plaidml_ops.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/relu.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_ops.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_plugin.cpp
Due: clang-format, cpplint

WIP Switch to nGraph functions in creating exec net
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_ops.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.hpp
Due: clang-format, cpplint

add workaround for return of reshape views; enable tests which now pass
  ci/plan.yml
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

add workaround for return of reshape views; enable tests which now pass (#1086)
  ci/plan.yml
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

add testBatchNormAndUpdate to CI, since it passes OK
  ci/plan.yml
Due: none

add testBatchNormAndUpdate to CI, since it passes OK (#1087)
  ci/plan.yml
Due: none

WIP Switch to nGraph-based API
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_ops.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_plugin.cpp
  plaidml/bridge/openvino/tests/functional/plaidml/single_layer_tests/activation_tests.cpp
Due: clang-format, cpplint

Add Clamp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/clamp.cpp
  plaidml/bridge/openvino/tests/functional/plaidml/single_layer_tests/activation_tests.cpp
Due: clang-format, cpplint

Separate maps for tensor names v. friendly names
  plaidml/bridge/openvino/src/plaidml_plugin/ops/clamp.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/ops/relu.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_infer_request.hpp
Due: clang-format, cpplint

Clean up includes & details
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_ops.hpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.hpp
Due: clang-format, cpplint

Disable PReLU tests
  plaidml/bridge/openvino/src/plaidml_plugin/ops/relu.cpp
  plaidml/bridge/openvino/tests/functional/plaidml/single_layer_tests/activation_tests.cpp
Due: clang-format, cpplint

Clean up TODOs
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_executable_network.cpp
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

