Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Override gradients of several functions
  plaidml/keras/backend_test.py
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/__init__.py
  plaidml2/op/lib/ops.cc
  tile/lang/builtins.cc
Due: clang-format, cpplint, yapf

adjust pipelines, no need to run keras-tf-dnnl-cpu on nightly
  ci/plan.yml
Due: none

remove unnecessary skip_platforms options
  ci/plan.yml
Due: none

adding goldens so the tests won't complain about their absence
  ci/golden/infer/inception_v3/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/inception_v3/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet_v2/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet_v2/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/resnet50/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/vgg19/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/vgg19/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/xception/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/xception/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
Due: none

Add keras-tf-dnnl-cpu (#619)
  ci/golden/infer/inception_v3/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/inception_v3/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/mobilenet_v2/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/mobilenet_v2/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/resnet50/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/vgg19/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/vgg19/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
  ci/golden/infer/xception/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.json
  ci/golden/infer/xception/keras-tf-dnnl-cpu/BATCH_SIZE=1/result.npy
  ci/plan.yml
  conda/tensorflow-dnnl.yml
Due: none

[MLIR] Support for Affine->Stripe "main" ParallelForOp (#620)
  pmlc/conversion/affine_to_stripe/BUILD
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.cc
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.h
  pmlc/conversion/affine_to_stripe/supported_ops.inc
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  pmlc/dialect/tile/lowering.cc
  pmlc/test/conversion/stripe_affine_roundtrip/core_ops.mlir
  pmlc/test/conversion/stripe_to_affine/core_ops.mlir
  pmlc/tools/pmlc-opt/BUILD
Due: clang-format, cpplint

Remove obsolete edsl sigmoid version
  plaidml2/edsl/derivs.cc
  plaidml2/edsl/edsl.h
Due: clang-format, cpplint

Add TBB library to the plaidml to use in CPU Jit.
  bzl/tbb.BUILD
  bzl/workspace.bzl
  plaidml2/BUILD
  tile/targets/cpu/BUILD
Due: buildifier

Override gradients of several functions (#630)
  plaidml/keras/backend_test.py
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/derivs.cc
  plaidml2/edsl/edsl.h
  plaidml2/op/__init__.py
  plaidml2/op/lib/ops.cc
  tile/lang/builtins.cc
Due: clang-format, cpplint, yapf

Add max & min for TensorDim
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.td
  tile/lang/ast/ast.cc
  tile/lang/ast/ast.h
  tile/lang/ast/fold.cc
Due: clang-format, cpplint, yapf

Add max & min for TensorDim (#631)
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.td
  tile/lang/ast/ast.cc
  tile/lang/ast/ast.h
  tile/lang/ast/fold.cc
Due: clang-format, cpplint, yapf

Add TBB library to the plaidml to use in CPU Jit. (#629)
  bzl/tbb.BUILD
  bzl/workspace.bzl
  plaidml2/BUILD
  tile/targets/cpu/BUILD
Due: buildifier

Turn on fixed EDSL defract tests
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
Due: clang-format, cpplint, yapf

Turn on fixed EDSL defract tests (#632)
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/edsl_test.py
Due: clang-format, cpplint, yapf

close device in clear_session
  plaidml/keras/backend.py
Due: yapf

[MLIR] Stripe-Affine round-trip for AffineConstOp/ConstantIndexOp. (#623)
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.cc
  pmlc/conversion/affine_to_stripe/supported_ops.inc
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
  pmlc/conversion/stripe_to_affine/supported_ops.inc
  pmlc/test/conversion/stripe_affine_roundtrip/core_ops.mlir
Due: clang-format, cpplint

Refactor from_mlir add_refinements
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/ffi.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/tile/lowering.cc
Due: clang-format, cpplint

Adjustments
  bzl/tbb.BUILD
  bzl/xsmm.BUILD
  plaidml2/BUILD
  plaidml2/edsl/edsl_test.cc
  plaidml2/setup.py
Due: buildifier, clang-format, cpplint, yapf

Remove previous experiement
  pmlc/dialect/stripe/from_mlir.cc
Due: clang-format, cpplint

Integrate lit testing
  pmlc/BUILD
  pmlc/conversion/tests/stripe_affine_roundtrip/BUILD
  pmlc/conversion/tests/stripe_affine_roundtrip/core_ops.mlir
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/eltwise/tests/lit.cfg.py
  pmlc/dialect/eltwise/tests/lit.py
  pmlc/dialect/eltwise/tests/lit.site.cfg.py
  pmlc/dialect/eltwise/util.cc
  pmlc/lit.bzl
  pmlc/pmlc-opt.cc
  pmlc/runlit.cfg.py
  pmlc/runlit.site.cfg.py
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint, yapf

Fix windows
  pmlc/lit.bzl
Due: buildifier

Fix plaidml setup instruction for build.md
  docs/building.md
Due: none

Refactor transcoding dealing with refinements (#634)
  bzl/tbb.BUILD
  bzl/xsmm.BUILD
  plaidml2/BUILD
  plaidml2/edsl/ffi.cc
  plaidml2/setup.py
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.cc
  pmlc/conversion/affine_to_stripe/convert_affine_to_stripe.h
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.h
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/tile/lowering.cc
Due: buildifier, clang-format, cpplint, yapf

Integrate lit testing (#635)
  pmlc/BUILD
  pmlc/conversion/tests/stripe_affine_roundtrip/BUILD
  pmlc/conversion/tests/stripe_affine_roundtrip/core_ops.mlir
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/eltwise/tests/lit.cfg.py
  pmlc/dialect/eltwise/tests/lit.py
  pmlc/dialect/eltwise/tests/lit.site.cfg.py
  pmlc/dialect/eltwise/util.cc
  pmlc/lit.bzl
  pmlc/pmlc-opt.cc
  pmlc/runlit.cfg.py
  pmlc/runlit.site.cfg.py
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint, yapf

Enable bazel builtin platform configs
  bzl/bazel.rc
  configure
Due: none

Fix plaidml setup instruction for build.md (#637)
  docs/building.md
Due: none

Use lit
  .editorconfig
  plaidml2/exec/ffi.cc
  pmlc/BUILD
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/stripe_test.cc
  pmlc/dialect/stripe/tests/translate/BUILD
  pmlc/dialect/stripe/tests/translate/double_dot.pbtxt
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/contraction.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/dialect.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/lowering.h
  pmlc/dialect/tile/tests/BUILD
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe-fail.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
  pmlc/lit.bzl
  pmlc/pmlc-opt.cc
  pmlc/pmlc-translate.cc
  pmlc/runlit.cfg.py
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint, yapf

Minor fixes to transcoding, enable transcoding on CPU path
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/nop_pass.h
  tile/codegen/codegen.proto
  tile/codegen/mlir_passes.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

close device in clear_session (#633)
  plaidml/keras/backend.py
Due: yapf

Enable bazel builtin platform configs (#638)
  bzl/bazel.rc
  configure
Due: none

Don't go crazy with stenciling
  tile/codegen/stencil.cc
Due: clang-format, cpplint

Less aggressive nerfing
  tile/codegen/stencil.cc
Due: clang-format, cpplint

Fixes to transcoding, enable No-op pass for test coverage (#639)
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/nop_pass.h
  tile/codegen/codegen.proto
  tile/codegen/mlir_passes.cc
  tile/codegen/stencil.cc
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

Fix the Metal compilation error on Catalina 1) Walkaround about the limit (31) of the kernel buffer arguments 2) Set the ZERO value as float type, consistent with the usual case
  tile/codegen/codegen.proto
  tile/codegen/fuse.cc
  tile/lang/gen_stripe.cc
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
Due: clang-format, cpplint

Add a new function to call the XSMM GEM functions.
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/executable.cc
Due: clang-format, cpplint

Fix the Metal compilation error on Catalina
  tile/codegen/codegen.proto
  tile/codegen/fuse.cc
  tile/lang/gen_stripe.cc
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
Due: clang-format, cpplint

Connect sigmoid in op lib to C++ EDSL
  plaidml2/op/op.h
  plaidml2/op/op_test.cc
Due: clang-format, cpplint

Connect sigmoid in op lib to C++ EDSL (#643)
  plaidml2/op/op.h
  plaidml2/op/op_test.cc
Due: clang-format, cpplint

Fixes
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/tile/tests/BUILD
  pmlc/dialect/tile/tests/translate-to-stripe-fail.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
  pmlc/pmlc-translate.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Fix
  pmlc/dialect/stripe/into_mlir.cc
Due: clang-format, cpplint
