Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

make pxa load and reduce memref normalizable (#1698)
  bzl/workspace.bzl
  cmake/third_party/llvm-project.cmake
  pmlc/dialect/pxa/ir/interfaces.td
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/normalize-memrefs.mlir
Due: buildifier, clang-format, cpplint

Update OV hash
  plaidml/bridge/openvino/CMakeLists.txt
Due: none

Fix ROI Align (#1697)
  plaidml/bridge/openvino/CMakeLists.txt
  plaidml/bridge/openvino/ops/roi_align.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/roi_align.cpp
Due: clang-format, cpplint

layout utils added
  pmlc/util/CMakeLists.txt
  pmlc/util/layout.cc
  pmlc/util/layout.h
  pmlc/util/tags.cc
Due: clang-format, cpplint

reorder inputs pass
  pmlc/dialect/tile/tests/reorder_inputs.mlir
  pmlc/dialect/tile/transforms/BUILD
  pmlc/dialect/tile/transforms/CMakeLists.txt
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/tile/transforms/passes.td
  pmlc/dialect/tile/transforms/reorder_inputs.cc
Due: clang-format, cpplint

tile to pxa changes
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

packOp update
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/util/BUILD
Due: clang-format, cpplint

move helper function to tile utils
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/util.cc
  pmlc/dialect/tile/ir/util.h
  pmlc/util/BUILD
  pmlc/util/layout.cc
  pmlc/util/layout.h
Due: clang-format, cpplint

compilation fix
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

bazel update
  pmlc/dialect/tile/transforms/BUILD
Due: none

compilation fix
  pmlc/dialect/tile/transforms/reorder_inputs.cc
Due: clang-format, cpplint

skip when framework not defined
  pmlc/dialect/tile/transforms/reorder_inputs.cc
Due: clang-format, cpplint

changes from CR
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/util.cc
  pmlc/dialect/tile/ir/util.h
  pmlc/dialect/tile/tests/reorder_inputs.mlir
  pmlc/dialect/tile/transforms/reorder_inputs.cc
  pmlc/util/enums.td
  pmlc/util/layout.cc
  pmlc/util/layout.h
  pmlc/util/tags.cc
  pmlc/util/tags.h
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

fixed test
  pmlc/dialect/tile/tests/reorder_inputs.mlir
Due: none

updated test
  pmlc/dialect/tile/tests/reorder_inputs.mlir
Due: none

Updating the test file to initialize the tensors to 0
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layouts.mlir
Due: none

Add multi-D sort
  plaidml/edsl/edsl.h
  plaidml/op/__init__.py
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint, yapf

Add multi-D sort (#1699)
  plaidml/edsl/edsl.h
  plaidml/op/__init__.py
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint, yapf

Follow upstream changes.
  CMakeLists.txt
  cmake/third_party/levelzero.cmake
  pmlc/rt/level_zero/BUILD
  pmlc/rt/level_zero/level_zero_device.cc
  pmlc/rt/level_zero/level_zero_device.h
  pmlc/rt/level_zero/level_zero_invocation.cc
  pmlc/rt/level_zero/level_zero_invocation.h
  pmlc/rt/level_zero/level_zero_probe.cc
  pmlc/rt/level_zero/level_zero_runtime.cc
  pmlc/rt/level_zero/level_zero_utils.cc
  pmlc/rt/level_zero/level_zero_utils.h
  pmlc/rt/level_zero/level_zero_wrappers.cc
  pmlc/rt/level_zero/register.h
  pmlc/rt/level_zero/tests/BUILD
  pmlc/target/intel_level_zero/BUILD
  pmlc/target/intel_level_zero/CMakeLists.txt
  pmlc/target/intel_level_zero/pass_detail.h
  pmlc/target/intel_level_zero/passes.h
  pmlc/target/intel_level_zero/passes.td
  pmlc/target/intel_level_zero/pipeline.cc
  pmlc/target/intel_level_zero/spirv_target.cc
  pmlc/target/intel_level_zero/tests/BUILD
  pmlc/tools/pmlc-level-zero-runner/pmlc-level-zero-runner.cc
Due: clang-format, cpplint

libxsmm batch reduce with offset implementation
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/rt/xsmm.cc
  pmlc/target/x86/tests/xsmm_brgemm_offs_call.mlir
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

edsl_test package
  CMakeLists.txt
Due: none

newline
  CMakeLists.txt
Due: none

Adding a test MLIR file where the target data layout is a blocked layout
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layout_NCHWc16.mlir
Due: none

Temporarily disabling simplification of memref maps to investigage the bug
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layout_NCHWc16.mlir
Due: clang-format, cpplint

Changing the test file
  pmlc/target/x86/tests/conv_NCHW_3X3_user_layout_NCHWc16.mlir
Due: none

fixes to fusions and added traits for memref opt
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/stdx/ir/ops.td
Due: clang-format, cpplint

fix bug with affine.parallel memref normalization
  bzl/workspace.bzl
  cmake/third_party/llvm-project.cmake
  pmlc/dialect/pxa/tests/normalize-memrefs.mlir
Due: buildifier

fix up test
  pmlc/dialect/pxa/tests/normalize-memrefs.mlir
Due: none

fix bug with affine.parallel memref normalization (#1701)
  bzl/workspace.bzl
  cmake/third_party/llvm-project.cmake
  pmlc/dialect/pxa/tests/normalize-memrefs.mlir
Due: buildifier

Enable FP16 tests where already passing
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/activation.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/batch_to_space.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/depth_to_space.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/eltwise.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/embedding_bag_offsets_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/embedding_bag_packed_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/embedding_segments_sum.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/gather.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/grn.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/group_convolution.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/lstm_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/mat_mul.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/pooling_smoke.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/prior_box.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reduce_ops.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/region_yolo.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/reorg_yolo.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/rnn_cell.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/roi_align.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/scatter_update.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/select.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/shuffle_channels.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/softmax.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/space_to_batch.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/space_to_depth.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/squared_difference.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/squeeze_unsqueeze.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/strided_slice.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/tile.cpp
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/transpose.cpp
Due: clang-format, cpplint

Add Logical tests
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/logical.cpp
Due: clang-format, cpplint

Add Comparison tests
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/comparison.cpp
Due: clang-format, cpplint

Adding the reorder pass to the x86 pass pipeline
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

do not set layout on the output
  pmlc/dialect/tile/transforms/reorder_inputs.cc
  pmlc/util/enums.td
  pmlc/util/layout.cc
  pmlc/util/util.cc
Due: clang-format, cpplint

remove debug string
  pmlc/dialect/tile/transforms/reorder_inputs.cc
Due: clang-format, cpplint

Update LLVM pointer
  bzl/workspace.bzl
  cmake/third_party/llvm-project.cmake
Due: buildifier

examples added gemm, gemv, quantize, updated conv ops tests added
  docs/BUILD
  docs/usage/edsl_examples.rst
  plaidml/edsl/edsl_docs.cc
  plaidml/edsl/edsl_docs.py
  plaidml/edsl/examples/BUILD
  plaidml/edsl/examples/complex_conv_2d.cc
  plaidml/edsl/examples/complex_conv_2d.py
  plaidml/edsl/examples/conv_1d.cc
  plaidml/edsl/examples/conv_1d.py
  plaidml/edsl/examples/conv_2d_dilated.cc
  plaidml/edsl/examples/conv_2d_dilated.py
  plaidml/edsl/examples/example_tests.py
  plaidml/edsl/examples/gemm.cc
  plaidml/edsl/examples/gemm.py
  plaidml/edsl/examples/gemv.cc
  plaidml/edsl/examples/gemv.py
  plaidml/edsl/examples/max_pool_1d.cc
  plaidml/edsl/examples/max_pool_1d.py
  plaidml/edsl/examples/quantize.cc
  plaidml/edsl/examples/quantize.py
Due: clang-format, cpplint, yapf

WIP: injecting data layout maps
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint

fixed the test
  pmlc/dialect/tile/tests/reorder_inputs.mlir
Due: none

updated maps
  pmlc/dialect/tile/tests/reorder_inputs.mlir
Due: none
