Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Update hash
  bzl/workspace.bzl
Due: buildifier

Use latest upstream MLIR (#1235)
  bzl/workspace.bzl
  pmlc/rt/xsmm.cc
  pmlc/target/x86/passes.h
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/xsmm_lowering.cc
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint

Modified padval treatment & implemented fluent API
  plaidml/bridge/openvino/src/plaidml_plugin/ops/pad.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Use templated function for padval
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Modify explicit_padding op (#1236)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/pad.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Add MVN to OpenVINO plugin
  plaidml/bridge/openvino/src/plaidml_plugin/ops/mvn.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/mvn.cpp
Due: clang-format, cpplint

Move MVN to op lib
  plaidml/bridge/openvino/src/plaidml_plugin/ops/mvn.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint

Check necessary parameters set
  plaidml/op/lib/ops.cc
Due: clang-format, cpplint

Improve MVN API
  plaidml/op/op.h
Due: clang-format, cpplint

Initialize MVN layout to empty
  plaidml/op/op.h
Due: clang-format, cpplint

Remove redundant initializer
  plaidml/op/op.h
Due: clang-format, cpplint

Enable MVN tests
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: none

Add OpenCL third-party archives
  bzl/workspace.bzl
  vendor/opencl_headers/BUILD
  vendor/opencl_headers/opencl_headers.BUILD
  vendor/opencl_hpp_headers/BUILD
  vendor/opencl_hpp_headers/opencl_hpp_headers.BUILD
  vendor/opencl_icd_loader/BUILD
  vendor/opencl_icd_loader/opencl_icd_loader.BUILD
Due: buildifier

Fix buffers removal in networks run
  networks/oplib/run.cc
Due: clang-format, cpplint

tmp: Cherry-pick i1toi32 pass
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/i1_to_i32.cc
  pmlc/dialect/stdx/transforms/passes.h
  pmlc/dialect/stdx/transforms/passes.td
Due: clang-format, cpplint

tmp: Remove resnet50 traces and softmax for gpu
  networks/oplib/resnet50.cc
Due: clang-format, cpplint

Add comp dialect - host-device modeling
  pmlc/BUILD
  pmlc/conversion/comp/BUILD
  pmlc/conversion/comp/comp_to_opencl.cc
  pmlc/conversion/comp/gpu_to_comp.cc
  pmlc/conversion/comp/pass_detail.h
  pmlc/conversion/comp/passes.h
  pmlc/conversion/comp/passes.td
  pmlc/conversion/comp/tests/BUILD
  pmlc/conversion/comp/tests/gpu_to_comp.mlir
  pmlc/dialect/comp/BUILD
  pmlc/dialect/comp/ir/BUILD
  pmlc/dialect/comp/ir/dialect.cc
  pmlc/dialect/comp/ir/dialect.h
  pmlc/dialect/comp/ir/interfaces.td
  pmlc/dialect/comp/ir/ops.td
  pmlc/dialect/comp/ir/types.h
  pmlc/dialect/comp/tests/BUILD
  pmlc/dialect/comp/tests/canonicalize.mlir
  pmlc/dialect/comp/tests/execenv_coalescing.mlir
  pmlc/dialect/comp/transforms/BUILD
  pmlc/dialect/comp/transforms/execenv_coalescing.cc
  pmlc/dialect/comp/transforms/pass_detail.h
  pmlc/dialect/comp/transforms/passes.h
  pmlc/dialect/comp/transforms/passes.td
  pmlc/util/all_dialects.h
  pmlc/util/all_passes.h
Due: clang-format, cpplint

Fixes for existing gpu pipeline
  pmlc/conversion/gpu/kernel_outlining.cc
  pmlc/conversion/gpu/llvm_lowering.cc
  pmlc/conversion/gpu/passes.td
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/target/intel_gen/BUILD
Due: clang-format, cpplint

Add OpenCL runtime
  pmlc/rt/opencl/BUILD
  pmlc/rt/opencl/clprobe.cc
  pmlc/rt/opencl/opencl_runtime.cc
  pmlc/rt/opencl/opencl_runtime.h
  pmlc/rt/opencl/tests/BUILD
  pmlc/rt/opencl/tests/CPPLINT.cfg
  pmlc/rt/opencl/tests/edsl_test_gpu.cc
  pmlc/rt/opencl/tests/lit.local.cfg
  pmlc/rt/opencl/tests/testenv.cc
  pmlc/rt/opencl/tests/testenv.h
  pmlc/rt/opencl/wrappers.cc
Due: clang-format, cpplint

Add OpenCL + SPIRV target
  plaidml/exec/BUILD
  pmlc/BUILD
  pmlc/target/intel_gen_ocl_spirv/BUILD
  pmlc/target/intel_gen_ocl_spirv/passes.h
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/tests/BUILD
  pmlc/target/intel_gen_ocl_spirv/tests/dotf.mlir
  pmlc/util/all_passes.h
Due: clang-format, cpplint

Add llvm patch
  llvm_unified_diff.patch
Due: none

Allow trace to provide timing
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/op_test.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/rt/runtime.cc
Due: clang-format, cpplint

Allow trace to provide timing (#1238)
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/op_test.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/rt/runtime.cc
Due: clang-format, cpplint

Changes to StrideInfo and some fixes to tiling and resize
  pmlc/dialect/pxa/analysis/BUILD
  pmlc/dialect/pxa/analysis/affine_expr.cc
  pmlc/dialect/pxa/analysis/affine_expr.h
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/dialect/pxa/transforms/tile.cc
Due: clang-format, cpplint

Fixed bug found by compiler warning
  pmlc/dialect/pxa/analysis/affine_expr.cc
Due: clang-format, cpplint

Rename function based on PR and fix comment
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
Due: clang-format, cpplint

implicit bool cast on keras switch op resolves eltwise.select issue
  plaidml/bridge/keras/__init__.py
  plaidml/bridge/keras/backend_test.py
Due: yapf

Changes to StrideInfo and some fixes to tiling and resize (#1251)
  pmlc/dialect/pxa/analysis/BUILD
  pmlc/dialect/pxa/analysis/affine_expr.cc
  pmlc/dialect/pxa/analysis/affine_expr.h
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/dialect/pxa/transforms/tile.cc
Due: clang-format, cpplint

implicit bool cast on keras switch op resolves eltwise.select issue (#1252)
  plaidml/bridge/keras/__init__.py
  plaidml/bridge/keras/backend_test.py
Due: yapf

Testenv: Allow env overrides
  plaidml/core/core.h
  plaidml/core/ffi.cc
  plaidml/core/ffi.h
  plaidml/core/settings.cc
  plaidml/core/settings.h
  plaidml/testenv.cc
Due: clang-format, cpplint

Remove unneeded buffer view accessors
  pmlc/util/buffer.h
Due: clang-format, cpplint

Change to AtomicRMW (minus tests)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
Due: clang-format, cpplint

Remove unneeded buffer view accessors (#1254)
  pmlc/util/buffer.h
Due: clang-format, cpplint

Change to AtomicRMW (with fixes + tests)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/tests/dataflow_opt.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/tests/grn.mlir
  pmlc/dialect/pxa/tests/localize.mlir
  pmlc/dialect/pxa/tests/ops.mlir
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/dialect/pxa/tests/subgroups.mlir
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/target/x86/tests/xsmm_stencil.mlir
Due: clang-format, cpplint

WIP: Initial vectorization.
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/pxa/transforms/vectorize.h
  pmlc/dialect/pxa/transforms/vectorizepass.cc
Due: clang-format, cpplint

Enable some blocked tests by fixing int vs fp comparison dispatching for contractions
  plaidml/bridge/keras/backend_test.py
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

Things now work via hacky subgroup test
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/cache.cc
  pmlc/dialect/pxa/transforms/cache.h
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/util/BUILD
  pmlc/util/ident.cc
  pmlc/util/ident.h
Due: clang-format, cpplint

Add speps fixup.
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/pxa/transforms/vectorizepass.cc
Due: clang-format, cpplint

Enable some blocked tests by fixing int vs fp comparison dispatching for contractions (#1257)
  plaidml/bridge/keras/backend_test.py
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

Removed a file I didn't mean to add
  pmlc/dialect/pxa/tests/subgroups.mlir
Due: none

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

