Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Add location to blocks
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/test/test.cc
  tile/codegen/test/test_cache.cc
  tile/codegen/test/test_fuse.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Throw exceptions in type.cc, not pointers
  tile/lang/type.cc
Due: clang-format, cpplint

Plumb names thru tiling and fusion passes
  base/eventing/file/eventlog_test.cc
  testing/matchers.h
  tile/codegen/fuse.cc
  tile/codegen/test/deps.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/placer.cc
  tile/codegen/tile.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Fix casting, remove requests
  plaidml/__init__.py
  plaidml/op.py
  plaidml/requirements.txt
  plaidml/setup.cfg
Due: yapf

Handle missing deps in block print
  tile/stripe/stripe.cc
Due: clang-format, cpplint

Add arena placer
  tile/codegen/schedule/BUILD
  tile/codegen/schedule/placer.cc
  tile/codegen/schedule/placer.h
  tile/codegen/schedule/placer_test.cc
  tile/codegen/schedule/scheduler.h
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

Updates to fusion, including a overall fusion pass and localization of memory post fusion
  tile/codegen/cache.cc
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/localize.cc
  tile/codegen/localize.h
  tile/codegen/test/test_fuse.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Fixed a bug
  tile/codegen/scalarize.cc
Due: clang-format, cpplint

Support assignment contractions
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint

Cleanup stripe text representation
  tile/codegen/driver.cc
  tile/codegen/localize.cc
  tile/codegen/test/test.cc
  tile/codegen/tile.cc
  tile/lang/gen_stripe.cc
  tile/stripe/stripe.cc
Due: clang-format, cpplint

CR comments
  tile/codegen/schedule/deps.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Update LLVM optimization configuration, add module-level optimization
  tile/hal/cpu/emitllvm.cc
  tile/hal/cpu/emitllvm.h
Due: clang-format, cpplint

Added some fixes to allow more merging Work in progress, first version of descriptors Remove annotations, added props Getting close to a brave new world
  tile/codegen/alias.cc
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/localize.h
  tile/codegen/scalarize.h
  tile/codegen/tags.h
  tile/codegen/test/test.cc
  tile/codegen/test/test_cache.cc
  tile/codegen/test/test_fuse.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/lang/gen_stripe.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

Use sstream
  tile/codegen/schedule/deps.cc
Due: clang-format, cpplint

Scalarization pass
  tile/codegen/scalarize.cc
  tile/codegen/scalarize.h
  tile/codegen/test/test_fuse.cc
Due: clang-format, cpplint

improved configuration for CPU execution (experimentally determined)
  plaidml/configs/experimental.json
Due: none

add 'type' field to stripe intrinsics
  tile/codegen/schedule/deps_test.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

Stripe dep analysis
  tile/codegen/alias.h
  tile/codegen/schedule/BUILD
  tile/codegen/schedule/deps.cc
  tile/codegen/schedule/deps.h
  tile/codegen/schedule/deps_test.cc
  tile/codegen/schedule/scheduler.h
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

fix typos and test
  base/util/uuid.h
  plaidml/__init__.py
  plaidml/settings_test.py
  tile/hal/cuda/hal.h
  tile/hal/opencl/compiler.h
  tile/platform/local_machine/buffer.cc
  tile/platform/local_machine/mem_deps.h
Due: clang-format, cpplint, yapf

Enhance location and add is_const to refinements
  plaidml/plaidml.cc
  tile/codegen/cache.cc
  tile/codegen/tile.cc
  tile/lang/compose.cc
  tile/lang/compose.h
  tile/lang/gen_stripe.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
  tile/util/tile_file.cc
Due: clang-format, cpplint

Plumb node names to stripe block names
  base/util/intern.h
  plaidml/__init__.py
  plaidml/op.py
  plaidml/plaidml.cc
  plaidml/tile.py
  tile/codegen/driver.cc
  tile/codegen/driver.h
  tile/lang/compose.cc
  tile/lang/gen_stripe.cc
  tile/lang/tile.y
Due: clang-format, cpplint, yapf

Fixed c++14 issue
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint

Add deps to human Stripe output
  tile/stripe/stripe.cc
Due: clang-format, cpplint

Add real ArgMax
  plaidml/keras/backend_test.py
  plaidml/op.py
  plaidml/tile.py
  plaidml/tile_test.py
Due: yapf

Cast Metal initializers as needed
  tile/hal/metal/emit.cc
Due: clang-format, cpplint

cpu hal threadpool cannot be static or plaidbench fork()ing will break it
  tile/hal/cpu/executable.cc
  tile/hal/cpu/executable.h
  tile/hal/cpu/executor.cc
  tile/hal/cpu/executor.h
Due: clang-format, cpplint

Move optimizer passes to plaidml
  tile/codegen/BUILD
  tile/codegen/codegen.proto
  tile/codegen/deps.cc
  tile/codegen/deps.h
  tile/codegen/localize.cc
  tile/codegen/localize.h
  tile/codegen/placer.cc
  tile/codegen/placer.h
  tile/codegen/schedule/BUILD
  tile/codegen/scheduler.h
  tile/codegen/test/BUILD
  tile/codegen/test/cache.cc
  tile/codegen/test/deps.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/placer.cc
Due: clang-format, cpplint

Emit casts for vec width changes
  tile/hal/metal/emit.cc
  tile/hal/opencl/emitocl.cc
Due: clang-format, cpplint

Allow optimization passes to be specified by a proto
  tile/codegen/BUILD
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/codegen.proto
  tile/codegen/deps.h
  tile/codegen/driver.cc
  tile/codegen/driver.h
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/localize.cc
  tile/codegen/localize.h
  tile/codegen/placer.h
  tile/codegen/scalarize.cc
  tile/codegen/scalarize.h
  tile/codegen/tags.h
  tile/codegen/test/test.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/codegen/vm.cc
  tile/stripe/BUILD
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

Allow Metal vector booleans
  tile/hal/metal/emit.cc
  tile/hal/opencl/cl_opt.cc
  tile/hal/opencl/emitocl.cc
  tile/lang/exprtype.cc
  tile/lang/exprtype.h
  tile/lang/exprtype_test.cc
Due: clang-format, cpplint

Placate Linux c++
  tile/stripe/stripe.h
Due: clang-format, cpplint

Merge Keras and generic Pooling ops
  plaidml/keras/backend.py
  plaidml/op.py
Due: yapf

limit llvm_cpu concurrency to physical cores, not hyperthreaded cores
  tile/hal/cpu/executable.cc
Due: clang-format, cpplint

Support for generating memory image
  .gitignore
  base/util/BUILD
  base/util/lookup.h
  base/util/throw.h
  bzl/boost.BUILD
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/cache.cc
  tile/codegen/deps.cc
  tile/codegen/fuse.cc
  tile/codegen/localize.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/test.cc
  tile/codegen/tile.cc
  tile/codegen/vm.cc
  tile/codegen/vm.h
  tile/lang/gen_stripe.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/util/tile_file.cc
  tile/util/tile_file.h
Due: buildifier, clang-format, cpplint

Autotile that compiles
  tile/codegen/autotile.cc
  tile/codegen/autotile.h
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
Due: clang-format, cpplint

Add memory scheduler
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/placer.cc
  tile/codegen/placer.h
  tile/codegen/schedule.cc
  tile/codegen/schedule.h
  tile/codegen/test/placer.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Put metal in both exp & normal
  plaidml/configs/macos_experimental.json
Due: none

Possibly good buffers
  tile/codegen/codegen.proto
  tile/codegen/partition.cc
  tile/codegen/placer.cc
Due: clang-format, cpplint

add matmul test for stripe executor
  tile/codegen/jit.cc
  tile/codegen/test/jit.cc
Due: clang-format, cpplint

Signed/unsigned error on linux build
  tile/codegen/autotile.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  lib/macos_x86_64/.*|
  vendor/opengl/inc/.*
)$

