Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Add configure script
  .bazelrc
  .gitignore
  bzl/bazel.rc
  configure
Due: none

Start moving over buildkite.py
  .gitlab-ci.yml
  .pre-commit-config.yaml
  VERSION
  bzl/workspace.bzl
  ci/BUILD
  ci/bkpoke.py
  ci/buildkite.py
  ci/pipeline.yml
  ci/plan.yml
  conda/BUILD
  conda/buildkite.yml
  conda/ml_gpu.yml
Due: buildifier, yapf

Copy tests and analysis to plaidml
  .gitignore
  bzl/workspace.bzl
  ci/BUILD
  ci/analysis.py
  ci/bkpoke.py
  ci/buildkite.py
  ci/plan.yml
  ci/templates/annotate.html
  ci/templates/junit.xml
  ci/templates/report.html
  ci/util.py
  conda/BUILD
  conda/analysis.yml
  conda/tensorflow.yml
  tools/analysis/Analysis.ipynb
  tools/analysis/BUILD
  tools/analysis/__init__.py
  tools/analysis/analysis_test.py
  tools/analysis/kernel_times.py
  tools/analysis/main.py
  tools/analysis/testdata/eventlog.gz
  tools/analysis/testdata/small_mobilenet_coco_log.gz
  tools/analysis/util.py
  tools/analysis/util_test.py
  tools/conda_run/conda.cc
Due: buildifier, clang-format, cpplint, yapf

Fix backend test
  ci/plan.yml
Due: none

Refactor analysis
  ci/BUILD
  ci/analysis.py
  ci/buildkite.py
  ci/harness.py
  ci/pipeline.yml
  ci/plan.yml
  ci/report.py
  ci/templates/report.html
  ci/util.py
  networks/keras/harness.py
Due: yapf

Tune performance for Metal. Fix config bugs.
  plaidml/configs/experimental.json
  tile/hal/metal/emit.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/emitsem.h
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/nvidia.jsonnet
Due: clang-format, cpplint

Two way transcoding mostly works
  pmlc/dialect/mir/BUILD
  pmlc/dialect/mir/analysis.cc
  pmlc/dialect/mir/analysis.h
  pmlc/dialect/mir/mir_test.cc
  pmlc/dialect/mir/ops.td
  pmlc/dialect/mir/to_mir.cc
  pmlc/dialect/mir/to_stripe.cc
  pmlc/dialect/mir/transcode.h
  pmlc/dialect/scalar/BUILD
  pmlc/dialect/scalar/ops.h
  pmlc/dialect/scalar/ops.td
  pmlc/dialect/scalar/transcode.cc
  pmlc/dialect/scalar/transcode.h
Due: clang-format, cpplint

Fix to weird compiler constructor forwarding issue
  pmlc/dialect/mir/to_stripe.cc
Due: clang-format, cpplint

performance counters for stripejit execution
  tile/targets/cpu/jit.cc
  tile/targets/cpu/jit.h
Due: clang-format, cpplint

Windows mlir
  bzl/mlir.BUILD
Due: buildifier

Better Windows xsmm integration
  bzl/xsmm_repo.bzl
  environment-windows.yml
Due: buildifier

fixup! Windows mlir
  bzl/mlir.BUILD
Due: buildifier

Windows xsmm
  bzl/xsmm_repo.bzl
Due: buildifier

Get edsl_test to compile on Windows
  plaidml2/edsl/edsl_test.cc
Due: clang-format, cpplint

Add spatial padding op
  plaidml2/bridge/keras/__init__.py
  plaidml2/op/__init__.py
  plaidml2/op/lib/ops.cc
  plaidml2/op/op.h
Due: clang-format, cpplint, yapf

Integrate xsmm library in plaidMl.
  bzl/workspace.bzl
  bzl/xsmm.BUILD
  bzl/xsmm_repo.bzl
Due: buildifier

Add the pass that reorders index according to strides
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/codegen.proto
  tile/codegen/idx_order.cc
  tile/codegen/idx_order.h
  tile/targets/gpu/amd.jsonnet
Due: clang-format, cpplint

Control lib export list
  bzl/workspace.bzl
  plaidml/BUILD
  plaidml/libplaidml.lds
  plaidml/plaidml_link.jsonnet
Due: buildifier

Experimental gitlab-ci pipeline for plaidml repo
  .gitlab-ci.yml
Due: none

Meet std::uniform_int_distribution reqs
  tile/codegen/test/passes/manager.cc
Due: clang-format, cpplint

Enable reg_cache pass and fix related bugs
  tile/codegen/codegen.proto
  tile/codegen/reg_cache.cc
  tile/codegen/thread_inner.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/emitsem.h
  tile/targets/gpu/amd.jsonnet
Due: clang-format, cpplint

Add explicit CPU dep
  tile/codegen/test/passes/BUILD
Due: none

Removing cruft and minor tweaks
  .bazelversion
  plaidml/keras/BUILD
  plaidml/not_setup.cfg
  tile/lang/BUILD
  tile/lang/gen_stripe.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/stripe_gen.cc
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/intel_gen9_metal.jsonnet
  tools/gencfg/build_defs.bzl
Due: buildifier, clang-format, cpplint

Improve `sign` implementation & tests
  plaidml/keras/backend.py
  plaidml/keras/backend_test.py
  tile/lang/compose.cc
Due: clang-format, cpplint, yapf

Fixes for edge cases
  tools/conda_run/conda.cc
Due: clang-format, cpplint

help a few more cases from backend_test to pass with STRIPE_JIT
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint

Placeholder to expose config file location to user
  plaidml/plaidml_setup.py
  plaidml/settings.py
Due: yapf

Disable flaky-on-Windows UsesTmp test
  tile/codegen/test/schedule.cc
Due: clang-format, cpplint

Experimental pytorch-plaidml bridge
  bzl/bazel.rc
  bzl/conda_repo.bzl
  bzl/pybind11.BUILD
  bzl/workspace.bzl
  conda/BUILD
  conda/pytorch.BUILD
  conda/pytorch.yml
  plaidml/pytorch/BUILD
  plaidml/pytorch/__init__.py
  plaidml/pytorch/compiler.cc
  plaidml/pytorch/compiler.h
  plaidml/pytorch/logging.h
  plaidml/pytorch/models_test.py
  plaidml/pytorch/ops_test.py
  plaidml/pytorch/register.cc
  plaidml/pytorch/test_utils.py
Due: buildifier, clang-format, cpplint, yapf

EDSL improvments
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

Update pointers for integrate-xsmm
  bzl/workspace.bzl
  bzl/xsmm_repo.bzl
Due: buildifier

Drop llvm_shim, build llvm directly from source
  WORKSPACE
  bzl/bazel.rc
  bzl/mlir.BUILD
  bzl/workspace.bzl
  plaidml/BUILD
  tile/hal/cpu/BUILD
  tile/plaid_ir/BUILD
  tile/plaid_ir/plaid_ir_test.cc
  tile/targets/cpu/BUILD
  vendor/llvm/BUILD
  vendor/llvm/llvm.BUILD
  vendor/llvm/shim/WORKSPACE
Due: buildifier, clang-format, cpplint

AMD config and opt passes for stripe
  tile/codegen/alias.cc
  tile/codegen/autotile.cc
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/codegen.proto
  tile/codegen/dce.cc
  tile/codegen/fuse.cc
  tile/codegen/pad.cc
  tile/codegen/subgroup.cc
  tile/codegen/test/cache.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/load_index.cc
  tile/codegen/thread_inner.cc
  tile/lang/gen_stripe.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/emitsem.h
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
  tile/targets/gpu/intel_gen9_metal.jsonnet
Due: clang-format, cpplint

Windows conda support
  bzl/conda.tpl.py
  bzl/conda_repo.bzl
  bzl/conda_wrapper.py
Due: buildifier, yapf

Remove std::make_unique<> from edsl.h
  plaidml/edsl/edsl.h
Due: clang-format, cpplint

Integrate plaidml + edsl APIs
  plaidml/BUILD
  plaidml/base/BUILD
  plaidml/base/base.h
  plaidml/edsl/BUILD
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/ffi.cc
  plaidml/edsl/ffi.h
  plaidml/edsl/internal.h
  plaidml/plaidml++.h
  plaidml/plaidml.cc
  plaidml/plaidml.h
  tile/base/platform.h
  tile/lang/ast.cc
  tile/lang/ast.h
  tile/platform/local_machine/platform.cc
  tile/platform/local_machine/platform.h
  tile/platform/local_machine/program.cc
  tile/platform/local_machine/program.h
  tile/platform/stripejit/platform.cc
  tile/platform/stripejit/platform.h
  tile/proto/support.h
Due: clang-format, cpplint
