Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    bzl/conda.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Typos in design.md
  plaidml/op/lib/design.md
Due: none

Drop obsolete type attribute on eltwise ops (#840)
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/util/interfaces.td
Due: clang-format, cpplint, yapf

Finish transition to compute bounds pass (#839)
  ci/buildkite.py
  plaidml/edsl/edsl_test.cc
  plaidml/exec/ffi.cc
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/BUILD
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/ir/ops.td
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/dialect/tile/transforms/contraction.cc
  pmlc/dialect/tile/transforms/passes.h
  pmlc/util/buffer.h
Due: clang-format, cpplint, yapf

Merge latest master
  README.md
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/eltwise/ir/predicates.td
  pmlc/util/logging.cc
Due: clang-format, cpplint

Adjust op names
  plaidml/edsl/__init__.py
Due: yapf

Merge latest master (#843)
  README.md
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/ops.cc
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/eltwise/ir/predicates.td
  pmlc/util/logging.cc
Due: clang-format, cpplint, yapf

Made PXA parallel for match RFC
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
Due: clang-format, cpplint

Removed incorrect range checks
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
Due: none

Fixed linux warning
  pmlc/dialect/pxa/ir/ops.cc
Due: clang-format, cpplint

Changes from CR
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
Due: clang-format, cpplint

Made tests more complete
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
Due: none

New version of ParallelFor to match RFC (#844)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/ops.td
Due: clang-format, cpplint

various docs improvements
  docs/BUILD
  docs/README.md
  docs/manual_api/core.rst
  docs/manual_api/edsl.rst
  docs/manual_api/exec.rst
  docs/watch.py
  plaidml/core/BUILD
  plaidml/core/__init__.py
  plaidml/core/core.h
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/exec/BUILD
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
Due: clang-format, cpplint, yapf

converting md files to rst for sphinx
  docs/conf.py
  docs/index.rst
  docs/manual_api/adding_tile_ops.rst
  docs/manual_api/cpp_tile_edsl.rst
  docs/manual_api/index.rst
  docs/usage/building.rst
  docs/usage/configuration.rst
  docs/usage/contributing.rst
  docs/usage/install.rst
  docs/usage/troubleshooting.rst
Due: yapf

Fix bug about path generation
  pmlc/compiler/compiler.cc
  tile/hal/opencl/compiler.cc
Due: clang-format, cpplint

Use tablegen enum for DataType impl
  plaidml/core/__init__.py
  plaidml/core/ffi.cc
  plaidml/core/ffi.h
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/edsl/ffi.cc
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/eltwise/ir/predicates.td
  pmlc/dialect/eltwise/ir/types.cc
  pmlc/dialect/eltwise/ir/types.h
  pmlc/dialect/eltwise/ir/util.cc
  pmlc/dialect/eltwise/ir/util.h
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/tests/build-cion.mlir
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/util/enums.h
  pmlc/util/enums.td
  pmlc/util/shape.cc
  pmlc/util/shape.h
Due: clang-format, cpplint, yapf

Drop deprecated as_xxx style casts
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/op/lib/ops.cc
Due: clang-format, cpplint, yapf

Fix windows and add plaidml::DType
  networks/oplib/resnet50.cc
  plaidml/bridge/pytorch/compiler.cc
  plaidml/core/core.h
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.cc
  plaidml/op/lib/ops.cc
  plaidml/op/op_test.cc
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

Fix
  pmlc/dialect/tile/builder.cc
Due: clang-format, cpplint

Drop half
  bzl/half.BUILD
  bzl/workspace.bzl
  plaidml/BUILD
  plaidml/setup.py
Due: buildifier, yapf

Restore previously broken tests
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
Due: clang-format, cpplint, yapf

Draft Vulkan runtime from MLIR PR (WIP) Its able to compile and run in local machine with VulkanSDK installed. It has bugs including: not able to parsing spirv module from string.
  WORKSPACE
  bzl/bazel.rc
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/Runtime.h
  pmlc/tools/pmlc-vulkan-runner/RuntimeTests.cpp
  pmlc/tools/pmlc-vulkan-runner/VulkanRuntime.cpp
Due: buildifier, clang-format, cpplint

fix setup message to conform to ascii
  plaidml/plaidml_setup.py
Due: yapf

Drop deprecated as_xxx style casts (#848)
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/op/lib/ops.cc
Due: clang-format, cpplint, yapf

Drop half (#849)
  bzl/half.BUILD
  bzl/workspace.bzl
  plaidml/BUILD
  plaidml/setup.py
Due: buildifier, yapf

Restore previously broken tests (#850)
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
Due: clang-format, cpplint, yapf

fix setup message to conform to ascii (#851)
  plaidml/plaidml_setup.py
Due: yapf

[skip ci] fixes
  docs/manual_api/core.rst
  docs/manual_api/edsl.rst
  docs/manual_api/exec.rst
  plaidml/core/__init__.py
  plaidml/core/core.h
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
Due: clang-format, cpplint, yapf

fix
  docs/manual_api/core.rst
  docs/manual_api/edsl.rst
  docs/manual_api/exec.rst
  plaidml/core/__init__.py
  plaidml/core/core.h
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
Due: clang-format, cpplint, yapf

Use tablegen enum for DataType impl (#847)
  networks/oplib/resnet50.cc
  plaidml/bridge/pytorch/compiler.cc
  plaidml/core/__init__.py
  plaidml/core/core.h
  plaidml/core/ffi.cc
  plaidml/core/ffi.h
  plaidml/edsl/edsl.h
  plaidml/edsl/edsl_test.cc
  plaidml/edsl/edsl_test.py
  plaidml/edsl/ffi.cc
  plaidml/op/lib/ops.cc
  plaidml/op/op_test.cc
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/double_dot.mlir
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tests/relu.mlir
  pmlc/conversion/tile_to_pxa/tests/shape.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/eltwise/ir/predicates.td
  pmlc/dialect/eltwise/ir/types.cc
  pmlc/dialect/eltwise/ir/types.h
  pmlc/dialect/eltwise/ir/util.cc
  pmlc/dialect/eltwise/ir/util.h
  pmlc/dialect/eltwise/tests/constant-fold.mlir
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/builder.h
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/tests/build-cion.mlir
  pmlc/dialect/tile/tests/compute-bounds.mlir
  pmlc/util/enums.h
  pmlc/util/enums.td
  pmlc/util/shape.cc
  pmlc/util/shape.h
Due: clang-format, cpplint, yapf

Various Documentation Improvements (#845)
  docs/BUILD
  docs/README.md
  docs/manual_api/core.rst
  docs/manual_api/edsl.rst
  docs/manual_api/exec.rst
  docs/watch.py
  plaidml/core/BUILD
  plaidml/core/__init__.py
  plaidml/core/core.h
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
  plaidml/exec/BUILD
  plaidml/exec/__init__.py
  plaidml/exec/exec.h
Due: clang-format, cpplint, yapf

Typos in design.md (#842)
  plaidml/op/lib/design.md
Due: none

docs
  docs/manual_api/edsl.rst
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
Due: clang-format, cpplint, yapf

Use a TypeSwitch
  pmlc/dialect/tile/ir/ops.cc
Due: clang-format, cpplint

more primitive docs
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
Due: clang-format, cpplint, yapf

Fix usage of AffineMaps for bounds
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/tests/compute-bounds.mlir
Due: clang-format, cpplint

Primitive Op Docs (#853)
  docs/manual_api/edsl.rst
  plaidml/edsl/__init__.py
  plaidml/edsl/edsl.h
Due: clang-format, cpplint, yapf

C++ Execution API
  plaidml/exec/exec.h
Due: clang-format, cpplint

C++ Core API
  plaidml/core/core.h
Due: clang-format, cpplint

python tabs and other small fixes
  docs/index.rst
  docs/manual_api/adding_tile_ops.rst
  docs/manual_api/index.rst
  docs/usage/building.rst
  docs/usage/configuration.rst
  docs/usage/contributing.rst
  docs/usage/install.rst
  docs/usage/tile_edsl.rst
  docs/usage/troubleshooting.rst
Due: none
