Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

fix target
  tile/codegen/BUILD
  tile/pmlc/BUILD
Due: none

target fix
  tile/targets/BUILD
Due: none

[skip ci] try activating conda for windows
  .bazelci/presubmit.yml
Due: none

[skip ci] disable opencl on linux try2
  tile/hal/opencl/BUILD
Due: none

[skip ci] fix typo
  bzl/bazel.rc
Due: none

move reshape from keras bridge to plaidml2 ops
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/__init__.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

Add Stripe assignment and constants (#504)
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/stripe/to_stripe.cc
  pmlc/dialect/stripe/to_stripe_mlir.cc
Due: clang-format, cpplint

EDSL run function moved to exec
  plaidml2/edsl/edsl_test.py
  plaidml2/exec/__init__.py
Due: yapf

commented code removed redundant statements removed
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Make builds more hermetic
  ci/buildkite.py
  ci/plan.yml
Due: yapf

Stringify env var values
  ci/buildkite.py
Due: yapf

int64 changed to TensorDim to handle symbolic dimensions
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

install pyyaml
  ci/pipeline.yml
Due: none

yaml dependency on build
  ci/pipeline.yml
Due: none

Resnet50 optimizations of the CPU backend (#503)
  ci/buildkite.py
  ci/plan.yml
  tile/targets/BUILD
  tile/targets/cpu/BUILD
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/llvm_cpu.jsonnet
  tile/targets/cpu/opencl_cpu.jsonnet
Due: clang-format, cpplint, yapf

remove strcmp and other fixes
  plaidml2/bridge/keras/__init__.py
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/__init__.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

symbolic variable test fix and other minor changes
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

try new windows recipe
  .bazelci/presubmit.yml
Due: none

Fixes
  ci/plan.yml
  plaidml2/edsl/edsl_test.py
Due: yapf

buildifier
  plaidml2/edsl/BUILD
Due: none

Remove cruft
  plaidml2/edsl/edsl_test.py
Due: yapf

minor fixes
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

minor fixes
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint

Fix windows
  plaidml2/core/settings.cc
Due: clang-format, cpplint

Set the right target to be used after cpu got split into llvm_cpu and opencl_cpu
  tile/platform/stripejit/platform.cc
Due: clang-format, cpplint

Adjust bazel.rcv
  bzl/bazel.rc
Due: none

exception for incorrect match dim and test
  plaidml2/bridge/keras/backend_test.py
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint, yapf

exception thrown for invalid dim match
  plaidml2/op/lib/ops.cc
Due: clang-format, cpplint

[skip ci] change bazel --config to be more general
  .bazelci/presubmit.yml
  bzl/bazel.rc
Due: none

[skip ci] try new windows recipe
  .bazelci/presubmit.yml
Due: none

[skip ci] try using full path to conda
  .bazelci/presubmit.yml
Due: none

[skip ci] add conda init to win
  .bazelci/presubmit.yml
Due: none

[skip ci] remove extraneous activate
  .bazelci/presubmit.yml
Due: none

Fix bazel test caching
  bzl/bazel.rc
Due: none

[skip ci] change conda activate to CALL
  .bazelci/presubmit.yml
Due: none

[skip ci] try conda install
  .bazelci/presubmit.yml
Due: none

[skip ci] conda for windows
  .bazelci/presubmit.yml
Due: none
