Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Pulling in John's changes/requests Minor cleanup
  bzl/bazel.rc
  plaidml/bridge/tensorflow/service/compiler.cc
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/conv_op_test_gen.py
  plaidml/bridge/tensorflow/tests/shape_op_test.cc
  plaidml/bridge/tensorflow/tests/shape_op_test_gen.py
Due: clang-format, cpplint, yapf

add more tests
  conda/unix.yml
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/dot_op_test.cc
  plaidml/bridge/tensorflow/tests/logical_op_test.cc
Due: clang-format, cpplint

fixes
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/conv_op_test_gen.py
  plaidml/bridge/tensorflow/tests/shape_op_test_gen.py
Due: yapf

Improve gpu to vulkan compilation time
  pmlc/conversion/gpu/gpu_to_vulkan.cc
Due: clang-format, cpplint

Fix llvm build on Windows without msys
  vendor/llvm/llvm.BUILD
Due: buildifier

Added intel block ops to stdx
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
  pmlc/dialect/stdx/tests/subgroup_block_ops.mlir
  pmlc/dialect/stdx/transforms/BUILD
  pmlc/dialect/stdx/transforms/passes.h
  pmlc/dialect/stdx/transforms/passes.td
  pmlc/dialect/stdx/transforms/subgroup_block_ops.cc
Due: clang-format, cpplint

changes after code review
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
  pmlc/dialect/stdx/tests/subgroup_block_ops.mlir
  pmlc/dialect/stdx/transforms/subgroup_block_ops.cc
Due: clang-format, cpplint

Improve gpu to vulkan compilation time (#1324)
  pmlc/conversion/gpu/gpu_to_vulkan.cc
Due: clang-format, cpplint

Add support for vectorizations of 0 stride reductions
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Workaround to enable keras backend tests without breaking CI
  plaidml/edsl/BUILD
  plaidml/op/BUILD
  pmlc/rt/BUILD
Due: none

try PYTHON_BIN_PATH fix for python_configure errors
  .bazelci/presubmit.yml
Due: none

test
  .bazelci/presubmit.yml
Due: none

Limit vectorization to the level of support of ReductionOp
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

add stdx to SPIRV GLSL lowering pattern (#1322)
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/conversion/gpu_to_spirv/gpu_to_spirv.cc
  pmlc/conversion/gpu_to_spirv/passes.h
Due: clang-format, cpplint

Addressed some CR feedback.
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Add Prng lowering patterns (on host) to gpu pipeline
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/prng_lowering.cc
Due: clang-format, cpplint

Include assertion fix from MLIR
  bzl/workspace.bzl
Due: buildifier

Fix llvm build on Windows without msys (#1325)
  vendor/llvm/llvm.BUILD
Due: buildifier

Bump again
  bzl/workspace.bzl
Due: buildifier

Using //plaidml:gpu_target
  plaidml/edsl/BUILD
  plaidml/op/BUILD
  pmlc/rt/BUILD
  pmlc/target/intel_gen/BUILD
Due: none

Add "comp" dialect for device-host modeling
  pmlc/BUILD
  pmlc/all_dialects.cc
  pmlc/dialect/comp/BUILD
  pmlc/dialect/comp/ir/BUILD
  pmlc/dialect/comp/ir/dialect.cc
  pmlc/dialect/comp/ir/dialect.h
  pmlc/dialect/comp/ir/interfaces.cc
  pmlc/dialect/comp/ir/interfaces.h
  pmlc/dialect/comp/ir/interfaces.td
  pmlc/dialect/comp/ir/ops.td
  pmlc/dialect/comp/ir/types.cc
  pmlc/dialect/comp/ir/types.h
  pmlc/dialect/comp/tests/BUILD
  pmlc/dialect/comp/tests/invalid.mlir
  pmlc/dialect/comp/tests/roundtrip.mlir
Due: clang-format, cpplint

Add Vulkan profiling support
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/target/intel_gen/BUILD
Due: clang-format, cpplint

Add support for vectorizations of 0 stride reductions (#1327)
  pmlc/dialect/pxa/tests/vectorize.mlir
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Include assertion fix from MLIR (#1331)
  bzl/workspace.bzl
Due: buildifier

Fix
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
Due: clang-format, cpplint

try fixing local_execution_config_python errors
  .bazelci/presubmit.yml
Due: none

test
  .bazelci/presubmit.yml
  bzl/bazel.rc
Due: none

test2
  .bazelci/presubmit.yml
Due: none

test3
  .bazelci/presubmit.yml
Due: none

Add OpenCL third-party archives
  bzl/workspace.bzl
  pmlc/rt/opencl/BUILD
  pmlc/rt/opencl/clprobe.cc
  vendor/opencl_headers/BUILD
  vendor/opencl_headers/opencl_headers.BUILD
  vendor/opencl_hpp_headers/BUILD
  vendor/opencl_hpp_headers/fix_apple_headers.patch
  vendor/opencl_hpp_headers/opencl_hpp_headers.BUILD
  vendor/opencl_icd_loader/BUILD
  vendor/opencl_icd_loader/opencl_icd_loader.BUILD
Due: buildifier, clang-format, cpplint

test4
  .bazelci/presubmit.yml
  ci/conda/tensorflow.yml
Due: none

cleanup
  .bazelci/presubmit.yml
  plaidml/bridge/tensorflow/tests/BUILD
Due: none

tcmalloc fix for bazelci
  .bazelci/presubmit.yml
Due: none

Add "comp" dialect for device-host modeling (#1282)
  pmlc/BUILD
  pmlc/all_dialects.cc
  pmlc/dialect/comp/BUILD
  pmlc/dialect/comp/ir/BUILD
  pmlc/dialect/comp/ir/dialect.cc
  pmlc/dialect/comp/ir/dialect.h
  pmlc/dialect/comp/ir/interfaces.cc
  pmlc/dialect/comp/ir/interfaces.h
  pmlc/dialect/comp/ir/interfaces.td
  pmlc/dialect/comp/ir/ops.td
  pmlc/dialect/comp/ir/types.cc
  pmlc/dialect/comp/ir/types.h
  pmlc/dialect/comp/tests/BUILD
  pmlc/dialect/comp/tests/invalid.mlir
  pmlc/dialect/comp/tests/roundtrip.mlir
Due: clang-format, cpplint

Fixes
  bzl/plaidml.bzl
  plaidml/BUILD
  plaidml/edsl/BUILD
  plaidml/edsl/tests/BUILD
  plaidml/op/BUILD
  pmlc/rt/vulkan/BUILD
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/prng_lowering.cc
  pmlc/target/x86/BUILD
  remote
Due: buildifier, clang-format, cpplint

Add support for PRNG on intel_gen (#1329)
  bzl/plaidml.bzl
  plaidml/BUILD
  plaidml/edsl/BUILD
  plaidml/edsl/tests/BUILD
  plaidml/edsl/tests/edsl_test-skip.intel_gen.txt
  plaidml/op/BUILD
  pmlc/rt/vulkan/BUILD
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/BUILD
  remote
Due: buildifier, clang-format, cpplint

Revert "Add Vulkan profiling support"
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/target/intel_gen/BUILD
Due: clang-format, cpplint

sync changes with latest plaidml-v1
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
Due: clang-format, cpplint

Add OpenCL third-party archives (#1333)
  bzl/workspace.bzl
  pmlc/rt/opencl/BUILD
  pmlc/rt/opencl/clprobe.cc
  vendor/opencl_headers/BUILD
  vendor/opencl_headers/opencl_headers.BUILD
  vendor/opencl_hpp_headers/BUILD
  vendor/opencl_hpp_headers/fix_apple_headers.patch
  vendor/opencl_hpp_headers/opencl_hpp_headers.BUILD
  vendor/opencl_icd_loader/BUILD
  vendor/opencl_icd_loader/opencl_icd_loader.BUILD
Due: buildifier, clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

