Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Fix non-+ contraction gradients
  pmlc/dialect/tile/gradient.cc
Due: clang-format, cpplint

Copy constraints, fix names in deriv
  pmlc/dialect/tile/gradient.cc
Due: clang-format, cpplint

Add Reshape deriv
  pmlc/dialect/tile/gradient.cc
Due: clang-format, cpplint

Add basic gradient support with MLIR
  plaidml2/bridge/keras/backend_test.py
  plaidml2/edsl/derivs.cc
  plaidml2/edsl/ffi.cc
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/gradient.cc
  pmlc/dialect/tile/gradient.h
Due: clang-format, cpplint, yapf

Don't differentiate affine constants
  pmlc/dialect/tile/gradient.cc
Due: clang-format, cpplint

Add deriv for Gather
  pmlc/dialect/tile/gradient.cc
  pmlc/dialect/tile/ops.td
Due: clang-format, cpplint

Update/Clean TODOs
  plaidml2/edsl/derivs.cc
  pmlc/dialect/tile/gradient.cc
  pmlc/dialect/tile/gradient.h
Due: clang-format, cpplint

Fix signedness for compiler
  pmlc/dialect/tile/gradient.cc
Due: clang-format, cpplint

Drop cruft
  bzl/plaidml.bzl
Due: buildifier

Don't build cion until affine min/max folded away
  pmlc/dialect/tile/ops.cc
Due: clang-format, cpplint

Experimental pipeline configuration & lowering to SPIR-V (#800)
  .gitignore
  plaidml2/exec/BUILD
  plaidml2/exec/ffi.cc
  pmlc/compiler/compiler.cc
  pmlc/compiler/compiler.h
  pmlc/compiler/registry.cc
  pmlc/compiler/registry.h
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

trim test examples
  ci/plan.yml
Due: none

Skip failing llvm_cpu test
  plaidml/keras/backend_test.py
Due: yapf

some corresponding python edsl tests added
  docs/docs/edsl.md
  docs/docs/edsl_python.md
  plaidml2/edsl/edsl_test.py
Due: yapf

edsl python test for avg and minor cleanup
  plaidml2/edsl/edsl_test.py
Due: yapf

python edsl avg tests + minor fixes
  docs/docs/edsl_python.md
  plaidml2/edsl/edsl_test.py
Due: yapf

Cleanups
  pmlc/dialect/stripe/agginit_pass.cc
  pmlc/dialect/stripe/autostencil_pass.cc
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  tile/base/shape.cc
  tile/base/shape.h
Due: clang-format, cpplint

Cleanups (#808)
  pmlc/dialect/stripe/agginit_pass.cc
  pmlc/dialect/stripe/autostencil_pass.cc
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  tile/base/shape.cc
  tile/base/shape.h
Due: clang-format, cpplint

add watch to bazel and various sphinx upgrades
  BUILD
  conda/unix.yml
  docs/conf.py
  docs/index.rst
  docs/manual_api/edsl.rst
  plaidml2/edsl/BUILD
  plaidml2/edsl/__init__.py
  watch.py
Due: buildifier, yapf

edsl python tests - max_pool_1d - skip - cum_sum
  docs/docs/edsl_python.md
  plaidml2/edsl/edsl_test.py
Due: yapf

fix
  BUILD
  docs/conf.py
  watch.py
Due: buildifier, yapf

fix
  docs/conf.py
Due: yapf

add doc
  docs/BUILD
  docs/watch.py
Due: yapf

WIP Play with reduce+lower in Tile dialect
  .bazelrc.configure.swp
  plaidml2/bridge/keras/backend_test.py
  pmlc/dialect/tile/lowering.cc
  tile/math/polynomial.h
Due: clang-format, cpplint, yapf

edsl tests complete - old tests update addedd - complex conv - conv2d dialated
  docs/docs/edsl_python.md
  plaidml2/edsl/edsl_test.py
Due: yapf

minor fix
  plaidml2/edsl/edsl_test.py
Due: yapf

minor fixes
  plaidml2/edsl/edsl_test.py
Due: yapf

minor format fix
  plaidml2/edsl/edsl_test.py
Due: yapf

Sphinx Prototype, continued (#809)
  conda/unix.yml
  docs/BUILD
  docs/conf.py
  docs/index.rst
  docs/manual_api/edsl.rst
  docs/watch.py
  plaidml2/edsl/BUILD
  plaidml2/edsl/__init__.py
Due: yapf

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  bzl/conda.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

