Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Cleanup EDSL
  plaidml2/BUILD
  plaidml2/edsl/edsl.h
Due: clang-format, cpplint

Cleanup oplib dialect
  pmlc/dialect/op_lib/BUILD
  pmlc/dialect/op_lib/cpp/ImplGen.cc
  pmlc/dialect/op_lib/cpp/ImplGen.h
  pmlc/dialect/op_lib/cpp/WrapperGen.h
  pmlc/dialect/op_lib/op_lib.bzl
  pmlc/dialect/op_lib/ops.cc
  pmlc/dialect/op_lib/python/WrapperGen.h
  pmlc/dialect/oplib/BUILD
  pmlc/dialect/oplib/cpp/BUILD
  pmlc/dialect/oplib/cpp/impl_gen.cc
  pmlc/dialect/oplib/cpp/impl_gen.h
  pmlc/dialect/oplib/cpp/utils.h
  pmlc/dialect/oplib/cpp/wrapper_gen.cc
  pmlc/dialect/oplib/cpp/wrapper_gen.h
  pmlc/dialect/oplib/model.cc
  pmlc/dialect/oplib/model.h
  pmlc/dialect/oplib/oplib_gen.cc
  pmlc/dialect/oplib/ops.td
  pmlc/dialect/oplib/python/BUILD
  pmlc/dialect/oplib/python/utils.h
  pmlc/dialect/oplib/python/wrapper_gen.cc
  pmlc/dialect/oplib/python/wrapper_gen.h
  pmlc/dialect/oplib/tests/BUILD
  pmlc/dialect/oplib/tests/BasicTensorOp.td
  pmlc/dialect/oplib/tests/MultiTensorInputOp.td
  pmlc/dialect/oplib/tests/TensorOpWithIntArrayAttr.td
  pmlc/dialect/oplib/tests/TensorOpWithIntAttr.td
  pmlc/dialect/oplib/tests/TensorOpWithStrAttr.td
  pmlc/runlit.cfg.py
  pmlc/runlit.site.cfg.py
Due: buildifier, clang-format, cpplint, yapf

cruft
  pmlc/dialect/oplib/BUILD
Due: none

Automatic stencil pass
  .pre-commit-config.yaml
  bzl/plaidml.bzl
  conda/windows.yml
  plaidml/BUILD
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/autostencil_pass.cc
  pmlc/dialect/stripe/autostencil_pass.h
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/mlir.h
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/stripe/util.cc
  pmlc/dialect/stripe/util.h
  tile/codegen/codegen.proto
  tile/codegen/mlir_passes.cc
  tile/codegen/pad.cc
  tile/pmlc/BUILD
  tile/targets/cpu/BUILD
  tile/targets/cpu/heatmap.h
  tile/targets/cpu/heatmap.tpl.cc
  tile/targets/cpu/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  tile/targets/cpu/llvm_cpu.jsonnet
  tools/heatmap/BUILD
  tools/heatmap/build_defs.bzl
  tools/heatmap/heatmap.py
Due: buildifier, clang-format, cpplint, yapf

max_n=768 [skip ci]
  networks/scitile/storti_integrals/torus.py
Due: yapf

max_n=513 [skip ci]
  networks/scitile/storti_integrals/torus.py
Due: yapf

minor doc fix
  docs/docs/edsl.md
Due: none

filename passed as argument
  networks/scitile/storti_integrals/torus.py
Due: yapf

[skip ci]
  networks/scitile/storti_integrals/torus.py
Due: yapf

minor doc fix (#782)
  docs/docs/edsl.md
Due: none

Added lowering to affine
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/from_tile.cc
  pmlc/dialect/pxa/ops.td
  pmlc/dialect/pxa/to_affine.cc
  pmlc/dialect/pxa/to_affine.h
Due: clang-format, cpplint

Fix
  pmlc/dialect/oplib/cpp/impl_gen.cc
  pmlc/dialect/oplib/cpp/utils.h
Due: clang-format, cpplint

Various cleanups (#781)
  plaidml2/BUILD
  plaidml2/edsl/edsl.h
  pmlc/dialect/op_lib/BUILD
  pmlc/dialect/op_lib/cpp/ImplGen.cc
  pmlc/dialect/op_lib/cpp/ImplGen.h
  pmlc/dialect/op_lib/cpp/WrapperGen.h
  pmlc/dialect/op_lib/op_lib.bzl
  pmlc/dialect/op_lib/ops.cc
  pmlc/dialect/op_lib/python/WrapperGen.h
  pmlc/dialect/oplib/BUILD
  pmlc/dialect/oplib/cpp/BUILD
  pmlc/dialect/oplib/cpp/impl_gen.cc
  pmlc/dialect/oplib/cpp/impl_gen.h
  pmlc/dialect/oplib/cpp/utils.h
  pmlc/dialect/oplib/cpp/wrapper_gen.cc
  pmlc/dialect/oplib/cpp/wrapper_gen.h
  pmlc/dialect/oplib/model.cc
  pmlc/dialect/oplib/model.h
  pmlc/dialect/oplib/oplib_gen.cc
  pmlc/dialect/oplib/ops.td
  pmlc/dialect/oplib/python/BUILD
  pmlc/dialect/oplib/python/utils.h
  pmlc/dialect/oplib/python/wrapper_gen.cc
  pmlc/dialect/oplib/python/wrapper_gen.h
  pmlc/dialect/oplib/tests/BUILD
  pmlc/dialect/oplib/tests/BasicTensorOp.td
  pmlc/dialect/oplib/tests/MultiTensorInputOp.td
  pmlc/dialect/oplib/tests/TensorOpWithIntArrayAttr.td
  pmlc/dialect/oplib/tests/TensorOpWithIntAttr.td
  pmlc/dialect/oplib/tests/TensorOpWithStrAttr.td
  pmlc/runlit.cfg.py
  pmlc/runlit.site.cfg.py
Due: buildifier, clang-format, cpplint, yapf

Rename comb_op to combo_op
  pmlc/dialect/stripe/tests/translate/double_dot.pbtxt
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/tests/cion-to-stripe.mlir
  pmlc/dialect/tile/tests/legalize-to-stripe.mlir
  pmlc/dialect/tile/tests/translate-to-stripe.mlir
  tile/codegen/pad.cc
  tile/codegen/test/load_index.cc
  tile/codegen/test/tile.cc
  tile/lang/gen_stripe.cc
  tile/lang/gen_stripe_test.cc
  tile/targets/cpu/llvm_cpu.jsonnet
  tile/targets/gpu/intel_gen9.jsonnet
Due: clang-format, cpplint

remove generated files
  docs/natural_docs/Working Data/CodeDB.nd
  docs/natural_docs/Working Data/Comments.nd
  docs/natural_docs/Working Data/Files.nd
  docs/natural_docs/Working Data/Languages.nd
  docs/natural_docs/Working Data/Output/BuildState.nd
  docs/natural_docs/Working Data/Output/Config.nd
  docs/natural_docs/Working Data/Parser.nd
  docs/natural_docs/Working Data/Project.nd
  docs/natural_docs/Working Data/SearchIndex.nd
Due: none

subheaders for each folder
  docs/natural_docs/Project.txt
Due: none

use ubuntu 18.04
  .bazelci/presubmit.yml
Due: none

Additional work on eltwise, dummy out some tests
  pmlc/dialect/pxa/from_tile.cc
  pmlc/dialect/pxa/tests/from_tile.mlir
Due: clang-format, cpplint

Add new PXA dialect and two lowerings. Still a WIP, but want to merge to coordinate with @flaub (#783)
  pmlc/BUILD
  pmlc/dialect/eltwise/BUILD
  pmlc/dialect/eltwise/interfaces.td
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/types.cc
  pmlc/dialect/eltwise/types.h
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/dialect.h
  pmlc/dialect/pxa/from_tile.cc
  pmlc/dialect/pxa/from_tile.h
  pmlc/dialect/pxa/ops.cc
  pmlc/dialect/pxa/ops.h
  pmlc/dialect/pxa/ops.td
  pmlc/dialect/pxa/tests/BUILD
  pmlc/dialect/pxa/tests/from_tile.mlir
  pmlc/dialect/pxa/to_affine.cc
  pmlc/dialect/pxa/to_affine.h
Due: clang-format, cpplint

try sphinx
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
Due: yapf

use ubuntu 18.04 (#786)
  .bazelci/presubmit.yml
Due: none

plaidml2 API cleanups
  plaidml2/core/BUILD
  plaidml2/core/core_test.py
  plaidml2/core/ffi.cc
  plaidml2/core/ffi.h
  plaidml2/core/settings.py
  plaidml2/exec/__init__.py
  plaidml2/exec/exec.h
  plaidml2/exec/ffi.cc
  plaidml2/exec/ffi.h
  plaidml2/plaidml_link.jsonnet
Due: clang-format, cpplint, yapf

plaidml2 API cleanups (#788)
  plaidml2/core/BUILD
  plaidml2/core/core_test.py
  plaidml2/core/ffi.cc
  plaidml2/core/ffi.h
  plaidml2/core/settings.py
  plaidml2/exec/__init__.py
  plaidml2/exec/exec.h
  plaidml2/exec/ffi.cc
  plaidml2/exec/ffi.h
  plaidml2/plaidml_link.jsonnet
Due: clang-format, cpplint, yapf

Bound loc rewrite loop
  tile/codegen/rewrite_locs.cc
Due: clang-format, cpplint

Bump MLIR forward
  bzl/workspace.bzl
  pmlc/dialect/stripe/dialect.cc
  vendor/mlir/mlir.BUILD
  vendor/mlir/mlir.patch
Due: buildifier, clang-format, cpplint

Cleanup plaidml2 FFI
  plaidml2/core/ffi.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/exec/ffi.h
  plaidml2/op/ffi.h
Due: clang-format, cpplint

Cleanup plaidml2 FFI (#792)
  plaidml2/core/ffi.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/exec/ffi.h
  plaidml2/op/ffi.h
Due: clang-format, cpplint

Bump MLIR forward (#790)
  bzl/workspace.bzl
  pmlc/dialect/stripe/dialect.cc
  vendor/mlir/mlir.BUILD
  vendor/mlir/mlir.patch
Due: buildifier, clang-format, cpplint

Bound loc rewrite loop (#789)
  tile/codegen/rewrite_locs.cc
Due: clang-format, cpplint

Try
  docs/.gitignore
  docs/Doxyfile
  docs/conf.py
  plaidml2/core/core.h
  plaidml2/core/ffi.cc
  plaidml2/core/ffi.h
  plaidml2/core/internal.h
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/exec/exec.h
  plaidml2/exec/ffi.cc
  plaidml2/exec/ffi.h
  plaidml2/op/ffi.cc
  plaidml2/op/ffi.h
  plaidml2/op/op.h
Due: clang-format, cpplint, yapf

WIP
  docs/.gitignore
  docs/natural/.gitignore
  docs/natural/Comments.txt
  docs/natural/Languages.txt
  docs/natural/Parser.txt
  docs/natural/Project.txt
  docs/watch.py
  plaidml2/core/internal.h
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.h
Due: clang-format, cpplint, yapf

WIP
  docs/.gitignore
  docs/Doxyfile
  docs/README.md
  docs/conf.py
  docs/index.rst
  docs/manual_api/core.rst
  docs/manual_api/edsl.rst
  docs/manual_api/exec.rst
  docs/manual_api/index.rst
  docs/usage/building.rst
  docs/usage/install.rst
  plaidml2/edsl/edsl.h
  watch.py
Due: clang-format, cpplint, yapf

WIP
  docs/conf.py
  plaidml2/core/core.h
  plaidml2/core/ffi.cc
  plaidml2/core/ffi.h
  plaidml2/core/internal.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/exec/exec.h
  plaidml2/exec/ffi.cc
  plaidml2/exec/ffi.h
  plaidml2/op/ffi.cc
  plaidml2/op/ffi.h
  plaidml2/op/op.h
Due: clang-format, cpplint, yapf

plaidml -> plaidml2
  networks/oplib/resnet50.cc
  plaidml2/bridge/pytorch/compiler.cc
  plaidml2/bridge/pytorch/compiler.h
  plaidml2/bridge/pytorch/register.cc
  plaidml2/core/ffi.cc
  plaidml2/core/internal.h
  plaidml2/core/settings.cc
  plaidml2/core/settings.h
  plaidml2/edsl/autodiff.h
  plaidml2/edsl/derivs.cc
  plaidml2/edsl/derivs.h
  plaidml2/edsl/edsl.h
  plaidml2/edsl/edsl_test.cc
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/helper.cc
  plaidml2/edsl/helper.h
  plaidml2/exec/exec.h
  plaidml2/exec/ffi.cc
  plaidml2/op/ffi.cc
  plaidml2/op/lib/ops.cc
  plaidml2/op/lib/ops.h
  plaidml2/op/op.h
  plaidml2/op/op_test.cc
  plaidml2/testenv.cc
  pmlc/dialect/stripe/translate_test.cc
  tile/codegen/test/cache.cc
  tile/codegen/test/pattern.cc
  tile/codegen/test/schedule.cc
  tile/codegen/test/tile.cc
  tile/lib/lib.cc
  tile/lib/lib.h
  tile/lib/tests.cc
  tile/lib/tests.h
Due: clang-format, cpplint

add docs
  docs/README.md
Due: none

Experimental end to end MLIR execution
  plaidml2/core/BUILD
  plaidml2/edsl/BUILD
  plaidml2/edsl/edsl_test.cc
  plaidml2/exec/BUILD
  plaidml2/exec/ffi.cc
  plaidml2/op/BUILD
  plaidml2/testenv.cc
  pmlc/dialect/pxa/BUILD
  pmlc/dialect/pxa/from_tile.cc
  pmlc/dialect/pxa/from_tile.h
  pmlc/dialect/pxa/passes.h
  pmlc/dialect/pxa/to_affine.cc
  pmlc/dialect/pxa/to_affine.h
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/program.h
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

