Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

---
exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    lib/macos_x86_64/.*|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ['-i']
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Stripe adjustments
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/test/test.cc
  tile/codegen/test/test_cache.cc
  tile/codegen/test/test_fuse.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/lang/gen_stripe.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Add real ArgMax
  plaidml/keras/backend_test.py
  plaidml/op.py
  plaidml/tile.py
  plaidml/tile_test.py
Due: yapf

add 'type' field to stripe intrinsics
  tile/codegen/schedule/deps_test.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

Add arena placer
  tile/codegen/schedule/BUILD
  tile/codegen/schedule/placer.cc
  tile/codegen/schedule/placer.h
  tile/codegen/schedule/placer_test.cc
  tile/codegen/schedule/scheduler.h
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

Add deps to human Stripe output
  tile/stripe/stripe.cc
Due: clang-format, cpplint

Handle missing deps in block print
  tile/stripe/stripe.cc
Due: clang-format, cpplint

Support assignment contractions
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint

Added some fixes to allow more merging Work in progress, first version of descriptors Remove annotations, added props Getting close to a brave new world
  tile/codegen/alias.cc
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/localize.h
  tile/codegen/scalarize.h
  tile/codegen/tags.h
  tile/codegen/test/test.cc
  tile/codegen/test/test_cache.cc
  tile/codegen/test/test_fuse.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/lang/gen_stripe.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

Fixed c++14 issue
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint

Move optimizer passes to plaidml
  tile/codegen/BUILD
  tile/codegen/codegen.proto
  tile/codegen/deps.cc
  tile/codegen/deps.h
  tile/codegen/localize.cc
  tile/codegen/localize.h
  tile/codegen/placer.cc
  tile/codegen/placer.h
  tile/codegen/schedule/BUILD
  tile/codegen/scheduler.h
  tile/codegen/test/BUILD
  tile/codegen/test/cache.cc
  tile/codegen/test/deps.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/placer.cc
Due: clang-format, cpplint

Allow optimization passes to be specified by a proto
  tile/codegen/BUILD
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/codegen.proto
  tile/codegen/deps.h
  tile/codegen/driver.cc
  tile/codegen/driver.h
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/localize.cc
  tile/codegen/localize.h
  tile/codegen/placer.h
  tile/codegen/scalarize.cc
  tile/codegen/scalarize.h
  tile/codegen/tags.h
  tile/codegen/test/test.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/codegen/vm.cc
  tile/stripe/BUILD
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

Fix casting, remove requests
  plaidml/__init__.py
  plaidml/op.py
  plaidml/requirements.txt
  plaidml/setup.cfg
Due: yapf

Merge pull request #62 from vertexai/bretford-fix-cast-remove-requests
  plaidml/__init__.py
  plaidml/op.py
  plaidml/requirements.txt
  plaidml/setup.cfg
Due: yapf

Cleanup stripe text representation
  tile/stripe/stripe.cc
Due: clang-format, cpplint

Changes to get DPU descriptors to work
  tile/codegen/driver.cc
  tile/codegen/localize.cc
  tile/codegen/test/test.cc
  tile/codegen/tile.cc
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint

Plumb node names to stripe block names
  base/util/intern.h
  plaidml/__init__.py
  plaidml/op.py
  plaidml/plaidml.cc
  plaidml/tile.py
  tile/codegen/driver.cc
  tile/codegen/driver.h
  tile/lang/compose.cc
  tile/lang/gen_stripe.cc
  tile/lang/tile.y
Due: clang-format, cpplint, yapf

Plumb names thru tiling and fusion passes
  base/eventing/file/eventlog_test.cc
  testing/matchers.h
  tile/codegen/fuse.cc
  tile/codegen/test/deps.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/placer.cc
  tile/codegen/tile.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Compat for bazel-19+
  .bazelrc
Due: none

Merge Keras and generic Pooling ops
  plaidml/keras/backend.py
  plaidml/op.py
Due: yapf

Merge pull request #69 from vertexai/tim-pool-channels
  plaidml/keras/backend.py
  plaidml/op.py
Due: yapf

Support for generating memory image
  .gitignore
  base/util/BUILD
  base/util/lookup.h
  base/util/throw.h
  bzl/boost.BUILD
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/cache.cc
  tile/codegen/deps.cc
  tile/codegen/fuse.cc
  tile/codegen/localize.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/test.cc
  tile/codegen/tile.cc
  tile/codegen/vm.cc
  tile/codegen/vm.h
  tile/lang/gen_stripe.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/util/tile_file.cc
  tile/util/tile_file.h
Due: buildifier, clang-format, cpplint

Fix ComputeDeps crash
  tile/codegen/alias.h
  tile/codegen/deps.cc
  tile/codegen/deps.h
  tile/codegen/scheduler.h
  tile/codegen/test/deps.cc
Due: clang-format, cpplint
