Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Bump MLIR (#1013)
  bzl/workspace.bzl
  ci/plan.yml
  pmlc/BUILD
  pmlc/compiler/BUILD
  pmlc/compiler/compiler.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/pxa/ir/BUILD
  pmlc/dialect/pxa/transforms/registration.cc
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/test_analysis.h
  pmlc/dialect/stdx/transforms/boundscheck.h
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/transforms/constant_types.cc
  pmlc/dialect/tile/transforms/contraction.h
  pmlc/dialect/tile/transforms/passes.h
  pmlc/dialect/xsmm/ir/BUILD
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/trace_linking.cc
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/tools/pmlc-opt/BUILD
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  pmlc/tools/pmlc-translate/BUILD
  pmlc/tools/pmlc-translate/pmlc-translate.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
  pmlc/util/all_dialects.h
  pmlc/util/all_passes.h
  vendor/llvm/llvm.BUILD
  vendor/mlir/mlir.BUILD
  vendor/mlir/test.BUILD
Due: buildifier, clang-format, cpplint

Add more tight checks.
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
Due: none

Add more checks.
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
Due: none

Fix tile_to_pxa index to non-index cast (#1012)
  pmlc/conversion/tile_to_pxa/tests/eltwise_add.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/util.cc
Due: clang-format, cpplint

Add linux debug build (#998)
  ci/buildkite.py
  ci/plan.yml
Due: yapf

Fixes to affine map, cull hard crashing backend tests, add newly passing tests to CI
  bzl/workspace.bzl
  ci/plan.yml
  plaidml/bridge/keras/backend_test.py
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/transforms/contraction.cc
Due: buildifier, clang-format, cpplint, yapf

Fixes to affine map, cull hard crashing backend tests, add newly passing tests to CI (#1015)
  bzl/workspace.bzl
  ci/plan.yml
  plaidml/bridge/keras/backend_test.py
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/tile.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/dialect/tile/transforms/contraction.cc
Due: buildifier, clang-format, cpplint, yapf

Split compiler into program/executable. Fix deps.
  plaidml/edsl/BUILD
  plaidml/edsl/ffi.cc
  plaidml/exec/ffi.cc
  pmlc/BUILD
  pmlc/compiler/BUILD
  pmlc/compiler/executable.cc
  pmlc/compiler/executable.h
  pmlc/compiler/program.cc
  pmlc/compiler/program.h
  pmlc/dialect/tile/builder.h
  pmlc/tools/pmlc-opt/BUILD
  pmlc/util/all_dialects.h
Due: clang-format, cpplint

Use Dialect decl from tablegen
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/BUILD
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/eltwise/ir/dialect.h
  pmlc/dialect/eltwise/ir/ops.h
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/eltwise/ir/registration.cc
  pmlc/dialect/pxa/ir/BUILD
  pmlc/dialect/pxa/ir/dialect.cc
  pmlc/dialect/pxa/ir/dialect.h
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/registration.cc
  pmlc/dialect/stdx/ir/BUILD
  pmlc/dialect/stdx/ir/dialect.cc
  pmlc/dialect/stdx/ir/dialect.h
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.h
  pmlc/dialect/stdx/ir/registration.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/ir/BUILD
  pmlc/dialect/tile/ir/base.td
  pmlc/dialect/tile/ir/dialect.cc
  pmlc/dialect/tile/ir/dialect.h
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/ir/registration.cc
  pmlc/dialect/xsmm/ir/BUILD
  pmlc/dialect/xsmm/ir/dialect.cc
  pmlc/dialect/xsmm/ir/dialect.h
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.h
  pmlc/dialect/xsmm/ir/registration.cc
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/util/all_dialects.h
Due: clang-format, cpplint

Use Dialect decl from tablegen (#1017)
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/eltwise/ir/BUILD
  pmlc/dialect/eltwise/ir/dialect.cc
  pmlc/dialect/eltwise/ir/dialect.h
  pmlc/dialect/eltwise/ir/ops.h
  pmlc/dialect/eltwise/ir/ops.td
  pmlc/dialect/eltwise/ir/registration.cc
  pmlc/dialect/pxa/ir/BUILD
  pmlc/dialect/pxa/ir/dialect.cc
  pmlc/dialect/pxa/ir/dialect.h
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.h
  pmlc/dialect/pxa/ir/registration.cc
  pmlc/dialect/stdx/ir/BUILD
  pmlc/dialect/stdx/ir/dialect.cc
  pmlc/dialect/stdx/ir/dialect.h
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.h
  pmlc/dialect/stdx/ir/registration.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/ir/BUILD
  pmlc/dialect/tile/ir/base.td
  pmlc/dialect/tile/ir/dialect.cc
  pmlc/dialect/tile/ir/dialect.h
  pmlc/dialect/tile/ir/ops.h
  pmlc/dialect/tile/ir/registration.cc
  pmlc/dialect/xsmm/ir/BUILD
  pmlc/dialect/xsmm/ir/dialect.cc
  pmlc/dialect/xsmm/ir/dialect.h
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.h
  pmlc/dialect/xsmm/ir/registration.cc
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/util/all_dialects.h
Due: clang-format, cpplint

Don't upload artifacts for debug builds
  ci/buildkite.py
  ci/pipeline.yml
Due: yapf

fix
  ci/buildkite.py
Due: yapf

Don't upload artifacts for debug builds (#1018)
  ci/buildkite.py
  ci/pipeline.yml
Due: yapf

Fix for calculating buffer sizes when calling from Python to plaidml.
  ci/plan.yml
  plaidml/bridge/keras/backend_test.py
  plaidml/core/ffi.cc
Due: clang-format, cpplint, yapf

Addressed some CR comments.
  plaidml/bridge/keras/backend_test.py
  plaidml/core/ffi.cc
Due: clang-format, cpplint, yapf

Fix for calculating buffer sizes when calling from Python to plaidml (#1020)
  ci/plan.yml
  plaidml/bridge/keras/backend_test.py
  plaidml/core/ffi.cc
Due: clang-format, cpplint, yapf

Move mlir pointer forward
  bzl/workspace.bzl
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/test_analysis.cc
  pmlc/dialect/stdx/transforms/boundscheck.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/tools/pmlc-tblgen/cpp/utils.h
  pmlc/tools/pmlc-tblgen/model.h
  pmlc/tools/pmlc-tblgen/python/utils.h
Due: buildifier, clang-format, cpplint

Move mlir pointer forward (#1021)
  bzl/workspace.bzl
  pmlc/conversion/stdx_to_llvm/stdx_to_llvm.cc
  pmlc/dialect/pxa/transforms/stencil.cc
  pmlc/dialect/pxa/transforms/test_analysis.cc
  pmlc/dialect/stdx/transforms/boundscheck.cc
  pmlc/dialect/tile/ir/ops.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/target/x86/xsmm_lowering.cc
  pmlc/tools/pmlc-tblgen/cpp/utils.h
  pmlc/tools/pmlc-tblgen/model.h
  pmlc/tools/pmlc-tblgen/python/utils.h
Due: buildifier, clang-format, cpplint

Added gpu lit tests, 4d-6d memref support, buffer barriers, updated passes, cast static memref directly to unranked buffers
  plaidml/edsl/tests/BUILD
  pmlc/conversion/gpu/BUILD
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/conversion/gpu/kernel_outlining.cc
  pmlc/conversion/gpu/llvm_lowering.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/conversion/gpu/pass_detail.h
  pmlc/conversion/gpu/passes.td
  pmlc/lit.cfg.py
  pmlc/lit.site.cfg.py
  pmlc/rt/vulkan/tests/BUILD
  pmlc/rt/vulkan/tests/CPPLINT.cfg
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
  pmlc/rt/vulkan/wrappers.cc
  pmlc/target/intel_gen/pipeline.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint, yapf

Commented not supported tests on CI
  pmlc/rt/vulkan/tests/edsl_test_gpu.cc
Due: clang-format, cpplint

Initialize volk only once
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/rt/vulkan/vulkan_runtime.h
Due: clang-format, cpplint

switch to latest master revision of libxsmm which incl. bug fixes for batch reduce gemm and fixes python3 compatibility
  bzl/workspace.bzl
Due: buildifier

switch to latest master revision of libxsmm which incl. bug fixes for batch reduce gemm and fixes python3 compatibility (#1023)
  bzl/workspace.bzl
Due: buildifier

Try MCJIT
  pmlc/compiler/BUILD
  pmlc/compiler/executable.cc
  pmlc/compiler/executable.h
  pmlc/compiler/program.cc
  pmlc/compiler/program.h
  pmlc/rt/tests/boundscheck-rt.mlir
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/target/x86/tests/trace.mlir
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

WIP
  bzl/bazel.rc
  pmlc/compiler/BUILD
  pmlc/compiler/executable.cc
  pmlc/compiler/executable.h
  pmlc/compiler/registry.cc
  pmlc/compiler/registry.h
  pmlc/rt/BUILD
  pmlc/rt/boundscheck.cc
  pmlc/rt/plaidml_rt.jsonnet
  pmlc/rt/runtime.cc
  pmlc/rt/xsmm.cc
  pmlc/target/x86/tests/BUILD
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-jit/pmlc-jit.cc
Due: clang-format, cpplint

Use MCJIT
  networks/oplib/BUILD
  plaidml/exec/ffi.cc
  pmlc/compiler/executable.cc
  pmlc/compiler/registry.cc
  pmlc/compiler/registry.h
  pmlc/rt/BUILD
  pmlc/rt/boundscheck.cc
  pmlc/rt/memref.h
  pmlc/rt/runtime.cc
  pmlc/rt/vulkan/BUILD
  pmlc/rt/vulkan/vulkan_rt.jsonnet
  pmlc/rt/vulkan/wrappers.cc
  pmlc/rt/xsmm.cc
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Fixes
  pmlc/rt/runtime.cc
  pmlc/target/x86/tests/BUILD
Due: clang-format, cpplint

Fixes
  pmlc/rt/runtime.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fixes
  bzl/bazel.rc
  pmlc/rt/runtime.cc
Due: clang-format, cpplint

Use zero-config xsmm
  bzl/workspace.bzl
  plaidml/edsl/tests/edsl_test.cc
  plaidml/testenv.h
  pmlc/compiler/executable.cc
  pmlc/compiler/registry.h
  pmlc/conversion/tile_to_pxa/tests/BUILD
  pmlc/rt/BUILD
  pmlc/rt/xsmm.cc
  pmlc/target/x86/tests/BUILD
  vendor/xsmm/repo.bzl
  vendor/xsmm/xsmm.BUILD
Due: buildifier, clang-format, cpplint

Fix macos
  pmlc/compiler/executable.cc
  pmlc/compiler/registry.h
Due: clang-format, cpplint

Fixes
  pmlc/conversion/tile_to_pxa/tests/shr_scalar.mlir
  pmlc/rt/xsmm.cc
Due: clang-format, cpplint

Remove BLAS
  pmlc/rt/xsmm.cc
  vendor/xsmm/xsmm.BUILD
Due: buildifier, clang-format, cpplint

Try again
  vendor/xsmm/xsmm.BUILD
Due: buildifier

Disable Windows for now
  plaidml/testenv.h
  pmlc/target/x86/tests/BUILD
  vendor/xsmm/xsmm.BUILD
Due: buildifier, clang-format, cpplint

Disable windows
  plaidml/testenv.h
Due: clang-format, cpplint

Use the more stable MCJIT as default JIT engine (#1025)
  bzl/workspace.bzl
  networks/oplib/BUILD
  plaidml/edsl/tests/edsl_test.cc
  plaidml/exec/ffi.cc
  pmlc/compiler/BUILD
  pmlc/compiler/executable.cc
  pmlc/compiler/executable.h
  pmlc/compiler/program.cc
  pmlc/compiler/program.h
  pmlc/compiler/registry.cc
  pmlc/compiler/registry.h
  pmlc/conversion/tile_to_pxa/tests/BUILD
  pmlc/conversion/tile_to_pxa/tests/shr_scalar.mlir
  pmlc/rt/BUILD
  pmlc/rt/boundscheck.cc
  pmlc/rt/memref.h
  pmlc/rt/plaidml_rt.jsonnet
  pmlc/rt/runtime.cc
  pmlc/rt/tests/boundscheck-rt.mlir
  pmlc/rt/vulkan/BUILD
  pmlc/rt/vulkan/tests/addf.mlir
  pmlc/rt/vulkan/vulkan_rt.jsonnet
  pmlc/rt/vulkan/wrappers.cc
  pmlc/rt/xsmm.cc
  pmlc/target/x86/pipeline.cc
  pmlc/target/x86/tests/BUILD
  pmlc/target/x86/tests/trace.mlir
  pmlc/target/x86/tests/xsmm_call.mlir
  pmlc/tools/pmlc-jit/BUILD
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-vulkan-runner/BUILD
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
  vendor/xsmm/repo.bzl
  vendor/xsmm/xsmm.BUILD
Due: buildifier, clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

