Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Slow but steady progress towards exec
  plaidml/edsl/tests/BUILD
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
  pmlc/dialect/abi/ir/ops.td
Due: clang-format, cpplint

added vector and onlyNested loop option to resize_tmp
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

Replace gpu-to-vulkan pass by comp-to-vulkan pass
  pmlc/conversion/comp_to_llvm/BUILD
  pmlc/conversion/comp_to_llvm/comp_to_vulkan.cc
  pmlc/conversion/comp_to_llvm/passes.h
  pmlc/conversion/comp_to_llvm/passes.td
  pmlc/conversion/gpu/BUILD
  pmlc/conversion/gpu/gpu_to_vulkan.cc
  pmlc/conversion/gpu/lowering.h
  pmlc/conversion/gpu/passes.td
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/wrappers.cc
  pmlc/target/intel_gen/BUILD
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen/tests/dotf.mlir
  pmlc/target/intel_gen/tests/e2e.mlir
  pmlc/target/intel_gen/tests/intermediate.mlir
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

added vector and onlyNested loop option to resize_tmp (#1483)
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/target/intel_gen/pipeline.cc
  pmlc/target/intel_gen_ocl_spirv/pipeline.cc
Due: clang-format, cpplint

Get subgroup size from subgroupSize attribute (#1393)
  pmlc/conversion/gpu/gpu_to_vulkan.cc
Due: clang-format, cpplint

Use a genrule to build openvino
  vendor/openvino/openvino.BUILD
Due: buildifier

builds benchmark app
  WORKSPACE
  plaidml/BUILD
  toolchain/build_defs.bzl
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier

revert toolchains
  toolchain/build_defs.bzl
Due: buildifier

address comments
  WORKSPACE
Due: buildifier

build benchmark app using cmake, add sdk tars
  WORKSPACE
  plaidml/BUILD
  plaidml/core/BUILD
  plaidml/edsl/BUILD
  plaidml/exec/BUILD
  plaidml/op/BUILD
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier

cleanup openvino build
  vendor/openvino/openvino.BUILD
Due: buildifier

remove comments
  vendor/openvino/openvino.BUILD
Due: buildifier

disable plaidml version of OV plugin
  plaidml/BUILD
  plaidml/bridge/openvino/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
Due: none

fix visibility
  plaidml/BUILD
Due: none

address comments
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier

cleanup
  WORKSPACE
Due: buildifier

split into two targets
  WORKSPACE
  vendor/openvino/openvino.BUILD
Due: buildifier

switch to commits
  vendor/openvino/workspace.bzl
Due: buildifier

WOOT: plaidml_exec() appears to work
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Build OpenVINO w/ cmake (#1482)
  plaidml/BUILD
  plaidml/bridge/openvino/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/BUILD
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/BUILD
  plaidml/core/BUILD
  plaidml/edsl/BUILD
  plaidml/exec/BUILD
  plaidml/op/BUILD
  vendor/openvino/openvino.BUILD
  vendor/openvino/workspace.bzl
Due: buildifier

Minor tweakage
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
Due: clang-format, cpplint

pml-ocl-gen resnet50
  ci/plan.yml
Due: none

More WIP
  pmlc/rt/tests/openmp.mlir
  pmlc/target/x86/pipeline.cc
  pmlc/tools/pmlc-translate/BUILD
  pmlc/tools/pmlc-translate/pmlc-translate.cc
Due: clang-format, cpplint

Snapshot before trying crazy ABI idea
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
Due: clang-format, cpplint

add smoke workload to pml-ocl-gen platform
  ci/plan.yml
Due: none

Ready to make a PR
  pmlc/conversion/scf_to_omp/scf_to_omp.cc
  pmlc/dialect/pxa/transforms/cpu_thread.cc
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/rt/builtin.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Fixed a broken test
  pmlc/rt/tests/openmp.mlir
Due: none

goldens for pml-ocl-gen resnet50 workload
  ci/golden/infer/resnet50/pml-ocl-gen/BATCH_SIZE=1/result.json
  ci/golden/infer/resnet50/pml-ocl-gen/BATCH_SIZE=1/result.npy
Due: none

connected from Device to plaidbench
  plaidbench/plaidbench/core.py
  plaidbench/plaidbench/frontend_keras.py
  plaidml/bridge/keras/__init__.py
  plaidml/exec/ffi.cc
  pmlc/rt/device.h
  pmlc/rt/jit_executable.cc
  pmlc/rt/opencl/opencl_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.cc
Due: clang-format, cpplint, yapf

cleanup
  plaidml/bridge/keras/__init__.py
  plaidml/exec/ffi.cc
  pmlc/rt/device.h
  pmlc/rt/jit_executable.cc
  pmlc/rt/opencl/opencl_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.cc
Due: clang-format, cpplint, yapf

make Vulkan log looks like OpenCL
  pmlc/rt/vulkan/vulkan_invocation.cc
Due: clang-format, cpplint

Better loop op def, with hoisting
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
  pmlc/dialect/abi/ir/dialect.cc
  pmlc/dialect/abi/ir/dialect.h
  pmlc/dialect/abi/ir/ops.td
  pmlc/dialect/abi/transforms/add_abi_loop.cc
Due: clang-format, cpplint

WIP
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
  pmlc/conversion/abi_to_llvm/passes.h
  pmlc/dialect/abi/ir/BUILD
  pmlc/dialect/abi/ir/dialect.cc
  pmlc/dialect/abi/ir/loop_op.cc
  pmlc/dialect/abi/ir/ops.td
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Add subgroup changes
  pmlc/conversion/comp_to_llvm/comp_to_vulkan.cc
  pmlc/conversion/gpu/passes.td
Due: clang-format, cpplint

Inching to init
  pmlc/conversion/abi_to_llvm/abi_to_llvm.cc
Due: clang-format, cpplint

CR fixes and a bug workaround
  pmlc/conversion/scf_to_omp/scf_to_omp.cc
  pmlc/conversion/scf_to_omp/tests/scf_to_omp.mlir
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/rt/BUILD
  pmlc/rt/builtin.cc
  pmlc/rt/openmp.cc
  pmlc/target/x86/pipeline.cc
  pmlc/tools/pmlc-translate/BUILD
Due: clang-format, cpplint

address code review feedback
  plaidbench/plaidbench/frontend_keras.py
  plaidml/core/core.h
  plaidml/exec/exec.h
  plaidml/exec/ffi.cc
  pmlc/rt/jit_executable.cc
Due: clang-format, cpplint, yapf

Fix very sloppy find/replace work
  pmlc/conversion/scf_to_omp/scf_to_omp.cc
Due: clang-format, cpplint

Support for threaded execution on CPU backend via OpenMP (#1487)
  pmlc/BUILD
  pmlc/all_passes.h
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/conversion/scf_to_omp/BUILD
  pmlc/conversion/scf_to_omp/pass_detail.h
  pmlc/conversion/scf_to_omp/passes.h
  pmlc/conversion/scf_to_omp/passes.td
  pmlc/conversion/scf_to_omp/scf_to_omp.cc
  pmlc/conversion/scf_to_omp/tests/BUILD
  pmlc/conversion/scf_to_omp/tests/scf_to_omp.mlir
  pmlc/dialect/pxa/transforms/cpu_thread.cc
  pmlc/dialect/pxa/transforms/stencil_gemm.cc
  pmlc/dialect/pxa/transforms/tile_accumulate.cc
  pmlc/rt/BUILD
  pmlc/rt/openmp.cc
  pmlc/rt/tests/openmp.mlir
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
  pmlc/tools/pmlc-translate/BUILD
  pmlc/tools/pmlc-translate/pmlc-translate.cc
Due: clang-format, cpplint
