Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

.pre-commit-config.yaml:

exclude: >
  (?x)^(
    bzl/version.tpl.cc|
    bzl/version.tpl.py|
    ci/pipeline.yml|
    plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
    pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ["-i"]
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        files: '\.ipynb$'
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

Do normalize_corner in BoxesDecodeMode::NMS.
  plaidml/op/lib/ops.cc
Due: clang-format, cpplint

Do normalize_corner in BoxesDecodeMode::NMS. (#1757)
  plaidml/op/lib/ops.cc
Due: clang-format, cpplint

NFC: Extract specials into its own source file
  pmlc/conversion/tile_to_pxa/CMakeLists.txt
  pmlc/conversion/tile_to_pxa/pass_detail.h
  pmlc/conversion/tile_to_pxa/specials.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/conversion/tile_to_pxa/utils.cc
Due: clang-format, cpplint

Adding another test file
  pmlc/target/x86/tests/conv_sequence2.mlir
Due: none

NFC: Extract specials into its own source file (#1759)
  pmlc/conversion/tile_to_pxa/CMakeLists.txt
  pmlc/conversion/tile_to_pxa/pass_detail.h
  pmlc/conversion/tile_to_pxa/specials.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/conversion/tile_to_pxa/utils.cc
Due: clang-format, cpplint

Turning off xsmm
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

move topk into oplib
  plaidml/bridge/openvino/ops/topk.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint

Updating the test file
  pmlc/target/x86/tests/conv_sequence2.mlir
Due: none

Whitespace
  plaidml/op/op.h
Due: clang-format, cpplint

Net no-op commit (revert whitespace)
  plaidml/op/op.h
Due: clang-format, cpplint

Adding testing scripts
  test_resnet.sh
  test_sequence.sh
  test_sequence_stencil.sh
Due: none

Updating the test scripts
  test_sequence.sh
  test_sequence_stencil.sh
Due: none

move topk into oplib (#1758)
  plaidml/bridge/openvino/ops/topk.cpp
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
Due: clang-format, cpplint

Added somepoilerplate for unary
  cmake/third_party/xsmm.cmake
  pmlc/dialect/xsmm/ir/ops.cc
  pmlc/dialect/xsmm/ir/ops.td
  pmlc/rt/xsmm.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Minor fixes
  pmlc/rt/xsmm.cc
  pmlc/target/x86/xsmm_lowering.cc
Due: clang-format, cpplint

Registered symbols
  pmlc/rt/xsmm.cc
Due: clang-format, cpplint

Re-enabling stenciling pass in the x86 pipeline
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  pmlc/target/x86/pipeline.cc
  test_resnet.sh
Due: clang-format, cpplint

FIxed parsing issue
  pmlc/dialect/xsmm/ir/ops.cc
Due: clang-format, cpplint

Adding cast to no-prepad list
  plaidml/op/lib/ops.cc
  plaidml/op/op_test.cc
  pmlc/.clang-format
  pmlc/dialect/tile/transforms/pad_constraints.cc
  pmlc/rt/boundscheck.cc
  pmlc/rt/register.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Adding specials to no-prepad list
  pmlc/dialect/tile/transforms/pad_constraints.cc
Due: clang-format, cpplint

Removing old print
  plaidml/bridge/openvino/ops/convolution.cpp
Due: clang-format, cpplint

Re-enable XSMM
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

WIP: simplifying the pxa.load expressions
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  pmlc/dialect/pxa/transforms/reorder_layouts.h
  pmlc/target/x86/tests/conv_simple.mlir
Due: clang-format, cpplint

Add gather_tree op and test.
  plaidml/bridge/openvino/ops/gather_tree.cpp
  plaidml/bridge/openvino/plaidml_ops.def
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/single_layer_tests/gather_tree.cpp
Due: clang-format, cpplint

Porting to cmake
  CMakeLists.txt
  networks/CMakeLists.txt
  networks/scitile/LAS/BUILD
  networks/scitile/LAS/CMakeLists.txt
  networks/scitile/LAS/cg_tests.py
Due: yapf

Disable DetectionOutput tests temporarily
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: clang-format, cpplint

Update OpenVINO reference
  plaidml/bridge/openvino/tests/functional/shared_tests_instances/skip_tests_config.cpp
Due: clang-format, cpplint

Porting Linear Algebra Solver to V1 (#1416)
  CMakeLists.txt
  networks/CMakeLists.txt
  networks/scitile/LAS/CMakeLists.txt
  networks/scitile/LAS/cg_tests.py
  networks/scitile/LAS/conjgrad.py
Due: yapf

Update Vectorize Pass with creating loop for Math Ops
  pmlc/dialect/pxa/tests/vectorize-math-ops.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/pxa/transforms/vectorize.h
Due: clang-format, cpplint

Fix memref dialect dependency after rebasing
  pmlc/dialect/pxa/tests/vectorize-math-ops.mlir
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/vectorize.cc
Due: clang-format, cpplint

Fixing cast conversion
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/transforms/pad_constraints.cc
Due: clang-format, cpplint

Cleanups
  networks/scitile/LAS/BUILD
  networks/scitile/LAS/min_ex.py
  plaidml/op/lib/ops.cc
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

Updating the reordering layouts file
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
Due: clang-format, cpplint

WIP: Fixing the reduction expressions
  pmlc/dialect/pxa/transforms/reorder_layouts.cc
  test_simple.sh
Due: clang-format, cpplint

cmake build commands
  networks/CMakeLists.txt
  networks/scitile/storti_integrals/CMakeLists.txt
  networks/scitile/storti_integrals/README.md
  networks/scitile/storti_integrals/storti_integral_tests.py
Due: yapf
