Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Use C++17 (#593)
  base/util/catch.h
  base/util/error.h
  bzl/plaidml.bzl
  plaidml/plaidml++.h
  toolchain/build_defs.bzl
Due: buildifier, clang-format, cpplint

Add namespaces
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.h
Due: clang-format, cpplint

Support glibc=2.12.1 systems
  bzl/workspace.bzl
  toolchain/BUILD
  toolchain/build_defs.bzl
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/config
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/ar
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/as
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/gcc
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/gcov
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/ld
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/nm
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/objcopy
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/objdump
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/strip
Due: buildifier

Support glibc=2.12.1 systems (#603)
  bzl/workspace.bzl
  toolchain/BUILD
  toolchain/build_defs.bzl
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/config
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/ar
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/as
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/gcc
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/gcov
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/ld
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/nm
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/objcopy
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/objdump
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3-glibc_2.12.1/wrappers/strip
Due: buildifier

Move special ops to tile dialect
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.td
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

Update to bazel 1.0.0
  .bazelversion
  bzl/workspace.bzl
  plaidml2/core/BUILD
  plaidml2/edsl/BUILD
  plaidml2/exec/BUILD
  plaidml2/op/BUILD
  toolchain/BUILD
  toolchain/build_defs.bzl
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/config
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/ar
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/as
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/gcc
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/gcov
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/ld
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/nm
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/objcopy
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/objdump
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/strip
Due: buildifier

Reorganize MLIR bits
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/eltwise/BUILD
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/interfaces.td
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.h
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/dialect.h
  pmlc/dialect/tile/interfaces.td
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
  pmlc/util/BUILD
  pmlc/util/enums.cc
  pmlc/util/enums.h
  pmlc/util/enums.td
  pmlc/util/interfaces.cc
  pmlc/util/interfaces.h
  pmlc/util/interfaces.td
Due: clang-format, cpplint

Update to bazel 1.0.0 (#605)
  .bazelversion
  bzl/workspace.bzl
  plaidml2/core/BUILD
  plaidml2/edsl/BUILD
  plaidml2/exec/BUILD
  plaidml2/op/BUILD
  toolchain/BUILD
  toolchain/build_defs.bzl
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/BUILD
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/config
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/ar
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/as
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/gcc
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/gcov
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/ld
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/nm
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/objcopy
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/objdump
  toolchain/crosstool_ng/linux_x86_64-gcc_8.3.0/wrappers/strip
Due: buildifier

Update ci to bazel=1.0.0
  .bazelci/presubmit.yml
Due: none

Fix testPow on CPU
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

Update ci to bazel=1.0.0 (#606)
  .bazelci/presubmit.yml
Due: none

Fix testPow on CPU (#607)
  tile/targets/cpu/compiler.cc
  tile/targets/cpu/compiler.h
  tile/targets/cpu/llvm_cpu.jsonnet
Due: clang-format, cpplint

[MLIR] Introduce stripe to affine boilerplate (#601)
  pmlc/conversion/stripe_to_affine/BUILD
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.h
  pmlc/test/conversion/stripe_to_affine/core_ops.mlir
  pmlc/tools/pmlc-opt/BUILD
  pmlc/tools/pmlc-opt/pmlc-opt.cc
  vendor/mlir/mlir.BUILD
Due: buildifier, clang-format, cpplint

Add bfloat16 datatypes
  plaidml/__init__.py
  plaidml/base/base.h
  plaidml/plaidml.cc
  plaidml/tile.py
  plaidml2/core/__init__.py
  plaidml2/core/ffi.h
  pmlc/dialect/eltwise/ops.cc
  tile/base/shape.h
  tile/lang/gen_contract.cc
  tile/proto/shape.proto
Due: clang-format, cpplint, yapf

Move special ops to tile dialect (#604)
  plaidml2/edsl/edsl_test.cc
  pmlc/dialect/eltwise/BUILD
  pmlc/dialect/eltwise/dialect.cc
  pmlc/dialect/eltwise/interfaces.td
  pmlc/dialect/eltwise/ops.cc
  pmlc/dialect/eltwise/ops.h
  pmlc/dialect/eltwise/ops.td
  pmlc/dialect/eltwise/util.cc
  pmlc/dialect/eltwise/util.h
  pmlc/dialect/stripe/BUILD
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/stripe/ops.cc
  pmlc/dialect/stripe/ops.h
  pmlc/dialect/stripe/ops.td
  pmlc/dialect/tile/BUILD
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/contraction.h
  pmlc/dialect/tile/dialect.cc
  pmlc/dialect/tile/dialect.h
  pmlc/dialect/tile/interfaces.td
  pmlc/dialect/tile/lowering.cc
  pmlc/dialect/tile/ops.cc
  pmlc/dialect/tile/ops.h
  pmlc/dialect/tile/ops.td
  pmlc/util/BUILD
  pmlc/util/enums.cc
  pmlc/util/enums.h
  pmlc/util/enums.td
  pmlc/util/interfaces.cc
  pmlc/util/interfaces.h
  pmlc/util/interfaces.td
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

Add bfloat16 datatypes (#608)
  plaidml/__init__.py
  plaidml/base/base.h
  plaidml/plaidml.cc
  plaidml/tile.py
  plaidml2/core/__init__.py
  plaidml2/core/ffi.h
  pmlc/dialect/eltwise/ops.cc
  tile/base/shape.h
  tile/lang/gen_contract.cc
  tile/proto/shape.proto
Due: clang-format, cpplint, yapf

[MLIR] Support for Stripe->Affine "main" ParallelForOp
  pmlc/conversion/stripe_to_affine/BUILD
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
  pmlc/conversion/stripe_to_affine/supported_ops.inc
  pmlc/test/conversion/stripe_to_affine/core_ops.mlir
Due: clang-format, cpplint

[MLIR] Rename stripe::Dialect to StripeOpsDialect
  plaidml2/exec/ffi.cc
  pmlc/dialect/stripe/analysis.cc
  pmlc/dialect/stripe/dialect.cc
  pmlc/dialect/stripe/dialect.h
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/into_mlir.cc
  pmlc/dialect/tile/lowering.cc
Due: clang-format, cpplint

Remove hdrs from BUILD
  pmlc/conversion/stripe_to_affine/BUILD
Due: none

Minor fixes
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.cc
  pmlc/conversion/stripe_to_affine/convert_stripe_to_affine.h
Due: clang-format, cpplint

can we use the version of tensorflow built with dnnl?
  conda/plaidml.yml
  conda/tensorflow.yml
Due: none

remove darwin platform filter
  conda/tensorflow.yml
Due: none

Make wheels for plaidml2
  VERSION
  bzl/bazel.rc
  bzl/plaidml.bzl
  plaidml2/BUILD
  plaidml2/bridge/keras/BUILD
  plaidml2/bridge/keras/setup.py
  plaidml2/core/BUILD
  plaidml2/edsl/BUILD
  plaidml2/exec/BUILD
  plaidml2/ffi.py
  plaidml2/op/BUILD
  plaidml2/setup.py
  tools/py_setup/BUILD
  tools/py_setup/__init__.py
  tools/py_setup/build_defs.bzl
Due: buildifier, yapf

Prepare for CI
  BUILD
  ci/plan.yml
  plaidml2/BUILD
  plaidml2/bridge/keras/BUILD
  plaidml2/bridge/keras/setup.py
  plaidml2/setup.py
  tools/py_setup/build_defs.bzl
Due: buildifier, yapf

Staging for windows
  tools/py_setup/__init__.py
Due: yapf

Minor fixes
  plaidml2/bridge/keras/setup.py
  tools/py_setup/build_defs.bzl
Due: buildifier, yapf

Fix deps
  ci/plan.yml
  conda/BUILD
  conda/keras_backend_test.yml
  conda/plaidml.yml
Due: none

Cleanup and add --shard
  plaidml2/bridge/keras/backend_test.py
Due: yapf

Fit & finish
  plaidml2/BUILD
  plaidml2/plaidml2-config.cmake
  plaidml2/plaidml_link.jsonnet
  plaidml2/setup.py
Due: yapf

Add licenses
  BUILD
  bzl/boost.BUILD
  bzl/easylogging.BUILD
  bzl/gmock.BUILD
  bzl/half.BUILD
  bzl/jsoncpp.BUILD
  bzl/minizip.BUILD
  bzl/plaidml.bzl
  bzl/xsmm.BUILD
  plaidml2/BUILD
  plaidml2/bridge/keras/setup.py
  plaidml2/setup.py
  tools/py_setup/__init__.py
  vendor/mlir/mlir.BUILD
Due: buildifier, yapf

Fix windows
  plaidml2/BUILD
Due: none

Upload all wheels
  ci/buildkite.py
Due: yapf

Fix stripe transcode w/no-loc blocks
  pmlc/dialect/stripe/from_mlir.cc
  pmlc/dialect/stripe/stripe_test.cc
Due: clang-format, cpplint

Generate and test plaidml2 wheels (#615)
  BUILD
  VERSION
  bzl/bazel.rc
  bzl/boost.BUILD
  bzl/easylogging.BUILD
  bzl/gmock.BUILD
  bzl/half.BUILD
  bzl/jsoncpp.BUILD
  bzl/minizip.BUILD
  bzl/plaidml.bzl
  bzl/xsmm.BUILD
  ci/buildkite.py
  ci/plan.yml
  conda/BUILD
  conda/keras_backend_test.yml
  conda/plaidml.yml
  plaidml2/BUILD
  plaidml2/bridge/keras/BUILD
  plaidml2/bridge/keras/backend_test.py
  plaidml2/bridge/keras/setup.py
  plaidml2/core/BUILD
  plaidml2/edsl/BUILD
  plaidml2/exec/BUILD
  plaidml2/ffi.py
  plaidml2/op/BUILD
  plaidml2/plaidml2-config.cmake
  plaidml2/plaidml_link.jsonnet
  plaidml2/setup.py
  tools/py_setup/BUILD
  tools/py_setup/__init__.py
  tools/py_setup/build_defs.bzl
  vendor/mlir/mlir.BUILD
Due: buildifier, yapf

remove soft_fail for llvm_cpu
  ci/plan.yml
Due: none

WIP Use null MLIR values for grad_override
  plaidml2/edsl/ffi.cc
Due: clang-format, cpplint

Fix access of environment variable
  plaidml2/edsl/ffi.cc
Due: clang-format, cpplint

WIP Add gradient overrides (Not working)
  plaidml2/core/internal.h
  plaidml2/edsl/autodiff.h
  plaidml2/edsl/edsl.h
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  tile/lang/ast/ast.cc
  tile/lang/ast/ast.h
  tile/lang/ast/ast_ops.cc
  tile/lang/ast/gradient.cc
  tile/lang/ast/gradient.h
  tile/lang/ast/traversal.cc
  tile/lang/ast/traversal.h
Due: clang-format, cpplint

Disable MLIR values when MLIR is off
  plaidml2/edsl/ffi.cc
Due: clang-format, cpplint

Enforce softmax final axis; Clean
  plaidml2/edsl/ffi.cc
  plaidml2/edsl/ffi.h
  plaidml2/op/lib/ops.cc
  tile/lang/ast/ast.cc
  tile/lang/ast/ast.h
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

