Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Added a dependency to x86 target on StandardOpsTransforms
  pmlc/target/x86/BUILD
Due: none

Fixes from CR
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/fusion.cc
Due: clang-format, cpplint

Moved LLVM forward
  bzl/workspace.bzl
Due: buildifier

Remove added test. It fails for different reason on Linux now.
  ci/plan.yml
Due: none

More cleanup
  pmlc/dialect/pxa/transforms/fusion.cc
Due: clang-format, cpplint

Removed canonicalize pass from some tests
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
Due: none

Add fusion pass (#1104)
  bzl/workspace.bzl
  pmlc/conversion/tile_to_pxa/tests/compare.mlir
  pmlc/conversion/tile_to_pxa/tests/dot.mlir
  pmlc/conversion/tile_to_pxa/tests/padding.mlir
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
Due: buildifier, clang-format, cpplint

Add split to OpenVINO plugin
  plaidml/bridge/openvino/src/plaidml_plugin/ops/split.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/split.cpp
Due: clang-format, cpplint

Add reshape to OpenVINO plugin
  plaidml/bridge/openvino/src/plaidml_plugin/ops/reshape.cpp
Due: clang-format, cpplint

Fix cast
  pmlc/compiler/executable.cc
  pmlc/conversion/pxa_to_affine/pxa_to_affine.cc
  pmlc/rt/xsmm.cc
  pmlc/target/x86/pipeline.cc
Due: clang-format, cpplint

Add reshape to OpenVINO plugin (#1106)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/reshape.cpp
Due: clang-format, cpplint

Start adding convolution to OpenVINO plugin
  plaidml/bridge/openvino/src/plaidml_plugin/ops/convolution.cpp
Due: clang-format, cpplint

Implement OpenVINO plugin convolution fully
  plaidml/bridge/openvino/src/plaidml_plugin/ops/convolution.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.hpp
Due: clang-format, cpplint

Clean up OpenVINO plugin conv tests
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convolution.cpp
Due: clang-format, cpplint

Fix sign error in split
  plaidml/bridge/openvino/src/plaidml_plugin/ops/split.cpp
Due: clang-format, cpplint

Write get_axes_from_constant_operand utility
  plaidml/bridge/openvino/src/plaidml_plugin/ops/split.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.hpp
Due: clang-format, cpplint

Add the testTanh and use the latest llvm-project commit.
  bzl/workspace.bzl
  ci/plan.yml
Due: buildifier

Add the pass to lower TanhOp to a runtime call. (#1103)
  bzl/workspace.bzl
  ci/plan.yml
  pmlc/target/x86/BUILD
  pmlc/target/x86/pipeline.cc
Due: buildifier, clang-format, cpplint

Add fusion tests
  bzl/workspace.bzl
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/tests/stencil.mlir
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/target/x86/pipeline.cc
Due: buildifier, clang-format, cpplint

Cleanup test
  pmlc/dialect/pxa/tests/fusion.mlir
Due: none

Improve use of fluent API
  plaidml/bridge/openvino/src/plaidml_plugin/ops/convolution.cpp
Due: clang-format, cpplint

Add convolution to OpenVINO plugin (#1108)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/convolution.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.cpp
  plaidml/bridge/openvino/src/plaidml_plugin/plaidml_util.hpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/convolution.cpp
Due: clang-format, cpplint

Bump pointer
  bzl/workspace.bzl
Due: buildifier

Add fusion tests (#1109)
  bzl/workspace.bzl
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/tests/autotile.mlir
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/tests/stencil.mlir
  pmlc/dialect/pxa/tests/strides.mlir
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/target/x86/pipeline.cc
Due: buildifier, clang-format, cpplint

Add Concat to OpenVINO plugin
  plaidml/bridge/openvino/src/plaidml_plugin/ops/concat.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/concat.cpp
Due: clang-format, cpplint

Add Add to OpenVINO plugin
  plaidml/bridge/openvino/src/plaidml_plugin/ops/add.cpp
Due: clang-format, cpplint

Add Concat to OpenVINO plugin (#1112)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/concat.cpp
  plaidml/bridge/openvino/tests/functional/plugin/plaidml/shared_tests_instances/single_layer_tests/concat.cpp
Due: clang-format, cpplint

Add Add to OpenVINO plugin (#1113)
  plaidml/bridge/openvino/src/plaidml_plugin/ops/add.cpp
Due: clang-format, cpplint

WIP
  pmlc/dialect/pxa/tests/localize.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/localize.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/tile.cc
Due: clang-format, cpplint

add mod operator to EDSL
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

format
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

Add mod operator to EDSL (#1116)
  plaidml/edsl/edsl.h
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

add broadcast
  plaidml/op/lib/ops.cc
  plaidml/op/op.h
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Dataflow optimization pass
  plaidml/edsl/tests/edsl_test.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/dataflow_opt.mlir
  pmlc/dialect/pxa/tests/localize.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/localize.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
Due: clang-format, cpplint

CR feedback
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
Due: clang-format, cpplint

PXA dataflow optimization pass (#1118)
  plaidml/edsl/tests/edsl_test.cc
  pmlc/dialect/pxa/ir/ops.cc
  pmlc/dialect/pxa/ir/ops.td
  pmlc/dialect/pxa/tests/dataflow_opt.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/dataflow_opt.cc
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/tile.cc
Due: clang-format, cpplint

add tests
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/lib/ops.cc
  plaidml/op/op_test.cc
Due: clang-format, cpplint

Some fixes
  plaidml/edsl/tests/edsl_test.cc
  plaidml/op/op_test.cc
  plaidml/testenv.h
Due: clang-format, cpplint

adding more tests
  plaidml/op/lib/ops.cc
  plaidml/op/op_test.cc
Due: clang-format, cpplint

WIP: resize temporary buffers
  pmlc/dialect/pxa/analysis/BUILD
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/analysis/uses.h
  pmlc/dialect/pxa/tests/resize_tmps.mlir
  pmlc/dialect/pxa/transforms/BUILD
  pmlc/dialect/pxa/transforms/passes.h
  pmlc/dialect/pxa/transforms/passes.td
  pmlc/dialect/pxa/transforms/resize_tmps.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

