Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

.pre-commit-config.yaml:

---
exclude: >
  (?x)^(
    base/util/catch.h|
    bzl/version.tpl.cc|
    bzl/conda.tpl.py|
    lib/macos_x86_64/.*|
    vendor/opengl/inc/.*
  )$
repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v1.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: buildifier
        language: system
        files: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
        args: ['-i']
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
        args:
          - --filter=-legal/copyright,-readability/todo,-build/c++11
          - --linelength=120
      - id: yapf
        name: yapf
        entry: yapf
        language: system
        files: \.py$
        args: [-i]

MacOS SDK support
  plaidml/BUILD
  plaidml/update_sdk_rpaths
Due: none

Fixes from code review
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/test/test_access.cc
Due: clang-format, cpplint

Moving files around
  tile/bilp/BUILD
  tile/bilp/ilp_solver.cc
  tile/bilp/ilp_solver.h
  tile/bilp/tableau.cc
  tile/bilp/tableau.h
  tile/bilp/test.cc
  tile/lang/BUILD
  tile/lang/bound.h
  tile/lang/defract.cc
  tile/lang/loop.h
  tile/lang/ops.h
  tile/lang/reduce.cc
  tile/lang/sym_poly.h
  tile/math/BUILD
  tile/math/basis.cc
  tile/math/basis.h
  tile/math/bignum.cc
  tile/math/bignum.h
  tile/math/math_test.cc
  tile/math/matrix.cc
  tile/math/matrix.h
  tile/math/polynomial.cc
  tile/math/polynomial.h
  tile/math/test.cc
Due: clang-format, cpplint

Fixups for non-Darwin platforms
  plaidml/BUILD
  tools/bazel.rc
Due: none

Refactor stripe to be dimensional
  plaidml/plaidml.cc
  tile/codegen/access.cc
  tile/codegen/access.h
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/test/test.cc
  tile/codegen/test/test_access.cc
  tile/codegen/test/test_cache.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/codegen/vm.cc
  tile/lang/gen_stripe.cc
  tile/lang/gen_stripe.h
  tile/math/polynomial.cc
  tile/math/polynomial.h
  tile/stripe/BUILD
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

negotiate thread-pool kernel execution with fewer context switches
  tile/hal/cpu/executable.cc
Due: clang-format, cpplint

Update bazel workspaces
  WORKSPACE
  bzl/BUILD
  bzl/llvm.BUILD
  bzl/workspace.bzl
  docs/BUILD
  plaidml/BUILD
  plaidml/keras/BUILD
  plaidml/plaidml.cc
  testing/BUILD
  testing/plaidml_config.cc
  testing/plaidml_config.py
  tile/codegen/test/BUILD
  tile/hal/metal/BUILD
  tile/platform/local_machine/scheduler_test.cc
  vendor/cuda/configure.bzl
Due: buildifier, clang-format, cpplint, yapf

Correct externally-visible logger levels
  plaidml/base/base.h
Due: clang-format, cpplint

Fixes to reshape + initialization
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint

Handle zero-size tensors
  tile/base/shape.h
  tile/hal/cpu/compiler.cc
  tile/hal/cuda/compiler.cc
  tile/hal/metal/hal.cc
  tile/hal/opencl/compiler.cc
  tile/lang/tile.y
  tile/lang/type.cc
  tile/platform/local_machine/fifo_scheduler.cc
Due: clang-format, cpplint

Fix bison/flex rules and prepare for internal git-big depot
  bzl/plaidml.bzl
  tile/lang/BUILD
  tile/lang/tile.lex
  tile/lang/tile.y
Due: buildifier

Fix elision of dup outputs
  tile/lang/generate.cc
Due: clang-format, cpplint

Fix reshape bug for range 1 indexes
  tile/lang/gen_stripe.cc
Due: clang-format, cpplint

Go faster: use a boost thread pool for llvm_cpu parallel execution
  tile/hal/cpu/executable.cc
Due: clang-format, cpplint

Split plaidml_grammer to avoid race
  bzl/plaidml.bzl
  tile/lang/BUILD
Due: buildifier

Fix race condition with thread_pool.join(), using condition var instead
  tile/hal/cpu/executable.cc
Due: clang-format, cpplint

Add Quadro to stable config
  plaidml/configs/config.json
Due: none

Insert ident() for dup outputs
  tile/lang/compose.cc
Due: clang-format, cpplint

use universal initialization for lock construction
  tile/hal/cpu/executable.cc
Due: clang-format, cpplint

FromProto returns a shared_ptr
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Added support for aliasing analysis and block fusion
  tile/codegen/alias.cc
  tile/codegen/alias.h
  tile/codegen/cache.cc
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/test/test.cc
  tile/codegen/test/test_cache.cc
  tile/codegen/test/test_fuse.cc
  tile/codegen/tile.cc
  tile/codegen/vm.cc
  tile/lang/gen_stripe.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

Tiled fusion
  base/util/stream_container.h
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/test/test_fuse.cc
  tile/codegen/tile.cc
  tile/stripe/stripe.cc
Due: clang-format, cpplint

Add location to refinements
  base/util/stream_container.h
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/fuse.cc
  tile/codegen/test/test.cc
  tile/codegen/test/test_cache.cc
  tile/codegen/test/test_fuse.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/lang/gen_stripe.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Remove telemetry, add Intel copyrights, Apache 2.0
  base/util/uuid.h
  plaidml/__init__.py
  plaidml/keras/__init__.py
  plaidml/settings_test.py
  tile/hal/cuda/hal.h
  tile/hal/opencl/compiler.h
  tile/platform/local_machine/buffer.cc
  tile/platform/local_machine/mem_deps.h
Due: clang-format, cpplint, yapf

enable a fast vlog(1)
  tile/hal/opencl/result.cc
  tile/platform/local_machine/run_request.cc
Due: clang-format, cpplint

Fixed some minor issues from CR
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/localize.cc
Due: clang-format, cpplint

Widen Metal conditionals
  tile/hal/metal/emit.cc
Due: clang-format, cpplint

Compat for bazel-19+
  .bazelrc
Due: none

Elide explicit Metal casts
  tile/hal/metal/emit.cc
Due: clang-format, cpplint

Stripe adjustments
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/test/test.cc
  tile/codegen/test/test_cache.cc
  tile/codegen/test/test_fuse.cc
  tile/codegen/tile.cc
  tile/codegen/tile.h
  tile/lang/gen_stripe.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Explicit raw string delim
  tile/codegen/schedule/deps_test.cc
Due: clang-format, cpplint

Separate raw literal use
  tile/codegen/schedule/deps_test.cc
Due: clang-format, cpplint

Use @rpath for MacOS dylib
  bzl/plaidml.bzl
  plaidml/BUILD
  plaidml/update_sdk_rpaths
Due: buildifier

Improve invalid type diagnostics
  tile/base/shape.h
  tile/hal/metal/emit.cc
Due: clang-format, cpplint

remove agpl reference
  plaidml/keras/__init__.py
Due: yapf
