Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

Fix failed subgroup plans for training
  plaidml/keras/mnist_mlp_test.py
  tile/codegen/codegen.proto
  tile/codegen/fuse.cc
  tile/codegen/fuse.h
  tile/codegen/subgroup.cc
  tile/ocl_exec/emitsem.cc
  tile/targets/gpu/amd.jsonnet
  tile/targets/gpu/intel_gen9_metal.jsonnet
Due: clang-format, cpplint, yapf

Fixes for OpenVino and reformatting
  tile/codegen/fix_strides.cc
  tile/codegen/subgroup.cc
Due: clang-format, cpplint

Separately build kernels in parallel
  tile/base/hal.h
  tile/hal/cpu/library.h
  tile/hal/metal/hal.cc
  tile/hal/metal/hal.h
  tile/hal/opencl/compiler.cc
  tile/hal/opencl/emitocl.cc
  tile/hal/opencl/executor.cc
  tile/hal/opencl/library.cc
  tile/hal/opencl/library.h
Due: clang-format, cpplint

Support for python2 and bugfixes
  plaidml/edsl/__init__.py
Due: yapf

Add SimpleBuffer
  tile/base/buffer.h
  tile/platform/stripejit/BUILD
  tile/platform/stripejit/buffer.cc
  tile/platform/stripejit/buffer.h
  tile/platform/stripejit/platform.cc
Due: clang-format, cpplint

Verify passes test harness
  tile/codegen/test/passes/BUILD
  tile/codegen/test/passes/main.cc
  tile/codegen/test/passes/manager.cc
  tile/codegen/test/passes/manager.h
  tile/codegen/test/passes/runner.cc
  tile/codegen/test/passes/runner.h
  tile/lib/tests.cc
  tile/targets/cpu/BUILD
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint

Add --dump-passes-proto
  tile/codegen/driver.cc
  tile/codegen/driver.h
  tile/platform/stripejit/program.cc
  tile/pmlc/pmlc.cc
Due: clang-format, cpplint

Add perl to Windows environment
  environment-windows.yml
Due: none

Suppress Windows boost warning
  bzl/boost.BUILD
Due: buildifier

Add linkage info to EDSL
  plaidml/edsl/BUILD
  plaidml/edsl/_ffi.py
  plaidml/edsl/ffi.h
Due: clang-format, cpplint, yapf

Add pip as explicit conda dep
  conda/plaidml.yml
  conda/sphinx.yml
Due: none

Use ^2 size in fuse test
  tile/codegen/test/fuse.cc
Due: clang-format, cpplint

Minor tile test.cc tweaks
  tile/codegen/test/tile.cc
Due: clang-format, cpplint

Add Windows LLVM build
  vendor/llvm/llvm.BUILD
Due: buildifier

Use std struct names in jit.cc for VS compat
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint

Skip half CPU tests on Windows
  tile/hal/cpu/llvm_test.cc
  tile/hal/cpu/platform_test.cc
Due: clang-format, cpplint

Add explicit CPU deps
  tile/cpu/BUILD
  tile/platform/stripejit/BUILD
Due: none

Merge branch
  tile/platform/local_machine/platform.cc
Due: clang-format, cpplint

Allow llvm to be added as a submodule
  WORKSPACE
  bzl/workspace.bzl
  tile/codegen/partition.cc
  vendor/llvm/llvm.BUILD
Due: buildifier, clang-format, cpplint

Nested location support
  tile/codegen/alias.cc
  tile/codegen/autotile.cc
  tile/codegen/codegen.proto
  tile/codegen/mem_rebase.cc
  tile/codegen/schedule.cc
  tile/codegen/test/cache.cc
  tile/codegen/test/dce.cc
  tile/codegen/test/deps.cc
  tile/codegen/test/fuse.cc
  tile/codegen/test/jit.cc
  tile/codegen/test/load_index.cc
  tile/codegen/test/placer.cc
  tile/codegen/test/schedule.cc
  tile/codegen/unroll.cc
  tile/lang/gen_stripe_test.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
Due: clang-format, cpplint

Vectorization
  tile/hal/cpu/emitllvm.cc
  tile/hal/cpu/emitllvm.h
  tile/hal/metal/emit.cc
  tile/hal/opencl/cl_opt.cc
  tile/hal/opencl/emitocl.cc
  tile/hal/opencl/emitocl.h
  tile/lang/BUILD
  tile/lang/emitc.cc
  tile/lang/emitc.h
  tile/lang/exprtype.cc
  tile/lang/exprtype.h
  tile/lang/intrinsic.cc
  tile/lang/intrinsic.h
  tile/lang/sembuilder.h
  tile/lang/semprinter.cc
  tile/lang/semprinter.h
  tile/lang/semtree.cc
  tile/lang/semtree.h
  tile/lang/simplifier.cc
  tile/ocl_exec/BUILD
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/emitsem.h
  tile/ocl_exec/intrinsic.cc
  tile/ocl_exec/intrinsic.h
Due: clang-format, cpplint

Use REs for loc parsing
  tile/stripe/BUILD
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe_test.cc
Due: clang-format, cpplint

Update Boost.ASIO to use std::string_view on macOS
  bzl/boost.BUILD
Due: buildifier

pmlc: Emit LLVM bitcode
  tile/codegen/BUILD
  tile/codegen/test/dce.cc
  tile/codegen/test/load_index.cc
  tile/cpu/BUILD
  tile/cpu/main.cc
  tile/ocl_exec/BUILD
  tile/pmlc/BUILD
  tile/pmlc/pmlc.cc
  tile/stripe/BUILD
  tile/targets/cpu/BUILD
  tile/targets/cpu/cpu.json.j2
  tile/targets/cpu/jit.cc
  tile/targets/cpu/jit.h
  tile/targets/cpu/test/BUILD
  tile/targets/cpu/test/jit.cc
  tile/targets/gpu/gpu.json.j2
Due: clang-format, cpplint

Update Tile sandbox for op lib
  plaidml/keras/tile_sandbox.py
Due: yapf

Added a new pass, padding, and made various fixes to correct related issues. Still disabled due to remaining issue with derivative correctness
  plaidml/keras/backend_test.py
  plaidml/settings.py
  tile/codegen/alias.cc
  tile/codegen/cache.cc
  tile/codegen/cache.h
  tile/codegen/codegen.proto
  tile/codegen/driver.cc
  tile/codegen/localize.cc
  tile/codegen/localize.h
  tile/codegen/pad.cc
  tile/codegen/pad.h
  tile/codegen/schedule.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/stripe_gen.cc
  tile/targets/gpu/gpu.json.j2
Due: clang-format, cpplint, yapf

Transfer locations in packaging pass
  tile/codegen/package.cc
Due: clang-format, cpplint

Replace Tensor::operator[] with Tensor::dims()
  tile/lang/gen_stripe_test.cc
  tile/lang/tile_cc.cc
  tile/lang/tile_cc.h
  tile/lang/tile_cc_test.cc
  tile/lib/lib.cc
Due: clang-format, cpplint

Use Tile eDSL for internal tests
  tile/codegen/test/schedule.cc
  tile/codegen/test/tile.cc
  tile/cpu/main.cc
  tile/lang/gen_stripe.cc
  tile/lang/gen_stripe.h
  tile/lang/gen_stripe_test.cc
  tile/lang/ops.h
  tile/lang/type.cc
  tile/lib/BUILD
  tile/lib/lib.cc
  tile/lib/lib.h
  tile/lib/tests.cc
  tile/lib/tests.h
  tile/ocl_exec/stripe_gen.cc
  tile/ocl_exec/stripe_gen.h
  tile/platform/local_machine/program.cc
  tile/pmlc/pmlc.cc
Due: clang-format, cpplint

Add dev-append mode to localize pass
  tile/codegen/codegen.proto
  tile/codegen/localize.cc
Due: clang-format, cpplint

Make Refinement::into immutable
  tile/codegen/alias.cc
  tile/codegen/cache.cc
  tile/codegen/codec.cc
  tile/codegen/dce.cc
  tile/codegen/deps.cc
  tile/codegen/driver.cc
  tile/codegen/emitc.cc
  tile/codegen/fuse.cc
  tile/codegen/localize.cc
  tile/codegen/pad.cc
  tile/codegen/partition.cc
  tile/codegen/placer.cc
  tile/codegen/reg_cache.cc
  tile/codegen/scalarize.cc
  tile/codegen/schedule.cc
  tile/codegen/tidy.cc
  tile/codegen/tile.cc
  tile/codegen/transpose.cc
  tile/codegen/unroll.cc
  tile/codegen/vm.cc
  tile/ocl_exec/emitsem.cc
  tile/ocl_exec/stripe_gen.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/targets/cpu/jit.cc
Due: clang-format, cpplint

Add polynomial map substitution
  tile/math/polynomial.cc
  tile/math/polynomial.h
Due: clang-format, cpplint

Prevent SSA violations by ensuring all expr nodes have unique names
  tile/lang/gen_stripe_test.cc
  tile/lang/tile_cc.cc
  tile/lang/tile_cc_test.cc
Due: clang-format, cpplint

Tiny but important speed + correctness fixes
  plaidml/keras/backend.py
  tile/targets/gpu/gpu.json.j2
Due: yapf

Revert to computing exterior_shape on the fly
  tile/codegen/cache.cc
  tile/codegen/codec.cc
  tile/codegen/cstr_reduction.cc
  tile/codegen/cstr_reduction.h
  tile/codegen/package.cc
  tile/codegen/schedule.cc
  tile/codegen/test/deps.cc
  tile/codegen/test/placer.cc
  tile/codegen/test/schedule.cc
  tile/codegen/tile.cc
  tile/lang/gen_stripe.cc
  tile/lang/gen_stripe_test.cc
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
  tile/stripe/stripe.proto
  tile/targets/cpu/test/jit.cc
Due: clang-format, cpplint

Require location match in fusion
  tile/codegen/fuse.cc
Due: clang-format, cpplint

Add vector<stripe::Device> FromProto
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Add location appending function
  tile/stripe/stripe.cc
  tile/stripe/stripe.h
Due: clang-format, cpplint

Handle arbitrary refinement orders in stenciling
  tile/codegen/codegen.proto
  tile/codegen/test/tile.cc
  tile/codegen/tile.cc
Due: clang-format, cpplint

Add tensor read dependencies for swap-out stmts
  tile/codegen/schedule.cc
Due: clang-format, cpplint

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

  yapf: any of: \.py$, but not: (?x)^(
  base/util/catch.h|
  bzl/version.tpl.cc|
  bzl/conda.tpl.py|
  vendor/opengl/inc/.*
)$

