Repository plaidml/plaidml: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, clang-format, cpplint, nbstripout, yapf

buildifier:
  name: buildifier
  entry: buildifier
  language: system

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --filter=-legal/copyright,-readability/todo,-build/c++11
  - --linelength=120

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

subgroup block ops (#1340)
  pmlc/dialect/stdx/ir/ops.cc
  pmlc/dialect/stdx/ir/ops.td
  pmlc/target/intel_gen/passes.h
  pmlc/target/intel_gen/passes.td
  pmlc/target/intel_gen/subgroup_broadcast.cc
  pmlc/target/intel_gen/tests/subgroup_block_ops.mlir
Due: clang-format, cpplint

slight resnext_test fixes
  plaidml/bridge/tensorflow/tests/resnext_test.cc
Due: clang-format, cpplint

Tighten up Runtime initialization
  plaidml/exec/ffi.cc
  pmlc/rt/runtime.cc
  pmlc/rt/runtime.h
  pmlc/rt/runtime_registry.cc
  pmlc/rt/runtime_registry.h
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Tweak working in runtime.h
  pmlc/rt/runtime.h
Due: clang-format, cpplint

Tweak working in runtime_registry.h
  pmlc/rt/runtime_registry.h
Due: clang-format, cpplint

Add pmlc::InitializeRuntimes()
  plaidml/exec/ffi.cc
  pmlc/rt/runtime.h
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

Load runtimes in plaidml::exec::init
  plaidml/exec/ffi.cc
  pmlc/rt/runtime_registry.cc
  pmlc/rt/runtime_registry.h
Due: clang-format, cpplint

Make runtime registration public
  pmlc/rt/runtime_registry.cc
  pmlc/rt/runtime_registry.h
Due: clang-format, cpplint

Abstract executable creation (#1347)
  plaidml/exec/ffi.cc
  pmlc/rt/executable.cc
  pmlc/rt/executable.h
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

code review improvements
  plaidml/bridge/keras/backend_test.py
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
Due: clang-format, cpplint, yapf

LLVM version bump
  bzl/workspace.bzl
Due: buildifier

add lit test for gather implementation
  pmlc/conversion/tile_to_pxa/tests/gather.mlir
Due: none

remove surplus test parameter
  plaidml/bridge/keras/backend_test.py
Due: yapf

WIP correctness
  plaidml/bridge/tensorflow/tests/codegen_test.cc
  plaidml/bridge/tensorflow/tests/resnext_test.cc
Due: clang-format, cpplint

add Vulkan kernel timing
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.h
Due: clang-format, cpplint

implement tile.gather operation and enable backend tests (#1346)
  plaidml/bridge/keras/backend_test.py
  pmlc/conversion/tile_to_pxa/tests/gather.mlir
  pmlc/conversion/tile_to_pxa/tile_to_pxa.cc
  pmlc/dialect/tile/ir/ops.td
Due: clang-format, cpplint, yapf

Move to the latest plaidml/plaidml-v1 on plaidml/llvm-project repo
  bzl/workspace.bzl
Due: buildifier

LLVM version bump (#1349)
  bzl/workspace.bzl
Due: buildifier

fix timestamp request query
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.h
Due: clang-format, cpplint

create const to store timestamp query pool size and checks
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.h
Due: clang-format, cpplint

fix query pool size
  pmlc/rt/vulkan/vulkan_invocation.h
Due: clang-format, cpplint

enable non-index integer types for indices parameter
  pmlc/dialect/tile/ir/ops.td
Due: none

add sample scatter functions for lit test
  pmlc/conversion/tile_to_pxa/tests/scatter.mlir
Due: none

add two tests for scatter function
  plaidml/edsl/tests/edsl_test.cc
Due: clang-format, cpplint

refactor
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/i3d_test.cc
  plaidml/bridge/tensorflow/tests/resnext_test.cc
  plaidml/bridge/tensorflow/tests/resnext_test_gen.py
Due: clang-format, cpplint, yapf

format
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/utils.cc
  plaidml/bridge/tensorflow/tests/utils.h
Due: clang-format, cpplint

add Vulkan kernel timing (#1351)
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.h
Due: clang-format, cpplint

rm Runtime loader, add post-main binding
  pmlc/rt/device_id.cc
  pmlc/rt/internal.h
  pmlc/rt/runtime_registry.cc
  pmlc/rt/runtime_registry.h
  pmlc/rt/vulkan/vulkan_runtime.cc
Due: clang-format, cpplint

clean up IVLOG1 logs
  plaidml/exec/ffi.cc
  plaidml/op/lib/ops.cc
  pmlc/dialect/pxa/transforms/subgroups.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/transforms/constant_types.cc
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/target/intel_gen/subgroup_broadcast.cc
Due: clang-format, cpplint

clean up IVLOG1 logs (#1352)
  plaidml/exec/ffi.cc
  plaidml/op/lib/ops.cc
  pmlc/dialect/pxa/transforms/subgroups.cc
  pmlc/dialect/pxa/transforms/vectorize.cc
  pmlc/dialect/tile/builder.cc
  pmlc/dialect/tile/transforms/constant_types.cc
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/target/intel_gen/subgroup_broadcast.cc
Due: clang-format, cpplint

CR comments
  plaidml/exec/ffi.cc
  pmlc/rt/device_id.h
  pmlc/rt/internal.h
  pmlc/rt/runtime_registry.cc
  pmlc/rt/runtime_registry.h
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

CR comments
  pmlc/rt/device_id.h
  pmlc/rt/llvm/runtime.cc
  pmlc/rt/runtime_registry.cc
  pmlc/rt/runtime_registry.h
Due: clang-format, cpplint

WIP: Fix fusion
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/tests/fusion.mlir
  pmlc/dialect/pxa/transforms/fusion.cc
  pmlc/dialect/pxa/transforms/resize_tmps.cc
  pmlc/target/x86/pipeline.cc
  pmlc/util/util.cc
  pmlc/util/util.h
Due: clang-format, cpplint

Fixed to aliasing testing, yeah math
  pmlc/dialect/pxa/analysis/BUILD
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
  pmlc/dialect/pxa/transforms/fusion.cc
Due: clang-format, cpplint

Commented the mathy goo a bit
  pmlc/dialect/pxa/analysis/strides.cc
  pmlc/dialect/pxa/analysis/strides.h
Due: clang-format, cpplint

Fix broken test, still need to add actual checks for the more interesting case
  pmlc/dialect/pxa/tests/fusion.mlir
Due: none

Only map the buffers of the last shader to host, improve inference latency
  pmlc/rt/vulkan/vulkan_invocation.cc
  pmlc/rt/vulkan/vulkan_invocation.h
Due: clang-format, cpplint

Add gpu to comp conversion
  pmlc/BUILD
  pmlc/all_passes.h
  pmlc/conversion/gpu_to_comp/BUILD
  pmlc/conversion/gpu_to_comp/gpu_to_comp.cc
  pmlc/conversion/gpu_to_comp/pass_detail.h
  pmlc/conversion/gpu_to_comp/passes.h
  pmlc/conversion/gpu_to_comp/passes.td
  pmlc/conversion/gpu_to_comp/tests/BUILD
  pmlc/conversion/gpu_to_comp/tests/gpu_to_comp.mlir
  pmlc/dialect/comp/ir/types.h
Due: clang-format, cpplint

rm Runtime loader, add post-main binding (#1353)
  plaidml/exec/ffi.cc
  pmlc/rt/device_id.cc
  pmlc/rt/device_id.h
  pmlc/rt/internal.h
  pmlc/rt/llvm/runtime.cc
  pmlc/rt/runtime_registry.cc
  pmlc/rt/runtime_registry.h
  pmlc/rt/vulkan/vulkan_runtime.cc
  pmlc/tools/pmlc-jit/pmlc-jit.cc
  pmlc/tools/pmlc-vulkan-runner/pmlc-vulkan-runner.cc
Due: clang-format, cpplint

fixes
  plaidml/bridge/tensorflow/tests/BUILD
  plaidml/bridge/tensorflow/tests/codegen_test.cc
  plaidml/bridge/tensorflow/tests/codegen_test.h
  plaidml/bridge/tensorflow/tests/i3d_test.cc
  plaidml/bridge/tensorflow/tests/resnext_test.cc
  plaidml/bridge/tensorflow/tests/resnext_test_gen.py
  plaidml/bridge/tensorflow/tests/utils.cc
  plaidml/bridge/tensorflow/tests/utils.h
Due: clang-format, cpplint, yapf

Path conditions:
  buildifier: any of: (^BUILD|\.BUILD|\.bzl|^WORKSPACE)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  nbstripout: any of: \.ipynb$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

  yapf: any of: \.py$, but not: (?x)^(
  bzl/version.tpl.cc|
  bzl/version.tpl.py|
  ci/pipeline.yml|
  plaidbench/plaidbench/networks/keras/imdb_lstm.h5|
  pmlc/target/x86/heatmap_skx_xeonplat_8180_1-7GHz_mblocked.csv.gz
)$

